{
  "swagger": "2.0",
  "info": {
    "description": "CRM objects such as companies, contacts, deals, line items, products, tickets, and quotes are standard objects in HubSpot’s CRM. These core building blocks support custom properties, store critical information, and play a central role in the HubSpot application.\n\n## Supported Object Types\n\nThis API provides access to collections of CRM objects, which return a map of property names to values. Each object type has its own set of default properties, which can be found by exploring the [CRM Object Properties API](https://developers.hubspot.com/docs/methods/crm-properties/crm-properties-overview).\n\n|Object Type |Properties returned by default |\n|--|--|\n| `companies` | `name`, `domain` |\n| `contacts` | `firstname`, `lastname`, `email` |\n| `deals` | `dealname`, `amount`, `closedate`, `pipeline`, `dealstage` |\n| `products` | `name`, `description`, `price` |\n| `tickets` | `content`, `hs_pipeline`, `hs_pipeline_stage`, `hs_ticket_category`, `hs_ticket_priority`, `subject` |\n\nFind a list of all properties for an object type using the [CRM Object Properties](https://developers.hubspot.com/docs/methods/crm-properties/get-properties) API. e.g. `GET https://api.hubapi.com/properties/v2/companies/properties`. Change the properties returned in the response using the `properties` array in the request body.",
    "title": "Custom Objects",
    "version": "v3",
    "x-hubspot-api-use-case": "After creating a Cars custom object, you can create a record for each car, then associate it with the contact who bought it.",
    "x-hubspot-documentation-banner": "NONE",
    "x-hubspot-introduction": "Use the objects API to create and manage records for an object. The endpoints can be used for objects included in all accounts, such as contacts and companies, as well as for custom objects in Enterprise accounts.",
    "x-hubspot-product-tier-requirements": {
      "cms": "FREE",
      "marketing": "FREE",
      "sales": "FREE",
      "service": "FREE"
    },
    "x-hubspot-related-documentation": [
      {
        "name": "Objects Guide",
        "url": "https://developers.hubspot.com/docs/guides/api/crm/using-object-apis"
      }
    ]
  },
  "host": "api.hubapi.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/crm/v3/objects/{objectType}": {
      "get": {
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "default": 10,
            "description": "The maximum number of results to display per page.",
            "format": "int32",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The paging cursor token of the last successfully read resource will be returned as the `paging.next.after` JSON property of a paged response containing more results.",
            "in": "query",
            "name": "after",
            "required": false,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "properties",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A comma separated list of the properties to be returned along with their history of previous values. If any of the specified properties are not present on the requested object(s), they will be ignored. Usage of this parameter will reduce the maximum number of objects that can be read by a single request.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "propertiesWithHistory",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "A comma separated list of object types to retrieve associated IDs for. If any of the specified associations do not exist, they will be ignored.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "associations",
            "required": false,
            "type": "array"
          },
          {
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CollectionResponseSimplePublicObjectWithAssociationsForwardPaging"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Basic"
        ],
        "description": "Read a page of objects. Control what is returned via the `properties` query param.",
        "operationId": "get-/crm/v3/objects/{objectType}_getPage",
        "summary": "List"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SimplePublicObjectInputForCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SimplePublicObject"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Basic"
        ],
        "description": "Create a CRM object with the given properties and return a copy of the object, including the ID. Documentation and examples for creating standard objects is provided.",
        "operationId": "post-/crm/v3/objects/{objectType}_create",
        "summary": "Create"
      }
    },
    "/crm/v3/objects/{objectType}/batch/archive": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchInputSimplePublicObjectId"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Batch"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/batch/archive_archive",
        "summary": "Archive a batch of objects by ID"
      }
    },
    "/crm/v3/objects/{objectType}/batch/create": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchInputSimplePublicObjectInputForCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObject"
            }
          },
          "207": {
            "description": "multiple statuses",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObjectWithErrors"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Batch"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/batch/create_create",
        "summary": "Create a batch of objects"
      }
    },
    "/crm/v3/objects/{objectType}/batch/read": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Whether to return only results that have been archived.",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchReadInputSimplePublicObjectId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObject"
            }
          },
          "207": {
            "description": "multiple statuses",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObjectWithErrors"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Batch"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/batch/read_read",
        "summary": "Read a batch of objects by internal ID, or unique property values"
      }
    },
    "/crm/v3/objects/{objectType}/batch/update": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchInputSimplePublicObjectBatchInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObject"
            }
          },
          "207": {
            "description": "multiple statuses",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicObjectWithErrors"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Batch"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/batch/update_update",
        "summary": "Update a batch of objects"
      }
    },
    "/crm/v3/objects/{objectType}/batch/upsert": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BatchInputSimplePublicObjectBatchInputUpsert"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicUpsertObject"
            }
          },
          "207": {
            "description": "multiple statuses",
            "schema": {
              "$ref": "#/definitions/BatchResponseSimplePublicUpsertObjectWithErrors"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Batch"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/batch/upsert",
        "summary": "Create or update a batch of objects by unique property values"
      }
    },
    "/crm/v3/objects/{objectType}/merge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublicMergeInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/SimplePublicObject"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Basic"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/merge_merge",
        "summary": "Merge two objects with same type"
      }
    },
    "/crm/v3/objects/{objectType}/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PublicObjectSearchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/CollectionResponseWithTotalSimplePublicObjectForwardPaging"
            }
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Search"
        ],
        "operationId": "post-/crm/v3/objects/{objectType}/search_doSearch",
        "x-hubspot-rate-limit-exemptions": [
          "ten-secondly"
        ]
      }
    },
    "/crm/v3/objects/{objectType}/{objectId}": {
      "delete": {
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "objectId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "description": "An error occurred.",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "private_apps": [
              "crm.objects.listings.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.write"
            ]
          },
          {
            "oauth2_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.read"
            ]
          },
          {
            "private_apps_legacy": [
              "contacts"
            ]
          },
          {
            "oauth2": [
              "crm.objects.subscriptions.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "media_bridge.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.companies.write"
            ]
          },
          {
            "oauth2_legacy": [
              "tickets"
            ]
          },
          {
            "private_apps": [
              "crm.objects.users.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.users.write"
            ]
          },
          {
            "private_apps_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.write"
            ]
          },
          {
            "oauth2_legacy": [
              "e-commerce"
            ]
          },
          {
            "private_apps_legacy": [
              "tickets"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.goals.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.write"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.orders.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.orders.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.commercepayments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.deals.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.deals.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.appointments.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.invoices.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.leads.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.contacts.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.leads.read"
            ]
          },
          {
            "oauth2_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "private_apps_legacy": [
              "crm.objects.custom.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "private_apps": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.line_items.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.courses.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.listings.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.carts.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.courses.write"
            ]
          },
          {
            "oauth2": [
              "crm.objects.quotes.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.services.read"
            ]
          },
          {
            "oauth2": [
              "crm.objects.carts.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.partner-clients.read"
            ]
          },
          {
            "private_apps": [
              "crm.objects.quotes.read"
            ]
          }
        ],
        "tags": [
          "Basic"
        ],
        "description": "Move an Object identified by `{objectId}` to the recycling bin.",
        "operationId": "delete-/crm/v3/objects/{objectType}/{objectId}_archive",
        "summary": "Archive"
      },
      "get": {
        "produces": [
          "application/json",
          "application/octet-stream"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "objectType",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "objectId",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "A comma separated list of the properties to be returned in the response. If any of the specified properties are not present on the requested object(s), they will be ignored.",
            "in": "query",
            "items": {
              "type": "string"
            },
            "name": "properties",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
[...]
