# Copyright 2026 Qore Technologies, s.r.o.
# SPDX-License-Identifier: MIT
# Preserve checksum-pinned upstream notices byte for byte, including whitespace.
upstream-notices/* -text -whitespace
third-party-notices/** -text -whitespace
third-party-sources/* -text -whitespace
