{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/"
    },
    "description": "The Zoom Meeting APIs allow developers to interface with Zoom Meetings and Webinars programmatically.",
    "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
    "title": "Meetings",
    "version": "2"
  },
  "host": "api.zoom.us",
  "basePath": "/v2",
  "schemes": [
    "https"
  ],
  "paths": {
    "/archive_files": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 30,
            "description": "The number of records returned within a single API call.",
            "in": "query",
            "maximum": 300,
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "in": "query",
            "name": "next_page_token",
            "required": false,
            "type": "string"
          },
          {
            "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days.",
            "format": "date-time",
            "in": "query",
            "name": "from",
            "required": false,
            "type": "string"
          },
          {
            "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days.",
            "format": "date-time",
            "in": "query",
            "name": "to",
            "required": false,
            "type": "string"
          },
          {
            "default": "meeting_start_time",
            "description": "The type of query date.\n* `meeting_start_time` \n* `archive_complete_time` \n\n This value defaults to `meeting_start_time`.",
            "enum": [
              "meeting_start_time",
              "archive_complete_time"
            ],
            "in": "query",
            "name": "query_date_type",
            "required": false,
            "type": "string"
          },
          {
            "description": "Deprecated. Please use 'group_ids' for querying.",
            "in": "query",
            "name": "group_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The group IDs. To get a group ID, use the [List groups](/docs/api/rest/reference/scim-api/methods/#operation/groupSCIM2List) API.\n(The maximum number of supported groups for filtering is 7.)",
            "in": "query",
            "name": "group_ids",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n Archived files returned.",
            "schema": {
              "properties": {
                "from": {
                  "description": "The queried start date.",
                  "example": "2021-03-12T02:12:27Z",
                  "format": "date-time",
                  "type": "string"
                },
                "meetings": {
                  "description": "Information about the meeting or webinar.",
                  "items": {
                    "properties": {
                      "account_name": {
                        "description": "The user's account name.",
                        "example": "account_01",
                        "type": "string"
                      },
                      "archive_files": {
                        "description": "Information about the archive files.",
                        "items": {
                          "properties": {
                            "auto_delete": {
                              "description": "Whether to auto delete the archived file.\n\n**Prerequisites:** \n\nEnable the \"Tag Archiving Files for Deletion\" feature in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.",
                              "example": false,
                              "type": "boolean"
                            },
                            "download_url": {
                              "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. For example, `https://{{base-domain}}/rec/archive/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` \n\n **Note:** This field does **not** return for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). Instead, this API will return the `file_path` field.",
                              "example": "https://example.com/recording/download/Qg75t7xZBtEbAkjdlgbfdngBBBB",
                              "type": "string"
                            },
                            "encryption_fingerprint": {
                              "description": "The archived file's encryption fingerprint, using the SHA256 hash algorithm.",
                              "example": "abf85f0fe6a4db3cdd8c37e505e1dd18a34d9696170a14b5bc6395677472cf43",
                              "type": "string"
                            },
                            "file_extension": {
                              "description": "The archived file's extension.",
                              "example": "JSON",
                              "type": "string"
                            },
                            "file_path": {
                              "description": "The file path to the on-premise account archive file. \n\n **Note:** The API only returns this field for [Zoom on-premise accounts](https://support.zoom.us/hc/en-us/articles/360034064852-Zoom-On-Premise-Deployment). It does **not** return the `download_url` field.",
                              "example": "/9090876528/path01/demo.mp4",
                              "type": "string"
                            },
                            "file_size": {
                              "description": "The archived file's size, in bytes.",
                              "example": 165743,
                              "type": "integer"
                            },
                            "file_type": {
                              "description": "The archive file's type. \n* `MP4` - Video file. \n* `M4A` - Audio-only file. \n* `CHAT` - A TXT file containing in-meeting chat messages. \n* `CC` - A file containing the closed captions of the recording, in VTT file format. \n*  `CHAT_MESSAGE` - A JSON file encoded in base64 format containing chat messages. The file also includes waiting room chats, deleted messages, meeting emojis and non-verbal feedback. \n*  `TRANSCRIPT` - A JSON file include audio transcript wording. \n* `SUB_GROUP_MEMBER_LOG` - A json file containing records of members entering and leaving the subgroup.",
                              "enum": [
                                "MP4",
                                "M4A",
                                "CHAT",
                                "CC",
                                "CHAT_MESSAGE",
                                "TRANSCRIPT",
                                "SUB_GROUP_MEMBER_LOG"
                              ],
                              "example": "CHAT",
                              "type": "string"
                            },
                            "id": {
                              "description": "The archive file's unique ID.",
                              "example": "a2f19f96-9294-4f51-8134-6f0eea108eb2",
                              "type": "string"
                            },
                            "individual": {
                              "description": "Whether the archive file is an individual recording file. \n* `true` - An individual recording file. \n * `false` - An entire meeting file.",
                              "example": true,
                              "type": "boolean"
                            },
                            "number_of_messages": {
                              "description": "The number of `TXT` or `JSON` file messages. This field returns only when the `file_extension` is `JSON` or `TXT`.",
                              "example": 150,
                              "type": "integer"
                            },
                            "participant_email": {
                              "description": "The individual recording file's participant email address. This value is returned when the `individual` value is `true`. If the participant is **not** part of the host's account, this returns an empty string value, with some exceptions. See [Email address display rules](/docs/api/using-zoom-apis/#email-address-display-rules) for details.",
                              "example": "jchill@example.com",
                              "format": "email",
                              "type": "string"
                            },
                            "participant_join_time": {
                              "description": "The join time for the generated recording file. If this value is returned when the individual value is `true`, it is the recording file's participant join time. When the individual value is `false`, it returns the join time for the archiving gateway.",
                              "example": "2021-03-12T02:07:27Z",
                              "format": "date-time",
                              "type": "string"
                            },
                            "participant_leave_time": {
                              "description": "The leave time for the generated recording file. If this value is returned when the individual value is `true`, it is the recording file's participant leave time. When the individual value is `false`, it returns the leave time for the archiving gateway.",
                              "example": "2021-03-12T02:12:27Z",
                              "format": "date-time",
                              "type": "string"
                            },
                            "recording_type": {
                              "description": "The archive file's recording type. \n* `shared_screen_with_speaker_view` \n* `audio_only` \n* `chat_file` \n* `closed_caption` \n* `chat_message` \n* `audio_transcript` \n\n For more information, read our [Managing and sharing cloud recordings](https://support.zoom.us/hc/en-us/articles/205347605-Managing-and-sharing-cloud-recordings#h_9898497b-e736-4980-a749-d55608f10773) documentation.",
                              "enum": [
                                "shared_screen_with_speaker_view",
                                "audio_only",
                                "chat_file",
                                "closed_caption",
                                "chat_message",
                                "audio_transcript"
                              ],
                              "example": "chat_message",
                              "type": "string"
                            },
                            "status": {
                              "description": "The archived file's processing status. \n* `completed` - The processing of the file is complete. \n* `processing` - The file is processing. \n* `failed` - The processing of the file failed.",
                              "enum": [
                                "completed",
                                "processing",
                                "failed"
                              ],
                              "example": "completed",
                              "type": "string"
                            },
                            "storage_location": {
                              "description": "The region where the file is stored. This field returns only `Enable Distributed Compliance Archiving` op feature is enabled.",
                              "enum": [
                                "US",
                                "AU",
                                "BR",
                                "CA",
                                "EU",
                                "IN",
                                "JP",
                                "SG",
                                "CH"
                              ],
                              "example": "US",
                              "type": "string"
                            }
                          },
                          "required": [
                            "download_url",
                            "encryption_fingerprint",
                            "file_extension",
                            "file_size",
                            "file_type",
                            "id",
                            "individual",
                            "participant_join_time",
                            "participant_leave_time",
                            "recording_type",
                            "status"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "complete_time": {
                        "description": "The meeting or webinar's archive completion time.",
                        "example": "2021-03-12T02:57:27Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "duration": {
                        "description": "The meeting or webinar's scheduled duration.",
                        "example": 1,
                        "type": "integer"
                      },
                      "duration_in_second": {
                        "description": "The meeting or webinar's duration, in seconds.",
                        "example": 1800,
                        "type": "integer"
                      },
                      "group_id": {
                        "description": "Primary group IDs of participants who belong to your account. Each group ID is separated by a comma.",
                        "example": "pvFIYKSDTum9iCDOOtQL4w,_FsqLyI0RlO6LVPeUVWi8g",
                        "type": "string"
                      },
                      "host_id": {
                        "description": "The ID of the user set as the host of the archived meeting or webinar.",
                        "example": "Dhjdfgdkg8w",
                        "type": "string"
                      },
                      "id": {
                        "description": "The meeting or webinar ID, either `meetingId` or `webinarId`.",
                        "example": 553068284,
                        "format": "int64",
                        "type": "integer"
                      },
                      "is_breakout_room": {
                        "description": "Whether the room is a [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                        "example": false,
                        "type": "boolean"
                      },
                      "meeting_type": {
                        "description": "Whether the meeting or webinar is internal or external. \n* `internal` - An internal meeting or webinar. \n* `external` - An external meeting or webinar. \n\n The `id`, `host_id`, and `topic` PII (Personal Identifiable Information) values in this response are removed when this value is `external`.",
                        "enum": [
                          "internal",
                          "external"
                        ],
                        "example": "internal",
                        "type": "string"
                      },
                      "parent_meeting_id": {
                        "description": "The parent meeting's universally unique ID (UUID). Each meeting or webinar instance generates a UUID. If the `is_breakout_room` value is `true`, the API returns this value.",
                        "example": "atsXxhSEQWit9t+U02HXNQ==",
                        "type": "string"
                      },
                      "physical_files": {
                        "description": "Information about the physical files.",
                        "items": {
                          "properties": {
                            "download_url": {
                              "description": "The URL to download the the archive file. \n\n **OAuth apps** \n\n If a user has authorized and installed your OAuth app that contains recording scopes, use the user's [OAuth access token](/docs/integrations/oauth/) to download the file. \n\n Example: \n\n `https://{{base-domain}}/rec/archive/attached/download/xxx--header 'Authorization: Bearer {{OAuth-access-token}}'` ",
                              "example": "https://example.com/rec/archive/attached/download/HBAXbHc15BXbnq0JoDu6tc5MWlww9MAo9JJq2d14VAWkpcT5FEA.AK5calud4EJB7bMq",
                              "type": "string"
                            },
                            "file_id": {
                              "description": "The physical file's unique ID.",
                              "example": "pvKocCqVSMygaOcKus5Afw",
                              "type": "string"
                            },
                            "file_name": {
                              "description": "The physical file's name.",
                              "example": "Screenshot 2025-02-12 at 10.42.27 AM.png",
                              "type": "string"
                            },
                            "file_size": {
                              "description": "The physical file's size, in bytes.",
                              "example": 540680,
                              "type": "integer"
                            }
                          },
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "recording_count": {
                        "description": "The number of archived files returned in the API call response.",
                        "example": 2,
                        "type": "integer"
                      },
                      "start_time": {
                        "description": "The meeting or webinar's start time.",
                        "example": "2021-04-26T05:23:18Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "status": {
                        "description": "The archive's processing status. \n* `completed` - The archive's processing is complete. \n* `processing` - The archive is processing.",
                        "enum": [
                          "completed",
                          "processing"
                        ],
                        "example": "completed",
                        "type": "string"
                      },
                      "timezone": {
                        "description": "The meeting or webinar's [timezone](/docs/api/references/abbreviations/#timezones).",
                        "example": "Asia/Shanghai",
                        "type": "string"
                      },
                      "topic": {
                        "description": "The meeting or webinar topic.",
                        "example": "My Personal Meeting Room",
                        "type": "string"
                      },
                      "total_size": {
                        "description": "The total size of the archive file, in bytes.",
                        "example": 364463,
                        "type": "integer"
                      },
                      "type": {
                        "description": "The type of archived meeting or webinar. \n\n Meeting recordings use these archive types. \n* `1` - Instant meeting. \n* `2` - Scheduled meeting. \n* `3` - A recurring meeting with no fixed time. \n* `4` - A meeting created via PMI (Personal Meeting ID). \n* `7` - A [Personal Audio Conference](https://support.zoom.us/hc/en-us/articles/204517069-Getting-Started-with-Personal-Audio-Conference) (PAC). \n* `8` - Recurring meeting with a fixed time. \n\n Webinar recordings use these archive types. \n* `5` - A webinar. \n* `6` - A recurring webinar without a fixed time. \n* `9` - A recurring webinar with a fixed time. \n\n If the recording is **not** from a meeting or webinar: \n\n* `100` - A [breakout room](https://support.zoom.us/hc/en-us/articles/115005769646-Participating-in-breakout-rooms).",
                        "enum": [
                          1,
                          2,
                          3,
                          4,
                          5,
                          6,
                          7,
                          8,
                          9,
                          100
                        ],
                        "example": 1,
                        "type": "integer"
                      },
                      "uuid": {
                        "description": "The recorded meeting or webinar instance's universally unique identifier (UUID). Each meeting or webinar instance generates a UUID.",
                        "example": "yO3dfhh3t467UkQ==",
                        "type": "string"
                      }
                    },
                    "required": [
                      "account_name",
                      "archive_files",
                      "complete_time",
                      "duration",
                      "duration_in_second",
                      "host_id",
                      "id",
                      "is_breakout_room",
                      "meeting_type",
                      "recording_count",
                      "start_time",
                      "status",
                      "timezone",
                      "topic",
                      "total_size",
                      "type",
                      "uuid"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                },
                "next_page_token": {
                  "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.\n\n **Note:** if you use `next_page_token` as a parameter, your other request parameters should be changeless to make sure that the large result set is what you want. For example, if your `to` parameter is for a future time, Zoom resets this value to the current time and returns this value in the response body, along with the `next_page_token` value. Use these same `to` and `next_page_token` values in requests for the remaining results set; otherwise you will get an invalid token error.",
                  "example": "At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2",
                  "type": "string"
                },
                "page_size": {
                  "description": "The number of records returned within a single API call.",
                  "example": 20,
                  "type": "integer"
                },
                "to": {
                  "description": "The queried end date.",
                  "example": "2021-03-12T02:12:27Z",
                  "format": "date-time",
                  "type": "string"
                },
                "total_records": {
                  "description": "The total number of returned meeting records.",
                  "example": 20,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId} <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "recording:read:admin",
              "archiving:read:list_archived_files:admin",
              "archiving:read:list_archived_files:master"
            ]
          }
        ],
        "tags": [
          "Archiving"
        ],
        "description": "Get an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA or other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:list_archived_files:admin`,`archiving:read:list_archived_files:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "listArchivedFiles",
        "summary": "List archived files",
        "x-extensions": {
          "x-granular-scopes": [
            "archiving:read:list_archived_files:admin",
            "archiving:read:list_archived_files:master"
          ],
          "x-macro-scopes": [
            "recording:read:admin"
          ],
          "x-permissions": [
            "Recording:Read"
          ]
        }
      }
    },
    "/archive_files/statistics": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The query start date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `to` query parameter value cannot exceed seven days.",
            "format": "date-time",
            "in": "query",
            "name": "from",
            "required": false,
            "type": "string"
          },
          {
            "description": "The query end date, in `yyyy-MM-dd'T'HH:mm:ssZ` format. This value and the `from` query parameter value cannot exceed seven days.",
            "format": "date-time",
            "in": "query",
            "name": "to",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`   \n \n The statistics of Archived files returned.",
            "schema": {
              "properties": {
                "from": {
                  "description": "The queried start date.",
                  "example": "2021-03-18T05:41:36Z",
                  "format": "date-time",
                  "type": "string"
                },
                "statistic_by_file_extension": {
                  "description": "Statistics about archive files, by file extension.",
                  "properties": {
                    "json_file_count": {
                      "description": "The number of json files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "m4a_file_count": {
                      "description": "The number of m4a files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "mp4_file_count": {
                      "description": "The number of mp4 files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "txt_file_count": {
                      "description": "The number of txt files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "vtt_file_count": {
                      "description": "The number of vtt files.",
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "statistic_by_file_status": {
                  "description": "Statistics about archive files, by file status.",
                  "properties": {
                    "completed_file_count": {
                      "description": "The number of completed files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "failed_file_count": {
                      "description": "The number of failed files.",
                      "example": 1,
                      "type": "integer"
                    },
                    "processing_file_count": {
                      "description": "The number of processing files.",
                      "example": 1,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "to": {
                  "description": "The queried end date.",
                  "example": "2021-03-18T05:41:36Z",
                  "format": "date-time",
                  "type": "string"
                },
                "total_records": {
                  "description": "The total number of returned meeting records.",
                  "example": 20,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: {accountId}. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "recording:read:admin",
              "archiving:read:archived_file_statistics:admin"
            ]
          }
        ],
        "tags": [
          "Archiving"
        ],
        "description": "Get statistics about an account's archived meeting or webinar files. \n\n Zoom's [archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-indicators) lets account administrators set up an automated mechanism to record, collect, and archive meeting data to a third-party platform of their choice to satisfy FINRA and other compliance requirements. \n\n **Prerequisites:** \n* The [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) enabled for your account by [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:read:archived_file_statistics:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "getArchivedFileStatistics",
        "summary": "Get archived file statistics",
        "x-extensions": {
          "x-granular-scopes": [
            "archiving:read:archived_file_statistics:admin"
          ],
          "x-macro-scopes": [
            "recording:read:admin"
          ],
          "x-permissions": []
        }
      }
    },
    "/archive_files/{fileId}": {
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Archived file ID.",
            "in": "path",
            "name": "fileId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "auto_delete": {
                  "description": "Whether to auto-delete the archived file.",
                  "example": true,
                  "type": "boolean"
                }
              },
              "required": [
                "auto_delete"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` <br>\n auto-delete status updated  \n\n "
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "recording:write",
              "recording:write:admin",
              "archiving:update:archived_file_auto_delete_status",
              "archiving:update:archived_file_auto_delete_status:admin"
            ]
          }
        ],
        "tags": [
          "Archiving"
        ],
        "description": "Update an archived file's auto-delete status. \n\n **Prerequisites:** \n* [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) must enable the [**Meeting and Webinar Archiving** feature](https://support.zoom.us/hc/en-us/articles/4405656451213--Archiving-for-meetings-and-webinars) for your account.\n* Open the disabling auto-delete feature in OP. Contact [Zoom Support](https://support.zoom.us/hc/en-us/articles/201362003) to open.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `recording:write`,`recording:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `archiving:update:archived_file_auto_delete_status`,`archiving:update:archived_file_auto_delete_status:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "updateArchivedFile",
        "summary": "Update an archived file's auto-delete status",
        "x-extensions": {
          "x-granular-scopes": [
            "archiving:update:archived_file_auto_delete_status",
            "archiving:update:archived_file_auto_delete_status:admin"
          ],
          "x-macro-scopes": [
            "recording:write",
            "recording:write:admin"
          ],
          "x-permissions": [
            "Recording:Edit"
          ]
        }
      }
    },
    "/devices": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter devices by name or serial number.",
            "in": "query",
            "name": "search_text",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter devices by platform operating system.",
            "enum": [
              "win",
              "mac",
              "ipad",
              "iphone",
              "android",
              "linux"
            ],
            "in": "query",
            "name": "platform_os",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "Filter devices by enrollment of ZDM (Zoom Device Management).",
            "in": "query",
            "name": "is_enrolled_in_zdm",
            "required": false,
            "type": "boolean"
          },
          {
            "default": -1,
            "description": "Filter devices by device type.  \n  Device Type:  \n `-1` - All Zoom Room device(0,1,2,3,4,6).  \n `0` - Zoom Rooms Computer.  \n `1` - Zoom Rooms Controller.  \n `2` - Zoom Rooms Scheduling Display.  \n `3` - Zoom Rooms Control System.  \n `4` -  Zoom Rooms Whiteboard.  \n `5` - Zoom Phone Appliance.  \n `6` - Zoom Rooms Computer (with Controller).",
            "enum": [
              -1,
              0,
              1,
              2,
              3,
              4,
              5,
              6
            ],
            "in": "query",
            "name": "device_type",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter devices by vendor.",
            "in": "query",
            "name": "device_vendor",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter devices by model.",
            "in": "query",
            "name": "device_model",
            "required": false,
            "type": "string"
          },
          {
            "default": -1,
            "description": "Filter devices by status.   \n  Device Status:  \n `0` - offline.  \n `1` - online.  \n `-1` - unlink",
            "enum": [
              -1,
              0,
              1
            ],
            "in": "query",
            "name": "device_status",
            "required": false,
            "type": "integer"
          },
          {
            "default": 30,
            "description": "The number of records returned within a single API call.",
            "in": "query",
            "maximum": 300,
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "in": "query",
            "name": "next_page_token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` **OK**  \n \nDevice detail returned successfully.",
            "schema": {
              "properties": {
                "devices": {
                  "items": {
                    "description": "The information about the device.",
                    "properties": {
                      "app_version": {
                        "description": "App version of Zoom Rooms.",
                        "example": "5.13.0.5762",
                        "type": "string"
                      },
                      "connected_to_zdm": {
                        "description": "Whether the device connected to ZDM (Zoom Device Management).",
                        "example": true,
                        "type": "boolean"
                      },
                      "device_id": {
                        "description": "Unique identifier of the device.",
                        "example": "F1C6E9DF-429E-4FA1-85DA-AC95464F3D18",
                        "type": "string"
                      },
                      "device_name": {
                        "description": "The name of the device.",
                        "example": "My device",
                        "type": "string"
                      },
                      "device_status": {
                        "description": "Filter devices by status.   \n  Device Status:  \n `0` - offline.  \n `1` - online.  \n `-1` - unlink",
                        "enum": [
                          -1,
                          0,
                          1
                        ],
                        "example": 0,
                        "type": "integer"
                      },
                      "device_type": {
                        "description": "Filter devices by device type.  \n  Device Type:  \n `-1` - All Zoom Room device(0,1,2,3,4,6).  \n `0` - Zoom Rooms Computer.  \n `1` - Zoom Rooms Controller.  \n `2` - Zoom Rooms Scheduling Display.  \n `3` - Zoom Rooms Control System.  \n `4` -  Zoom Rooms Whiteboard.  \n `5` - Zoom Phone Appliance.  \n `6` - Zoom Rooms Computer (with Controller).",
                        "enum": [
                          0,
                          1,
                          2,
                          3,
                          4,
                          5,
                          6
                        ],
                        "example": 0,
                        "type": "integer"
                      },
                      "enrolled_in_zdm": {
                        "description": "Whether the device enrolled in ZDM (Zoom Device Management).",
                        "example": true,
                        "type": "boolean"
                      },
                      "last_online": {
                        "description": "The time when device was online last time.",
                        "example": "2022-10-27T10:23:15Z",
                        "type": "string"
                      },
                      "mac_address": {
                        "description": "The mac address of the device.",
                        "example": "01-23-45-67-89-AB",
                        "type": "string"
                      },
                      "model": {
                        "description": "The device's model.",
                        "example": "StudioX30",
                        "type": "string"
                      },
                      "platform_os": {
                        "description": "The device's platform.",
                        "example": "Epos expandvision5 1.2.22315.04",
                        "type": "string"
                      },
                      "room_id": {
                        "description": "id of the Zoom Room.",
                        "example": "72afdc13-a289-40c3-b358-50c8b8de",
                        "type": "string"
                      },
                      "room_name": {
                        "description": "Name of the Zoom Room.",
                        "example": "My Personal Meeting Room",
                        "type": "string"
                      },
                      "serial_number": {
                        "description": "The device's serial number.",
                        "example": "6NRN2A0",
                        "type": "string"
                      },
                      "skd_version": {
                        "description": "The version of the SDK.",
                        "example": "2.0.11",
                        "type": "string"
                      },
                      "tag": {
                        "description": "The name of the tag.",
                        "example": "personal rooms",
                        "type": "string"
                      },
                      "user_email": {
                        "description": "The owner of the phone device",
                        "example": "test-user@ya.us",
                        "type": "string"
                      },
                      "vendor": {
                        "description": "The device's manufacturer.",
                        "example": "Poly",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                },
                "next_page_token": {
                  "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                  "example": "At6eWnFZ1FB3arCXnRxqHLXKhbDW18yz2i2",
                  "type": "string"
                },
                "page_size": {
                  "description": "The number of records returned within a single API call.",
                  "example": 20,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request\n\n**Error Code:** `30055008` <br>\nno permission.\n\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:read:admin",
              "device:write:admin"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "This API lets you list devices. \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:admin`,`device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "listDevices",
        "summary": "List devices",
        "x-extensions": {
          "x-macro-scopes": [
            "device:read:admin",
            "device:write:admin"
          ],
          "x-permissions": [
            "ZoomRooms:Read",
            "ZoomRooms:Edit"
          ]
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "device_name": {
                  "description": "The device's name.",
                  "example": "My device",
                  "type": "string"
                },
                "device_type": {
                  "description": "Device type.  \n `0` - Zoom Rooms computer.  \n `1` - Zoom Rooms controller.  \n `5` - Zoom Phone appliance.",
                  "enum": [
                    0,
                    1,
                    5
                  ],
                  "example": 0,
                  "type": "integer"
                },
                "extension_number": {
                  "description": "The extension number.",
                  "example": "802",
                  "type": "string"
                },
                "mac_address": {
                  "description": "The device's mac address.",
                  "example": "01-23-45-67-89-AB",
                  "type": "string"
                },
                "model": {
                  "description": "The device's model.",
                  "example": "StudioX30",
                  "type": "string"
                },
                "room_id": {
                  "description": "The Zoom Room's ID. Only for Zoom Room devices.",
                  "example": "72afdc13-a289-40c3-b358-50c8b8de",
                  "type": "string"
                },
                "serial_number": {
                  "description": "The device's serial number.",
                  "example": "6NRN2A0",
                  "type": "string"
                },
                "tag": {
                  "description": "The name of the tag.",
                  "example": "personal rooms",
                  "type": "string"
                },
                "user_email": {
                  "description": "User email for assigning the Zoom Phone device. Only for Zoom Phone devices.",
                  "example": "test-user@ya.us",
                  "type": "string"
                },
                "vendor": {
                  "description": "The device's manufacturer.",
                  "example": "Poly",
                  "type": "string"
                },
                "zdm_group_id": {
                  "description": "The ZDM group ID.",
                  "example": "ff49588c-92c4-4406-99e6-1942d8a61a7b",
                  "type": "string"
                }
              },
              "required": [
                "device_name",
                "device_type",
                "mac_address",
                "model",
                "serial_number",
                "vendor"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "**HTTP Status:** `202` **Accepted**\nRequest processed successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `30055001` <br>\n zoom room does not exist.  <br>\n**Error Code:** `30055002` <br>\n required param can not be empty or null. <br>\n**Error Code:** `30055003` <br>\n device type does not support. <br>\n**Error Code:** `30055004` <br>\n model or vendor not exist. <br>\n**Error Code:** `30055005` <br>\n tag length can not be more than 64. <br>\n**Error Code:** `30055006` <br>\n device has already exist. <br>\n**Error Code:** `30055007` <br>\n invalid mac address. <br>\n**Error Code:** `30055008` <br>\n no permission. <br>\n**Error Code:** `30055009` <br>\n email does not have plan. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Add a new device to Zoom account. \n\n**Scope:** `device:write:admin`   \n \n **[Rate Limit Label](https://developers.zoom.us/docs/api/rest/rate-limits/):** `Medium`\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "addDevice",
        "summary": "Add a new device",
        "x-extensions": {
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "ZoomRooms:Edit"
          ]
        }
      }
    },
    "/devices/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The total number of records returned from a single API call.\nDefault - 30.\nMax -100.",
            "in": "query",
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period token is 15 minutes.",
            "in": "query",
            "name": "next_page_token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` **OK**  Version detail returned successfully.",
            "schema": {
              "properties": {
                "groups": {
                  "description": "All ZDM group information under current account.",
                  "items": {
                    "properties": {
                      "description": {
                        "description": "The ZDM group's describe.",
                        "example": "Group in Hefei region",
                        "type": "string"
                      },
                      "name": {
                        "description": "The ZDM group's name.",
                        "example": "HeFei-group",
                        "type": "string"
                      },
                      "zdm_group_id": {
                        "description": "The ZDM group's unique ID.",
                        "example": "ff49588c-92c4-4406-99e6-1942d8a61a7b",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "maxItems": 50,
                  "type": "array"
                },
                "next_page_token": {
                  "description": "Use the next page token to paginate through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
                  "example": "RaO87FrnwXvFQta5aV8sU5C3c9O8s9Nraq2",
                  "type": "string"
                },
                "page_size": {
                  "description": "The total number of records returned from a single API call.",
                  "example": 30,
                  "type": "integer"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051037` <br>\n Invalid parameters. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `30055008` <br>\n No permission. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:read:admin",
              "device:read:list_groups:admin",
              "device:read:list_groups:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Get Zoom Device Manager (ZDM) group information for an account.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:list_groups:admin`,`device:read:list_groups:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "Getzdmgroupinfo",
        "summary": "Get ZDM group info",
        "x-extensions": {
          "x-granular-scopes": [
            "device:read:list_groups:admin",
            "device:read:list_groups:master"
          ],
          "x-macro-scopes": [
            "device:read:admin"
          ],
          "x-permissions": [
            "MoileDeviceManagement:Read",
            "PbxAdmin:Read"
          ]
        }
      }
    },
    "/devices/zpa/assignment": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "extension_number": {
                  "description": "The extension number.",
                  "example": "802",
                  "type": "string"
                },
                "mac_address": {
                  "description": "The device's mac address.",
                  "example": "64167ffc0ed7",
                  "type": "string"
                },
                "vendor": {
                  "description": "The device's manufacturer.",
                  "example": "poly",
                  "type": "string"
                }
              },
              "required": [
                "mac_address",
                "vendor"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` **No Content**   Request processed successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30055003` <br>\n Device vendor does not support. <br>\n**Error Code:** `30055007` <br>\n Mac address is wrong. <br>\n**Error Code:** `30051039` <br>\n Device not exists. <br>\n**Error Code:** `30055002` <br>\n AUTO RECEPTIONIST user can not assign to device. <br>\n**Error Code:** `30055009` <br>\n User not have phone plan. <br>\n**Error Code:** `30052024` <br>\n Extension number not exists. <br>\n**Error Code:** `30055002` <br>\n Missing required input. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin",
              "device:write:zpa_device:admin",
              "device:write:zpa_device:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Assign a device to a user or common area, or move a device to another user or common area, or remove a device.\n\n**Prerequisites:**\n* Device must be enrolled in Zoom Device Management (ZDM).\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:zpa_device:admin`,`device:write:zpa_device:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "Assigndevicetoauser/commonarea",
        "summary": "Assign a device to a user or commonarea",
        "x-extensions": {
          "x-granular-scopes": [
            "device:write:zpa_device:admin",
            "device:write:zpa_device:master"
          ],
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "MobileDeviceManagement:Edit",
            "PbxAdmin:Edit"
          ]
        }
      }
    },
    "/devices/zpa/settings": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The user's ID or email address. For user-level apps, pass `me` as the value for `user_id`.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` **OK**  Version detail returned successfully.",
            "schema": {
              "properties": {
                "device_infos": {
                  "description": "The ZPA information.",
                  "items": {
                    "properties": {
                      "device_id": {
                        "description": "The device ID.",
                        "example": "yealink-249AD8E00476",
                        "type": "string"
                      },
                      "device_type": {
                        "description": "The device type.",
                        "example": "Zoom Phone Appliance",
                        "type": "string"
                      },
                      "model": {
                        "description": "The device's model name.",
                        "example": "MP56",
                        "type": "string"
                      },
                      "policy": {
                        "description": "The device policy.",
                        "properties": {
                          "call_control": {
                            "properties": {
                              "status": {
                                "description": "This field lets the call control feature to the current device. Configure the desk phone devices to enable call control, which lets users perform desk phone's call control actions from the Zoom desktop client, including making and accepting calls. \n* `unsupported` \n* `on` \n* `off`",
                                "enum": [
                                  "unsupported",
                                  "on",
                                  "off"
                                ],
                                "example": "off",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "hot_desking": {
                            "properties": {
                              "status": {
                                "description": "The device's status, either `online` or `offline`.",
                                "enum": [
                                  "online",
                                  "offline"
                                ],
                                "example": "online",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          }
                        },
                        "type": "object"
                      },
                      "status": {
                        "description": "The device's status, either `online` or `offline`.",
                        "enum": [
                          "online",
                          "offline"
                        ],
                        "type": "string"
                      },
                      "vendor": {
                        "description": "The device's manufacturer.",
                        "example": "Yealink",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "maxItems": 50,
                  "minItems": 0,
                  "type": "array"
                },
                "language": {
                  "description": "The user's language.",
                  "example": "English",
                  "type": "string"
                },
                "timezone": {
                  "description": "The user's timezone.",
                  "example": " (GMT+6:00) Astana, Dhaka",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Not Found \n\n **Error Code:** `30051037` <br>\n invalid parameters. <br>\n**Error Code:** `30052016` <br>\n User does not exist: {userId}. <br>\n"
          },
          "401": {
            "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n **Error Code:** `403` <br>\n Access Restricted <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:read:admin",
              "device:read:user_setting:admin",
              "device:read:user_setting:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Get a user's Zoom Phone Appliance (ZPA) device profile settings. For user-level apps, pass the `me` value instead of the `userId` parameter.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:user_setting:admin`,`device:read:user_setting:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "GetZpaDeviceListProfileSettingOfaUser",
        "summary": "Get Zoom Phone Appliance settings by user ID",
        "x-extensions": {
          "x-granular-scopes": [
            "device:read:user_setting:admin",
            "device:read:user_setting:master"
          ],
          "x-macro-scopes": [
            "device:read:admin"
          ],
          "x-permissions": [
            "MoileDeviceManagement:Read",
            "PbxAdmin:Read"
          ]
        }
      }
    },
    "/devices/zpa/upgrade": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {},
                "zdm_group_id": {
                  "description": "The ZDM group ID.",
                  "example": "ff49588c-92c4-4406-99e6-1942d8a61a7b",
                  "type": "string"
                }
              },
              "required": [
                "data",
                "zdm_group_id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The upgrade request has been accepted and is currently being processed."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30052029` <br>\n Missing required input: firmware_versions. <br>\n**Error Code:** `30055020` <br>\n Upgrade type dose not exist. <br>\n**Error Code:** `30055018` <br>\n Zdm group id dose not exist. <br>\n**Error Code:** `30052030` <br>\n Missing required input: app_version. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin",
              "device:write:zpa_os_app:admin",
              "device:write:zpa_os_app:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Upgrade ZPA firmware or app by Zoom Device Manager (ZDM) group ID. \n\n**Prerequisites:**  \n \n* Account owner or admin permissions. \n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:zpa_os_app:admin`,`device:write:zpa_os_app:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "UpgradeZpas/app",
        "summary": "Upgrade ZPA firmware or app",
        "x-extensions": {
          "x-granular-scopes": [
            "device:write:zpa_os_app:admin",
            "device:write:zpa_os_app:master"
          ],
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "MobileDeviceManagement:Edit",
            "PbxAdmin:Edit"
          ]
        }
      }
    },
    "/devices/zpa/vendors/{vendor}/mac_addresses/{macAddress}": {
      "delete": {
        "parameters": [
          {
            "description": "The device's manufacturer.",
            "in": "path",
            "name": "vendor",
            "required": true,
            "type": "string"
          },
          {
            "description": "The device's mac address.",
            "in": "path",
            "name": "macAddress",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` **No Content** Device deleted successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30052026` <br>\n Device is not ZPA. <br>\n**Error Code:** `30055003` <br>\n Device vendor does not support. <br>\n**Error Code:** `30055007` <br>\n Mac address is wrong. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30051039` <br>\n Zdm device not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin",
              "device:delete:zpa_device:admin",
              "device:delete:zpa_device:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Remove a ZPA device from the device manager, by vendor and mac address.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:delete:zpa_device:admin`,`device:delete:zpa_device:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "DeleteZpaDeviceByVendorAndMacAddress",
        "summary": "Delete ZPA device by vendor and mac address",
        "x-extensions": {
          "x-granular-scopes": [
            "device:delete:zpa_device:admin",
            "device:delete:zpa_device:master"
          ],
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "MobileDeviceManagement:Edit",
            "PbxAdmin:Edit"
          ]
        }
      }
    },
    "/devices/zpa/zdm_groups/{zdmGroupId}/versions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The Zoom Device Management (ZDM) group ID.",
            "in": "path",
            "name": "zdmGroupId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` **OK**  Version detail returned successfully.",
            "schema": {
              "description": "Information about the version list.",
              "properties": {
                "app_versions": {
                  "description": "List of app versions that can be upgraded.",
                  "items": {
                    "description": "The app version.",
                    "example": "5.16.5.3920",
                    "type": "string"
                  },
                  "maxItems": 3,
                  "type": "array"
                },
                "firmware_versions": {
                  "description": "List of firmware that can be upgraded.",
                  "items": {
                    "description": "Details of firmware that the vendor can upgrade.",
                    "properties": {
                      "model": {
                        "description": "The device's model name.",
                        "example": "C470HD",
                        "type": "string"
                      },
                      "vendor": {
                        "description": "The device's manufacturer.",
                        "example": "AudioCodes",
                        "type": "string"
                      },
                      "version": {
                        "description": "The package version.",
                        "example": "1.19.552",
                        "type": "string"
                      },
                      "warn_info": {
                        "description": "The prompt information for this version.",
                        "example": "You are about to perform an Android operating system upgrade. The change is permanent and cannot be reversed.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "maxItems": 3,
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30051037` <br>\n * AccountId is empty. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30052027` <br>\n * ZdmGroup not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:read:admin",
              "device:read:list_zpa_versions:admin",
              "device:read:list_zpa_versions:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Get ZPA firmware and app version information that can be upgraded for devices.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:list_zpa_versions:admin`,`device:read:list_zpa_versions:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "GetZpaVersioninfo",
        "summary": "Get ZPA version info",
        "x-extensions": {
          "x-granular-scopes": [
            "device:read:list_zpa_versions:admin",
            "device:read:list_zpa_versions:master"
          ],
          "x-macro-scopes": [
            "device:read:admin"
          ],
          "x-permissions": [
            "MoileDeviceManagement:Read",
            "PbxAdmin:Read"
          ]
        }
      }
    },
    "/devices/{deviceId}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique identifier of the device.",
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` **No Content** Device deleted successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `30055008` <br>\n no permission. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `30055012` <br>\n no found unified deviceId. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Delete a device from a Zoom account. \n\n**Prerequisites:**\n* Device must be enrolled in ZMD (Zoom Device Management)\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "deleteDevice",
        "summary": "Delete device",
        "x-extensions": {
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "MobileDeviceManagement:Edit"
          ]
        }
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The device's unique identifier.",
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200` **OK** \n \nDevice detail returned successfully.",
            "schema": {
              "description": "Information about the device.",
              "properties": {
                "app_version": {
                  "description": "App version of Zoom Rooms.",
                  "example": "5.13.0.5762",
                  "type": "string"
                },
                "connected_to_zdm": {
                  "description": "Whether the device is connected to ZDM (Zoom Device Management).",
                  "example": true,
                  "type": "boolean"
                },
                "device_id": {
                  "description": "The device's unique identifier.",
                  "example": "F1C6E9DF-429E-4FA1-85DA-AC95464F3D18",
                  "type": "string"
                },
                "device_name": {
                  "description": "The name of the device.",
                  "example": "My device",
                  "type": "string"
                },
                "device_status": {
                  "description": "Filter devices by status.  \n Device Status:  \n `0` - offline.  \n `1` - online.  \n `-1` - unlink",
                  "enum": [
                    -1,
                    0,
                    1
                  ],
                  "example": 0,
                  "type": "integer"
                },
                "device_type": {
                  "description": "Filter devices by device type.  \nDevice Type:  \n `-1` - All Zoom Room device(0,1,2,3,4,6).  \n `0` - Zoom Rooms Computer.  \n `1` - Zoom Rooms Controller.  \n `2` - Zoom Rooms Scheduling Display.  \n `3` - Zoom Rooms Control System.  \n `4` - Zoom Rooms Whiteboard.  \n `5` - Zoom Phone Appliance.  \n `6` - Zoom Rooms Computer (with Controller).",
                  "enum": [
                    0,
                    1,
                    2,
                    3,
                    4,
                    5,
                    6
                  ],
                  "example": 0,
                  "type": "integer"
                },
                "enrolled_in_zdm": {
                  "description": "Whether the device is enrolled in ZDM (Zoom Device Management).",
                  "example": true,
                  "type": "boolean"
                },
                "last_online": {
                  "description": "The time when the device was last online.",
                  "example": "2022-10-27T10:23:15Z",
                  "type": "string"
                },
                "mac_address": {
                  "description": "The device's MAC address.",
                  "example": "01-23-45-67-89-AB",
                  "type": "string"
                },
                "model": {
                  "description": "The device's model.",
                  "example": "StudioX30",
                  "type": "string"
                },
                "platform_os": {
                  "description": "The device's platform.",
                  "example": "Epos expandvision5 1.2.22315.04",
                  "type": "string"
                },
                "room_id": {
                  "description": "The Zoom Room's ID.",
                  "example": "72afdc13-a289-40c3-b358-50c8b8de",
                  "type": "string"
                },
                "room_name": {
                  "description": "The Zoom Room's name.",
                  "example": "My Personal Meeting Room",
                  "type": "string"
                },
                "sdk_version": {
                  "description": "The SDK version.",
                  "example": "2.0.11",
                  "type": "string"
                },
                "serial_number": {
                  "description": "The device's serial number.",
                  "example": "6NRN2A0",
                  "type": "string"
                },
                "tag": {
                  "description": "The tag's name.",
                  "example": "personal rooms",
                  "type": "string"
                },
                "user_email": {
                  "description": "The phone device's owner.",
                  "example": "test-user@ya.us",
                  "type": "string"
                },
                "vendor": {
                  "description": "The device's manufacturer.",
                  "example": "Poly",
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `30055008` <br>\n No permission. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `30055012` <br>\n No found unified deviceId. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:read:admin",
              "device:write:admin"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Retrieve a device's details.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:read:admin`,`device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`",
        "operationId": "getDevice",
        "summary": "Get device detail",
        "x-extensions": {
          "x-macro-scopes": [
            "device:read:admin",
            "device:write:admin"
          ],
          "x-permissions": [
            "ZoomRooms:Read",
            "ZoomRooms:Edit"
          ]
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Unique identifier of the device.",
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "device_name": {
                  "description": "The name of the device.",
                  "example": "My device",
                  "type": "string"
                },
                "device_type": {
                  "description": "Device Type:  \n `0` - Zoom Rooms Computer.  \n `1` - Zoom Rooms Controller.  \n `2` - Zoom Rooms Scheduling Display.",
                  "enum": [
                    0,
                    1,
                    3
                  ],
                  "example": 1,
                  "type": "integer"
                },
                "room_id": {
                  "description": "id of the Zoom Room.",
                  "example": "72afdc13-a289-40c3-b358-50c8b8de",
                  "type": "string"
                },
                "tag": {
                  "description": "The name of the tag.",
                  "example": "personal rooms",
                  "type": "string"
                }
              },
              "required": [
                "device_name"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code:** `204` **No Content** \n \nRequest processed successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request \n\n **Error Code:** `30055001` <br>\n zoom room does not exist. . <br>\n**Error Code:** `30055002` <br>\n required param can not be empty or null. <br>\n**Error Code:** `30055003` <br>\n device type does not support. <br>\n**Error Code:** `30055011` <br>\n device is not enrolled. <br>\n**Error Code:** `30055013` <br>\n device not support this app. <br>\n**Error Code:** `30055014` <br>\n room not support this app. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found \n\n **Error Code:** `30055012` <br>\n Device does not exist: {deviceId}. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Change device name. \n\n**Prerequisites:**\n* Device must be enrolled in ZMD (Zoom Device Management)\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "updateDevice",
        "summary": "Change device ",
        "x-extensions": {
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "ZoomRooms:Edit"
          ]
        }
      }
    },
    "/devices/{deviceId}/assign_group": {
      "patch": {
        "parameters": [
          {
            "description": "The device ID.",
            "in": "path",
            "name": "deviceId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The group's ID.",
            "in": "query",
            "name": "group_id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Request processed successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `30052010` <br>\n Group does not exist. <br>\n"
          },
          "401": {
            "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  No permission. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `30055012` <br>\n Device does not exist. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "device:write:admin",
              "device:write:group:admin",
              "device:write:group:master"
            ]
          }
        ],
        "tags": [
          "Devices"
        ],
        "description": "Assign a device to a new group.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `device:write:group:admin`,`device:write:group:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`",
        "operationId": "assginGroup",
        "summary": "Assign a device to a group",
        "x-extensions": {
          "x-granular-scopes": [
            "device:write:group:admin",
            "device:write:group:master"
          ],
          "x-macro-scopes": [
            "device:write:admin"
          ],
          "x-permissions": [
            "MobileDeviceManagement:Edit"
          ]
        }
      }
    },
    "/h323/devices": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 30,
            "description": "The number of records returned within a single API call.",
            "in": "query",
            "maximum": 300,
            "name": "page_size",
            "required": false,
            "type": "integer"
          },
          {
            "default": 1,
            "description": "**Deprecated.** We will no longer support this field in a future release. Instead, use the `next_page_token` for pagination.",
            "in": "query",
            "name": "page_number",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Use the next page token to paginate through large result sets. A next page token is returned whenever the set of available results exceeds the current page size. This token's expiration period is 15 minutes.",
            "in": "query",
            "name": "next_page_token",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "**HTTP Status Code:** `200`  \n \nList of H.323/SIP devices returned.  \n \n**Error Code:** `200`  \n \nNo permission.",
            "schema": {
              "allOf": [
                {
                  "description": "Pagination Object.",
                  "properties": {
                    "next_page_token": {
                      "description": "The next page token is used to paginate through large result sets. A next page token will be returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "w7587w4eiyfsudgf",
                      "type": "string"
                    },
                    "page_count": {
                      "description": "The number of pages returned for the request made.",
                      "example": 1,
                      "type": "integer"
                    },
                    "page_number": {
                      "default": 1,
                      "description": "**Deprecated.** We will no longer support this field in a future release. Instead, use the `next_page_token` for pagination.",
                      "example": 1,
                      "type": "integer",
                      "x-deprecated": true
                    },
                    "page_size": {
                      "default": 30,
                      "description": "The number of records returned with a single API call.",
                      "example": 30,
                      "maximum": 300,
                      "type": "integer"
                    },
                    "total_records": {
                      "description": "The total number of all the records available across pages.",
                      "example": 20,
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "devices": {
                      "description": "List of H.323/SIP Device objects.",
                      "items": {
                        "allOf": [
                          {
                            "properties": {
                              "id": {
                                "description": "Device ID.",
                                "example": "abceHewahkrehwiK",
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          {
                            "description": "The H.323/SIP device object.",
                            "properties": {
                              "encryption": {
                                "description": "Device encryption:  \n `auto` - auto.  \n `yes` - yes.  \n `no` - no.",
                                "enum": [
                                  "auto",
                                  "yes",
                                  "no"
                                ],
                                "example": "auto",
                                "type": "string",
                                "x-enum-descriptions": [
                                  "auto",
                                  "yes",
                                  "no"
                                ]
                              },
                              "ip": {
                                "description": "Device IP.",
                                "example": "127.0.0.1",
                                "type": "string"
                              },
                              "name": {
                                "description": "Device name.",
                                "example": "api_test_20190508",
                                "maxLength": 64,
                                "type": "string"
                              },
                              "protocol": {
                                "description": "Device protocol:  \n `H.323` - H.323.  \n `SIP` - SIP.",
                                "enum": [
                                  "H.323",
                                  "SIP"
                                ],
                                "example": "H.323",
                                "type": "string",
                                "x-enum-descriptions": [
                                  "H.323",
                                  "SIP"
                                ]
                              }
                            },
                            "required": [
                              "encryption",
                              "ip",
                              "name",
                              "protocol"
                            ],
                            "title": "The H.323/SIP device object.",
                            "type": "object"
                          }
                        ]
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "description": "List of H.323/SIP Devices.",
              "title": "H.323/SIP Device List"
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "401": {
            "description": "**HTTP Status Code:** `401` <br>\n Unauthorized  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_authorization": [],
            "openapi_oauth": [
              "h323:read:admin",
              "h323_device:read:list_devices:admin"
            ]
          }
        ],
        "tags": [
          "H323 Devices"
        ],
        "description": "A H.323 or SIP device can make a video call to a [Room Connector](https://support.zoom.us/hc/en-us/articles/201363273-Getting-Started-With-H-323-SIP-Room-Connector) to join a Zoom cloud meeting. A Room Connector can also call out to a H.323 or SIP device to join a Zoom cloud meeting. Use this API to list all H.323/SIP Devices on a Zoom account.  \n   \n \n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `h323:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `h323_device:read:list_devices:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "deviceList",
        "summary": "List H.323/SIP devices",
        "x-extensions": {
          "x-granular-scopes": [
            "h323_device:read:list_devices:admin"
          ],
          "x-macro-scopes": [
            "h323:read:admin"
          ],
          "x-permissions": []
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "H.323/SIP device.",
            "in": "body",
            "name": "body",
            "schema": {
              "description": "The H.323/SIP device object.",
              "properties": {
                "encryption": {
                  "description": "Device encryption:  \n `auto` - auto.  \n `yes` - yes.  \n `no` - no.",
                  "enum": [
                    "auto",
                    "yes",
                    "no"
                  ],
                  "example": "auto",
                  "type": "string",
                  "x-enum-descriptions": [
                    "auto",
                    "yes",
                    "no"
                  ]
                },
                "ip": {
                  "description": "Device IP.",
                  "example": "127.0.0.1",
                  "type": "string"
                },
                "name": {
                  "description": "Device name.",
                  "example": "api_test_20190508",
                  "maxLength": 64,
                  "type": "string"
                },
                "protocol": {
                  "description": "Device protocol:  \n `H.323` - H.323.  \n `SIP` - SIP.",
                  "enum": [
                    "H.323",
                    "SIP"
                  ],
                  "example": "H.323",
                  "type": "string",
[...]
