{
  "swagger": "2.0",
  "info": {
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n",
    "title": "Workday Strategic Sourcing Contracts API",
    "version": "1.1"
  },
  "host": "api.us.workdayspend.com",
  "basePath": "/services/contracts/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contract_types": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ContractTypeModel"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/definitions/SelfLink"
                    },
                    "meta": {
                      "description": "Result set metadata.",
                      "properties": {
                        "count": {
                          "description": "Number of pages in the result set.",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Returns a list of all contract types.",
        "operationId": "List Contract Types",
        "summary": "List Contract Types",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Create a contract type with given parameters.\n",
        "operationId": "Create a Contract Type",
        "summary": "Create a Contract Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"attributes\":{\"name\":\"Contract Type\", \"shortcode\":\"CRT\", \"external_id\": \"CRT$1\"}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types\"\n"
          }
        ]
      }
    },
    "/contract_types/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Unique contract type external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CTR$1"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Deletes a contract type. You need to supply the unique contract type\nexternal identifier assigned to the contract type on creation.\n",
        "operationId": "Delete a Contract Type by External ID",
        "summary": "Delete a Contract Type by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contract type external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CTR$1"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Retrieves the details of an existing contract type.\n",
        "operationId": "Get a Contract Type by External ID",
        "summary": "Get a Contract Type by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contract type external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CTR$1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Updates the details of an existing contract type. You need to supply the unique\nexternal identifier assigned to the contract type on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract Type by External ID",
        "summary": "Update a Contract Type by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"id\":\"CTR$1\",\"attributes\":{\"name\":\"Updated Contract Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/CTR$1/external_id\"\n"
          }
        ]
      }
    },
    "/contract_types/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique contract type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Deletes a contract type. You need to supply the unique contract type\nidentifier that was returned upon contract type creation.\n",
        "operationId": "Delete a Contract Type",
        "summary": "Delete a Contract Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contract type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Retrieves the details of an existing contract type.\n",
        "operationId": "Get a Contract Type",
        "summary": "Get a Contract Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contract type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "contract_types"
        ],
        "description": "Updates the details of an existing contract type. You need to supply the unique\nidentifier that was returned upon contract type creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract Type",
        "summary": "Update a Contract Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contract_types\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Contract Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contract_types/2\"\n"
          }
        ]
      }
    },
    "/contracts": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Filter contracts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          },
          {
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/contracts?include=contract_type,supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and full related resource details will be presented in the `included`\nsection as resource objects (with `attributes`, `links`, and potentially `relationships`).\n",
            "in": "query",
            "name": "include"
          },
          {
            "description": "Customize pagination results with `size`.\n",
            "in": "query",
            "name": "page",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/Contract"
                      },
                      "type": "array"
                    },
                    "included": {
                      "$ref": "#/definitions/ContractIncludedResources"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Returns a list of contracts for the specified criteria.",
        "operationId": "List Contracts",
        "summary": "List Contracts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Contract"
                },
                "included": {
                  "$ref": "#/definitions/ContractIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Create a contract with given attributes.\n",
        "operationId": "Create a Contract",
        "summary": "Create a Contract",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contracts\",\"attributes\":{\"title\":\"My Contract\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts\"\n"
          }
        ]
      }
    },
    "/contracts/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ContractFieldModel"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Returns a list of fields for the contract object.",
        "operationId": "Describe Contract object",
        "summary": "Describe Contract object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/describe\"\n"
          }
        ]
      }
    },
    "/contracts/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Contract external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Deletes a contract. You need to supply the unique contract\nexternal identifier (the one you used when created the contract).\n",
        "operationId": "Delete a Contract by External ID",
        "summary": "Delete a Contract by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Contract external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Contract"
                },
                "included": {
                  "$ref": "#/definitions/ContractIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Retrieves the details of an existing contract. You need to supply the unique\ncontract external identifier (the one you used when created the contract).\n",
        "operationId": "Get a Contract by External ID",
        "summary": "Get a Contract by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Contract external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Contract"
                },
                "included": {
                  "$ref": "#/definitions/ContractIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Updates the details of an existing contract. You need to supply the unique contract\nexternal identifier (the one you used when created the contract).\n\nPlease note, that request body must include an `id` attribute with the value of your contract\nexternal identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract by External ID",
        "summary": "Update a Contract by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contracts\",\"id\":\"SUP-1234\",attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/SUP-1234/external_id\"\n"
          }
        ]
      }
    },
    "/contracts/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique Contract identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Deletes a contract. You need to supply the unique contract\nidentifier that was returned upon contract creation.\n",
        "operationId": "Delete a Contract",
        "summary": "Delete a Contract",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Contract identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Contract"
                },
                "included": {
                  "$ref": "#/definitions/ContractIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Retrieves the details of an existing contract. You need to supply the unique contract\nidentifier that was returned upon contract creation.\n",
        "operationId": "Get a Contract",
        "summary": "Get a Contract",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Contract identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Contract"
                },
                "included": {
                  "$ref": "#/definitions/ContractIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "contracts"
        ],
        "description": "Updates the details of an existing contract. You need to supply the unique supplier\ncontract that was returned upon contract creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contract\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contract",
        "summary": "Update a Contract",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contracts\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/contracts/v1/contracts/1\"\n"
          }
        ]
      }
    }
  },
  "definitions": {
    "AdobeSignAgreement": {
      "allOf": [
        {
          "$ref": "#/definitions/AdobeSignAgreementBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/AdobeSignAgreementAttributes"
            },
            "relationships": {
              "$ref": "#/definitions/AdobeSignAgreementRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "AdobeSignAgreementAttributes": {
      "description": "Adobe Sign Agreement attributes",
      "properties": {
        "adobe_created_at": {
          "description": "Adobe Created Date",
          "example": "2019-10-29T21:28:46.790Z",
          "maxLength": 255,
          "type": "string"
        },
        "adobe_id": {
          "description": "Adobe Sign Agreement ID",
          "example": "24",
          "maxLength": 255,
          "type": "string"
        },
        "adobe_sign_errors": {
          "description": "Raw JSON representation of Adobe Sign Agreement errors",
          "example": "{}",
          "maxLength": 255,
          "type": "string"
        },
        "adobe_signed_at": {
          "description": "Date Adobe Sign Agreement signed",
          "example": "2019-10-29T21:28:46.790Z",
          "maxLength": 255,
          "type": "string"
        },
        "name": {
          "description": "Name of Adobe Sign Agreement",
          "example": "Agreement #236",
          "maxLength": 255,
          "type": "string"
        },
        "state": {
          "description": "Current state of Adobe Sign Agreement",
          "example": "CREATING",
          "maxLength": 255,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "AdobeSignAgreementBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/AdobeSignAgreementId"
        },
        "type": {
          "$ref": "#/definitions/AdobeSignAgreementType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "AdobeSignAgreement",
      "type": "object"
    },
    "AdobeSignAgreementId": {
      "description": "Adobe Sign Agreement identifier string",
      "example": 1,
      "type": "integer"
    },
    "AdobeSignAgreementRelationship": {
      "properties": {
        "documents": {
          "description": "List of Adobe Sign Documents",
          "items": {
            "$ref": "#/definitions/AdobeSignDocumentBase"
          },
          "type": "array"
        }
      },
      "title": "Adobe Sign Agreement relationships",
      "type": "object"
    },
    "AdobeSignAgreementType": {
      "description": "Object type, should always be `adobe_sign_agreements`",
      "example": "adobe_sign_agreements",
      "type": "string"
    },
    "AdobeSignDocument": {
      "allOf": [
        {
          "$ref": "#/definitions/AdobeSignDocumentBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/AdobeSignDocumentAttributes"
            },
            "relationships": {
              "$ref": "#/definitions/AdobeSignDocumentRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "AdobeSignDocumentAttributes": {
      "description": "Adobe Sign Document attributes",
      "properties": {
        "adobe_id": {
          "description": "Adobe Sign Document ID",
          "example": "24",
          "maxLength": 255,
          "type": "string"
        },
        "name": {
          "description": "Name of Adobe Sign Document",
          "example": "Document #236",
          "maxLength": 255,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "AdobeSignDocumentBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/AdobeSignDocumentId"
        },
        "type": {
          "$ref": "#/definitions/AdobeSignDocumentType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "AdobeSignDocument",
      "type": "object"
    },
    "AdobeSignDocumentId": {
      "description": "Adobe Sign Document identifier string",
      "example": 1,
      "type": "integer"
    },
    "AdobeSignDocumentRelationship": {
      "properties": {
        "attachment": {
          "$ref": "#/definitions/AttachmentBase",
          "description": "Adobe Sign Document Attachment",
          "type": "object"
        }
      },
      "title": "Adobe Sign Document relationships",
      "type": "object"
    },
    "AdobeSignDocumentType": {
      "description": "Object type, should always be `adobe_sign_documents`",
      "example": "adobe_sign_documents",
      "type": "string"
    },
    "Attachment": {
      "allOf": [
        {
          "$ref": "#/definitions/AttachmentBase"
        }
      ]
    },
    "AttachmentBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/AttachmentId"
        },
        "type": {
          "$ref": "#/definitions/AttachmentType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Attachment",
      "type": "object"
    },
    "AttachmentId": {
      "description": "Attachment identifier string.",
      "example": 1,
      "type": "integer"
    },
    "AttachmentType": {
      "description": "Object type, should always be `attachments`.",
      "example": "attachments",
      "type": "string"
    },
    "Contract": {
      "allOf": [
        {
          "$ref": "#/definitions/ContractBase"
        },
        {
          "properties": {
            "attributes": {
              "allOf": [
                {
                  "$ref": "#/definitions/ContractAttributes"
                }
              ]
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            },
            "relationships": {
              "$ref": "#/definitions/ContractRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "ContractAttributes": {
      "description": "Contract attributes.",
      "properties": {
        "actual_end_date": {
          "description": "Contract end date.",
          "example": "2031-12-30",
          "format": "date",
          "type": "string"
        },
        "actual_spend_amount": {
          "description": "Actual spend amount.",
          "example": 11.11,
          "format": "double",
          "type": "number"
        },
        "actual_start_date": {
          "description": "Contract start date.",
          "example": "2028-12-30",
          "format": "date",
          "type": "string"
        },
        "approval_rounds": {
          "description": "Times contract has been sent for approval.",
          "example": 1,
          "type": "integer"
        },
        "approved_at": {
          "description": "Date and time when the contract was approved.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "auto_renewal": {
          "description": "Auto-renewal mode.",
          "enum": [
            "yes",
            "no",
            "evergreen"
          ],
          "example": "yes",
          "type": "string"
        },
        "custom_fields": {
          "description": "Custom field values. Note: custom fields of type File can only be accessed through the user interface, they will be only exposed as `null` in the public API.",
          "items": {
            "$ref": "#/definitions/CustomField"
          },
          "type": "array"
        },
        "description": {
          "description": "Contract description.",
          "example": "Contract Description",
          "type": "string"
        },
        "external_id": {
          "description": "Customer provided unique contract identifier.",
          "example": "1234-5678-abcd-efgh",
          "type": "string"
        },
        "first_sent_for_approval_at": {
          "description": "Date and time when contract was sent for approval for first time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "marked_as_needs_attention_at": {
          "description": "Date and time when the contract was flagged as needs attention.",
          "example": null,
          "format": "date-time",
          "type": "string"
        },
        "needs_attention": {
          "description": "Identifies whether the contract needs attention.",
          "example": null,
          "type": "boolean"
        },
        "needs_attention_note": {
          "description": "Additional notes on why the contract needs attention.",
          "example": null,
          "type": "string"
        },
        "needs_attention_reason": {
          "description": "The reason why the contract needs attention.",
          "example": null,
          "type": "string"
        },
        "number": {
          "description": "Contract number, generated sequentially.",
          "example": 1,
          "readOnly": true,
          "type": "integer"
        },
        "public": {
          "description": "'Public visibility' of a contract, Note: Only applies when Public Site is enabled",
          "example": true,
          "type": "boolean"
        },
        "renew_number_of_times": {
          "description": "How many times the contracts should be renewed.",
          "example": 3,
          "type": "integer"
        },
        "renewal_term_unit": {
          "description": "Term unit for contract renewals.",
          "enum": [
            "days",
            "weeks",
            "months",
            "years"
          ],
          "example": "days",
          "type": "string"
        },
        "renewal_term_value": {
          "description": "Number of term units between contract renewals.",
          "example": 4,
          "type": "integer"
        },
        "renewal_termination_notice_date": {
          "description": "Date when the termination notice should be sent based on actual end date and notice settings.",
          "example": "2031-07-30",
          "format": "date",
          "readOnly": true,
          "type": "string"
        },
        "renewal_termination_notice_unit": {
          "description": "Term unit for contract termination notice.",
          "enum": [
            "days",
            "weeks",
            "months",
            "years"
          ],
          "example": "months",
          "type": "string"
        },
        "renewal_termination_notice_value": {
          "description": "Number of term units before the contract actual end date for the termination notice to be sent out.",
          "example": 5,
          "type": "integer"
        },
        "renewal_termination_reminder_date": {
          "description": "Date when the termination reminder should be sent based on termination notice date and reminder settings.",
          "example": "2031-06-18",
          "format": "date",
          "readOnly": true,
          "type": "string"
        },
        "renewal_termination_reminder_unit": {
          "description": "Term unit for contract termination reminder.",
          "enum": [
            "days",
            "weeks",
            "months",
            "years"
          ],
          "example": "weeks",
          "type": "string"
        },
        "renewal_termination_reminder_value": {
          "description": "Number of term units before the contract termination notice for the termination reminder to be sent out.",
          "example": 6,
          "type": "integer"
        },
        "sent_for_approval_at": {
          "description": "Date and time when the contract was sent for approval.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "$ref": "#/definitions/ContractState"
        },
        "state_label": {
          "description": "Customer-specific contract state label.",
          "example": "Discovery",
          "type": "string"
        },
        "terminated_note": {
          "description": "Termination notes.",
          "example": null,
          "type": "string"
        },
        "terminated_reason": {
          "description": "Termination reason.",
          "example": null,
          "type": "string"
        },
        "title": {
          "description": "A contract title.",
          "example": "Contract Title",
          "maxLength": 255,
          "type": "string"
        },
        "updated_at": {
          "description": "Last modification date.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "title"
      ],
      "type": "object"
    },
    "ContractBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ContractId"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeValue"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Contract",
      "type": "object"
    },
    "ContractCreate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractAttributes"
        },
        "relationships": {
          "$ref": "#/definitions/ContractCreateRequestRelationship"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeValue"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "ContractCreateRequestRelationship": {
      "allOf": [
        {
          "$ref": "#/definitions/ContractRequestRelationship"
        },
        {
          "properties": {},
          "type": "object"
        }
      ]
    },
    "ContractFieldModel": {
      "allOf": [
        {
          "properties": {
            "type": {
              "description": "Object type, should always be `contract_fields`.",
              "example": "contract_fields",
              "type": "string"
            }
          },
          "type": "object"
        },
        {
          "$ref": "#/definitions/DescribeFieldModel"
        }
      ]
    },
    "ContractId": {
      "description": "Contract identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ContractIncludedResources": {
      "allOf": [
        {
          "items": {},
          "type": "array"
        }
      ]
    },
    "ContractInputFilter": {
      "properties": {
        "actual_end_date_from": {
          "description": "Return contracts ended on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_end_date_to": {
          "description": "Return contracts ended on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_spend_amount_from": {
          "description": "Return contracts with an actual spend amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "actual_spend_amount_to": {
          "description": "Return contracts with an actual spend amount equal or smaller than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "actual_start_date_from": {
          "description": "Return contracts started on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_start_date_to": {
          "description": "Return contracts started on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "auto_renewal": {
          "description": "Auto-renewal mode.",
          "example": [
            "yes",
            "evergreen"
          ],
          "items": {
            "enum": [
              "yes",
              "no",
              "evergreen"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "contract_type_id_equals": {
          "description": "Find contracts with the specified contract type.",
          "type": "integer"
        },
        "contract_type_id_not_equals": {
          "description": "Find contracts with the contract type different from the specified one.",
          "type": "integer"
        },
        "description_contains": {
          "description": "Return contracts with description containing the specified string.",
          "type": "string"
        },
        "description_not_contains": {
          "description": "Return contracts with description not containing the specified string.",
          "type": "string"
        },
        "external_id_empty": {
          "description": "Return contracts with `external_id` blank.",
          "example": true,
          "type": "boolean"
        },
        "external_id_equals": {
          "description": "Find contracts by a specific external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "external_id_not_empty": {
          "description": "Return contracts with non-blank `external_id`.",
          "example": false,
          "type": "boolean"
        },
        "external_id_not_equals": {
          "description": "Find contracts excluding the one with the specified external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "marked_as_needs_attention_at_from": {
          "description": "Find contracts marked as \"needs attention\" after or on the specified date.",
          "format": "date-time",
          "type": "string"
        },
        "marked_as_needs_attention_at_to": {
          "description": "Find contracts marked as \"needs attention\" before or on the specified date.",
          "format": "date-time",
          "type": "string"
        },
        "needs_attention_equals": {
          "description": "Return contracts with the specified \"needs attention\" status.",
          "type": "boolean"
        },
        "needs_attention_not_equals": {
          "description": "Return contracts with the \"needs attention\" status not equal to the specified one.",
          "type": "boolean"
        },
        "needs_attention_note_contains": {
          "description": "Return contracts with \"needs attention\" note containing the specified string.",
          "type": "string"
        },
        "needs_attention_note_empty": {
          "description": "Return contracts with an empty \"needs attention\" note.",
          "type": "string"
        },
        "needs_attention_note_not_contains": {
          "description": "Return contracts with \"needs attention\" note not containing the specified string.",
          "type": "string"
        },
        "needs_attention_note_not_empty": {
          "description": "Return contracts with a non-empty \"needs attention\" note.",
          "type": "string"
        },
        "needs_attention_reason_contains": {
          "description": "Return contracts with \"needs attention\" reason containing the specified string.",
          "type": "string"
        },
        "needs_attention_reason_empty": {
          "description": "Return contracts with an empty \"needs attention\" reason.",
          "type": "string"
        },
        "needs_attention_reason_not_contains": {
          "description": "Return contracts with \"needs attention\" reason not containing the specified string.",
          "type": "string"
        },
        "needs_attention_reason_not_empty": {
          "description": "Return contracts with a non-empty \"needs attention\" reason.",
          "type": "string"
        },
        "number_from": {
          "description": "Find contracts with the number equal or greater than the specified one.",
          "format": "integer",
          "type": "string"
        },
        "number_to": {
          "description": "Find contracts with the number equal or smaller than the specified one.",
          "format": "integer",
          "type": "string"
        },
        "renew_number_of_times_from": {
          "description": "Find contracts that should be renewed at least the specified number of times.",
          "type": "integer"
        },
        "renew_number_of_times_to": {
          "description": "Find contracts that should be renewed at most the specified number of times.",
          "type": "integer"
        },
        "renewal_termination_notice_date_from": {
          "description": "Find contracts with the termination notice date on or after the specified one.",
          "format": "date",
          "type": "string"
        },
        "renewal_termination_notice_date_to": {
          "description": "Find contracts with the termination notice date on or before the specified one.",
          "format": "date",
          "type": "string"
        },
        "renewal_termination_reminder_date_from": {
          "description": "Find contracts with the termination reminder date on or after the specified one.",
          "format": "date",
          "type": "string"
        },
        "renewal_termination_reminder_date_to": {
          "description": "Find contracts with the termination reminder date on or before the specified one.",
          "format": "date",
          "type": "string"
        },
        "spend_category_id_equals": {
          "description": "Find contracts using the specified Spend Category IDs.",
          "example": [
            1,
            2
          ],
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "state_equals": {
          "description": "Find contracts with specified states.",
          "example": [
            "expired",
            "terminated"
          ],
          "items": {
            "$ref": "#/definitions/ContractState"
          },
          "type": "array"
        },
        "terminated_note_contains": {
          "description": "Return contracts with termination note containing the specified string.",
          "type": "string"
        },
        "terminated_note_empty": {
          "description": "Return contracts with an empty termination note.",
          "type": "string"
        },
        "terminated_note_not_contains": {
          "description": "Return contracts with termination note not containing the specified string.",
          "type": "string"
        },
        "terminated_note_not_empty": {
          "description": "Return contracts with a non-empty termination note.",
          "type": "string"
        },
        "terminated_reason_contains": {
          "description": "Return contracts with termination reason containing the specified string.",
          "type": "string"
        },
        "terminated_reason_empty": {
          "description": "Return contracts with an empty termination reason.",
          "type": "string"
        },
        "terminated_reason_not_contains": {
          "description": "Return contracts with termination reason not containing the specified string.",
          "type": "string"
        },
        "terminated_reason_not_empty": {
          "description": "Return contracts with a non-empty termination reason.",
          "type": "string"
        },
        "title_contains": {
          "description": "Return contracts with title containing the specified string.",
          "type": "string"
        },
        "title_not_contains": {
          "description": "Return contracts with title not containing the specified string.",
          "type": "string"
        },
        "updated_at_from": {
          "description": "Return contracts updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "updated_at_to": {
          "description": "Return contracts updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContractRelatedResources": {
      "allOf": [
        {
          "enum": [
            "contract_type",
            "spend_category",
            "supplier_company",
            "docusign_envelopes",
            "adobe_sign_agreements"
          ],
          "type": "string"
        }
      ]
    },
    "ContractRelationship": {
      "description": "Contract relationship.",
      "properties": {
        "adobe_sign_agreements": {
          "description": "List of Adobe Sign Agreements",
          "items": {
            "$ref": "#/definitions/AdobeSignAgreementBase"
          },
          "type": "array"
        },
        "attachments": {
          "items": {
            "$ref": "#/definitions/AttachmentBase"
          },
          "type": "array"
        },
        "contract_type": {
          "description": "Contract type",
          "properties": {
            "data": {
              "$ref": "#/definitions/ContractTypeBase"
            }
          },
          "type": "object"
        },
        "creator": {
          "description": "Contract creator is set based on API keys.",
          "properties": {
            "data": {
              "$ref": "#/definitions/StakeholderBase"
            }
          },
          "type": "object"
        },
        "docusign_envelopes": {
          "description": "List of docusign envelopes",
          "items": {
            "$ref": "#/definitions/DocusignEnvelopeBase"
          },
          "type": "array"
        },
        "owner": {
          "description": "Contract owner.",
          "properties": {
            "data": {
              "$ref": "#/definitions/StakeholderBase"
            }
          },
          "type": "object"
        },
        "spend_category": {
          "description": "Spend category type",
          "properties": {
            "data": {
              "$ref": "#/definitions/SpendCategoryBase"
            }
          },
          "type": "object"
        },
        "supplier_company": {
          "properties": {
            "data": {
              "$ref": "#/definitions/SupplierCompanyBase"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ContractRequestRelationship": {
      "allOf": [
        {
          "properties": {
            "owner": {
              "$ref": "#/definitions/StakeholderLookup"
            }
          },
          "type": "object"
        },
        {
          "description": "Contract request relationship. external_supplier_company can be used to associate the supplier_company using the supplier external_id attribute.",
          "properties": {
            "contract_type": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeBase"
                }
              },
              "type": "object"
            },
            "external_contract_type": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractTypeBase"
                }
              },
              "type": "object"
            },
            "external_supplier_company": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ExternalSupplierCompanyBase"
                }
              },
              "type": "object"
            },
            "payment_currency": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PaymentCurrencyBase"
                }
              },
              "type": "object"
            },
            "spend_category": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SpendCategoryBase"
                }
              },
              "type": "object"
            },
            "supplier_company": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyBase"
                }
              },
              "type": "object"
            }
          },
          "type": "object"
        }
      ]
    },
    "ContractState": {
      "description": "Current contract state.",
      "enum": [
        "draft",
        "requested",
        "in_progress",
        "out_for_approval",
        "approved",
        "active",
        "expired",
        "terminated"
      ],
      "example": "in_progress",
      "type": "string"
    },
    "ContractType": {
      "allOf": [
        {
          "$ref": "#/definitions/ContractTypeBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/ContractTypeAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "ContractTypeAttributes": {
      "description": "Contract type attributes.",
      "properties": {
        "external_id": {
          "description": "Customer provided unique contract type identifier.",
          "example": "1234-5678-abcd-efgh",
          "type": "string"
        },
        "name": {
          "description": "Contract type name.",
          "example": "My Contract Type",
          "maxLength": 255,
          "type": "string"
        },
        "shortcode": {
          "description": "Contract type short code.",
          "example": "CPUB",
          "maxLength": 4,
          "type": "string"
        }
      },
      "required": [
        "name",
        "shortcode"
      ],
      "type": "object"
    },
    "ContractTypeBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ContractTypeId"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "ContractType",
      "type": "object"
    },
    "ContractTypeCreate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractTypeAttributes"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeType"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "ContractTypeId": {
      "description": "Contract type identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ContractTypeModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ContractTypeBase"
        },
        {
          "properties": {
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            }
          },
          "type": "object"
        }
      ]
    },
    "ContractTypeType": {
      "description": "Object type, should always be `contract_types`.",
      "example": "contract_types",
      "type": "string"
    },
    "ContractTypeUpdate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractTypeAttributes"
        },
        "id": {
          "$ref": "#/definitions/ContractTypeId"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "type": "object"
    },
    "ContractTypeValue": {
      "description": "Object type, should always be `contracts`.",
      "example": "contracts",
      "type": "string"
    },
    "ContractUpdate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractAttributes"
        },
        "id": {
          "$ref": "#/definitions/ContractId"
        },
        "relationships": {
          "$ref": "#/definitions/ContractRequestRelationship"
        },
        "type": {
          "$ref": "#/definitions/ContractTypeValue"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "type": "object"
    },
    "CustomField": {},
    "CustomFieldBase": {
      "properties": {
        "name": {
          "description": "Custom field name.",
          "example": "My Custom Field",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomFieldCheckbox": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "example": true,
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "title": "Checkbox"
    },
    "CustomFieldCurrency": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A currency value represented as an integer. The maximum value is 9,007,199,254,740,991.",
              "format": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Currency"
    },
    "CustomFieldDate": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A date value.",
              "format": "date",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Date"
    },
    "CustomFieldDecimal": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A decimal value represented as a number with floating point.",
              "format": "decimal",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Decimal"
    },
    "CustomFieldEnum": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldEnumExtended": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related",
        "Single Relationship",
        "Multiple Relationship"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldInteger": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "An integer value. The maximum value is 9,007,199,254,740,991.",
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Integer"
    },
    "CustomFieldLookup": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value from a customer-provided lookup data source.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Lookup"
    },
    "CustomFieldMultipleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A list of values from a predefined list of possible options.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object"
        }
      ],
      "title": "Multiple Select"
    },
    "CustomFieldParagraph": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A longer text paragraph.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Paragraph"
    },
    "CustomFieldRelated": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value related to the lookup custom field value, retrieved from the same data source object.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Related"
    },
    "CustomFieldShortText": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A short text (usually under 255 characters).",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Short Text"
    },
    "CustomFieldSingleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A single value from a predefined list of possible options.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Single Select"
    },
    "CustomFieldURL": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "URL string.",
              "format": "url",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "URL"
    },
    "DescribeFieldAttributes": {
      "description": "Describe field attributes.",
      "properties": {
        "custom_field": {
          "description": "Flag for determining if this is a user created custom field or an internal system field.",
          "example": false,
          "type": "boolean"
        },
        "data_type": {
          "$ref": "#/definitions/OpenApiEnum"
        },
        "name": {
          "description": "Describe field name.",
          "example": "field_name",
          "maxLength": 255,
          "type": "string"
        },
        "type_description": {
          "$ref": "#/definitions/CustomFieldEnum"
        }
      },
      "type": "object"
    },
    "DescribeFieldBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/DescribeFieldId"
        },
        "type": {
          "$ref": "#/definitions/DescribeFieldType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "DescribeFieldModel",
      "type": "object"
    },
    "DescribeFieldId": {
      "description": "Field identifier string.",
      "example": "field_name",
      "type": "string"
    },
    "DescribeFieldModel": {
      "allOf": [
        {
          "$ref": "#/definitions/DescribeFieldBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/DescribeFieldAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "DescribeFieldType": {
      "description": "Object type, should always be `describe_fields`.",
      "example": "describe_fields",
      "type": "string"
    },
    "DocusignEnvelope": {
      "allOf": [
        {
          "$ref": "#/definitions/DocusignEnvelopeBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/DocusignEnvelopeAttributes"
            },
            "relationships": {
              "$ref": "#/definitions/DocusignEnvelopeRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "DocusignEnvelopeAttributes": {
      "description": "Docusign envelope attributes",
      "properties": {
        "docusign_created_at": {
          "description": "Docusign created at timestamp",
          "example": "2023-07-25 14:11:20 UTC",
          "maxLength": 255,
          "type": "string"
        },
        "docusign_id": {
          "description": "Docusign object ID",
          "example": "5",
          "maxLength": 255,
          "type": "string"
        },
        "docusign_updated_at": {
          "description": "Docusign updated at timestamp",
          "example": "2023-07-26 16:11:17 UTC",
          "maxLength": 255,
          "type": "string"
        },
        "error_code": {
          "description": "Error Code",
          "example": "123",
          "maxLength": 255,
          "type": "string"
        },
        "error_message": {
          "description": "Error message",
          "example": "Oops, we ran into a problem",
          "maxLength": 255,
          "type": "string"
        },
        "state": {
          "description": "Current state of the Docusign Envelope",
          "example": "creating",
          "maxLength": 255,
          "type": "string"
        },
        "title": {
          "description": "Title of the Docusign envelope",
          "example": "My envelope",
          "maxLength": 255,
          "type": "string"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "DocusignEnvelopeBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/DocusignEnvelopeId"
        },
        "type": {
          "$ref": "#/definitions/DocusignEnvelopeType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "DocusignEnvelope",
      "type": "object"
    },
    "DocusignEnvelopeId": {
      "description": "Docusign envelope identifier string.",
      "example": 1,
      "type": "integer"
    },
    "DocusignEnvelopeRelationship": {
      "properties": {
        "attachments": {
          "description": "Docusign envelope list of attachments",
          "items": {
            "$ref": "#/definitions/AttachmentBase"
          },
          "type": "array"
        }
      },
      "title": "Docusign envelope relationships",
      "type": "object"
    },
    "DocusignEnvelopeType": {
      "description": "Object type, should always be `docusign_envelopes`.",
      "example": "docusign_envelopes",
      "type": "string"
    },
    "Error": {
      "properties": {
        "detail": {
          "description": "A human-readable explanation specific to this occurrence of the problem.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Errors": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "#/definitions/Error"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExternalSupplierCompanyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ExternalSupplierCompanyId"
        },
        "type": {
          "$ref": "#/definitions/ExternalSupplierCompanyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "ExternalSupplierCompany",
      "type": "object"
    },
    "ExternalSupplierCompanyId": {
      "description": "Supplier company external identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ExternalSupplierCompanyType": {
      "description": "Object type, should always be `supplier_companies`.",
      "example": "supplier_companies",
      "type": "string"
    },
    "NextPageLink": {
      "properties": {
        "next": {
          "description": "Link to the next results page.",
          "format": "url",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "OpenApiEnum": {
      "description": "OpenAPI data type.",
      "enum": [
        "string",
        "number",
        "integer",
        "boolean",
        "array",
        "object"
      ],
      "example": "string",
      "type": "string"
    },
    "PageInput": {
      "properties": {
        "size": {
          "description": "The number of results returned per page. Default is `10` and max is `100`.",
          "example": "25",
          "format": "integer",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Pagination": {
      "properties": {
        "links": {
          "$ref": "#/definitions/PaginationLinks"
        },
        "meta": {
          "description": "Result set metadata.",
          "properties": {
            "count": {
              "description": "Number of pages in the result set.",
              "type": "integer"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "PaginationLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/SelfLink"
        },
        {
          "$ref": "#/definitions/NextPageLink"
        },
        {
          "$ref": "#/definitions/PrevPageLink"
        }
      ],
      "description": "List of related links.",
      "type": "object"
    },
    "PaymentCurrency": {
      "allOf": [
        {
          "$ref": "#/definitions/PaymentCurrencyBase"
        }
      ]
    },
    "PaymentCurrencyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/PaymentCurrencyId"
        },
        "type": {
          "$ref": "#/definitions/PaymentCurrencyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Field",
      "type": "object"
    },
    "PaymentCurrencyId": {
      "description": "Payment currency identifier string.",
      "example": 1,
      "type": "integer"
    },
    "PaymentCurrencyType": {
      "description": "Object type, should always be `payment_currencies`.",
      "example": "payment_currencies",
      "type": "string"
    },
    "PrevPageLink": {
      "properties": {
        "prev": {
          "description": "Link to the previous results page.",
          "format": "url",
          "type": "string",
          "x-deprecated": true,
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "ResourceLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/SelfLink"
        }
      ],
      "description": "List of related links.",
      "type": "object"
    },
    "SelfLink": {
      "properties": {
        "self": {
          "description": "Normalized link to the resource.",
          "format": "url",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpendCategory": {
      "allOf": [
        {
          "$ref": "#/definitions/SpendCategoryBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/SpendCategoryAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "SpendCategoryAttributes": {
      "description": "Spend category attributes.",
      "properties": {
        "external_id": {
          "$ref": "#/definitions/SpendCategoryExternalId"
        },
        "name": {
          "$ref": "#/definitions/SpendCategoryName"
        },
        "usages": {
          "$ref": "#/definitions/SpendCategoryUsages"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "SpendCategoryBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SpendCategoryId"
        },
        "type": {
          "$ref": "#/definitions/SpendCategoryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "title": "SpendCategory",
      "type": "object"
    },
    "SpendCategoryExternalId": {
      "description": "Spend category external identifier string.",
      "maxLength": 255,
      "type": "string"
    },
    "SpendCategoryId": {
      "description": "Spend category identifier string.",
      "example": 1,
      "type": "integer"
    },
    "SpendCategoryName": {
      "description": "Spend category name.",
      "maxLength": 255,
      "type": "string"
    },
    "SpendCategoryType": {
      "description": "Object type, should always be `spend_categories`.",
      "example": "spend_categories",
      "type": "string"
    },
    "SpendCategoryUpdateAttributes": {
      "description": "Spend category update attributes.",
      "properties": {
        "external_id": {
          "$ref": "#/definitions/SpendCategoryExternalId"
        },
        "name": {
          "$ref": "#/definitions/SpendCategoryName"
        },
        "usages": {
          "$ref": "#/definitions/SpendCategoryUsages"
        }
      },
      "type": "object"
    },
    "SpendCategoryUsages": {
      "description": "Spend category usages. Only spend categories with `procurement` usage can be used for requisitions.",
      "items": {
        "enum": [
          "procurement",
          "expense",
          "ad_hoc_payment",
          "supplier_invoice"
        ],
        "type": "string"
      },
      "type": "array"
    },
    "StakeholderBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/StakeholderId"
        },
        "type": {
          "$ref": "#/definitions/StakeholderType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Stakeholder",
      "type": "object"
    },
    "StakeholderBaseData": {
      "properties": {
        "data": {
          "$ref": "#/definitions/StakeholderBase"
        }
      },
      "required": [
        "data"
      ],
      "title": "Stakeholder Data",
      "type": "object"
    },
    "StakeholderEmail": {
      "description": "Stakeholder's email.",
      "example": "stakeholder.email@example.com",
      "format": "email",
      "type": "string"
    },
    "StakeholderId": {
      "description": "Stakeholder identifier string.",
      "example": 1,
      "type": "integer"
    },
    "StakeholderLookup": {},
    "StakeholderMetaEmailLookup": {
      "properties": {
        "meta": {
          "description": "Search for a stakeholder by email.",
          "properties": {
            "email": {
              "$ref": "#/definitions/StakeholderEmail"
            }
          },
          "required": [
            "email"
          ],
          "type": "object"
        }
      },
      "required": [
        "meta"
      ],
      "title": "Stakeholder Meta by Email",
      "type": "object"
    },
    "StakeholderMetaIdLookup": {
      "properties": {
        "meta": {
          "description": "Search for a stakeholder by ID.",
          "properties": {
            "id": {
              "$ref": "#/definitions/StakeholderId"
            }
          },
          "required": [
            "id"
          ],
          "type": "object"
        }
      },
      "required": [
        "meta"
      ],
      "title": "Stakeholder Meta by ID",
      "type": "object"
    },
    "StakeholderType": {
      "description": "Object type, should always be `stakeholders`.",
      "example": "stakeholders",
      "type": "string"
    },
    "SupplierCompany": {
      "allOf": [
        {
          "$ref": "#/definitions/SupplierCompanyBase"
        }
      ]
    },
    "SupplierCompanyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SupplierCompanyId"
        },
        "type": {
          "$ref": "#/definitions/SupplierCompanyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "SupplierCompany",
      "type": "object"
    },
    "SupplierCompanyId": {
      "description": "Supplier company identifier string.",
      "example": 1,
      "type": "integer"
    },
    "SupplierCompanyType": {
      "description": "Object type, should always be `supplier_companies`.",
      "example": "supplier_companies",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "api_key": {
      "description": "Company API key.",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    },
    "user_email": {
      "description": "User email.",
      "in": "header",
      "name": "X-User-Email",
      "type": "apiKey"
    },
    "user_token": {
      "description": "User token.",
      "in": "header",
      "name": "X-User-Token",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "description": "Workday Strategic Sourcing API Support: Please have a Named Support Contact from your company submit a support case in Workday's Customer Center.\n",
      "name": "support",
      "x-displayName": "Customer Support"
    },
    {
      "description": "### US Region\n| Environment       | US region Base URI                                               |\n|-------------------|------------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/contracts/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/contracts/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/contracts/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/contracts/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/contracts/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/contracts/v1  |\n",
      "name": "servers",
      "x-displayName": "Servers"
    },
    {
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.1`.\n",
      "name": "api_specification",
      "x-displayName": "API Specification"
    },
    {
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n",
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields"
    },
    {
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n",
      "name": "authentication",
      "x-displayName": "Authentication"
    },
    {
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n",
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting"
    },
    {
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n",
      "name": "filters",
      "x-displayName": "Filters"
    },
    {
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n",
      "name": "pagination",
      "x-displayName": "Pagination"
    },
    {
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n",
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)"
    },
    {
      "description": "Use the contracts API to create, update, and query the contracts in Workday Strategic Sourcing.\n\n## Contract Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Contract\" exampleRef=\"#/components/examples/Contract\" showReadOnly={true} showWriteOnly={true} />\n\n## Docusign Envelope Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/DocusignEnvelope\" showReadOnly={true} showWriteOnly={true} />\n\n## Adobe Sign Agreement Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/AdobeSignAgreement\" showReadOnly={true} showWriteOnly={true} />\n\n## Adobe Sign Document Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/AdobeSignDocument\" showReadOnly={true} showWriteOnly={true} />\n",
      "name": "contracts",
      "x-displayName": "Contracts"
    },
    {
      "description": "Use the contract types API to query the contract types in Workday Strategic Sourcing.\n\nContract Types are used in the contract resource. On POST and PATCH related endpoints for this resource a contract_type_id can be added to set the contract type. The contract_type_id is a foreign key for the contract_types resource's id.\n\n## Contract Type Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ContractType\" showReadOnly={true} showWriteOnly={true} />\n",
      "name": "contract_types",
      "x-displayName": "Contract Types"
    }
  ],
  "x-components": {
    "examples": {
      "Contract": {
        "$ref": "#/x-components/examples/contract"
      },
      "Pagination": {
        "$ref": "#/x-components/examples/pagination"
      },
      "contract": {
        "value": {
          "data": {
            "attributes": {
              "actual_end_date": "2031-12-30",
              "actual_spend_amount": 11.11,
              "actual_start_date": "2028-12-30",
              "approval_rounds": 1,
              "approved_at": "2019-10-11T09:12:31.080Z",
              "auto_renewal": "yes",
              "custom_fields": [
                {
                  "name": "Custom Field Currency",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Integer",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Checkbox",
                  "value": true
                },
                {
                  "name": "Custom Field Decimal",
                  "value": 123456.78
                },
                {
                  "name": "Custom Field Date",
                  "value": "2018-12-31T00:00:00.000Z"
                },
                {
                  "name": "Custom Field Select",
                  "value": "Select Option"
                },
                {
                  "name": "Custom Field Multiple",
                  "value": [
                    "Multiple Select Option 1",
                    "Multiple Select Option 2"
                  ]
                },
                {
                  "name": "Custom Field Short Text",
                  "value": "some short text"
                },
                {
                  "name": "Custom Field Paragraph",
                  "value": "longer text than short text"
                },
                {
                  "name": "Custom Field URL",
                  "value": "http://www.example.com"
                }
              ],
              "description": "Contract Description",
              "external_id": "1234-5678-abcd-efgh",
              "first_sent_for_approval_at": "2019-10-05T05:24:12.000Z",
              "marked_as_needs_attention_at": null,
              "needs_attention": false,
              "needs_attention_note": null,
              "needs_attention_reason": null,
              "number": 1,
              "public": false,
              "renew_number_of_times": 3,
              "renewal_term_unit": "days",
              "renewal_term_value": 4,
              "renewal_termination_notice_date": "2031-07-30",
              "renewal_termination_notice_unit": "months",
              "renewal_termination_notice_value": 5,
              "renewal_termination_reminder_date": "2031-06-18",
              "renewal_termination_reminder_unit": "weeks",
              "renewal_termination_reminder_value": 6,
              "request_opened_at": null,
              "request_submitted_at": "2019-10-29T21:28:46.790Z",
              "sent_for_approval_at": "2019-10-05T05:24:12.000Z",
              "state": "in_progress",
              "state_label": "Discovery",
              "terminated_note": null,
              "terminated_reason": null,
              "title": "Contract Title",
              "updated_at": "2019-10-29T21:28:46.790Z"
            },
            "id": "1",
            "links": {
              "self": "https://api.us.workdayspend.com/services/contracts/v1/contracts/1"
            },
            "relationships": {
              "attachments": {
                "data": [
                  {
                    "id": "1",
                    "type": "attachments"
                  },
                  {
                    "id": "2",
                    "type": "attachments"
                  }
                ]
              },
              "contract_type": {
                "data": {
                  "id": "1",
                  "type": "contract_types"
                }
              },
              "creator": {
                "data": {
                  "id": "1",
                  "type": "stakeholders"
                }
              },
              "owner": {
                "data": {
                  "id": "2",
                  "type": "stakeholders"
                }
              },
              "spend_category": {
                "data": {
                  "id": "1",
                  "type": "spend_categories"
                }
              },
              "supplier_company": {
                "data": {
                  "id": "1",
                  "type": "supplier_companies"
                }
              }
            },
            "type": "contracts"
          }
        }
      },
      "create_compound_external_request": {
        "value": {
          "data": {
            "attributes": {
              "actual_end_date": "2031-12-30",
              "actual_spend_amount": "11.11",
              "actual_start_date": "2028-12-30",
              "auto_renewal": "yes",
              "custom_fields": [
                {
                  "name": "Custom Field Currency",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Integer",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Checkbox",
                  "value": true
                },
                {
                  "name": "Custom Field Decimal",
                  "value": 123456.78
                },
                {
                  "name": "Custom Field Date",
                  "value": "2018-12-31T00:00:00.000Z"
                },
                {
                  "name": "Custom Field Select",
                  "value": "Select Option"
                },
                {
                  "name": "Custom Field Multiple",
                  "value": [
                    "Multiple Select Option 1",
                    "Multiple Select Option 2"
                  ]
                },
                {
                  "name": "Custom Field Short Text",
                  "value": "some short text"
                },
                {
                  "name": "Custom Field Paragraph",
                  "value": "longer text than short text"
                },
                {
                  "name": "Custom Field URL",
                  "value": "http://www.example.com"
                }
              ],
              "description": "Contract Description",
              "external_id": "1234-5678-abcd-efgh",
              "needs_attention": false,
              "needs_attention_note": null,
              "needs_attention_reason": null,
              "renew_number_of_times": 3,
              "renewal_term_unit": "days",
              "renewal_term_value": 4,
              "renewal_termination_notice_unit": "months",
              "renewal_termination_notice_value": 5,
              "renewal_termination_reminder_unit": "weeks",
              "renewal_termination_reminder_value": 6,
              "state": "in_progress",
              "state_label": "Discovery",
              "terminated_note": null,
              "terminated_reason": null,
              "title": "Contract Title"
            },
            "relationships": {
              "external_contract_type": {
                "data": {
                  "id": "CONT1",
                  "type": "contract_types"
                }
              },
              "external_supplier_company": {
                "data": {
                  "id": "zeta",
                  "type": "supplier_companies"
                }
              },
              "owner": {
                "meta": {
                  "email": "contract.owner@example.com"
                }
              }
            },
            "type": "contracts"
          }
        }
      },
      "create_compound_preview_external_request": {
        "value": {
          "data": {
            "attributes": {
              "actual_end_date": "2031-12-30",
              "actual_spend_amount": "11.11",
              "actual_start_date": "2028-12-30",
[...]
