{
  "swagger": "2.0",
  "info": {
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n",
    "title": "Workday Strategic Sourcing Events API",
    "version": "1.2"
  },
  "host": "api.us.workdayspend.com",
  "basePath": "/services/events/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/bid_line_items": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Filter bid line items by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/BidLineItem"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of all bid line items.",
        "operationId": "List All Bid Line Items",
        "summary": "List All Bid Line Items",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items\"\n"
          }
        ]
      }
    },
    "/bid_line_items/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/BidLineItemFieldModel"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of fields for bid line item object.",
        "operationId": "Describe Bid Line Item Object",
        "summary": "Describe Bid Line Item Object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items/describe\"\n"
          }
        ]
      }
    },
    "/bid_line_items/{id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique bid line item identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BidLineItem"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "bid_line_items"
        ],
        "description": "Retrieves the details of an existing bid line item.\n",
        "operationId": "Get a Bid Line Item",
        "summary": "Get a Bid Line Item",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bid_line_items/1\"\n"
          }
        ]
      }
    },
    "/bids/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/BidFieldModel"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "bids"
        ],
        "description": "Returns a list of fields for the bid object.",
        "operationId": "Describe Bid object",
        "summary": "Describe Bid object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/describe\"\n"
          }
        ]
      }
    },
    "/bids/{bid_id}/bid_line_items": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Bid identifier.",
            "in": "path",
            "name": "bid_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/BidLineItem"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "bid_line_items"
        ],
        "description": "Returns a list of line items for a specific bid.",
        "operationId": "List Bid Line Items",
        "summary": "List Bid Line Items",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/1/bid_line_items\"\n"
          }
        ]
      }
    },
    "/bids/{id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Bid identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "enum": [
              "event",
              "supplier_company"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/BidModel"
                },
                "included": {
                  "$ref": "#/definitions/BidIncludedResources"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "bids"
        ],
        "description": "Retrieves the details of an existing bid. You need to supply the unique bid\nidentifier that was returned upon bid creation.\n",
        "operationId": "Get a Bid",
        "summary": "Get a Bid",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/bids/1\"\n"
          }
        ]
      }
    },
    "/event_templates": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/EventTemplateModel"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/definitions/SelfLink"
                    },
                    "meta": {
                      "description": "Result set metadata.",
                      "properties": {
                        "count": {
                          "description": "Number of pages in the result set.",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "event_templates"
        ],
        "description": "Returns a list of all event templates.",
        "operationId": "List Event Templates",
        "summary": "List Event Templates",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates\"\n"
          }
        ]
      }
    },
    "/event_templates/{id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique event template identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EventTemplateModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_templates"
        ],
        "description": "Retrieves the details of an existing event template.\n",
        "operationId": "Get an Event Template",
        "summary": "Get an Event Template",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/event_templates/1\"\n"
          }
        ]
      }
    },
    "/events": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Filter events by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          },
          {
            "description": "Customize pagination results with `size`.\n",
            "in": "query",
            "name": "page",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/Event"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "events"
        ],
        "description": "Returns a list of events for the specified criteria.",
        "operationId": "List Events",
        "summary": "List Events",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EventCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Event"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "422": {
            "description": "Unprocessable Entity",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "events"
        ],
        "description": "Events can only be created from a template. When a creation request is issued, the base event\nobject will be created from the template and returned with the response. Child records\nsuch as attachments, price sheets and custom values, will be scheduled for copy asynchronously.\nCurrent duplication status can be retrieved from the `duplication_state` attribute, which will have\none of following values:\n\n* `scheduled` - duplication is scheduled, but not yet started;\n* `started` - duplication started, but not yet finished;\n* `finished` - duplication completed;\n* `failed` - there was an error duplicating relationships.\n\nAn event should always have an associated project. Please make sure to specify it as a\nrelationship object.\n\nA new event will automatically inherit its spend category from the event template.\n\nPlease note, this endpoint does not support auction creation/duplication.\n",
        "operationId": "Create an Event",
        "summary": "Create an Event",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"events\",\"attributes\":{\"duplicate_bids\":true},\"relationships\":{\"event_template\":{\"data\":{\"id\":\"1\",\"type\":\"event_templates\"}}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events\"\n"
          }
        ]
      }
    },
    "/events/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/EventFieldModel"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "events"
        ],
        "description": "Returns the list of fields for the event object.",
        "operationId": "Describe Event Object",
        "summary": "Describe Event Object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/describe\"\n"
          }
        ]
      }
    },
    "/events/{event_external_id}/relationships/supplier_companies/external_id": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event external identifier.",
            "in": "path",
            "name": "event_external_id",
            "required": true,
            "type": "string",
            "x-example": "EVENT1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Remove suppliers from an event. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier companies too.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers using External IDs",
        "summary": "Remove Suppliers using External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event external identifier.",
            "in": "path",
            "name": "event_external_id",
            "required": true,
            "type": "string",
            "x-example": "EVENT1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Add suppliers to an event. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier companies too.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers using External IDs",
        "summary": "Add Suppliers using External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      }
    },
    "/events/{event_external_id}/relationships/supplier_contacts/external_id": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event external identifier.",
            "in": "path",
            "name": "event_external_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Remove suppliers from an event using supplier contacts. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts External IDs",
        "summary": "Remove Suppliers using Contacts External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event external identifier.",
            "in": "path",
            "name": "event_external_id",
            "required": true,
            "type": "string",
            "x-example": "EVENT1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Add suppliers to an event using supplier contacts. Only events of type `RFP` are supported.\n\nYou must supply the unique event external identifier (the one you used when created the event).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts External IDs",
        "summary": "Add Suppliers using Contacts External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"SUP5\" },{ \"type\": \"supplier_contacts\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/EVENT1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/bids": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Filter bids by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "enum": [
              "event",
              "supplier_company"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "description": "Customize pagination results with `size`.\n",
            "in": "query",
            "name": "page",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/BidModel"
                      },
                      "type": "array"
                    },
                    "included": {
                      "$ref": "#/definitions/BidIncludedResources"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "bids"
        ],
        "description": "Returns a list of all bids.\nOnly bids for events of type `RFP` are returned.\n",
        "operationId": "List Bids",
        "summary": "List Bids",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/bids\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/relationships/supplier_companies": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyBase",
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Remove suppliers from an event. Only events of type `RFP` are supported.\n\nThe operation will be rolled back upon any failure, and invitations won't be removed.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers",
        "summary": "Remove Suppliers",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_companies\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_companies"
        ],
        "description": "Add suppliers to an event. Only events of type `RFP` are supported.\n\nThe operation will be rolled back upon any failure, and invitations won't be sent.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers",
        "summary": "Add Suppliers",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_companies\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/relationships/supplier_contacts": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Remove suppliers from an event using supplier contacts. Only events of type `RFP` are supported.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts",
        "summary": "Remove Suppliers using Contacts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "event_supplier_contacts"
        ],
        "description": "Add suppliers to an event using supplier contacts. Only events of type `RFP` are supported.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts",
        "summary": "Add Suppliers using Contacts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/relationships/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/WorksheetModel"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/definitions/SelfLink"
                    },
                    "meta": {
                      "description": "Result set metadata.",
                      "properties": {
                        "count": {
                          "description": "Number of pages in the result set.",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "worksheets"
        ],
        "description": "Returns a list of all worksheets.",
        "operationId": "List Worksheets",
        "summary": "List Worksheets",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Unique Worksheet identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/WorksheetModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "worksheets"
        ],
        "description": "Retrieves the details of an existing worksheet. You need to supply the unique worksheet\nidentifier that was returned upon worksheet creation.\n",
        "operationId": "Get a Worksheet",
        "summary": "Get a Worksheet",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/LineItem"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Returns a list of line items for the specified criteria.",
        "operationId": "List Line Items",
        "summary": "List Line Items",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItemCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItem"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Create a line item with given cell values.\n",
        "operationId": "Create a Line Item",
        "summary": "Create a Line Item",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\":14}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items/bulk": {
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "properties": {
                      "attributes": {
                        "$ref": "#/definitions/LineItemAttributes"
                      },
                      "type": {
                        "$ref": "#/definitions/LineItemType"
                      }
                    },
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItem"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Create multiple line items in a given worksheet. You can create up to 200 line items in\na single request.\n",
        "operationId": "Bulk Create Line Items",
        "summary": "Bulk Create Line Items",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\":14}}}]}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/bulk\"\n"
          }
        ]
      }
    },
    "/events/{event_id}/worksheets/{worksheet_id}/line_items/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Unique line item identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Deletes a line item. You need to supply the unique line item\nidentifier that was returned upon line item creation.\n",
        "operationId": "Delete a Line Item",
        "summary": "Delete a Line Item",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Unique line item identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItem"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Retrieves the details of an existing line item. You need to supply the unique line item\nidentifier that was returned upon line item creation.\n",
        "operationId": "Get a Line Item",
        "summary": "Get a Line Item",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Event identifier.",
            "in": "path",
            "name": "event_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Worksheet identifier.",
            "in": "path",
            "name": "worksheet_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Unique line item identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItemUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/LineItem"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "line_items"
        ],
        "description": "Updates the details of an existing line item. You need to supply the unique\nline item that was returned upon line item creation.\n\nPlease note, that request body must include the `id` attribute with the value of your\nline item unique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Line Item",
        "summary": "Update a Line Item",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"line_items\",\"attributes\":{\"data\":{\"c1\":\"Product One\",\"c2\":\"items\",\"c3\": 14}}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1/worksheets/1/line_items/2\"\n"
          }
        ]
      }
    },
    "/events/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique Event identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "events"
        ],
        "description": "Deletes an event. You need to supply the unique event\nidentifier that was returned upon event creation.\n",
        "operationId": "Delete an Event",
        "summary": "Delete an Event",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Event identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Event"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "events"
        ],
        "description": "Retrieves the details of an existing event. You need to supply the unique event\nidentifier that was returned upon event creation.\n",
        "operationId": "Get an Event",
        "summary": "Get an Event",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Event identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EventUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Event"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "events"
        ],
        "description": "Updates the details of an existing event. You need to supply the unique\nidentifier that was returned upon event creation.\n\nPlease note, that request body must include an `id` attribute with the value of your event\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update an Event",
        "summary": "Update an Event",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"events\",\"id\":\"2\",\"attributes\":{\"title\":\"Event title updated\"}}}' \\\n     \"https://api.us.workdayspend.com/services/events/v1/events/2\"\n"
          }
        ]
      }
    },
    "/worksheets/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/WorksheetFieldModel"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "worksheets"
        ],
        "description": "Returns a list of fields for the worksheet object.",
        "operationId": "Describe Worksheet object",
        "summary": "Describe Worksheet object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/events/v1/worksheets/describe\"\n"
          }
        ]
      }
    }
  },
  "definitions": {
    "Attachment": {
      "allOf": [
        {
          "$ref": "#/definitions/AttachmentBase"
        }
      ]
    },
    "AttachmentBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/AttachmentId"
        },
        "type": {
          "$ref": "#/definitions/AttachmentType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Attachment",
      "type": "object"
    },
    "AttachmentId": {
      "description": "Attachment identifier string.",
      "example": 1,
      "type": "integer"
    },
    "AttachmentType": {
      "description": "Object type, should always be `attachments`.",
      "example": "attachments",
      "type": "string"
    },
    "Bid": {
      "allOf": [
        {
          "$ref": "#/definitions/BidBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/BidAttributes"
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            },
            "relationships": {
              "$ref": "#/definitions/BidRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "BidAttributes": {
      "description": "Bid attributes.",
      "properties": {
        "intend_to_bid": {
          "description": "Identifies whether the supplier intends to bid on the event",
          "example": true,
          "readOnly": true,
          "type": "boolean"
        },
        "intend_to_bid_answered_at": {
          "description": "Identifies the most recent time the supplier updated `intend_to_bid`.",
          "example": "2021-02-24T09:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "resubmitted_at": {
          "description": "Identifies the most recent time the supplier submitted their bid.",
          "example": "2021-02-26T09:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "$ref": "#/definitions/BidStatusEnum"
        },
        "submitted_at": {
          "description": "Identifies the first time the supplier submitted their bid.",
          "example": "2021-02-25T09:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BidBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/BidId"
        },
        "type": {
          "$ref": "#/definitions/BidType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Bid",
      "type": "object"
    },
    "BidFieldModel": {
      "allOf": [
        {
          "properties": {
            "type": {
              "description": "Object type, should always be `bid_fields`.",
              "example": "bid_fields",
              "type": "string"
            }
          },
          "type": "object"
        },
        {
          "$ref": "#/definitions/DescribeFieldModel"
        }
      ]
    },
    "BidId": {
      "description": "Bid identifier string.",
      "example": 1,
      "type": "integer"
    },
    "BidIncludedResources": {
      "items": {},
      "type": "array"
    },
    "BidInputFilter": {
      "properties": {
        "id_equals": {
          "description": "Find bids by specific IDs.",
          "example": [
            1,
            2
          ],
          "type": "integer"
        },
        "intend_to_bid_answered_at_from": {
          "description": "Return bids with `intend_to_bid` updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "intend_to_bid_answered_at_to": {
          "description": "Return bids with `intend_to_bid` updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "intend_to_bid_equals": {
          "description": "Return bids with the specified \"intent to bid\" status.",
          "type": "boolean"
        },
        "intend_to_bid_not_equals": {
          "description": "Return bids with the specified \"intent to bid\" status not equal to the specified one.",
          "type": "boolean"
        },
        "resubmitted_at_from": {
          "description": "Return bids with `resubmitted_at` updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "resubmitted_at_to": {
          "description": "Return bids with `resubmitted_at` updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "status_equals": {
          "description": "Find bids with specified statuses.",
          "example": [
            "awarded",
            "award_retracted"
          ],
          "items": {
            "$ref": "#/definitions/BidStatusEnum"
          },
          "type": "array"
        },
        "submitted_at_from": {
          "description": "Return bids with `submitted_at` updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "submitted_at_to": {
          "description": "Return bids with `submitted_at` updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "supplier_company_external_id_equals": {
          "description": "Find bids by specific Supplier Company External IDs.",
          "example": "SUP-123",
          "type": "string"
        },
        "supplier_company_id_equals": {
          "description": "Find bids by specific Supplier Company IDs.",
          "example": 1,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BidLineItem": {
      "allOf": [
        {
          "$ref": "#/definitions/BidLineItemBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/BidLineItemAttributes"
            },
            "relationships": {
              "$ref": "#/definitions/BidLineItemRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "BidLineItemAttributes": {
      "description": "BidLineItem attributes.",
      "properties": {
        "data": {
          "additionalProperties": {
            "description": "Bid line item cell value.",
            "x-additionalPropertiesName": "value"
          },
          "description": "A hashmap where keys are data identifier strings for the columns in the worksheet,\nand values are cell values. The list of columns only includes supplier mutable columns.\nColumns like title, description can be retrieved using the Line Items API.\n",
          "properties": {
            "data_identifier": {
              "description": "Worksheet column identifier string.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "updated_at": {
          "description": "Last modification date.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "data"
      ],
      "type": "object"
    },
    "BidLineItemBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/BidLineItemId"
        },
        "type": {
          "$ref": "#/definitions/BidLineItemType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "BidLineItem",
      "type": "object"
    },
    "BidLineItemFieldModel": {
      "allOf": [
        {
          "properties": {
            "type": {
              "description": "Object type, should always be `bid_line_item_fields`.",
              "example": "bid_line_item_fields",
              "type": "string"
            }
          },
          "type": "object"
        },
        {
          "$ref": "#/definitions/DescribeFieldModel"
        }
      ]
    },
    "BidLineItemId": {
      "description": "BidLineItem identifier string.",
      "example": 1,
      "type": "integer"
    },
    "BidLineItemInputFilter": {
      "properties": {
        "bid_id_equals": {
          "description": "Return bid line items of a specific bid.",
          "example": 1,
          "type": "integer"
        },
        "event_id_equals": {
          "description": "Return bid line items of a specific event.",
          "example": 1,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "BidLineItemRelationship": {
      "description": "Bid line item relationship.",
      "properties": {
        "bid": {
          "properties": {
            "data": {
              "$ref": "#/definitions/BidBase"
            }
          },
          "type": "object"
        },
        "event": {
          "properties": {
            "data": {
              "$ref": "#/definitions/EventBase"
            }
          },
          "type": "object"
        },
        "line_item": {
          "properties": {
            "data": {
              "$ref": "#/definitions/LineItemBase"
            }
          },
          "type": "object"
        },
        "worksheets": {
          "properties": {
            "data": {
              "$ref": "#/definitions/WorksheetBase"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "BidLineItemType": {
      "description": "Object type, should always be `bid_line_items`.",
      "example": "bid_line_items",
      "type": "string"
    },
    "BidModel": {
      "allOf": [
        {
          "$ref": "#/definitions/BidBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/BidAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "BidRelatedResources": {
      "enum": [
        "event",
        "supplier_company"
      ],
      "type": "string"
    },
    "BidRelationship": {
      "description": "Bid relationships.",
      "properties": {
        "event": {
          "description": "Event associated with this bid.",
          "properties": {
            "data": {
              "$ref": "#/definitions/EventBase"
            }
          },
          "type": "object"
        },
        "supplier_company": {
          "description": "Supplier Company associated with this bid.",
          "properties": {
            "data": {
              "$ref": "#/definitions/SupplierCompanyBase"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "BidStatusEnum": {
      "description": "Current bid status.",
      "enum": [
        "award_retracted",
        "awarded",
        "draft",
        "rejected",
        "rejection_retracted",
        "resubmitted",
        "revising",
        "submitted",
        "unclaimed",
        "update_requested"
      ],
      "example": "unclaimed",
      "type": "string"
    },
    "BidType": {
      "description": "Object type, should always be `bids`.",
      "example": "bids",
      "type": "string"
    },
    "CommodityCodeBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/CommodityCodeId"
        },
        "type": {
          "$ref": "#/definitions/CommodityCodeType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "CommodityCode",
      "type": "object"
    },
    "CommodityCodeId": {
      "description": "Commodity code identifier string.",
      "example": 1,
      "type": "integer"
    },
    "CommodityCodeType": {
      "description": "Object type, should always be `commodity_codes`.",
      "example": "commodity_codes",
      "type": "string"
    },
    "CustomField": {},
    "CustomFieldBase": {
      "properties": {
        "name": {
          "description": "Custom field name.",
          "example": "My Custom Field",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomFieldCheckbox": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "example": true,
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "title": "Checkbox"
    },
    "CustomFieldCurrency": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A currency value represented as an integer. The maximum value is 9,007,199,254,740,991.",
              "format": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Currency"
    },
    "CustomFieldDate": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A date value.",
              "format": "date",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Date"
    },
    "CustomFieldDecimal": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A decimal value represented as a number with floating point.",
              "format": "decimal",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Decimal"
    },
    "CustomFieldEnum": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldEnumExtended": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related",
        "Single Relationship",
        "Multiple Relationship"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldInteger": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "An integer value. The maximum value is 9,007,199,254,740,991.",
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Integer"
    },
    "CustomFieldLookup": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value from a customer-provided lookup data source.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Lookup"
    },
    "CustomFieldMultipleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A list of values from a predefined list of possible options.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object"
        }
      ],
      "title": "Multiple Select"
    },
    "CustomFieldParagraph": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A longer text paragraph.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Paragraph"
    },
    "CustomFieldRelated": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value related to the lookup custom field value, retrieved from the same data source object.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Related"
    },
    "CustomFieldShortText": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A short text (usually under 255 characters).",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Short Text"
    },
    "CustomFieldSingleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A single value from a predefined list of possible options.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Single Select"
    },
    "CustomFieldURL": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "URL string.",
              "format": "url",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "URL"
    },
    "DescribeFieldAttributes": {
      "description": "Describe field attributes.",
      "properties": {
        "custom_field": {
          "description": "Flag for determining if this is a user created custom field or an internal system field.",
          "example": false,
          "type": "boolean"
        },
        "data_type": {
          "$ref": "#/definitions/OpenApiEnum"
        },
        "name": {
          "description": "Describe field name.",
          "example": "field_name",
          "maxLength": 255,
          "type": "string"
        },
        "type_description": {
          "$ref": "#/definitions/CustomFieldEnum"
        }
      },
      "type": "object"
    },
    "DescribeFieldBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/DescribeFieldId"
        },
        "type": {
          "$ref": "#/definitions/DescribeFieldType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "DescribeFieldModel",
      "type": "object"
    },
    "DescribeFieldId": {
      "description": "Field identifier string.",
      "example": "field_name",
      "type": "string"
    },
    "DescribeFieldModel": {
      "allOf": [
        {
          "$ref": "#/definitions/DescribeFieldBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/DescribeFieldAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "DescribeFieldType": {
      "description": "Object type, should always be `describe_fields`.",
      "example": "describe_fields",
      "type": "string"
    },
    "Error": {
      "properties": {
        "detail": {
          "description": "A human-readable explanation specific to this occurrence of the problem.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Errors": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "#/definitions/Error"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Event": {
      "allOf": [
        {
          "$ref": "#/definitions/EventBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/EventAttributes"
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            },
            "relationships": {
              "$ref": "#/definitions/EventRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "EventAttributes": {
      "description": "Event attributes.",
      "properties": {
        "bid_submission_deadline": {
          "description": "Identifies the last point in time when suppliers are allowed to make bids.",
          "example": "2019-09-13T11:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "closed_at": {
          "description": "Date and time when event was closed.",
          "example": "2019-09-23T11:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "created_at": {
          "description": "Date and time when event was created.",
          "example": "2019-09-23T11:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "custom_fields": {
          "description": "Custom field values. Note: custom fields of type File can only be accessed through the user interface, they will be only exposed as `null` in the public API.",
          "items": {
            "$ref": "#/definitions/CustomField"
          },
          "type": "array"
        },
        "duplication_state": {
          "$ref": "#/definitions/EventDuplicationStateEnum"
        },
        "event_type": {
          "$ref": "#/definitions/EventTypeEnum"
        },
        "external_id": {
          "description": "Event ID in your internal database.",
          "example": "1234-5678-abcd-efgh",
          "type": "string"
        },
        "instant_notifications": {
          "description": "When set to true, notification emails will be sent immediately;\nwhen false - notifications will be deliverd once every 3 hours in a digest form.\n",
          "type": "boolean"
        },
        "is_public": {
          "description": "Identifies whether event is accessible for suppliers by self-registration.",
          "example": false,
          "readOnly": true,
          "type": "boolean"
        },
        "late_bids": {
          "description": "Identifies whether late bid submissions are allowed.",
          "example": true,
          "type": "boolean"
        },
        "published_at": {
          "description": "Date and time when event was published.",
          "example": "2019-09-23T11:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "request_type": {
          "description": "Request type.",
          "example": "RFP",
          "readOnly": true,
          "type": "string"
        },
        "restricted": {
          "description": "Restricted events are invitation only even when posted on the public site.",
          "example": false,
          "readOnly": false,
          "type": "boolean"
        },
        "revise_bids": {
          "description": "Identifies whether suppliers are allowed to re-submit bids.",
          "example": false,
          "type": "boolean"
        },
        "spend_amount": {
          "description": "Actual spend amount used to calculate savings and keep reporting up to date.",
          "example": 12113,
          "format": "double",
          "type": "number"
        },
        "state": {
          "$ref": "#/definitions/EventStateEnum"
        },
        "supplier_question_deadline": {
          "description": "Questions from suppliers will no longer be accepted after this point in time.",
          "example": "2019-09-12T05:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "supplier_rsvp_deadline": {
          "description": "RSVPs will no longer be accepted after this point in time.",
          "example": "2019-09-11T09:12:31.000Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "description": "An event title.",
          "example": "New Event",
          "type": "string"
        }
      },
      "required": [
        "title"
      ],
      "type": "object"
    },
    "EventBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/EventId"
        },
        "type": {
          "$ref": "#/definitions/EventType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Event",
      "type": "object"
    },
    "EventCreate": {
      "properties": {
        "attributes": {
          "description": "Event creation attributes.",
          "properties": {
            "duplicate_bids": {
              "description": "Identifies whether bids should be duplicated.",
              "type": "boolean"
            },
            "external_id": {
              "description": "Event ID in your internal database.",
              "type": "string"
            },
            "is_public": {
              "description": "Identifies whether event should be created as public or private.",
              "type": "boolean"
            },
            "restricted": {
              "description": "Restricted events are invitation only even when posted on the public site.",
              "type": "boolean"
            }
          },
          "type": "object"
        },
        "relationships": {
          "description": "Event relationships.",
          "properties": {
            "event_template": {
              "description": "An event template used to create this event.",
              "properties": {
                "data": {
                  "$ref": "#/definitions/EventTemplateBase"
                }
              },
              "type": "object"
            },
            "project": {
              "description": "Project associated with this event.",
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectBase"
                }
              },
              "type": "object"
            }
          },
          "required": [
            "event_template",
            "project"
          ],
          "type": "object"
        },
        "type": {
          "$ref": "#/definitions/EventType"
        }
      },
      "required": [
        "type",
        "relationships"
      ],
      "type": "object"
    },
    "EventDuplicationStateEnum": {
      "description": "Event duplication state:\n  * `scheduled` - duplication is scheduled, but not yet started;\n  * `started` - duplication started, but not yet finished;\n  * `finished` - duplication completed;\n  * `failed` - there was an error duplicating relationships.\n",
      "enum": [
        "scheduled",
        "started",
        "finished",
        "failed"
      ],
      "example": "finished",
      "readOnly": true,
      "type": "string"
    },
    "EventExternal": {
      "allOf": [
        {
          "$ref": "#/definitions/EventBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/EventExternalAttributes"
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            }
          },
          "type": "object"
        }
      ]
    },
    "EventExternalAttributes": {
      "description": "Event attributes.",
      "properties": {
        "external_id": {
          "description": "Event ID in your internal database.",
          "example": "1234-5678-abcd-efgh",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventFieldModel": {
      "allOf": [
        {
          "properties": {
            "type": {
              "description": "Object type, should always be `event_fields`.",
              "example": "event_fields",
              "type": "string"
            }
          },
          "type": "object"
        },
        {
          "$ref": "#/definitions/DescribeFieldModel"
        }
      ]
    },
    "EventId": {
      "description": "Event identifier string.",
      "example": 1,
      "type": "integer"
    },
    "EventInputFilter": {
      "properties": {
        "bid_submission_deadline_empty": {
          "description": "Return events with bid submission deadline not set.",
          "example": true,
          "type": "boolean"
        },
        "bid_submission_deadline_from": {
          "description": "Return events with bid submission deadline on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "bid_submission_deadline_not_empty": {
          "description": "Return events with bid submission deadline set to a non-empty value.",
          "example": false,
          "type": "boolean"
        },
        "bid_submission_deadline_to": {
          "description": "Return events with bid submission deadline on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "closed_at_empty": {
          "description": "Return events without closed timestamp.",
          "example": true,
          "type": "boolean"
        },
        "closed_at_from": {
          "description": "Return events closed on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "closed_at_not_empty": {
          "description": "Return events with closed timestamp.",
          "example": false,
          "type": "boolean"
        },
        "closed_at_to": {
          "description": "Return events closed on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "created_at_from": {
          "description": "Return events created on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "created_at_to": {
          "description": "Return events created on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "event_type_equals": {
          "description": "Find events with specified types.",
          "example": [
            "RFP",
            "AUCTION"
          ],
          "items": {
            "$ref": "#/definitions/EventTypeEnum"
          },
          "type": "array"
        },
        "external_id_empty": {
          "description": "Return contracts with `external_id` blank.",
          "example": true,
          "type": "boolean"
        },
        "external_id_equals": {
          "description": "Find contracts by a specific external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "external_id_not_empty": {
          "description": "Return contracts with non-blank `external_id`.",
          "example": false,
          "type": "boolean"
        },
        "external_id_not_equals": {
          "description": "Find contracts excluding the one with the specified external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "published_at_empty": {
          "description": "Return events without published timestamp.",
          "example": true,
          "type": "boolean"
        },
        "published_at_from": {
          "description": "Return events published on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "published_at_not_empty": {
          "description": "Return events with published timestamp.",
          "example": false,
          "type": "boolean"
        },
        "published_at_to": {
          "description": "Return events published on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date",
          "type": "string"
        },
        "request_type_equals": {
          "description": "Find events with specified request types.",
          "example": [
            "Rfp",
            "RFQ"
          ],
          "items": {
            "description": "Event request type.",
            "example": "RFQ",
            "type": "string"
          },
          "type": "array"
        },
        "spend_amount_empty": {
          "description": "Return events with spend amount not set.",
          "example": true,
          "type": "boolean"
        },
        "spend_amount_from": {
          "description": "Return events with spend amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "spend_amount_not_empty": {
          "description": "Return events with spend amount set to a non-empty value.",
          "example": false,
          "type": "boolean"
        },
        "spend_amount_to": {
          "description": "Return events with spend amount equal or less than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "spend_category_id_equals": {
          "description": "Find events using the specified Spend Category IDs",
          "example": [
            1,
            2
          ],
          "items": {
            "type": "integer"
          },
          "type": "array"
        },
        "state_equals": {
          "description": "Find events with specified states.",
          "example": [
            "draft",
            "scheduled"
          ],
          "items": {
            "$ref": "#/definitions/EventStateEnum"
          },
          "type": "array"
        },
        "supplier_question_deadline_empty": {
          "description": "Return events with supplier questions deadline not set.",
          "example": true,
          "type": "boolean"
        },
        "supplier_question_deadline_from": {
          "description": "Return events with supplier questions deadline on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "supplier_question_deadline_not_empty": {
          "description": "Return events with supplier questions deadline set to a non-empty value.",
          "example": false,
          "type": "boolean"
        },
        "supplier_question_deadline_to": {
          "description": "Return events with supplier questions deadline on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "supplier_rsvp_deadline_empty": {
          "description": "Return events with supplier RSVP deadline not set.",
          "example": true,
          "type": "boolean"
        },
        "supplier_rsvp_deadline_from": {
          "description": "Return events with supplier RSVP deadline on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "supplier_rsvp_deadline_not_empty": {
          "description": "Return events with supplier RSVP deadline set to a non-empty value.",
          "example": false,
          "type": "boolean"
        },
        "supplier_rsvp_deadline_to": {
          "description": "Return events with supplier RSVP deadline on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "title_contains": {
          "description": "Return events with title containing the specified string.",
          "type": "string"
        },
        "title_not_contains": {
          "description": "Return events with title not containing the specified string.",
          "type": "string"
        },
        "updated_at_from": {
          "description": "Return events updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "updated_at_to": {
          "description": "Return events updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventRelationship": {
      "description": "Event relationships.",
      "properties": {
        "attachments": {
          "description": "A list of attachments attached to this event.",
          "items": {
            "$ref": "#/definitions/AttachmentBase"
          },
          "type": "array"
        },
        "commodity_codes": {
          "description": "A list of commodity codes added to this event.",
          "items": {
            "$ref": "#/definitions/CommodityCodeBase"
          },
          "type": "array"
        },
        "event_template": {
          "description": "An event template used to create this event.",
          "properties": {
            "data": {
              "$ref": "#/definitions/EventTemplateBase"
            }
          },
          "type": "object"
        },
        "project": {
          "description": "Project associated with this event.",
          "properties": {
            "data": {
              "$ref": "#/definitions/ProjectBase"
            }
[...]
