{
  "swagger": "2.0",
  "info": {
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n",
    "title": "Workday Strategic Sourcing Projects API",
    "version": "1.0"
  },
  "host": "api.us.workdayspend.com",
  "basePath": "/services/projects/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/project_types": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ProjectTypeModel"
                      },
                      "type": "array"
                    },
                    "links": {
                      "$ref": "#/definitions/SelfLink"
                    },
                    "meta": {
                      "description": "Result set metadata.",
                      "properties": {
                        "count": {
                          "description": "Number of pages in the result set.",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              ]
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "project_types"
        ],
        "description": "Returns a list of all project types.",
        "operationId": "List Project Types",
        "summary": "List Project Types",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/project_types\"\n"
          }
        ]
      }
    },
    "/project_types/{id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique project type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectTypeModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_types"
        ],
        "description": "Retrieves the details of an existing project type.\n",
        "operationId": "Get a Project Type",
        "summary": "Get a Project Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/project_types/1\"\n"
          }
        ]
      }
    },
    "/projects": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Filter projects by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          },
          {
            "description": "Customize pagination results with `size`.\n",
            "in": "query",
            "name": "page",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/Project"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Returns a list of projects for the specified criteria.",
        "operationId": "List Projects",
        "summary": "List Projects",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Project"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Create a project with given attributes.\n",
        "operationId": "Create a Project",
        "summary": "Create a Project",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"projects\",\"attributes\":{\"title\":\"My Project\"}}}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects\"\n"
          }
        ]
      }
    },
    "/projects/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ProjectFieldModel"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Returns a list of fields for the project object.",
        "operationId": "Describe Project object",
        "summary": "Describe Project object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/describe\"\n"
          }
        ]
      }
    },
    "/projects/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Deletes a project. You need to supply the unique project\nexternal identifier (the one you used when created the project).\n",
        "operationId": "Delete a Project by External ID",
        "summary": "Delete a Project by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/SUP-1234/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Project"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Retrieves the details of an existing project. You need to supply the unique\nproject external identifier (the one you used when created the project).\n",
        "operationId": "Get a Project by External ID",
        "summary": "Get a Project by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/SUP-1234/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Project"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Updates the details of an existing project. You need to supply the unique project\nexternal identifier (the one you used when created the project).\n\nPlease note, that request body must include an `id` attribute with the value of your project\nexternal identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Project by External ID",
        "summary": "Update a Project by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"projects\",\"id\":\"SUP-1234\",attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/SUP-1234/external_id\"\n"
          }
        ]
      }
    },
    "/projects/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique Project identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Deletes a project. You need to supply the unique project\nidentifier that was returned upon project creation.\n",
        "operationId": "Delete a Project",
        "summary": "Delete a Project",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Project identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Project"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Retrieves the details of an existing project. You need to supply the unique project\nidentifier that was returned upon project creation.\n",
        "operationId": "Get a Project",
        "summary": "Get a Project",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Project identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Project"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "projects"
        ],
        "description": "Updates the details of an existing project. You need to supply the unique supplier\nproject that was returned upon project creation.\n\nPlease note, that request body must include an `id` attribute with the value of your project\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Project",
        "summary": "Update a Project",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"projects\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1\"\n"
          }
        ]
      }
    },
    "/projects/{project_external_id}/relationships/supplier_companies/external_id": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "project_external_id",
            "required": true,
            "type": "string",
            "x-example": "PRJ1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_companies"
        ],
        "description": "Remove suppliers from a project.\n\nYou must supply the unique project external identifier (the one you used when created the project).\n\nYou must supply the external identifiers of the supplier companies too.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers using External IDs",
        "summary": "Remove Suppliers using External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/PRJ1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "project_external_id",
            "required": true,
            "type": "string",
            "x-example": "PRJ1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_companies"
        ],
        "description": "Add suppliers to a project.\n\nYou must supply the unique project external identifier (the one you used when created the project).\n\nYou must supply the external identifiers of the supplier companies too.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers using External IDs",
        "summary": "Add Suppliers using External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"SUP5\" },{ \"type\": \"supplier_companies\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/PRJ1/relationships/supplier_companies/external_id\"\n"
          }
        ]
      }
    },
    "/projects/{project_external_id}/relationships/supplier_contacts/external_id": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "project_external_id",
            "required": true,
            "type": "string",
            "x-example": "PRJ1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_contacts"
        ],
        "description": "Remove suppliers from a project using supplier contacts.\n\nYou must supply the unique project external identifier (the one you used when created the project).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts External IDs",
        "summary": "Remove Suppliers using Contacts External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"SUP5\" },{ \"type\": \"supplier_contacts\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/PRJ1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project external identifier.",
            "in": "path",
            "name": "project_external_id",
            "required": true,
            "type": "string",
            "x-example": "PRJ1"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ExternalSupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_contacts"
        ],
        "description": "Add suppliers to a project using supplier contacts.\n\nYou must supply the unique project external identifier (the one you used when created the project).\n\nYou must supply the external identifiers of the supplier contacts too.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts External IDs",
        "summary": "Add Suppliers using Contacts External IDs",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"SUP5\" },{ \"type\": \"supplier_contacts\", \"id\": \"SUP11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/PRJ1/relationships/supplier_contacts/external_id\"\n"
          }
        ]
      }
    },
    "/projects/{project_id}/relationships/supplier_companies": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project identifier.",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyBase",
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_companies"
        ],
        "description": "Remove suppliers from a project.\n\nFor best performance, we recommend removing 10 or less suppliers in a single request.\n",
        "operationId": "Remove Suppliers",
        "summary": "Remove Suppliers",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1/relationships/supplier_companies\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project identifier.",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCompanyBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_companies"
        ],
        "description": "Add suppliers to a project.\n\nFor best performance, we recommend inviting 10 or less suppliers in a single request.\n",
        "operationId": "Add Suppliers",
        "summary": "Add Suppliers",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_companies\", \"id\": \"5\" },{ \"type\": \"supplier_companies\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1/relationships/supplier_companies\"\n"
          }
        ]
      }
    },
    "/projects/{project_id}/relationships/supplier_contacts": {
      "delete": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project identifier.",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_contacts"
        ],
        "description": "Remove suppliers from a project using supplier contacts.\n\nFor best performance, we recommend removing 10 or less supplier contacts in a single request.\n",
        "operationId": "Remove Suppliers using Contacts",
        "summary": "Remove Suppliers using Contacts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1/relationships/supplier_contacts\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Project identifier.",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierContactBase"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "project_supplier_contacts"
        ],
        "description": "Add suppliers to a project using supplier contacts.\n\nFor best performance, we recommend inviting 10 or less supplier contacts in a single request.\n",
        "operationId": "Add Suppliers using Contacts",
        "summary": "Add Suppliers using Contacts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":[{ \"type\": \"supplier_contacts\", \"id\": \"5\" },{ \"type\": \"supplier_contacts\", \"id\": \"11\" }]}' \\\n     \"https://api.us.workdayspend.com/services/projects/v1/projects/1/relationships/supplier_contacts\"\n"
          }
        ]
      }
    }
  },
  "definitions": {
    "Attachment": {
      "allOf": [
        {
          "$ref": "#/definitions/AttachmentBase"
        }
      ]
    },
    "AttachmentBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/AttachmentId"
        },
        "type": {
          "$ref": "#/definitions/AttachmentType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Attachment",
      "type": "object"
    },
    "AttachmentId": {
      "description": "Attachment identifier string.",
      "example": 1,
      "type": "integer"
    },
    "AttachmentType": {
      "description": "Object type, should always be `attachments`.",
      "example": "attachments",
      "type": "string"
    },
    "CustomField": {},
    "CustomFieldBase": {
      "properties": {
        "name": {
          "description": "Custom field name.",
          "example": "My Custom Field",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomFieldCheckbox": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "example": true,
              "type": "boolean"
            }
          },
          "type": "object"
        }
      ],
      "title": "Checkbox"
    },
    "CustomFieldCurrency": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A currency value represented as an integer. The maximum value is 9,007,199,254,740,991.",
              "format": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Currency"
    },
    "CustomFieldDate": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A date value.",
              "format": "date",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Date"
    },
    "CustomFieldDecimal": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A decimal value represented as a number with floating point.",
              "format": "decimal",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Decimal"
    },
    "CustomFieldEnum": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldEnumExtended": {
      "description": "Internal name and meaning of each field.",
      "enum": [
        "Checkbox",
        "File",
        "Short Text",
        "Paragraph",
        "Date",
        "Integer",
        "Currency",
        "Decimal",
        "Single Select",
        "Multiple Select",
        "URL",
        "Lookup",
        "Related",
        "Single Relationship",
        "Multiple Relationship"
      ],
      "example": "Short Text",
      "type": "string"
    },
    "CustomFieldInteger": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "An integer value. The maximum value is 9,007,199,254,740,991.",
              "type": "integer"
            }
          },
          "type": "object"
        }
      ],
      "title": "Integer"
    },
    "CustomFieldLookup": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value from a customer-provided lookup data source.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Lookup"
    },
    "CustomFieldMultipleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A list of values from a predefined list of possible options.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          "type": "object"
        }
      ],
      "title": "Multiple Select"
    },
    "CustomFieldParagraph": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A longer text paragraph.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Paragraph"
    },
    "CustomFieldRelated": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A value related to the lookup custom field value, retrieved from the same data source object.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Related"
    },
    "CustomFieldShortText": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A short text (usually under 255 characters).",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Short Text"
    },
    "CustomFieldSingleSelect": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "A single value from a predefined list of possible options.",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "Single Select"
    },
    "CustomFieldURL": {
      "allOf": [
        {
          "$ref": "#/definitions/CustomFieldBase"
        },
        {
          "properties": {
            "value": {
              "description": "URL string.",
              "format": "url",
              "type": "string"
            }
          },
          "type": "object"
        }
      ],
      "title": "URL"
    },
    "DescribeFieldAttributes": {
      "description": "Describe field attributes.",
      "properties": {
        "custom_field": {
          "description": "Flag for determining if this is a user created custom field or an internal system field.",
          "example": false,
          "type": "boolean"
        },
        "data_type": {
          "$ref": "#/definitions/OpenApiEnum"
        },
        "name": {
          "description": "Describe field name.",
          "example": "field_name",
          "maxLength": 255,
          "type": "string"
        },
        "type_description": {
          "$ref": "#/definitions/CustomFieldEnum"
        }
      },
      "type": "object"
    },
    "DescribeFieldBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/DescribeFieldId"
        },
        "type": {
          "$ref": "#/definitions/DescribeFieldType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "DescribeFieldModel",
      "type": "object"
    },
    "DescribeFieldId": {
      "description": "Field identifier string.",
      "example": "field_name",
      "type": "string"
    },
    "DescribeFieldModel": {
      "allOf": [
        {
          "$ref": "#/definitions/DescribeFieldBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/DescribeFieldAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "DescribeFieldType": {
      "description": "Object type, should always be `describe_fields`.",
      "example": "describe_fields",
      "type": "string"
    },
    "Error": {
      "properties": {
        "detail": {
          "description": "A human-readable explanation specific to this occurrence of the problem.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Errors": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "#/definitions/Error"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ExternalSupplierCompanyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ExternalSupplierCompanyId"
        },
        "type": {
          "$ref": "#/definitions/ExternalSupplierCompanyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "ExternalSupplierCompany",
      "type": "object"
    },
    "ExternalSupplierCompanyId": {
      "description": "Supplier company external identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ExternalSupplierCompanyType": {
      "description": "Object type, should always be `supplier_companies`.",
      "example": "supplier_companies",
      "type": "string"
    },
    "ExternalSupplierContactBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SupplierContactExternalId"
        },
        "type": {
          "$ref": "#/definitions/SupplierContactType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "ExternalSupplierContact",
      "type": "object"
    },
    "NextPageLink": {
      "properties": {
        "next": {
          "description": "Link to the next results page.",
          "format": "url",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "OpenApiEnum": {
      "description": "OpenAPI data type.",
      "enum": [
        "string",
        "number",
        "integer",
        "boolean",
        "array",
        "object"
      ],
      "example": "string",
      "type": "string"
    },
    "PageInput": {
      "properties": {
        "size": {
          "description": "The number of results returned per page. Default is `10` and max is `100`.",
          "example": "25",
          "format": "integer",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Pagination": {
      "properties": {
        "links": {
          "$ref": "#/definitions/PaginationLinks"
        },
        "meta": {
          "description": "Result set metadata.",
          "properties": {
            "count": {
              "description": "Number of pages in the result set.",
              "type": "integer"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "PaginationLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/SelfLink"
        },
        {
          "$ref": "#/definitions/NextPageLink"
        },
        {
          "$ref": "#/definitions/PrevPageLink"
        }
      ],
      "description": "List of related links.",
      "type": "object"
    },
    "PaymentCurrency": {
      "allOf": [
        {
          "$ref": "#/definitions/PaymentCurrencyBase"
        }
      ]
    },
    "PaymentCurrencyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/PaymentCurrencyId"
        },
        "type": {
          "$ref": "#/definitions/PaymentCurrencyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Field",
      "type": "object"
    },
    "PaymentCurrencyId": {
      "description": "Payment currency identifier string.",
      "example": 1,
      "type": "integer"
    },
    "PaymentCurrencyType": {
      "description": "Object type, should always be `payment_currencies`.",
      "example": "payment_currencies",
      "type": "string"
    },
    "PrevPageLink": {
      "properties": {
        "prev": {
          "description": "Link to the previous results page.",
          "format": "url",
          "type": "string",
          "x-deprecated": true,
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "Project": {
      "allOf": [
        {
          "$ref": "#/definitions/ProjectBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/ProjectAttributes"
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            },
            "relationships": {
              "$ref": "#/definitions/ProjectRelationship"
            }
          },
          "type": "object"
        }
      ]
    },
    "ProjectAttributes": {
      "description": "Project attributes.",
      "properties": {
        "actual_end_date": {
          "description": "Project end date.",
          "format": "date",
          "type": "string"
        },
        "actual_spend_amount": {
          "description": "Actual spend amount.",
          "format": "double",
          "type": "number"
        },
        "actual_start_date": {
          "description": "Project start date.",
          "format": "date",
          "type": "string"
        },
        "approval_rounds": {
          "description": "Times project has been sent for approval.",
          "example": 1,
          "type": "integer"
        },
        "approved_at": {
          "description": "Date and time when the project was approved.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "approved_spend_amount": {
          "description": "Approved spend amount.",
          "format": "double",
          "type": "number"
        },
        "canceled_note": {
          "description": "Cancelation note.",
          "type": "string"
        },
        "canceled_reason": {
          "description": "Cancelation reason.",
          "type": "string"
        },
        "custom_fields": {
          "description": "Custom field values. Note: custom fields of type File can only be accessed through the user interface, they will be only exposed as `null` in the public API.",
          "items": {
            "$ref": "#/definitions/CustomField"
          },
          "type": "array"
        },
        "description": {
          "description": "Project description.",
          "type": "string"
        },
        "estimated_savings_amount": {
          "description": "Estimated savings amount.",
          "format": "double",
          "type": "number"
        },
        "estimated_spend_amount": {
          "description": "Estimated spend amount.",
          "format": "double",
          "type": "number"
        },
        "external_id": {
          "description": "Customer provided unique project identifier.",
          "type": "string"
        },
        "first_sent_for_approval_at": {
          "description": "Date and time when project was sent for approval for first time.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "marked_as_needs_attention_at": {
          "description": "Date and time when the project was flagged as needs attention.",
          "format": "date-time",
          "type": "string"
        },
        "needs_attention": {
          "description": "Identifies whether the project needs attention.",
          "type": "boolean"
        },
        "needs_attention_note": {
          "description": "Additional notes on why the project needs attention.",
          "type": "string"
        },
        "needs_attention_reason": {
          "description": "The reason why the project needs attention.",
          "type": "string"
        },
        "number": {
          "description": "Project number, generated sequentially.",
          "readOnly": true,
          "type": "integer"
        },
        "on_hold_note": {
          "description": "Notes for the on-hold status.",
          "type": "string"
        },
        "on_hold_reason": {
          "description": "Reasons for the project moved to on-hold.",
          "type": "string"
        },
        "sent_for_approval_at": {
          "description": "Date and time when the project was sent for approval.",
          "format": "date-time",
          "type": "string"
        },
        "state": {
          "$ref": "#/definitions/ProjectState"
        },
        "state_label": {
          "description": "Customer-specific project state label.",
          "type": "string"
        },
        "target_end_date": {
          "description": "Target end date.",
          "format": "date",
          "type": "string"
        },
        "target_start_date": {
          "description": "Target start date.",
          "format": "date",
          "type": "string"
        },
        "title": {
          "description": "Project title.",
          "maxLength": 255,
          "type": "string"
        },
        "updated_at": {
          "description": "Last modification date.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        }
      },
      "required": [
        "title"
      ],
      "type": "object"
    },
    "ProjectBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ProjectId"
        },
        "type": {
          "$ref": "#/definitions/ProjectType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Project",
      "type": "object"
    },
    "ProjectCreate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ProjectAttributes"
        },
        "relationships": {
          "$ref": "#/definitions/ProjectRequestRelationship"
        },
        "type": {
          "$ref": "#/definitions/ProjectType"
        }
      },
      "required": [
        "type"
      ],
      "type": "object"
    },
    "ProjectFieldModel": {
      "allOf": [
        {
          "properties": {
            "type": {
              "description": "Object type, should always be `project_fields`.",
              "example": "project_fields",
              "type": "string"
            }
          },
          "type": "object"
        },
        {
          "$ref": "#/definitions/DescribeFieldModel"
        }
      ]
    },
    "ProjectId": {
      "description": "Project identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ProjectInputFilter": {
      "properties": {
        "actual_end_date_from": {
          "description": "Return projects ended on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_end_date_to": {
          "description": "Return projects ended on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_spend_amount_from": {
          "description": "Return projects with actual spend amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "actual_spend_amount_to": {
          "description": "Return projects with actual spend amount equal or smaller than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "actual_start_date_from": {
          "description": "Return projects started on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "actual_start_date_to": {
          "description": "Return projects started on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "approved_spend_amount_from": {
          "description": "Return projects with approved spend amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "approved_spend_amount_to": {
          "description": "Return projects with approved spend amount equal or smaller than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "canceled_note_contains": {
          "description": "Return projects with cancelation note containing the specified string.",
          "type": "string"
        },
        "canceled_note_empty": {
          "description": "Return projects with an empty cancelation note.",
          "type": "string"
        },
        "canceled_note_not_contains": {
          "description": "Return projects with cancelation note not containing the specified string.",
          "type": "string"
        },
        "canceled_note_not_empty": {
          "description": "Return projects with a non-empty cancelation note.",
          "type": "string"
        },
        "canceled_reason_contains": {
          "description": "Return projects with cancelation reason containing the specified string.",
          "type": "string"
        },
        "canceled_reason_empty": {
          "description": "Return projects with an empty cancelation reason.",
          "type": "string"
        },
        "canceled_reason_not_contains": {
          "description": "Return projects with cancelation reason not containing the specified string.",
          "type": "string"
        },
        "canceled_reason_not_empty": {
          "description": "Return projects with a non-empty cancelation reason.",
          "type": "string"
        },
        "description_contains": {
          "description": "Return projects with description containing the specified string.",
          "type": "string"
        },
        "description_not_contains": {
          "description": "Return projects with description not containing the specified string.",
          "type": "string"
        },
        "estimated_savings_amount_from": {
          "description": "Return projects with estimated savings amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "estimated_savings_amount_to": {
          "description": "Return projects with estimated savings amount equal or smaller than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "estimated_spend_amount_from": {
          "description": "Return projects with estimated spend amount equal or greater than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "estimated_spend_amount_to": {
          "description": "Return projects with estimated spend amount equal or smaller than the specified amount.",
          "format": "double",
          "type": "number"
        },
        "external_id_empty": {
          "description": "Return projects with `external_id` blank.",
          "example": true,
          "type": "boolean"
        },
        "external_id_equals": {
          "description": "Find projects by a specific external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "external_id_not_empty": {
          "description": "Return projects with non-blank `external_id`.",
          "example": false,
          "type": "boolean"
        },
        "external_id_not_equals": {
          "description": "Find projects excluding the one with the specified external ID.",
          "example": "SUP-123",
          "type": "string"
        },
        "marked_as_needs_attention_at_from": {
          "description": "Find projects marked as \"needs attention\" after or on the specified date.",
          "format": "date-time",
          "type": "string"
        },
        "marked_as_needs_attention_at_to": {
          "description": "Find projects marked as \"needs attention\" before or on the specified date.",
          "format": "date-time",
          "type": "string"
        },
        "needs_attention_equals": {
          "description": "Return projects with the specified \"needs attention\" status.",
          "type": "boolean"
        },
        "needs_attention_not_equals": {
          "description": "Return projects with the \"needs attention\" status not equal to the specified one.",
          "type": "boolean"
        },
        "needs_attention_note_contains": {
          "description": "Return projects with \"needs attention\" note containing the specified string.",
          "type": "string"
        },
        "needs_attention_note_empty": {
          "description": "Return projects with an empty \"needs attention\" note.",
          "type": "string"
        },
        "needs_attention_note_not_contains": {
          "description": "Return projects with \"needs attention\" note not containing the specified string.",
          "type": "string"
        },
        "needs_attention_note_not_empty": {
          "description": "Return projects with a non-empty \"needs attention\" note.",
          "type": "string"
        },
        "needs_attention_reason_contains": {
          "description": "Return projects with \"needs attention\" reason containing the specified string.",
          "type": "string"
        },
        "needs_attention_reason_empty": {
          "description": "Return projects with an empty \"needs attention\" reason.",
          "type": "string"
        },
        "needs_attention_reason_not_contains": {
          "description": "Return projects with \"needs attention\" reason not containing the specified string.",
          "type": "string"
        },
        "needs_attention_reason_not_empty": {
          "description": "Return projects with a non-empty \"needs attention\" reason.",
          "type": "string"
        },
        "number_from": {
          "description": "Find projects with the number equal or greater than the specified one.",
          "format": "integer",
          "type": "string"
        },
        "number_to": {
          "description": "Find projects with the number equal or smaller than the specified one.",
          "format": "integer",
          "type": "string"
        },
        "on_hold_note_contains": {
          "description": "Return projects with on-hold note containing the specified string.",
          "type": "string"
        },
        "on_hold_note_empty": {
          "description": "Return projects with an empty on-hold note.",
          "type": "string"
        },
        "on_hold_note_not_contains": {
          "description": "Return projects with on-hold note not containing the specified string.",
          "type": "string"
        },
        "on_hold_note_not_empty": {
          "description": "Return projects with a non-empty on-hold note.",
          "type": "string"
        },
        "on_hold_reason_contains": {
          "description": "Return projects with on-hold reason containing the specified string.",
          "type": "string"
        },
        "on_hold_reason_empty": {
          "description": "Return projects with an empty on-hold reason.",
          "type": "string"
        },
        "on_hold_reason_not_contains": {
          "description": "Return projects with on-hold reason not containing the specified string.",
          "type": "string"
        },
        "on_hold_reason_not_empty": {
          "description": "Return projects with a non-empty on-hold reason.",
          "type": "string"
        },
        "state_equals": {
          "description": "Find projects with specified statuses.",
          "example": [
            "requested",
            "planned"
          ],
          "items": {
            "$ref": "#/definitions/ProjectState"
          },
          "type": "array"
        },
        "target_end_date_from": {
          "description": "Return projects targeted to end on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "target_end_date_to": {
          "description": "Return projects targeted to end on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "target_start_date_from": {
          "description": "Return projects targeted to start on or after the specified date.",
          "format": "date",
          "type": "string"
        },
        "target_start_date_to": {
          "description": "Return projects targeted to start on or before the specified date.",
          "format": "date",
          "type": "string"
        },
        "title_contains": {
          "description": "Return projects with title containing the specified string.",
          "type": "string"
        },
        "title_not_contains": {
          "description": "Return projects with title not containing the specified string.",
          "type": "string"
        },
        "updated_at_from": {
          "description": "Return projects updated on or after the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        },
        "updated_at_to": {
          "description": "Return projects updated on or before the specified timestamp.",
          "example": "2019-10-29T21:28:46.790Z",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProjectRelationship": {
      "description": "Project relationships.",
      "properties": {
        "attachments": {
          "items": {
            "$ref": "#/definitions/AttachmentBase"
          },
          "type": "array"
        },
        "creator": {
          "description": "Project creator is set based on API keys.",
          "properties": {
            "data": {
              "$ref": "#/definitions/StakeholderBase"
            }
          },
          "type": "object"
        },
        "owner": {
          "description": "Project owner.",
          "properties": {
            "data": {
              "$ref": "#/definitions/StakeholderBase"
            }
          },
          "type": "object"
        },
        "project_type": {
          "properties": {
            "data": {
              "$ref": "#/definitions/ProjectTypeBase"
            }
          },
          "type": "object"
        },
        "requester": {
          "description": "Project requester.",
          "properties": {
            "data": {
              "$ref": "#/definitions/StakeholderBase"
            }
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ProjectRequestRelationship": {
      "description": "Project relationship.",
      "properties": {
        "owner": {
          "$ref": "#/definitions/StakeholderLookup"
        },
        "requester": {
          "$ref": "#/definitions/StakeholderLookup"
        }
      },
      "type": "object"
    },
    "ProjectState": {
      "description": "Current project state.",
      "enum": [
        "draft",
        "requested",
        "planned",
        "active",
        "completed",
        "canceled",
        "on_hold"
      ],
      "type": "string"
    },
    "ProjectType": {
      "description": "Object type, should always be `projects`.",
      "example": "projects",
      "type": "string"
    },
    "ProjectTypeAttributes": {
      "description": "Project type attributes.",
      "properties": {
        "name": {
          "description": "Project type name.",
          "example": "My Project Type",
          "maxLength": 255,
          "type": "string"
        },
        "shortcode": {
          "description": "Contract type short code.",
          "example": "PRJA",
          "maxLength": 4,
          "type": "string"
        }
      },
      "required": [
        "name",
        "shortcode"
      ],
      "type": "object"
    },
    "ProjectTypeBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/ProjectTypeId"
        },
        "type": {
          "$ref": "#/definitions/ProjectTypeType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "ProjectType",
      "type": "object"
    },
    "ProjectTypeId": {
      "description": "Project type identifier string.",
      "example": 1,
      "type": "integer"
    },
    "ProjectTypeModel": {
      "allOf": [
        {
          "$ref": "#/definitions/ProjectTypeBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/ProjectTypeAttributes"
            },
            "links": {
              "$ref": "#/definitions/ResourceLinks"
            }
          },
          "type": "object"
        }
      ]
    },
    "ProjectTypeType": {
      "description": "Object type, should always be `project_types`.",
      "example": "project_types",
      "type": "string"
    },
    "ProjectUpdate": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ProjectAttributes"
        },
        "id": {
          "$ref": "#/definitions/ProjectId"
        },
        "relationships": {
          "$ref": "#/definitions/ProjectRequestRelationship"
        },
        "type": {
          "$ref": "#/definitions/ProjectType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "type": "object"
    },
    "ResourceLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/SelfLink"
        }
      ],
      "description": "List of related links.",
      "type": "object"
    },
    "SelfLink": {
      "properties": {
        "self": {
          "description": "Normalized link to the resource.",
          "format": "url",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpendCategory": {
      "allOf": [
        {
          "$ref": "#/definitions/SpendCategoryBase"
        },
        {
          "properties": {
            "attributes": {
              "$ref": "#/definitions/SpendCategoryAttributes"
            }
          },
          "type": "object"
        }
      ]
    },
    "SpendCategoryAttributes": {
      "description": "Spend category attributes.",
      "properties": {
        "external_id": {
          "$ref": "#/definitions/SpendCategoryExternalId"
        },
        "name": {
          "$ref": "#/definitions/SpendCategoryName"
        },
        "usages": {
          "$ref": "#/definitions/SpendCategoryUsages"
        }
      },
      "required": [
        "name"
      ],
      "type": "object"
    },
    "SpendCategoryBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SpendCategoryId"
        },
        "type": {
          "$ref": "#/definitions/SpendCategoryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "title": "SpendCategory",
      "type": "object"
    },
    "SpendCategoryExternalId": {
      "description": "Spend category external identifier string.",
      "maxLength": 255,
      "type": "string"
    },
    "SpendCategoryId": {
      "description": "Spend category identifier string.",
      "example": 1,
      "type": "integer"
    },
    "SpendCategoryName": {
      "description": "Spend category name.",
      "maxLength": 255,
      "type": "string"
    },
    "SpendCategoryType": {
      "description": "Object type, should always be `spend_categories`.",
      "example": "spend_categories",
      "type": "string"
    },
    "SpendCategoryUpdateAttributes": {
      "description": "Spend category update attributes.",
      "properties": {
        "external_id": {
          "$ref": "#/definitions/SpendCategoryExternalId"
        },
        "name": {
          "$ref": "#/definitions/SpendCategoryName"
        },
        "usages": {
          "$ref": "#/definitions/SpendCategoryUsages"
        }
      },
      "type": "object"
    },
    "SpendCategoryUsages": {
      "description": "Spend category usages. Only spend categories with `procurement` usage can be used for requisitions.",
      "items": {
        "enum": [
          "procurement",
          "expense",
          "ad_hoc_payment",
          "supplier_invoice"
        ],
        "type": "string"
      },
      "type": "array"
    },
    "StakeholderBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/StakeholderId"
        },
        "type": {
          "$ref": "#/definitions/StakeholderType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "Stakeholder",
      "type": "object"
    },
    "StakeholderBaseData": {
      "properties": {
        "data": {
          "$ref": "#/definitions/StakeholderBase"
        }
      },
      "required": [
        "data"
      ],
      "title": "Stakeholder Data",
      "type": "object"
    },
    "StakeholderEmail": {
      "description": "Stakeholder's email.",
      "example": "stakeholder.email@example.com",
      "format": "email",
      "type": "string"
    },
    "StakeholderId": {
      "description": "Stakeholder identifier string.",
      "example": 1,
      "type": "integer"
    },
    "StakeholderLookup": {},
    "StakeholderMetaEmailLookup": {
      "properties": {
        "meta": {
          "description": "Search for a stakeholder by email.",
          "properties": {
            "email": {
              "$ref": "#/definitions/StakeholderEmail"
            }
          },
          "required": [
            "email"
          ],
          "type": "object"
        }
      },
      "required": [
        "meta"
      ],
      "title": "Stakeholder Meta by Email",
      "type": "object"
    },
    "StakeholderMetaIdLookup": {
      "properties": {
        "meta": {
          "description": "Search for a stakeholder by ID.",
          "properties": {
            "id": {
              "$ref": "#/definitions/StakeholderId"
            }
          },
          "required": [
            "id"
          ],
          "type": "object"
        }
      },
      "required": [
        "meta"
      ],
      "title": "Stakeholder Meta by ID",
      "type": "object"
    },
    "StakeholderType": {
      "description": "Object type, should always be `stakeholders`.",
      "example": "stakeholders",
      "type": "string"
    },
    "SupplierCompany": {
      "allOf": [
        {
          "$ref": "#/definitions/SupplierCompanyBase"
        }
      ]
    },
    "SupplierCompanyBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SupplierCompanyId"
        },
        "type": {
          "$ref": "#/definitions/SupplierCompanyType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "SupplierCompany",
      "type": "object"
    },
    "SupplierCompanyId": {
      "description": "Supplier company identifier string.",
      "example": 1,
      "type": "integer"
    },
    "SupplierCompanyType": {
      "description": "Object type, should always be `supplier_companies`.",
      "example": "supplier_companies",
      "type": "string"
    },
    "SupplierContact": {
      "allOf": [
        {
          "$ref": "#/definitions/SupplierContactBase"
        }
      ]
    },
    "SupplierContactBase": {
      "properties": {
        "id": {
          "$ref": "#/definitions/SupplierContactId"
        },
        "type": {
          "$ref": "#/definitions/SupplierContactType"
        }
      },
      "required": [
        "type",
        "id"
      ],
      "title": "SupplierContact",
      "type": "object"
    },
    "SupplierContactExternalId": {
      "description": "Supplier contact external identifier.",
      "example": "1234-5678-abcd-efgh",
      "type": "string"
    },
    "SupplierContactId": {
      "description": "Supplier contact identifier string.",
      "example": 1,
      "type": "integer"
    },
    "SupplierContactType": {
      "description": "Object type, should always be `supplier_contacts`.",
      "example": "supplier_contacts",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "api_key": {
      "description": "Company API key.",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    },
    "user_email": {
      "description": "User email.",
      "in": "header",
      "name": "X-User-Email",
      "type": "apiKey"
    },
    "user_token": {
      "description": "User token.",
      "in": "header",
      "name": "X-User-Token",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "description": "Workday Strategic Sourcing API Support: Please have a Named Support Contact from your company submit a support case in Workday's Customer Center.\n",
      "name": "support",
      "x-displayName": "Customer Support"
    },
    {
      "description": "### US Region\n| Environment       | US region Base URI                                           |\n|-------------------|--------------------------------------------------------------|\n| **Production**    | https://api.us.workdayspend.com/services/projects/v1         |\n| **Sandbox**       | https://api.sandbox.us.workdayspend.com/services/projects/v1 |\n\n### EU Region\n| Environment       | EU region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.eu.workdayspend.com/services/projects/v1          |\n| **Sandbox**       | https://api.sandbox.eu.workdayspend.com/services/projects/v1  |\n\n### CA Region\n| Environment       | CA region Base URI                                                |\n|-------------------|-------------------------------------------------------------------|\n| **Production**    | https://api.ca.workdayspend.com/services/projects/v1          |\n| **Sandbox**       | https://api.sandbox.ca.workdayspend.com/services/projects/v1  |\n",
      "name": "servers",
      "x-displayName": "Servers"
    },
    {
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n\nThe current version of this service is indicated by the `X-Api-Version` header.\n\nSample version header: `X-Api-Version: 1.0`.\n",
      "name": "api_specification",
      "x-displayName": "API Specification"
    },
    {
      "description": "Our API adheres to the ISO 8601 standard when accepting and formatting Date and Time fields. All Date and Time fields returned by this API will be in the **UTC** timezone.\n\nDate and Time fields sent to this API can be in any timezone, provided they adhere to the ISO 8601 standard.\n",
      "name": "date_and_time_fields",
      "x-displayName": "Date and Time Fields"
    },
    {
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n",
      "name": "authentication",
      "x-displayName": "Authentication"
    },
    {
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit is 5 requests per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n",
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting"
    },
    {
      "description": "The results can be filtered to a subset of the total set of results using `filter` query parameters.\n\nEndpoints that support filtering will include usage details in the Query Parameters section for the resource.\n\nMost filters that end in `equals` support a Query Parameter array format to filter by multiple values.\n\nExample:\n```\n?filter[status_equals][]=submitted&filter[status_equals][]=resubmitted\n```\n",
      "name": "filters",
      "x-displayName": "Filters"
    },
    {
      "description": "Paginated endpoints may return a subset of the total results for a `GET` request that returns multiple resources. Endpoints that support pagination will include usage details in the Query Parameters section for the resource.\n\nThe paginated results can be configured using the `page` query parameter to configure the number of returned results. The default pagination size is 10 results and the maximum pagination size is 100 results per request.\n\nEndpoints that support pagination may return \"self\" and \"next\" sections within the \"links\" section that navigate to the current and next pages respectively.\n\n\n### Example Paginated Request\n\n#### Request Query Parameter Format\n```\n/projects?page[size]=25\n```\n\n#### Response Schema\nThe paginated response will also include the following schema\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Pagination\" exampleRef=\"#/components/examples/Pagination\" />\n",
      "name": "pagination",
      "x-displayName": "Pagination"
    },
    {
      "description": "The `external_id` field exists on many of the Workday Strategic Sourcing resources. This optional and mutable extension is intended to store foreign keys of the corresponding resource from a third party system. **These IDs are not considered Sourcing Data and may be logged in external systems. Do not include any sensitive or personal data in IDs.**\n\nThe purpose of external IDs is to:\n\n* Prevent duplicate record creation\n* Allow resources in Workday Strategic Sourcing and a third party system to share the same identifier\n* Allow for records to be queried or updated without requiring knowledge of the Workday Strategic Sourcing generated IDs\n",
      "name": "external_ids",
      "x-displayName": "External Identifiers (IDs)"
    },
    {
      "description": "Use the projects API to create, update, and query the projects in Workday Strategic Sourcing.\n\n## Project Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Project\" exampleRef=\"#/components/examples/Project\" showReadOnly={true} showWriteOnly={true} />\n",
      "name": "projects",
      "x-displayName": "Projects"
    },
    {
      "description": "Use the project supplier companies API to manage project suppliers.\n",
      "name": "project_supplier_companies",
      "x-displayName": "Project Supplier Companies"
    },
    {
      "description": "Use the project supplier contacts API to manage project suppliers. This API provides 2 advantages over the project supplier companies APIs:\n- It allows specifying the supplier contact to be associated/removed from a project.\n- It allows specifying multiple contacts for a given supplier.\n",
      "name": "project_supplier_contacts",
      "x-displayName": "Project Supplier Contacts"
    },
    {
      "description": "Use the project types API to query the project types in Workday Strategic Sourcing.\n\nProject Types are used in the project resource. On POST and PATCH related endpoints for this resource a project_type_id can be added to set the project type. The project_type_id is a foreign key for the project_types resource's id.\n\n## Project Type Object\n\n<SchemaDefinition schemaRef=\"#/components/schemas/ProjectTypeModel\" showReadOnly={true} showWriteOnly={true} />\n",
      "name": "project_types",
      "x-displayName": "Project Types"
    }
  ],
  "x-components": {
    "examples": {
      "Project": {
        "$ref": "#/x-components/examples/project"
      },
      "create_request": {
        "value": {
          "data": {
            "attributes": {
              "actual_end_date": "2031-12-30",
              "actual_spend_amount": "23.45",
              "actual_start_date": "2018-01-20",
              "approved_spend_amount": "55.55",
              "canceled_note": null,
              "canceled_reason": null,
              "custom_fields": [
                {
                  "name": "Custom Field Currency",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Integer",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Checkbox",
                  "value": true
                },
                {
                  "name": "Custom Field Decimal",
                  "value": 123456.78
                },
                {
                  "name": "Custom Field Date",
                  "value": "2018-12-31T00:00:00.000Z"
                },
                {
                  "name": "Custom Field Select",
                  "value": "Select Option"
                },
                {
                  "name": "Custom Field Multiple",
                  "value": [
                    "Multiple Select Option 1",
                    "Multiple Select Option 2"
                  ]
                },
                {
                  "name": "Custom Field Short Text",
                  "value": "some short text"
                },
                {
                  "name": "Custom Field Paragraph",
                  "value": "longer text than short text"
                },
                {
                  "name": "Custom Field URL",
                  "value": "http://www.example.com"
                }
              ],
              "description": "Project Description",
              "estimated_savings_amount": "11.33",
              "estimated_spend_amount": "21.12",
              "external_id": "1234-5678-abcd-efgh",
              "needs_attention": false,
              "needs_attention_note": null,
              "needs_attention_reason": null,
              "on_hold_note": null,
              "on_hold_reason": null,
              "state": "active",
              "state_label": "Sourcing",
              "target_end_date": "2031-12-31",
              "target_start_date": "2018-01-15",
              "title": "Project Title"
            },
            "relationships": {
              "owner": {
                "meta": {
                  "email": "contract.owner@example.com"
                }
              },
              "requester": {
                "meta": {
                  "email": "requester@example.com"
                }
              }
            },
            "type": "projects"
          }
        }
      },
      "create_request-2": {
        "value": {
          "data": [
            {
              "id": "5",
              "type": "supplier_companies"
            },
            {
              "id": "11",
              "type": "supplier_companies"
            }
          ]
        }
      },
      "create_request-3": {
        "value": {
          "data": [
            {
              "id": "10",
              "type": "supplier_contacts"
            },
            {
              "id": "17",
              "type": "supplier_contacts"
            }
          ]
        }
      },
      "create_response": {
        "value": {
          "data": {
            "attributes": {
              "actual_end_date": "2031-12-30",
              "actual_spend_amount": 23.45,
              "actual_start_date": "2018-01-20",
              "approval_rounds": 0,
              "approved_at": null,
              "approved_spend_amount": 55.55,
              "canceled_note": null,
              "canceled_reason": null,
              "custom_fields": [
                {
                  "name": "Custom Field Currency",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Integer",
                  "value": 1234567890
                },
                {
                  "name": "Custom Field Checkbox",
                  "value": true
                },
                {
                  "name": "Custom Field Decimal",
                  "value": 123456.78
                },
                {
                  "name": "Custom Field Date",
                  "value": "2018-12-31T00:00:00.000Z"
                },
                {
                  "name": "Custom Field Select",
                  "value": "Select Option"
                },
                {
                  "name": "Custom Field Multiple",
                  "value": [
                    "Multiple Select Option 1",
                    "Multiple Select Option 2"
                  ]
                },
                {
                  "name": "Custom Field Short Text",
                  "value": "some short text"
                },
                {
                  "name": "Custom Field Paragraph",
                  "value": "longer text than short text"
                },
                {
                  "name": "Custom Field URL",
                  "value": "http://www.example.com"
                }
              ],
              "description": "Project Description",
              "estimated_savings_amount": 11.33,
              "estimated_spend_amount": 21.12,
              "external_id": "1234-5678-abcd-efgh",
              "first_sent_for_approval_at": null,
              "marked_as_needs_attention_at": null,
              "needs_attention": false,
              "needs_attention_note": null,
              "needs_attention_reason": null,
              "number": 1,
              "on_hold_note": null,
              "on_hold_reason": null,
              "request_opened_at": null,
              "request_submitted_at": "2019-10-28T21:28:46.790Z",
              "sent_for_approval_at": null,
              "state": "active",
              "state_label": "Sourcing",
              "target_end_date": "2031-12-31",
              "target_start_date": "2018-01-15",
              "title": "Project Title",
              "updated_at": "2019-10-29T21:28:46.790Z"
            },
            "id": "1",
            "links": {
              "self": "https://api.us.workdayspend.com/services/projects/v1/projects/1"
            },
            "relationships": {
              "attachments": {
                "data": []
              },
              "creator": {
                "data": {
                  "id": "2",
                  "type": "stakeholders"
                }
              },
              "owner": {
                "data": {
                  "id": "2",
                  "type": "stakeholders"
                }
              },
              "project_type": {
                "data": {
                  "id": "1",
                  "type": "project_types"
                }
              },
              "requester": {
                "data": {
                  "id": "3",
                  "type": "stakeholders"
                }
              },
              "spend_category": {
                "data": {
                  "id": "1",
                  "type": "spend_categories"
                }
              }
            },
            "type": "projects"
          }
        }
      },
      "delete_request": {
        "value": {
          "data": [
            {
              "id": "5",
              "type": "supplier_companies"
            },
            {
              "id": "11",
              "type": "supplier_companies"
            }
          ]
        }
      },
      "delete_request-2": {
        "value": {
          "data": [
            {
              "id": "10",
              "type": "supplier_contacts"
            },
            {
              "id": "17",
              "type": "supplier_contacts"
            }
          ]
        }
      },
      "describe_response": {
        "value": {
          "data": [
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "actual_end_date",
                "type_description": "Date"
              },
              "id": "actual_end_date",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "number",
                "name": "actual_spend_amount",
                "type_description": "Currency"
              },
              "id": "actual_spend_amount",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "actual_start_date",
                "type_description": "Date"
              },
              "id": "actual_start_date",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "number",
                "name": "approved_spend_amount",
                "type_description": "Currency"
              },
              "id": "approved_spend_amount",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "canceled_note",
                "type_description": "Short Text"
              },
              "id": "canceled_note",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "canceled_reason",
                "type_description": "Single Select"
              },
              "id": "canceled_reason",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "description",
                "type_description": "Paragraph"
              },
              "id": "description",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "number",
                "name": "estimated_savings_amount",
                "type_description": "Currency"
              },
              "id": "estimated_savings_amount",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "number",
                "name": "estimated_spend_amount",
                "type_description": "Currency"
              },
              "id": "estimated_spend_amount",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "external_id",
                "type_description": "Short Text"
              },
              "id": "external_id",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "boolean",
                "name": "needs_attention",
                "type_description": "Checkbox"
              },
              "id": "needs_attention",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "on_hold_note",
                "type_description": "Short Text"
              },
              "id": "on_hold_note",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "on_hold_reason",
                "type_description": "Single Select"
              },
              "id": "on_hold_reason",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "state",
                "type_description": "Single Select"
              },
              "id": "state",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "state_label",
                "type_description": "Short Text"
              },
              "id": "state_label",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "target_end_date",
                "type_description": "Date"
              },
              "id": "target_end_date",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "target_start_date",
                "type_description": "Date"
              },
              "id": "target_start_date",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "title",
                "type_description": "Short Text"
              },
              "id": "title",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "approved_at",
                "type_description": "Date"
              },
              "id": "approved_at",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "marked_as_needs_attention_at",
                "type_description": "Date"
              },
              "id": "marked_as_needs_attention_at",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "needs_attention_note",
                "type_description": "Short Text"
              },
              "id": "needs_attention_note",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "needs_attention_reason",
                "type_description": "Single Select"
              },
              "id": "needs_attention_reason",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "integer",
                "name": "number",
                "type_description": "Integer"
              },
              "id": "number",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "sent_for_approval_at",
                "type_description": "Date"
              },
              "id": "sent_for_approval_at",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": false,
                "data_type": "string",
                "name": "updated_at",
                "type_description": "Date"
              },
              "id": "updated_at",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": true,
                "data_type": "number",
                "name": "Custom Field Currency",
                "type_description": "Currency"
              },
              "id": "custom_field_1",
              "type": "project_fields"
            },
            {
              "attributes": {
                "custom_field": true,
                "data_type": "integer",
                "name": "Custom Field Integer",
[...]
