{
  "swagger": "2.0",
  "info": {
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n",
    "title": "Workday Strategic Sourcing Reports API",
    "version": "1.0"
  },
  "host": "api.us.workdayspend.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contract_milestone_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ContractMilestoneReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_milestone_reports"
        ],
        "description": "Returns a list of milestone report entries.",
        "operationId": "Contract Milestone Report Entries",
        "summary": "Contract Milestone Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_milestone_reports/entries\"\n"
          }
        ]
      }
    },
    "/contract_milestone_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractMilestoneReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_milestone_reports"
        ],
        "description": "Returns the contract milestone report schema.",
        "operationId": "Contract Milestone Report Schema",
        "summary": "Contract Milestone Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_milestone_reports/schema\"\n"
          }
        ]
      }
    },
    "/contract_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ContractReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_reports"
        ],
        "description": "Returns a list of contract report entries.",
        "operationId": "Contract Report Entries",
        "summary": "Contract Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/entries\"\n"
          }
        ]
      }
    },
    "/contract_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContractReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contract_reports"
        ],
        "description": "Returns the contract report schema.",
        "operationId": "Contract Report Schema",
        "summary": "Contract Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/contract_reports/schema\"\n"
          }
        ]
      }
    },
    "/event_reports": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/EventReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "410": {
            "description": "Deprecated (2019-01-01)"
          }
        },
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of reports owned by the user.\n\n**This report endpoint is only valid in version 2018-04-01.**\n\n**It is deprecated and unavailable in subsequent versions.**\n",
        "operationId": "Event Report Entries (Deprecated)",
        "summary": "Event Report Entries (Deprecated)",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/event_reports\"\n"
          }
        ]
      }
    },
    "/event_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/EventReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of event report entries.",
        "operationId": "Event Report Entries",
        "summary": "Event Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/entries\"\n"
          }
        ]
      }
    },
    "/event_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/EventReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "event_reports"
        ],
        "description": "Returns the event report schema.",
        "operationId": "Event Report Schema",
        "summary": "Event Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/schema\"\n"
          }
        ]
      }
    },
    "/event_reports/{event_report_id}/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Event Report identifier.",
            "in": "path",
            "name": "event_report_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/EventReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "event_reports"
        ],
        "description": "Returns a list of event report entries.",
        "operationId": "Event Single Report Entries",
        "summary": "Event Single Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/event_reports/{event_report_id}/entries\"\n"
          }
        ]
      }
    },
    "/performance_review_answer_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/PerformanceReviewAnswerReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "performance_review_answer_reports"
        ],
        "description": "Returns a list of performance review answer entries.",
        "operationId": "Performance Review Answer Report Entries",
        "summary": "Performance Review Answer Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_answer_reports/entries\"\n"
          }
        ]
      }
    },
    "/performance_review_answer_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PerformanceReviewAnswerReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "performance_review_answer_reports"
        ],
        "description": "Returns the performance review answer report schema.",
        "operationId": "Performance Review Answer Schema",
        "summary": "Performance Review Answer Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_answer_reports/schema\"\n"
          }
        ]
      }
    },
    "/performance_review_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/PerformanceReviewReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "performance_review_reports"
        ],
        "description": "Returns a list of peformance review entries.",
        "operationId": "Performance Review Report Entries",
        "summary": "Performance Review Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_reports/entries\"\n"
          }
        ]
      }
    },
    "/performance_review_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/PerformanceReviewReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "performance_review_reports"
        ],
        "description": "Returns the performance review report schema.",
        "operationId": "Performance Review Report Schema",
        "summary": "Performance Review Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/performance_review_reports/schema\"\n"
          }
        ]
      }
    },
    "/project_milestone_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ProjectMilestoneReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "project_milestone_reports"
        ],
        "description": "Returns a list of project milestone entries.",
        "operationId": "Project Milestone Report Entries",
        "summary": "Project Milestone Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_milestone_reports/entries\"\n"
          }
        ]
      }
    },
    "/project_milestone_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectMilestoneReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "project_milestone_reports"
        ],
        "description": "Returns the project milestone report schema.",
        "operationId": "Project Milestone Report Schema",
        "summary": "Project Milestone Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_milestone_reports/schema\"\n"
          }
        ]
      }
    },
    "/project_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ProjectReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "410": {
            "description": "Deprecated (2019-01-01)"
          }
        },
        "tags": [
          "project_reports"
        ],
        "description": "Returns a list of project reports owned by the user.\n\n**This report endpoint is only valid in version 2018-04-01.**\n\n**It is deprecated and unavailable in subsequent versions.**\n",
        "operationId": "Project Report Entries (Deprecated)",
        "summary": "Project Report Entries (Deprecated)",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/project_reports\"\n"
          }
        ]
      }
    },
    "/project_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ProjectReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "project_reports"
        ],
        "description": "Returns the project report schema.",
        "operationId": "Project Report Schema",
        "summary": "Project Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_reports/schema\"\n"
          }
        ]
      }
    },
    "/project_reports/{project_report_id}/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Project Report identifier.",
            "in": "path",
            "name": "project_report_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/ProjectReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "project_reports"
        ],
        "description": "Returns a list of project report entries.\n\nAccepts a `project_report_id` parameter.\nNote that this parameter is not required for the 2019-01-01 version.\n",
        "operationId": "Project Single Report Entries",
        "summary": "Project Single Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/project_reports/{project_report_id}/entries\"\n"
          }
        ]
      }
    },
    "/savings_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SavingsReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "savings_reports"
        ],
        "description": "Returns a list of savings entries.",
        "operationId": "Savings Report Entries",
        "summary": "Savings Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/entries\"\n"
          }
        ]
      }
    },
    "/savings_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SavingsReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "savings_reports"
        ],
        "description": "Returns the savings report schema.",
        "operationId": "Savings Report Schema",
        "summary": "Savings Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/savings_reports/schema\"\n"
          }
        ]
      }
    },
    "/supplier_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_reports"
        ],
        "description": "Returns a list of supplier entries.",
        "operationId": "Supplier Report Entries",
        "summary": "Supplier Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_reports/entries\"\n"
          }
        ]
      }
    },
    "/supplier_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_reports"
        ],
        "description": "Returns the supplier report schema.",
        "operationId": "Supplier Report Schema",
        "summary": "Supplier Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_reports/schema\"\n"
          }
        ]
      }
    },
    "/supplier_review_reports/entries": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierReviewReportEntry"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_review_reports"
        ],
        "description": "Returns a list of supplier review entries.",
        "operationId": "Supplier Review Report Entries",
        "summary": "Supplier Review Report Entries",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_review_reports/entries\"\n"
          }
        ]
      }
    },
    "/supplier_review_reports/schema": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierReviewReportEntryFieldModel"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_review_reports"
        ],
        "description": "Returns the supplier review report schema.",
        "operationId": "Supplier Review Report Schema",
        "summary": "Supplier Review Report Schema",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\"\n     \"https://api.us.workdayspend.com/supplier_review_reports/schema\"\n"
          }
        ]
      }
    },
    "/suppliers": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/Supplier"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "suppliers"
        ],
        "description": "Returns a list of all suppliers.\n\n**Query Params**\n\n| **Param**    |    |\n| ------------ | -- |\n| `include`  | Include supplier contacts with `include=contacts` |\n| `sort`     | Sort the suppliers. Supported values: `name`, `-name`, `created_at`, `-created_at`. |\n",
        "operationId": "All suppliers",
        "summary": "All suppliers",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/suppliers\"\n"
          }
        ]
      }
    },
    "/suppliers/{supplier_id}": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Supplier identifier.",
            "in": "path",
            "name": "supplier_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/Supplier"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "suppliers"
        ],
        "description": "Returns a single supplier.\n\nYou can optionally include the following query parameter to include supplier contacts in the response:\n\n`suppliers/1?include=contacts`\n",
        "operationId": "Single supplier",
        "summary": "Single supplier",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -H \"Accept: application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2018-04-01\"\n     \"https://api.us.workdayspend.com/suppliers/{supplier_id}\"\n"
          }
        ]
      }
    }
  },
  "definitions": {
    "ContractMilestoneReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractMilestoneReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/ContractMilestoneReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/ContractMilestoneReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "ContractMilestoneReportEntryAttributes": {
      "description": "Contract Milestone Report Entry attributes. See example response and schema."
    },
    "ContractMilestoneReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `contract_milestone_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `contract_milestone_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContractMilestoneReportEntryId": {
      "description": "Contract Milestone identifier string.",
      "example": 1
    },
    "ContractMilestoneReportEntryType": {
      "description": "Object type, should always be `contract_milestone_report_entries`.",
      "example": "contract_milestone_report_entries"
    },
    "ContractReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ContractReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/ContractReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/ContractReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "ContractReportEntryAttributes": {
      "description": "Contract Report Entry attributes. See example response and schema."
    },
    "ContractReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `contract_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `contract_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContractReportEntryId": {
      "description": "Contract Report identifier string.",
      "example": 1
    },
    "ContractReportEntryType": {
      "description": "Object type, should always be `contract_report_entries`.",
      "example": "contract_report_entries"
    },
    "EventReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/EventReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/EventReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/EventReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "EventReportEntryAttributes": {
      "description": "Event Report Entry attributes. See example response and schema."
    },
    "EventReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `event_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `event_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EventReportEntryId": {
      "description": "Event Report identifier string.",
      "example": 1
    },
    "EventReportEntryType": {
      "description": "Object type, should always be `event_report_entries`.",
      "example": "event_report_entries"
    },
    "NextPageLink": {
      "properties": {
        "next": {
          "description": "Link to the next results page.",
          "format": "url",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "PageInput": {
      "properties": {
        "size": {
          "description": "The number of results returned per page. Default is `10` and max is `100`.",
          "example": "25",
          "format": "integer",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Pagination": {
      "properties": {
        "links": {
          "$ref": "#/definitions/PaginationLinks"
        }
      },
      "type": "object"
    },
    "PaginationLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/NextPageLink"
        },
        {
          "$ref": "#/definitions/PrevPageLink"
        }
      ],
      "description": "List of pagination links.",
      "type": "object"
    },
    "PerformanceReviewAnswerReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/PerformanceReviewAnswerReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/PerformanceReviewAnswerReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/PerformanceReviewAnswerReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "PerformanceReviewAnswerReportEntryAttributes": {
      "description": "Performance Review Answer Report Entry attributes. See example response and schema."
    },
    "PerformanceReviewAnswerReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `performance_review_answer_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `performance_review_answer_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerformanceReviewAnswerReportEntryId": {
      "description": "Performance Review Answer Report identifier string.",
      "example": 1
    },
    "PerformanceReviewAnswerReportEntryType": {
      "description": "Object type, should always be `performance_review_answer_report_entries`.",
      "example": "performance_review_answer_report_entries"
    },
    "PerformanceReviewReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/PerformanceReviewReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/PerformanceReviewReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/PerformanceReviewReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "PerformanceReviewReportEntryAttributes": {
      "description": "Performance Review Report Entry attributes. See example response and schema."
    },
    "PerformanceReviewReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `performance_review_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `performance_review_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PerformanceReviewReportEntryId": {
      "description": "Performance Review Report identifier string.",
      "example": 1
    },
    "PerformanceReviewReportEntryType": {
      "description": "Object type, should always be `performance_review_report_entries`.",
      "example": "performance_review_report_entries"
    },
    "PrevPageLink": {
      "properties": {
        "prev": {
          "description": "Link to the previous results page.",
          "format": "url",
          "type": "string",
          "x-nullable": true
        }
      },
      "type": "object"
    },
    "ProjectMilestoneReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ProjectMilestoneReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/ProjectMilestoneReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/ProjectMilestoneReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "ProjectMilestoneReportEntryAttributes": {
      "description": "Project Milestone Report Entry attributes. See example response and schema."
    },
    "ProjectMilestoneReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `project_milestone_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `project_milestone_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProjectMilestoneReportEntryId": {
      "description": "Project Milestone Report identifier string.",
      "example": 1
    },
    "ProjectMilestoneReportEntryType": {
      "description": "Object type, should always be `project_milestone_report_entries`.",
      "example": "project_milestone_report_entries"
    },
    "ProjectReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ProjectReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/ProjectReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/ProjectReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "ProjectReportEntryAttributes": {
      "description": "Project Report Entry attributes. See example response and schema."
    },
    "ProjectReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `project_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `project_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ProjectReportEntryId": {
      "description": "Project Report identifier string.",
      "example": 1
    },
    "ProjectReportEntryType": {
      "description": "Object type, should always be `project_report_entries`.",
      "example": "project_report_entries"
    },
    "ReportSchemaField": {
      "properties": {
        "name": {
          "description": "Field name",
          "example": "Scout-System ID",
          "type": "string"
        },
        "type": {
          "$ref": "#/definitions/ReportSchemaFieldType"
        }
      },
      "type": "object"
    },
    "ReportSchemaFieldModel": {
      "properties": {
        "fields": {
          "items": {
            "$ref": "#/definitions/ReportSchemaField"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ReportSchemaFieldType": {
      "description": "Field type",
      "enum": [
        "text",
        "date",
        "integer",
        "select",
        "string"
      ],
      "example": "string",
      "type": "string"
    },
    "SavingsReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/SavingsReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/SavingsReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/SavingsReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "SavingsReportEntryAttributes": {
      "description": "Savings Report Entry attributes. See example response and schema."
    },
    "SavingsReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `savings_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `savings_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SavingsReportEntryId": {
      "description": "Savings Report identifier string.",
      "example": 1
    },
    "SavingsReportEntryType": {
      "description": "Object type, should always be `savings_report_entries`.",
      "example": "savings_report_entries"
    },
    "Supplier": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/SupplierAttributes"
        },
        "id": {
          "$ref": "#/definitions/SupplierId"
        },
        "relationships": {
          "properties": {
            "contacts": {
              "items": {
                "$ref": "#/definitions/SupplierContactReference"
              },
              "type": "array"
            }
          }
        },
        "type": {
          "$ref": "#/definitions/SupplierType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "SupplierAttributes": {
      "description": "Supplier attributes. See example response.",
      "properties": {
        "custom_fields": {
          "items": {
            "properties": {
              "name": {
                "description": "Name of custom field"
              },
              "value": {
                "description": "Value of custom field"
              }
            }
          },
          "type": "array"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "SupplierContactId": {
      "description": "Supplier contact identifier string.",
      "example": 1
    },
    "SupplierContactReference": {
      "properties": {
        "data": {
          "properties": {
            "id": {
              "$ref": "#/definitions/SupplierContactId"
            },
            "type": {
              "$ref": "#/definitions/SupplierContactType"
            }
          }
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "SupplierContactType": {
      "description": "Object type, should always be `supplier_contacts`.",
      "example": "supplier_contacts"
    },
    "SupplierId": {
      "description": "Supplier identifier string.",
      "example": 1
    },
    "SupplierReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/SupplierReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/SupplierReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/SupplierReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "SupplierReportEntryAttributes": {
      "description": "Supplier Report Entry attributes. See example response and schema."
    },
    "SupplierReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `supplier_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `supplier_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SupplierReportEntryId": {
      "description": "Supplier Report identifier string.",
      "example": 1
    },
    "SupplierReportEntryType": {
      "description": "Object type, should always be `supplier_report_entries`.",
      "example": "supplier_report_entries"
    },
    "SupplierReviewReportEntry": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/SupplierReviewReportEntryAttributes"
        },
        "id": {
          "$ref": "#/definitions/SupplierReviewReportEntryId"
        },
        "type": {
          "$ref": "#/definitions/SupplierReviewReportEntryType"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "object"
    },
    "SupplierReviewReportEntryAttributes": {
      "description": "Supplier Review Report Entry attributes. See example response and schema."
    },
    "SupplierReviewReportEntryFieldModel": {
      "properties": {
        "attributes": {
          "$ref": "#/definitions/ReportSchemaFieldModel"
        },
        "id": {
          "description": "Object ID, should always be `supplier_review_schemas`.",
          "type": "string"
        },
        "type": {
          "description": "Object type, should always be `supplier_review_schemas`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SupplierReviewReportEntryId": {
      "description": "Supplier Review Report identifier string.",
      "example": 1
    },
    "SupplierReviewReportEntryType": {
      "description": "Object type, should always be `supplier_review_report_entries`.",
      "example": "supplier_review_report_entries"
    },
    "SupplierType": {
      "description": "Object type, should always be `suppliers`.",
      "example": "suppliers"
    }
  },
  "securityDefinitions": {
    "api_key": {
      "description": "Company API key.",
      "in": "header",
      "name": "X-Api-Key",
      "type": "apiKey"
    },
    "user_email": {
      "description": "User email.",
      "in": "header",
      "name": "X-User-Email",
      "type": "apiKey"
    },
    "user_token": {
      "description": "User token.",
      "in": "header",
      "name": "X-User-Token",
      "type": "apiKey"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "tags": [
    {
      "description": "Workday Strategic Sourcing API Support: Please have a Named Support Contact from your company submit a support case in Workday's Customer Center.\n",
      "name": "support",
      "x-displayName": "Customer Support"
    },
    {
      "description": "A corresponding \"region domain\" should be used on every request. Please contact customer support if you are not sure which one to use.\n\n**Note, our original domain `api.scoutrfp.com` is currently deprecated. Please switch to a new US region domain on or before April-2025.**\n\n\n| Region             | Domain                            |\n|--------------------|-----------------------------------|\n| **US (Default)**   | https://api.us.workdayspend.com   |\n| **Canada**         | https://api.ca.workdayspend.com   |\n| **Europe/EU**      | https://api.eu.workdayspend.com   |\n",
      "name": "servers",
      "x-displayName": "Servers"
    },
    {
      "description": "The API conforms to the [JSON API Specification](https://jsonapi.org).\n",
      "name": "api_specification",
      "x-displayName": "API Specification"
    },
    {
      "description": "The Workday Strategic Sourcing API uses API keys to authenticate requests. Every request\nwill require all 3 HTTP headers:\n\n| HTTP Header       | Description               |\n|-------------------|---------------------------|\n| **X-Api-Key**     | a company-wide API key    |\n| **X-User-Token**  | a user-specific API token |\n| **X-User-Email**  | user email                |\n\nYou can generate all of those from the _API tokens_ section of your _Profile_ page.\n\nYour API keys carry many privileges, so be sure to keep them secure! Do not share your secret API\nkeys in publicly accessible areas such as GitHub, client-side code, and so forth.\n\n\nAll API requests must be made over [HTTPS](http://en.wikipedia.org/wiki/HTTP_Secure). Calls made\nover plain HTTP will fail. API requests without authentication will also fail.\n",
      "name": "authentication",
      "x-displayName": "Authentication"
    },
    {
      "description": "Rate limit windows are per second and are shared by all API Keys for a company.\n\nThe rate limit *for reporting only* is 1 request per second.\n\nWhen request submissions exceed the limits, the limit-exceeding requests return `429 Too Many Requests` error responses to the client.\n\nUpon receiving a `429` response, it is recommended to retry the request in compliance with the rate limit. One example would be to add a sleep function for 1 second and retry.\n",
      "name": "rate_limiting",
      "x-displayName": "Rate Limiting"
    },
    {
      "description": "**Note**: The Reporting API handles versioning differently than our public APIs.\n\nWe release a new dated version when we make backwards incompatible changes to the API.\nSo to be sure that the version used is consistent, we require it to be supplied in the\nrequest Accept header mime type `com.workdayspend.api.version` parameter.\n\nAs the JSON API spec requires to supply its mime type\n[at least once with no parameters](https://jsonapi.org/format/#content-negotiation-clients),\nthe recommended way is to supply the Accept header as follows:\n\n```\n  application/vnd.api+json,application/vnd.api+json; com.workdayspend.api.version=2019-01-01\n```\n\nThe next Accept header will be deprecated in April-2025:\n\n```\n  application/vnd.api+json,application/vnd.api+json; com.scoutrfp.api.version=2019-01-01\n```\n\nwhere `2019-01-01` is the current version.\n\nThere is `2018-04-01` version still available, which allows to pass given report id as a parameter (See 2018-04-01 Projects or Events documentation), however it might be depricated without a warning.\n",
      "name": "versioning",
      "x-displayName": "Versioning"
    },
    {
      "description": "The list endpoints are paginated - the records are returned in batches of 10 by default.\nYou can change this amount by passing the page[size] parameter that supports values\nfrom 1 to 100. If the previous/next page is available for the requested records,\nthe `prev`/`next` key respectively has a value with a link to the corresponding page in\nthe top level `links` object of the response. Otherwise, if the next/previous page is not\navailable, the value for the corresponding key is `null`. So normally you would fetch the\nrecord with the standard URL and repeatedly fetch the next page till it is not available\nany more (which means that you have fetched all the pages).\n",
      "name": "pagination",
      "x-displayName": "Pagination"
    },
    {
      "description": "The results of each list endpoint are sorted by its default sort value. You can override\nthe sort value by passing the `sort` param to the request. Default and available values are\nvisible in the documentation list endpoint section of each resource.\n",
      "name": "sorting",
      "x-displayName": "Sorting"
    },
    {
      "description": "By default only the `id` and `type` of record relationships will be included. To include other\nattributes in the response, use the `include` parameter with a single value or multiple\ncomma-separated values. An array of relationship objects is then available under the\ntop level `included` key. Valid `include` values are noted in the documentation endpoint\nsection of each resource.\n",
      "name": "including_relationships",
      "x-displayName": "Including Relationships"
    },
    {
      "description": "This report returns a list of contract milestone report entries.\n",
      "name": "contract_milestone_reports",
      "x-displayName": "Contract Milestone Reports"
    },
    {
      "description": "This report returns a list of contract report entries.\n",
      "name": "contract_reports",
      "x-displayName": "Contract Reports"
    },
    {
      "description": "This report returns a list of event report entries.\n",
      "name": "event_reports",
      "x-displayName": "Event Reports"
    },
    {
      "description": "This report returns a list of Performance Review Answer report entries.\n",
      "name": "performance_review_answer_reports",
      "x-displayName": "Performance Review Answer Reports"
    },
    {
      "description": "This report returns a list of Performance Review report entries.\n",
      "name": "performance_review_reports",
      "x-displayName": "Performance Review Reports"
    },
    {
      "description": "This report returns a list of Project Milestone report entries.\n",
      "name": "project_milestone_reports",
      "x-displayName": "Project Milestone Reports"
    },
    {
      "description": "This report returns a list of Project report entries.\n",
      "name": "project_reports",
      "x-displayName": "Project Reports"
    },
    {
      "description": "This report returns a list of Savings report entries.\n",
      "name": "savings_reports",
      "x-displayName": "Savings Reports"
    },
    {
      "description": "This report returns a list of Supplier report entries.\n",
      "name": "supplier_reports",
      "x-displayName": "Supplier Reports"
    },
    {
      "description": "This report returns a list of Supplier Review report entries.\n",
      "name": "supplier_review_reports",
      "x-displayName": "Supplier Review Reports"
    },
    {
      "description": "This report returns a list of Suppliers.\n",
      "name": "suppliers",
      "x-displayName": "Suppliers"
    }
  ],
  "x-components": {
    "examples": {
      "all_reports_response_20180401": {
        "value": {
          "data": [
            {
              "attributes": {
                "description": "Report 1 description",
                "title": "Report 1"
              },
              "id": "1",
              "links": {
                "entries": "https://api.us.workdayspend.com/event_reports/1/entries",
                "schema": "https://api.us.workdayspend.com/event_reports/1/schema"
              },
              "type": "event_reports"
            },
            {
              "attributes": {
                "description": "Report 2 description",
                "title": "Report 2"
              },
              "id": "2",
              "links": {
                "entries": "https://api.us.workdayspend.com/event_reports/2/entries",
                "schema": "https://api.us.workdayspend.com/event_reports/2/schema"
              },
              "type": "event_reports"
            },
            {
              "attributes": {
                "description": "Report 3 description",
                "title": "Report 3"
              },
              "id": "3",
              "links": {
                "entries": "https://api.us.workdayspend.com/event_reports/3/entries",
                "schema": "https://api.us.workdayspend.com/event_reports/3/schema"
              },
              "type": "event_reports"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "all_reports_response_20180401-2": {
        "value": {
          "data": [
            {
              "attributes": {
                "description": "Report 1 description",
                "title": "Report 1"
              },
              "id": "1",
              "links": {
                "entries": "https://api.us.workdayspend.com/project_reports/1/entries",
                "schema": "https://api.us.workdayspend.com/project_reports/1/schema"
              },
              "type": "project_reports"
            },
            {
              "attributes": {
                "description": "Report 2 description",
                "title": "Report 2"
              },
              "id": "2",
              "links": {
                "entries": "https://api.us.workdayspend.com/project_reports/2/entries",
                "schema": "https://api.us.workdayspend.com/project_reports/2/schema"
              },
              "type": "project_reports"
            },
            {
              "attributes": {
                "description": "Report 3 description",
                "title": "Report 3"
              },
              "id": "3",
              "links": {
                "entries": "https://api.us.workdayspend.com/project_reports/3/entries",
                "schema": "https://api.us.workdayspend.com/project_reports/3/schema"
              },
              "type": "project_reports"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "all_reports_response_20190101": {
        "value": {
          "errors": [
            {
              "detail": "This endpoint has been deprecated"
            }
          ]
        }
      },
      "index_response": {
        "value": {
          "data": [
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Auto Renewal": "no",
                "Scout-Category": null,
                "Scout-Contract State & Status": "In Progress",
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-ID #": 1,
                "Scout-Mark Completed By": null,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Name": "example 1",
                "Scout-Milestone Status": "Open",
                "Scout-Renewal Term": null,
                "Scout-Request Opened": null,
                "Scout-Request Submitted": null,
                "Scout-Requestor Name": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-System ID": 1,
                "Scout-Template Milestone": false
              },
              "id": "1",
              "type": "contract_milestone_report_entries"
            },
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Auto Renewal": "no",
                "Scout-Category": null,
                "Scout-Contract State & Status": "In Progress",
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-ID #": 1,
                "Scout-Mark Completed By": null,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Name": "example 2",
                "Scout-Milestone Status": "Open",
                "Scout-Renewal Term": null,
                "Scout-Request Opened": null,
                "Scout-Request Submitted": null,
                "Scout-Requestor Name": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-System ID": 2,
                "Scout-Template Milestone": false
              },
              "id": "2",
              "type": "contract_milestone_report_entries"
            },
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Auto Renewal": "no",
                "Scout-Category": null,
                "Scout-Contract State & Status": "In Progress",
                "Scout-Contract Title": "Fantastic Steel Plate",
                "Scout-Contract Type": "Contract Type #11",
                "Scout-Contract Type Short Code": "11VD",
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-ID #": 1,
                "Scout-Mark Completed By": null,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Name": "this will not show up",
                "Scout-Milestone Status": "Open",
                "Scout-Renewal Term": null,
                "Scout-Request Opened": null,
                "Scout-Request Submitted": null,
                "Scout-Requestor Name": null,
                "Scout-Sourcing Owner": "Sophie II",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-System ID": 3,
                "Scout-Template Milestone": false
              },
              "id": "3",
              "type": "contract_milestone_report_entries"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "index_response-2": {
        "value": {
          "data": [
            {
              "attributes": {
                "Custom field for contract!": null,
                "Scout-Approved Date": null,
                "Scout-Approved FQ": null,
                "Scout-Approved FY": null,
                "Scout-Attachments": null,
                "Scout-Auto Renewal": "no",
                "Scout-Canceled Reason": null,
                "Scout-Category": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Contract Description": "Facilis assumenda voluptatem magnam.",
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Contract Title": "New contract",
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Currency": "USD",
                "Scout-Days Active": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Requested": "0.0",
                "Scout-ESign Platforms": null,
                "Scout-ESign States": null,
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-External ID": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-Has Attachments": false,
                "Scout-ID #": 1,
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Name": null,
                "Scout-Needs Attention Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Record ID": 100,
                "Scout-Record Type": "Contract",
                "Scout-Related Contract ID #": null,
                "Scout-Related Project ID #": null,
                "Scout-Related Projects": null,
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Revised Contract ID #": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Spend": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-Termination Reason": null
              },
              "id": "1",
              "type": "contract_report_entries"
            },
            {
              "attributes": {
                "Custom field for contract!": "Custom field value",
                "Scout-Approved Date": null,
                "Scout-Approved FQ": null,
                "Scout-Approved FY": null,
                "Scout-Attachments": null,
                "Scout-Auto Renewal": "no",
                "Scout-Canceled Reason": null,
                "Scout-Category": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Contract Description": "Distinctio vel iure voluptas.",
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Contract Title": "New contract 2",
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Currency": "USD",
                "Scout-Days Active": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Requested": "0.0",
                "Scout-ESign Platforms": null,
                "Scout-ESign States": null,
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-External ID": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-Has Attachments": false,
                "Scout-ID #": 2,
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Name": null,
                "Scout-Needs Attention Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Record ID": 200,
                "Scout-Record Type": "Contract",
                "Scout-Related Contract ID #": null,
                "Scout-Related Project ID #": null,
                "Scout-Related Projects": null,
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Revised Contract ID #": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Spend": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-Termination Reason": null
              },
              "id": "2",
              "type": "contract_report_entries"
            },
            {
              "attributes": {
                "Custom field for contract!": null,
                "Scout-Approved Date": null,
                "Scout-Approved FQ": null,
                "Scout-Approved FY": null,
                "Scout-Attachments": null,
                "Scout-Auto Renewal": "no",
                "Scout-Canceled Reason": null,
                "Scout-Category": null,
                "Scout-Company": null,
                "Scout-Company Hierarchy": null,
                "Scout-Contract Description": "Ipsa voluptatem vel recusandae.",
                "Scout-Contract Request Opened Date": "2021-11-04",
                "Scout-Contract Request Opened FQ": 4,
                "Scout-Contract Request Opened FY": 2021,
                "Scout-Contract Request Submitted Date": "2021-11-04",
                "Scout-Contract Request Submitted FQ": 4,
                "Scout-Contract Request Submitted FY": 2021,
                "Scout-Contract Requester": "Gabriel Keebler",
                "Scout-Contract State & Status": "In Progress - Internal Review",
                "Scout-Contract Title": "Old contract",
                "Scout-Contract Type": "Contract Type #22",
                "Scout-Contract Type Short Code": "22JD",
                "Scout-Creator": "Gabriel Keebler",
                "Scout-Currency": "USD",
                "Scout-Days Active": "0.0",
                "Scout-Days Approved": "0.0",
                "Scout-Days In Progress - External Review": "0.0",
                "Scout-Days In Progress - Internal Review": "0.0",
                "Scout-Days In Progress - Negotiating": "0.0",
                "Scout-Days In Progress - Out for Signature": "0.0",
                "Scout-Days Requested": "0.0",
                "Scout-ESign Platforms": "Adobe Sign, Docusign",
                "Scout-ESign States": "Creating, Waiting For Notarization",
                "Scout-End Date": null,
                "Scout-End Date FQ": null,
                "Scout-End Date FY": null,
                "Scout-External ID": null,
                "Scout-First Milestone Assign Date": null,
                "Scout-Has Attachments": false,
                "Scout-ID #": 3,
                "Scout-Last Updated Date": "2021-11-04",
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Date": null,
                "Scout-Milestone Name": null,
                "Scout-Needs Attention Reason": null,
                "Scout-Original Approval Request Date": null,
                "Scout-Original Approval Request Date FQ": null,
                "Scout-Original Approval Request Date FY": null,
                "Scout-Record ID": 300,
                "Scout-Record Type": "Contract",
                "Scout-Related Contract ID #": null,
                "Scout-Related Project ID #": null,
                "Scout-Related Projects": null,
                "Scout-Renewal Number of Times": null,
                "Scout-Renewal Term": null,
                "Scout-Renewal Termination Notice": null,
                "Scout-Renewal Termination Reminder": null,
                "Scout-Revised Contract ID #": null,
                "Scout-Sent for Approval": null,
                "Scout-Sent for Approval FQ": null,
                "Scout-Sent for Approval FY": null,
                "Scout-Sourcing Owner": "Gabriel Keebler",
                "Scout-Spend": null,
                "Scout-Stakeholders": "Gabriel Keebler",
                "Scout-Start Date": null,
                "Scout-Start Date FQ": null,
                "Scout-Start Date FY": null,
                "Scout-Supplier": null,
                "Scout-Termination Reason": null
              },
              "id": "3",
              "type": "contract_report_entries"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "index_response-3": {
        "value": {
          "data": [
            {
              "attributes": {
                "Scout-Answer Content": "Answer 1",
                "Scout-Answer Not Applicable": false,
                "Scout-Answer Score": null,
                "Scout-Answer Selected Options": null,
                "Scout-Answer Weighted Score": null,
                "Scout-Event ID": 111,
                "Scout-Event Title": "Event",
                "Scout-Has Attachments": false,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Project Number": 1000,
                "Scout-Question Content": "Question 1",
                "Scout-Question Type": "file",
                "Scout-Question Weight": 25,
                "Scout-Section Order": null,
                "Scout-Section Title": "Section A",
                "Scout-Section Weight": 100,
                "Scout-Stakeholder Email": "gabriel.keebler@test.com",
                "Scout-Stakeholder Name": "Gabriel Keebler",
                "Scout-Supplier Company ID": 1111,
                "Scout-Supplier Description": null,
                "Scout-Supplier Name": "Mr. Dannielle Von's General Store",
                "Scout-Supplier Risk": null,
                "Scout-Supplier Segmentation": null,
                "Scout-Supplier Segmentation Status": null,
                "Scout-Supplier Tags": null,
                "Scout-Supplier Website": null,
                "Scout-System ID": 100
              },
              "id": "1",
              "type": "performance_review_answer_report_entries"
            },
            {
              "attributes": {
                "Scout-Answer Content": "Answer 2",
                "Scout-Answer Not Applicable": false,
                "Scout-Answer Score": null,
                "Scout-Answer Selected Options": null,
                "Scout-Answer Weighted Score": null,
                "Scout-Event ID": 111,
                "Scout-Event Title": "Event",
                "Scout-Has Attachments": false,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Project Number": 1000,
                "Scout-Question Content": "Question 2",
                "Scout-Question Type": "short",
                "Scout-Question Weight": 25,
                "Scout-Section Order": null,
                "Scout-Section Title": "Section A",
                "Scout-Section Weight": 100,
                "Scout-Stakeholder Email": "gabriel.keebler@test.com",
                "Scout-Stakeholder Name": "Gabriel Keebler",
                "Scout-Supplier Company ID": 1111,
                "Scout-Supplier Description": null,
                "Scout-Supplier Name": "Mr. Dannielle Von's General Store",
                "Scout-Supplier Risk": null,
                "Scout-Supplier Segmentation": null,
                "Scout-Supplier Segmentation Status": null,
                "Scout-Supplier Tags": null,
                "Scout-Supplier Website": null,
                "Scout-System ID": 100
              },
              "id": "2",
              "type": "performance_review_answer_report_entries"
            },
            {
              "attributes": {
                "Scout-Answer Content": "Answer 3",
                "Scout-Answer Not Applicable": false,
                "Scout-Answer Score": null,
                "Scout-Answer Selected Options": null,
                "Scout-Answer Weighted Score": null,
                "Scout-Event ID": 111,
                "Scout-Event Title": "Event",
                "Scout-Has Attachments": false,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Project Number": 1000,
                "Scout-Question Content": "Question 3",
                "Scout-Question Type": "short",
                "Scout-Question Weight": 50,
                "Scout-Section Order": null,
                "Scout-Section Title": "Section A",
                "Scout-Section Weight": 100,
                "Scout-Stakeholder Email": "gabriel.keebler@test.com",
                "Scout-Stakeholder Name": "Gabriel Keebler",
                "Scout-Supplier Company ID": 1111,
                "Scout-Supplier Description": null,
                "Scout-Supplier Name": "Mr. Dannielle Von's General Store",
                "Scout-Supplier Risk": null,
                "Scout-Supplier Segmentation": null,
                "Scout-Supplier Segmentation Status": null,
                "Scout-Supplier Tags": null,
                "Scout-Supplier Website": null,
                "Scout-System ID": 100
              },
              "id": "3",
              "type": "performance_review_answer_report_entries"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "index_response-4": {
        "value": {
          "data": [
            {
              "attributes": {
                "Custom string field name": null,
                "Scout-Category": null,
                "Scout-Executive Summary": "Executive summary 1",
                "Scout-High": null,
                "Scout-Low": null,
                "Scout-Median": null,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Scorecard Completed Date": null,
                "Scout-Sourcing Owner": null,
                "Scout-Supplier Name": "Mr. Dannielle Von's General Store",
                "Scout-Total Score": null,
                "Scout-Total: Account Management": null,
                "Scout-Total: Innovation": null,
                "Scout-Total: Maintenance & Delivery": null,
                "Scout-Total: Pricing & Financials": null,
                "Scout-Total: Quality & Level of Service": null,
                "Scout-Weight: Account Management": null,
                "Scout-Weight: Innovation": null,
                "Scout-Weight: Maintenance & Delivery": null,
                "Scout-Weight: Pricing & Financials": null,
                "Scout-Weight: Quality & Level of Service": null
              },
              "id": "1",
              "type": "performance_review_report_entries"
            },
            {
              "attributes": {
                "Custom string field name": "Custom string field value",
                "Scout-Category": null,
                "Scout-Executive Summary": "Executive summary 2",
                "Scout-High": null,
                "Scout-Low": null,
                "Scout-Median": null,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Scorecard Completed Date": null,
                "Scout-Sourcing Owner": null,
                "Scout-Supplier Name": "Alejandro Konopelski's General Store",
                "Scout-Total Score": null,
                "Scout-Total: Account Management": null,
                "Scout-Total: Innovation": null,
                "Scout-Total: Maintenance & Delivery": null,
                "Scout-Total: Pricing & Financials": null,
                "Scout-Total: Quality & Level of Service": null,
                "Scout-Weight: Account Management": null,
                "Scout-Weight: Innovation": null,
                "Scout-Weight: Maintenance & Delivery": null,
                "Scout-Weight: Pricing & Financials": null,
                "Scout-Weight: Quality & Level of Service": null
              },
              "id": "2",
              "type": "performance_review_report_entries"
            },
            {
              "attributes": {
                "Custom string field name": null,
                "Scout-Category": null,
                "Scout-Executive Summary": "Executive summary 3",
                "Scout-High": null,
                "Scout-Low": null,
                "Scout-Median": null,
                "Scout-Performance Review Title": "Ergonomic Wooden Table",
                "Scout-Project ID": 1,
                "Scout-Scorecard Completed Date": null,
                "Scout-Sourcing Owner": null,
                "Scout-Supplier Name": "Giovanni Watsica's General Store",
                "Scout-Total Score": null,
                "Scout-Total: Account Management": null,
                "Scout-Total: Innovation": null,
                "Scout-Total: Maintenance & Delivery": null,
                "Scout-Total: Pricing & Financials": null,
                "Scout-Total: Quality & Level of Service": null,
                "Scout-Weight: Account Management": null,
                "Scout-Weight: Innovation": null,
                "Scout-Weight: Maintenance & Delivery": null,
                "Scout-Weight: Pricing & Financials": null,
                "Scout-Weight: Quality & Level of Service": null
              },
              "id": "3",
              "type": "performance_review_report_entries"
            }
          ],
          "links": {
            "next": null,
            "prev": null
          }
        }
      },
      "index_response-5": {
        "value": {
          "data": [
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Actual End Date": null,
                "Scout-Actual End Date FQ": null,
                "Scout-Actual End Date FY": null,
                "Scout-Actual Start Date": null,
                "Scout-Actual Start Date FQ": null,
                "Scout-Actual Start Date FY": null,
                "Scout-Category": null,
                "Scout-Estimated End Date": "2020-06-14",
                "Scout-Estimated End Date FQ": 2,
                "Scout-Estimated End Date FY": 2020,
                "Scout-Estimated Start Date": "2020-04-28",
                "Scout-Estimated Start Date FQ": 2,
                "Scout-Estimated Start Date FY": 2020,
                "Scout-ID #": 1,
                "Scout-Mark Completed By": null,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Name": "example 1",
                "Scout-Milestone Status": "Open",
                "Scout-Project Needs Attention": "No",
                "Scout-Project Requester": null,
                "Scout-Project State & Status": "Planned",
                "Scout-Project Title": "Enormous Rubber Plate",
                "Scout-Project Type": "Project Type #72",
                "Scout-Project Type Short Code": "72P5",
                "Scout-Request Opened": null,
                "Scout-Request Submitted": null,
                "Scout-Sourcing Owner": "Miss McLaughlin",
                "Scout-Template Milestone": false
              },
              "id": "1",
              "type": "project_milestone_report_entries"
            },
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Actual End Date": null,
                "Scout-Actual End Date FQ": null,
                "Scout-Actual End Date FY": null,
                "Scout-Actual Start Date": null,
                "Scout-Actual Start Date FQ": null,
                "Scout-Actual Start Date FY": null,
                "Scout-Category": null,
                "Scout-Estimated End Date": "2020-06-14",
                "Scout-Estimated End Date FQ": 2,
                "Scout-Estimated End Date FY": 2020,
                "Scout-Estimated Start Date": "2020-04-28",
                "Scout-Estimated Start Date FQ": 2,
                "Scout-Estimated Start Date FY": 2020,
                "Scout-ID #": 1,
                "Scout-Mark Completed By": null,
                "Scout-Milestone Assign Date": null,
                "Scout-Milestone Assignee": null,
                "Scout-Milestone Complete Date": null,
                "Scout-Milestone Complete Date FQ": null,
                "Scout-Milestone Complete Date FY": null,
                "Scout-Milestone Create Date": "2020-04-14",
                "Scout-Milestone Create Date FQ": 2,
                "Scout-Milestone Create Date FY": 2020,
                "Scout-Milestone Created By": null,
                "Scout-Milestone Date": "2020-04-16",
                "Scout-Milestone Date FQ": 2,
                "Scout-Milestone Date FY": 2020,
                "Scout-Milestone Name": "example 2",
                "Scout-Milestone Status": "Open",
                "Scout-Project Needs Attention": "No",
                "Scout-Project Requester": null,
                "Scout-Project State & Status": "Planned",
                "Scout-Project Title": "Enormous Rubber Plate",
                "Scout-Project Type": "Project Type #72",
                "Scout-Project Type Short Code": "72P5",
                "Scout-Request Opened": null,
                "Scout-Request Submitted": null,
                "Scout-Sourcing Owner": "Miss McLaughlin",
                "Scout-Template Milestone": false
              },
              "id": "2",
              "type": "project_milestone_report_entries"
            },
            {
              "attributes": {
                "Custom field for project!": "Custom field value",
                "Scout-# of Days Milestone is Open": null,
                "Scout-Actual End Date": null,
                "Scout-Actual End Date FQ": null,
                "Scout-Actual End Date FY": null,
                "Scout-Actual Start Date": null,
                "Scout-Actual Start Date FQ": null,
                "Scout-Actual Start Date FY": null,
                "Scout-Category": null,
                "Scout-Estimated End Date": "2020-06-14",
                "Scout-Estimated End Date FQ": 2,
[...]
