{
  "swagger": "2.0",
  "info": {
    "description": "<span id=\"section/Authentication/api_key\" data-section-id=\"section/Authentication/api_key\"></span>\n<span id=\"section/Authentication/user_token\" data-section-id=\"section/Authentication/user_token\"></span>\n<span id=\"section/Authentication/user_email\" data-section-id=\"section/Authentication/user_email\"></span>\n",
    "title": "Workday Strategic Sourcing Supplier API",
    "version": "1.0"
  },
  "host": "api.us.workdayspend.com",
  "basePath": "/services/suppliers/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/contact_types": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/ContactType"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Returns a list of contact types.",
        "operationId": "List Contact Types",
        "summary": "List Contact Types",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactTypeCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactType"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Create a contact type with given parameters.\n",
        "operationId": "Create a Contact Type",
        "summary": "Create a Contact Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"attributes\":{\"name\":\"Contact Type\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types\"\n"
          }
        ]
      }
    },
    "/contact_types/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Unique contact type external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CTYPE"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Deletes a contact type. You need to supply the unique contact type\nexternal identifier assigned to the contact type on creation.\n",
        "operationId": "Delete a Contact Type by External ID",
        "summary": "Delete a Contact Type by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/CTYPE/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contact type external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CTYPE"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactTypeUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactType"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Updates the details of an existing contact type. You need to supply the unique\nexternal identifier assigned to the contact type on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contact type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contact Type by External ID",
        "summary": "Update a Contact Type by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"id\":\"CTYPE\",\"attributes\":{\"name\":\"Updated Field Contact Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/CTYPE/external_id\"\n"
          }
        ]
      }
    },
    "/contact_types/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique contact type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Deletes a contact type. You need to supply the unique contact type\nidentifier that was returned upon contact type creation.\n",
        "operationId": "Delete a Contact Type",
        "summary": "Delete a Contact Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique contact type identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactTypeUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/ContactType"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "contact_types"
        ],
        "description": "Updates the details of an existing contact type. You need to supply the unique\nidentifier that was returned upon contact type creation.\n\nPlease note, that request body must include an `id` attribute with the value of your contact type\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Contact Type",
        "summary": "Update a Contact Type",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"contact_types\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Field Contact Type\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/contact_types/2\"\n"
          }
        ]
      }
    },
    "/supplier_categories": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCategory"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Returns a list of supplier categories.",
        "operationId": "List Supplier Categories",
        "summary": "List Supplier Categories",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategoryCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategory"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Create a supplier category with given parameters.\n",
        "operationId": "Create a Supplier Category",
        "summary": "Create a Supplier Category",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"attributes\":{\"name\":\"Supplier Category\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories\"\n"
          }
        ]
      }
    },
    "/supplier_categories/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier category external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "SUPCAT"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Deletes a supplier category. You need to supply the unique supplier category\nexternal identifier assigned to the supplier category on creation.\n",
        "operationId": "Delete a Supplier Category by External ID",
        "summary": "Delete a Supplier Category by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/SUPCAT/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier category external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "SUPCAT"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategoryUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategory"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Updates the details of an existing supplier category. You need to supply the unique\nexternal identifier assigned to the supplier category on creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier category\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Category by External ID",
        "summary": "Update a Supplier Category by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"id\":\"SUPCAT\",\"attributes\":{\"name\":\"Updated Supplier Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/SUPCAT/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_categories/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier category identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Deletes a supplier category. You need to supply the unique supplier category\nidentifier that was returned upon supplier category creation.\n",
        "operationId": "Delete a Supplier Category",
        "summary": "Delete a Supplier Category",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier category identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategoryUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCategory"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_categories"
        ],
        "description": "Updates the details of an existing supplier category. You need to supply the unique\nidentifier that was returned upon supplier category creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier category\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Category",
        "summary": "Update a Supplier Category",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_categories\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Supplier Category\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_categories/2\"\n"
          }
        ]
      }
    },
    "/supplier_classifications": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_classifications?include=supplier_classification_fields\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and related resource details will be presented in the `included`\nsection as resource objects (with `attributes` that have a corresponding `external_id`).\n",
            "in": "query",
            "name": "include"
          },
          {
            "description": "Filter supplier classifications by codename.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierClassification"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Returns a list of supplier classifications.",
        "operationId": "List Supplier Classifications",
        "summary": "List Supplier Classifications",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassificationCreate"
                },
                "included": {
                  "$ref": "#/definitions/SupplierClassificationIncludedMutationResources"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassification"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Create a supplier classifications with given attributes, relationships, and related complex resources.\n\n```json\n{\n  \"data\": {\n    \"type\": \"supplier_classifications\",\n    \"attributes\": {\n      \"name\": \"Classification 1\",\n      \"order\": 1,\n      \"country_alpha2\": \"CA\",\n      \"codename\": \"diversity\",\n      \"active\": true,\n      \"external_id\": \"CLASSIFICATION-1\",\n      \"request_additional_information\": false\n    }\n  }\n}\n```\n\n## Composite Resources\n\nResources that do not exist outside of parent resource, and are managed within the scope of\nparent resource, cannot be pre-created in advance. Supplier classifications have one composite\nresource `supplier_classification_fields` that includes another composite resource in itself -\n`supplier_classification_field_options`.\n\nIn order to create these resource along with the parent object, compound document must be used:\n\n```json\n{\n  \"data\": {\n    \"type\": \"supplier_classifications\",\n    \"attributes\": {\n      \"name\": \"Classification 1\",\n      \"order\": 1,\n      \"country_alpha2\": \"CA\",\n      \"codename\": \"diversity\",\n      \"active\": true,\n      \"external_id\": \"CLASSIFICATION-1\",\n      \"request_additional_information\": true\n    },\n    \"relationships\": {\n      \"supplier_classification_fields\": {\n        \"data\": [\n          {\n            \"id\": \"CLASSIFICATION-FIELD-1\",\n            \"type\": \"supplier_classification_fields\"\n          },\n        ]\n      }\n    },\n    \"included\": [\n      {\n        \"id\": \"CLASSIFICATION-FIELD-1\",\n        \"type\": \"supplier_classification_fields\",\n        \"attributes\": {\n          \"name\": \"Field 1\",\n          \"order\": 1,\n          \"required\": false,\n          \"kind\": \"SELECT\",\n          \"external_id\": \"CLASSIFICATION-FIELD-1\"\n        },\n        \"relationships\": {\n          \"supplier_classification_field_options\": {\n            \"data\": [\n              {\n                \"id\": \"CLASSIFICATION-FIELD-OPTION-1\",\n                \"type\": \"supplier_classification_field_options\"\n              },\n              {\n                \"id\": \"CLASSIFICATION-FIELD-OPTION-2\",\n                \"type\": \"supplier_classification_field_options\"\n              }\n            ]\n          }\n        }\n      },\n      {\n        \"id\": \"CLASSIFICATION-FIELD-OPTION-1\",\n        \"type\": \"supplier_classification_field_options\",\n        \"attributes\": {\n          \"label\": \"Option 1\",\n          \"order\": 1,\n          \"external_id\": \"CLASSIFICATION-FIELD-OPTION-1\"\n        }\n      },\n      {\n        \"id\": \"CLASSIFICATION-FIELD-OPTION-2\",\n        \"type\": \"supplier_classification_field_options\",\n        \"attributes\": {\n          \"label\": \"Option 2\",\n          \"order\": 2,\n          \"external_id\": \"CLASSIFICATION-FIELD-OPTION-2\"\n        }\n      }\n    ]\n  }\n}\n```\n",
        "operationId": "Create a Supplier Classification",
        "summary": "Create a Supplier Classification",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_classifications\",\"attributes\":{\"name\":\"Classif 1\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications\"\n"
          }
        ]
      }
    },
    "/supplier_classifications/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Supplier classification external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CL-1"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Deletes a supplier classification.\n",
        "operationId": "Delete a Supplier Classification by External ID",
        "summary": "Delete a Supplier Classification by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/CL-1/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Supplier classification external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CL-1"
          },
          {
            "description": "Use the `include` parameter to request related resources.\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassification"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Retrieves the details of an existing supplier classification. You need to supply the unique supplier\nclassification external identifier (the one you used when created the supplier classification).\n",
        "operationId": "Get a Supplier Classification by External ID",
        "summary": "Get a Supplier Classification by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/CL-1/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Supplier classification external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CL-1"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassificationUpdate"
                },
                "included": {
                  "$ref": "#/definitions/SupplierClassificationRelatedResources"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassification"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Update a supplier classification with given attributes, relationships, and related complex resources.\n",
        "operationId": "Update a Supplier Classification by External ID",
        "summary": "Update a Supplier Classification by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"id\":\"CL-1\",\"type\":\"supplier_classifications\",\"attributes\":{\"name\":\"Classif 1\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/CL-1/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_classifications/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier classification identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Deletes a supplier classification.\n",
        "operationId": "Delete a Supplier Classification",
        "summary": "Delete a Supplier Classification",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier classification identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources.\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassification"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Retrieves the details of an existing supplier classification.\n",
        "operationId": "Get a Supplier Classification",
        "summary": "Get a Supplier Classification",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Supplier Classification identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassificationUpdate"
                },
                "included": {
                  "$ref": "#/definitions/SupplierClassificationRelatedResources"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierClassification"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_classifications"
        ],
        "description": "Update a supplier classification with given attributes, relationships, and related complex resources.\n",
        "operationId": "Update a Supplier Classification",
        "summary": "Update a Supplier Classification",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"id\": 1,\"type\":\"supplier_classifications\",\"attributes\":{\"name\":\"Classif 1\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_classifications/1\"\n"
          }
        ]
      }
    },
    "/supplier_companies": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Filter supplier companies by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          },
          {
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_companies?include=payment_types,default_payment_type\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and full related resource details will be presented in the `included`\nsection as resource objects (with `attributes`, `links`, and potentially `relationships`).\n",
            "in": "query",
            "name": "include"
          },
          {
            "description": "Customize pagination results with `size`.\n",
            "in": "query",
            "name": "page",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierCompany"
                      },
                      "type": "array"
                    },
                    "included": {
                      "$ref": "#/definitions/SupplierCompanyIncludedResources"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Returns a list of supplier companies for the specified criteria.",
        "operationId": "List Supplier Companies",
        "summary": "List Supplier Companies",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompany"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Create a supplier company with given attributes, relationships, and related complex resources.\n\nWhen creating a supplier company with relationships, keep in mind that there are two kinds of\nrelationships: linked resources and composite resources.\n\n## Linked Resources\n\nThese are normal relationship resources managed outside of primary resource (supplier company).\nFor example, payment currencies exist on their own, and can be assigned to one or many supplier\ncompanies, contracts, etc. These resources usually have their own API management endpoints.\n\nAll related objects should exist prior to being linked to the supplier company. They can be\nreferenced by Workday Strategic Sourcing identifier, or by external ID; in the latter case, the relationship\nname is used with prefix `external_`. For example, a payment currency with Workday Strategic Sourcing ID `\"1\"` and\nexternal ID `\"C$EUR\"` can be used to initialize `default_payment_currency`:\n\n```json\n{\n  \"default_payment_currency\": {\n    \"data\" {\n      \"id\": \"1\",\n      \"type\": \"payment_currencies\"\n    }\n  }\n}\n```\n\n```json\n{\n  \"external_default_payment_currency\": {\n    \"data\" {\n      \"id\": \"C$EUR\",\n      \"type\": \"payment_currencies\"\n    }\n  }\n}\n```\n\nWhen `external_` prefix is applied to a \"many\" relationship, like `external_payment_currencies`,\nall of the identifiers will be treated as external IDs.\n\n\n",
        "operationId": "Create a Supplier Company",
        "summary": "Create a Supplier Company",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"attributes\":{\"name\":\"My Supplier\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies\"\n"
          }
        ]
      }
    },
    "/supplier_companies/describe": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierCompanyFieldModel"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Returns a list of fields for the supplier company object.",
        "operationId": "Describe Supplier Company object",
        "summary": "Describe Supplier Company object",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/describe\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{company_id}/supplier_contacts": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier company identifier.",
            "in": "path",
            "name": "company_id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_contacts?include=supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and related resource details will be presented in the `included`\nsection as resource objects (with `attributes` that have a corresponding `external_id`).\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "description": "Filter supplier contacts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierContact"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the list of contacts for an existing supplier company.\n",
        "operationId": "List Supplier Contacts",
        "summary": "List Supplier Contacts",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Supplier company external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Deletes a supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n",
        "operationId": "Delete a Supplier Company by External ID",
        "summary": "Delete a Supplier Company by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Supplier company external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompany"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Retrieves the details of an existing supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n",
        "operationId": "Get a Supplier Company by External ID",
        "summary": "Get a Supplier Company by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Supplier company external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompany"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Updates the details of an existing supplier company. You need to supply the unique supplier\ncompany external identifier (the one you used when created the supplier company).\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\nexternal identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company by External ID",
        "summary": "Update a Supplier Company by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"id\":\"SUP-1234\",attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/SUP-1234/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{external_id}/supplier_contacts/external_id": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Supplier company external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "1234-5678-abcd-efgh"
          },
          {
            "description": "To reduce the number of HTTP requests, related resources can be requested along with the\nrequested primary resources. Such responses are called \"compound documents\". In a compound\ndocument, all included resources will be represented as an array of resource objects in a\ntop-level `included` member.\n\nThe value of the `include` parameter must be a comma-separated list of relationships from\nthe list of available relationships.\n\n\n\n```\n/supplier_contacts?include=supplier_company\n```\n\nIn the response, relationships will be represented as normal linkage objects (containing\n`id` and `type`), and related resource details will be presented in the `included`\nsection as resource objects (with `attributes` that have a corresponding `external_id`).\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "description": "Filter supplier contacts by multiple criteria. Only one filter per attribute is supported.\nFor best performance, we recommend 5 or less filters.\n",
            "in": "query",
            "name": "filter",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "data": {
                      "items": {
                        "$ref": "#/definitions/SupplierContact"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                {
                  "$ref": "#/definitions/Pagination"
                }
              ],
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the list of contacts for an existing supplier company by Supplier Company External ID.\n",
        "operationId": "List Supplier Contacts by Supplier Company External ID",
        "summary": "List Supplier Contacts by Supplier Company External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1234-5678-abcd-efgh/supplier_contacts/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_companies/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique Supplier Company identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Deletes a supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n",
        "operationId": "Delete a Supplier Company",
        "summary": "Delete a Supplier Company",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Supplier Company identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n",
            "in": "query",
            "name": "include"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompany"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Retrieves the details of an existing supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n",
        "operationId": "Get a Supplier Company",
        "summary": "Get a Supplier Company",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique Supplier Company identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request related resources along with the primary resource.\n(see \"List Supplier Companies\" for more details).\n",
            "in": "query",
            "name": "include"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompany"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_companies"
        ],
        "description": "Updates the details of an existing supplier company. You need to supply the unique supplier\ncompany identifier that was returned upon supplier company creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\nunique identifier (the same one you passed in the URL).\n\n## Linked Resources\n\nWhen updating relationships on a supplier company resource, keep in mind the whole relationship\nwill be replaced the new values. For example, if a supplier company has currencies with IDs\n`\"1\"` and `\"2\"`, and in update request payload `payment_currencies` relationship is specified\nwith ID `\"3\"`, the only payment currency associated after the request succeeded will be `\"3\"`.\n\n\n",
        "operationId": "Update a Supplier Company",
        "summary": "Update a Supplier Company",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_companies\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_companies/1\"\n"
          }
        ]
      }
    },
    "/supplier_company_risks": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCompanyRisk"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Returns a list of supplier company risks.",
        "operationId": "List Supplier Company Risks",
        "summary": "List Supplier Company Risks",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyRiskCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyRisk"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Create a supplier company risk with given parameters.\n",
        "operationId": "Create a Supplier Company Risk",
        "summary": "Create a Supplier Company Risk",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"attributes\":{\"label\":\"Super High!\",\"color\": \"red\",\"order\":4}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks\"\n"
          }
        ]
      }
    },
    "/supplier_company_risks/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier company risk identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Deletes a supplier company risk. You need to supply the unique supplier company risk\nidentifier that was returned upon supplier company risk creation.\n",
        "operationId": "Delete a Supplier Company Risk",
        "summary": "Delete a Supplier Company Risk",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier company risk identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyRiskUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanyRisk"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_risks"
        ],
        "description": "Updates the details of an existing supplier company risk. You need to supply the unique\nidentifier that was returned upon supplier company risk creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier company risk\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company Risk",
        "summary": "Update a Supplier Company Risk",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_risks\",\"id\":\"2\",\"attributes\":{\"label\":\"Very High\",\"color\":\"red\",\"order\":1}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_risks/2\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentation_statuses": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCompanySegmentationStatus"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Returns a list of supplier company segmentation_statuses.",
        "operationId": "List Supplier Company segmentation_statuses",
        "summary": "List Supplier Company segmentation_statuses",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationStatusCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationStatus"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Create a supplier company segmentation status with given parameters.\n",
        "operationId": "Create a Supplier Company Segmentation Status",
        "summary": "Create a Supplier Company Segmentation Status",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentation_statuses\",\"attributes\":{\"label\":\"Super Approved!\",\"icon\": \"approved\",\"order\":4}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentation_statuses/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier company segmentation status identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Deletes a supplier company segmentation status. You need to supply the unique supplier company segmentation status\nidentifier that was returned upon supplier company segmentation status creation.\n",
        "operationId": "Delete a Supplier Company Segmentation Status",
        "summary": "Delete a Supplier Company Segmentation Status",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier company segmentation status identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationStatusUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationStatus"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_segmentation_statuses"
        ],
        "description": "Updates the details of an existing supplier company segmentation status. You need to supply the unique\nidentifier that was returned upon supplier company segmentation status creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier company segmentation status\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company Segmentation Status",
        "summary": "Update a Supplier Company Segmentation Status",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentation_statuses\",\"id\":\"2\",\"attributes\":{\"label\":\"Very Approved\",\"icon\":\"red\",\"order\":1}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentation_statuses/2\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentations": {
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/SupplierCompanySegmentation"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Returns a list of supplier company segmentations.",
        "operationId": "List Supplier Company Segmentations",
        "summary": "List Supplier Company Segmentations",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          }
        ]
      },
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentation"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Create a supplier company segmentation with given parameters.\n",
        "operationId": "Create a Supplier Company Segmentation",
        "summary": "Create a Supplier Company Segmentation",
        "x-codeSamples": [
          {
            "label": "Curl without slug",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"attributes\":{\"label\":\"Tier 5\",\"order\":5}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          },
          {
            "label": "Curl with slug",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"attributes\":{\"label\":\"Tier 5\",\"order\":5,\"slug\":\"tier_5\"}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations\"\n"
          }
        ]
      }
    },
    "/supplier_company_segmentations/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier company segmentation identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Deletes a supplier company segmentation. You need to supply the unique supplier company segmentation\nidentifier that was returned upon supplier company segmentation creation.\n",
        "operationId": "Delete a Supplier Company Segmentation",
        "summary": "Delete a Supplier Company Segmentation",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier company segmentation identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentationUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierCompanySegmentation"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "409": {
            "description": "Conflict",
            "schema": {
              "$ref": "#/definitions/Errors"
            }
          }
        },
        "tags": [
          "supplier_company_segmentations"
        ],
        "description": "Updates the details of an existing supplier company segmentation. You need to supply the unique\nidentifier that was returned upon supplier company segmentation creation.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier company segmentation\nunique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Company Segmentation",
        "summary": "Update a Supplier Company Segmentation",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_company_segmentations\",\"id\":\"2\",\"attributes\":{\"name\":\"Updated Field Supplier Company Segmentation\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_company_segmentations/2\"\n"
          }
        ]
      }
    },
    "/supplier_contacts": {
      "post": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContactCreate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContact"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Create a supplier contact with given attributes.\n\n## Linked Resources\n\nThe supplier company should exist prior to being linked to the supplier contact. It can be\nreferenced by Workday Strategic Sourcing identifier, or by external ID; in the latter case, the relationship\nname is used with prefix `external_`. For example, a supplier company with Workday Strategic Sourcing ID `\"1\"` and\nexternal ID `\"SCM-1\"` can be used to initialize `supplier_company`:\n\n```json\n{\n  \"supplier_company\": {\n    \"data\" {\n      \"id\": \"1\",\n      \"type\": \"supplier_companies\"\n    }\n  }\n}\n```\n\n```json\n{\n  \"external_supplier_company\": {\n    \"data\" {\n      \"id\": \"SCM-1\",\n      \"type\": \"supplier_companies\"\n    }\n  }\n}\n```\n",
        "operationId": "Create a Supplier Contact",
        "summary": "Create a Supplier Contact",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X POST \\\n     -d '{\"data\":{\"type\":\"supplier_contacts\",\"attributes\":{\"name\":\"My Supplier\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts\"\n"
          }
        ]
      }
    },
    "/supplier_contacts/{external_id}/external_id": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier contact identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CNT-17"
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Deletes a supplier contact by Supplier Contact External ID.\n",
        "operationId": "Delete a Supplier Contact by External ID",
        "summary": "Delete a Supplier Contact by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier contact identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CNT-17"
          },
          {
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContact"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the details of an existing supplier contact by Supplier Contact External ID.\n",
        "operationId": "Get a Supplier Contact by External ID",
        "summary": "Get a Supplier Contact by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier contact external identifier.",
            "in": "path",
            "name": "external_id",
            "required": true,
            "type": "string",
            "x-example": "CNT-17"
          },
          {
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContactUpdate"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContact"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Updates the details of an existing supplier contact by Supplir Contact External ID.\n\nPlease note, that request body must include an `id` attribute with the value of your supplier\ncontact unique identifier (the same one you passed in the URL).\n",
        "operationId": "Update a Supplier Contact by External ID",
        "summary": "Update a Supplier Contact by External ID",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X PATCH \\\n     -d '{\"data\":{\"type\":\"supplier_contacts\",\"id\":\"1\",\"attributes\":{\"segmentation_status\": \"out_of_compliance\"}}}' \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/CNT-17/external_id\"\n"
          }
        ]
      }
    },
    "/supplier_contacts/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "Unique supplier contact identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          }
        ],
        "responses": {
          "204": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Deletes a supplier contact.\n",
        "operationId": "Delete a Supplier Contact",
        "summary": "Delete a Supplier Contact",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     -X DELETE \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/1/external_id\"\n"
          }
        ]
      },
      "get": {
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier contact identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "properties": {
                "data": {
                  "$ref": "#/definitions/SupplierContact"
                }
              },
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "supplier_contacts"
        ],
        "description": "Retrieves the details of an existing supplier contact.\n",
        "operationId": "Get a Supplier Contact",
        "summary": "Get a Supplier Contact",
        "x-codeSamples": [
          {
            "label": "Curl",
            "source": "curl -H \"X-Api-Key: ${COMPANY_KEY}\" \\\n     -H \"X-User-Token: ${USER_TOKEN}\" \\\n     -H \"X-User-Email: ${USER_EMAIL}\" \\\n     -H \"Content-Type: application/vnd.api+json\" \\\n     \"https://api.us.workdayspend.com/services/suppliers/v1/supplier_contacts/1\"\n"
          }
        ]
      },
      "patch": {
        "consumes": [
          "application/vnd.api+json"
        ],
        "produces": [
          "application/vnd.api+json"
        ],
        "parameters": [
          {
            "description": "Unique supplier contact identifier.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "Use the `include` parameter to request a primary resource `supplier company`.\n",
            "enum": [
              "supplier_company",
              "contact_types",
              "phones"
            ],
            "in": "query",
            "name": "include",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
[...]
