/** @mainpage Qore v8 Module

    @tableofcontents

    @section v8intro v8 Module Introduction

    The \c v8 module allows for the execution and management of JavaScript code in %Qore.

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires v8 @endcode

    Note that while JavaScript and v8 support threading, calls into a single
    @ref V8::JavaScriptProgram "JavaScriptProgram" are subject to thread serialization; only one thread can be active

    Also included with the \c v8 module:
    - @ref typescriptactioninterfaceintro "TypeScriptActionInterface" an API for
      allowing data provider app actions to be created from TypeScript / JavaScript

    Main classes:
    - @ref V8::JavaScriptProgram "JavaScriptProgram"
    - @ref V8::TypeScriptProgram "TypeScriptProgram"
    - @ref V8::JavaScriptObject "JavaScriptObject"

    @section v8qlibmodules Qore User Modules

    - @ref typescriptactioninterfaceintro "TypeScriptActionInterface" — an API for Qore DataProvider app actions in TypeScript
    - @ref typescriptproxyintro "TypeScriptProxy" — definitions for a TypeScript proxy API

    @section v8documentation Documentation

    - @anchor v8_examples @subpage v8_examplesguide
    - @anchor v8_qore_import @subpage v8_qore_importguide
    - @anchor v8_typescript @subpage v8_typescriptguide
    - @anchor v8_inprocess_pool @subpage v8_inprocess_poolguide
    - @anchor javascript_javascript_to_qore @subpage v8javascript_javascript_to_qoreguide
    - @anchor javascript_qore_to_javascript @subpage v8javascript_qore_to_javascriptguide
    - @anchor javascript_exceptions @subpage v8javascript_exceptionsguide
    - @anchor v8_qore_reference_management @subpage v8_qore_reference_managementguide
    - @anchor v8releasenotes @subpage v8releasenotesguide

*/
