/** @mainpage Qore v8 Module

    @tableofcontents

    @section v8intro v8 Module Introduction

    The \c v8 module allows for the execution and management of JavaScript code in %Qore.

    To use the module in a %Qore script, use the \c %%requires directive as follows:
    @code{.py} %requires v8 @endcode

    Note that while JavaScript and v8 support threading, calls into a single
    @ref V8::JavaScriptProgram "JavaScriptProgram" are subject to thread serialization; only one thread can be active

    Also included with the \c v8 module:
    - @ref typescriptactioninterfaceintro "TypeScriptActionInterface" an API for
      allowing data provider app actions to be created from TypeScript / JavaScript

    Main classes:
    - @ref V8::JavaScriptProgram "JavaScriptProgram"
    - @ref V8::TypeScriptProgram "TypeScriptProgram"
    - @ref V8::JavaScriptObject "JavaScriptObject"

    @section v8_examples Examples

    @subpage v8_examplesguide


    @section v8_qore_import Accessing Qore APIs from JavaScript

    @subpage v8_qore_importguide


    @section v8_typescript TypeScript Support

    @subpage v8_typescriptguide


    @section v8_inprocess_pool In-Process JavaScript Program Pool

    @subpage v8_inprocess_poolguide


    @section javascript_javascript_to_qore JavaScript to Qore Data Conversions

    @subpage v8javascript_javascript_to_qoreguide


    @section javascript_qore_to_javascript Qore to JavaScript Data Conversions

    @subpage v8javascript_qore_to_javascriptguide


    @section javascript_exceptions JavaScript Exceptions

    @subpage v8javascript_exceptionsguide


    @section v8_qore_reference_management Managing References to Qore Data in JavaScript

    @subpage v8_qore_reference_managementguide


    @section v8releasenotes v8 Module Release Notes

    @subpage v8releasenotesguide


    @section v8qlibmodules Qore User Modules

    - @ref typescriptactioninterfaceintro "TypeScriptActionInterface" — an API for Qore DataProvider app actions in TypeScript
    - @ref typescriptproxyintro "TypeScriptProxy" — definitions for a TypeScript proxy API

*/
