{
  "swagger": "2.0",
  "info": {
    "title": "GitLab API",
    "version": "v4"
  },
  "host": "gitlab.com",
  "produces": [
    "application/json"
  ],
  "paths": {
    "/api/v4/admin/batched_background_migrations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "main",
            "description": "The name of the database, the default `main`",
            "enum": [
              "main",
              "ci",
              "sec",
              "embedding",
              "geo"
            ],
            "in": "query",
            "name": "database",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter migrations by job class name.",
            "in": "query",
            "name": "job_class_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the list of batched background migrations",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_BatchedBackgroundMigration"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          }
        },
        "tags": [
          "batched_background_migrations"
        ],
        "description": "Get the list of batched background migrations",
        "operationId": "getApiV4AdminBatchedBackgroundMigrations"
      }
    },
    "/api/v4/admin/batched_background_migrations/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "main",
            "description": "The name of the database",
            "enum": [
              "main",
              "ci",
              "sec",
              "embedding",
              "geo"
            ],
            "in": "query",
            "name": "database",
            "required": false,
            "type": "string"
          },
          {
            "description": "The batched background migration id",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve a batched background migration",
            "schema": {
              "$ref": "#/definitions/API_Entities_BatchedBackgroundMigration"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          },
          "404": {
            "description": "404 Not found"
          }
        },
        "tags": [
          "batched_background_migrations"
        ],
        "description": "Retrieve a batched background migration",
        "operationId": "getApiV4AdminBatchedBackgroundMigrationsId"
      }
    },
    "/api/v4/admin/batched_background_migrations/{id}/pause": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The batched background migration id",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "putApiV4AdminBatchedBackgroundMigrationsIdPause",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4AdminBatchedBackgroundMigrationsIdPause"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Pause a batched background migration",
            "schema": {
              "$ref": "#/definitions/API_Entities_BatchedBackgroundMigration"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          },
          "404": {
            "description": "404 Not found"
          },
          "422": {
            "description": "You can pause only `active` batched background migrations."
          }
        },
        "tags": [
          "batched_background_migrations"
        ],
        "description": "Pause a batched background migration",
        "operationId": "putApiV4AdminBatchedBackgroundMigrationsIdPause"
      }
    },
    "/api/v4/admin/batched_background_migrations/{id}/resume": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The batched background migration id",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "putApiV4AdminBatchedBackgroundMigrationsIdResume",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4AdminBatchedBackgroundMigrationsIdResume"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resume a batched background migration",
            "schema": {
              "$ref": "#/definitions/API_Entities_BatchedBackgroundMigration"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          },
          "404": {
            "description": "404 Not found"
          },
          "422": {
            "description": "You can resume only `paused` batched background migrations."
          }
        },
        "tags": [
          "batched_background_migrations"
        ],
        "description": "Resume a batched background migration",
        "operationId": "putApiV4AdminBatchedBackgroundMigrationsIdResume"
      }
    },
    "/api/v4/admin/ci/variables": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List all instance-level variables",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_Variable"
            }
          }
        },
        "tags": [
          "ci_variables"
        ],
        "description": "List all instance-level variables",
        "operationId": "getApiV4AdminCiVariables"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4AdminCiVariables",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4AdminCiVariables"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create a new instance-level variable",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_Variable"
            }
          },
          "400": {
            "description": "400 Bad Request"
          }
        },
        "tags": [
          "ci_variables"
        ],
        "description": "Create a new instance-level variable",
        "operationId": "postApiV4AdminCiVariables"
      }
    },
    "/api/v4/admin/ci/variables/{key}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key of a variable",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Instance Variable Not Found"
          }
        },
        "tags": [
          "ci_variables"
        ],
        "description": "Delete an existing instance-level variable",
        "operationId": "deleteApiV4AdminCiVariablesKey"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key of a variable",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get the details of a specific instance-level variable",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_Variable"
            }
          },
          "404": {
            "description": "Instance Variable Not Found"
          }
        },
        "tags": [
          "ci_variables"
        ],
        "description": "Get the details of a specific instance-level variable",
        "operationId": "getApiV4AdminCiVariablesKey"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The key of a variable",
            "in": "path",
            "name": "key",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "putApiV4AdminCiVariablesKey",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4AdminCiVariablesKey"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update an instance-level variable",
            "schema": {
              "$ref": "#/definitions/API_Entities_Ci_Variable"
            }
          },
          "404": {
            "description": "Instance Variable Not Found"
          }
        },
        "tags": [
          "ci_variables"
        ],
        "description": "Update an instance-level variable",
        "operationId": "putApiV4AdminCiVariablesKey"
      }
    },
    "/api/v4/admin/clusters": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List instance clusters",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Cluster"
              },
              "type": "array"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 13.2. Returns a list of instance clusters.",
        "operationId": "getApiV4AdminClusters",
        "summary": "List instance clusters"
      }
    },
    "/api/v4/admin/clusters/add": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4AdminClustersAdd",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4AdminClustersAdd"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Add existing instance cluster",
            "schema": {
              "$ref": "#/definitions/API_Entities_Cluster"
            }
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 13.2. Adds an existing Kubernetes instance cluster.",
        "operationId": "postApiV4AdminClustersAdd",
        "summary": "Add existing instance cluster"
      }
    },
    "/api/v4/admin/clusters/{cluster_id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The cluster ID",
            "format": "int32",
            "in": "path",
            "name": "cluster_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete instance cluster",
            "schema": {
              "$ref": "#/definitions/API_Entities_Cluster"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 13.2. Deletes an existing instance cluster. Does not remove existing resources within the connected Kubernetes cluster.",
        "operationId": "deleteApiV4AdminClustersClusterId",
        "summary": "Delete instance cluster"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The cluster ID",
            "format": "int32",
            "in": "path",
            "name": "cluster_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single instance cluster",
            "schema": {
              "$ref": "#/definitions/API_Entities_Cluster"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 13.2. Returns a single instance cluster.",
        "operationId": "getApiV4AdminClustersClusterId",
        "summary": "Get a single instance cluster"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The cluster ID",
            "format": "int32",
            "in": "path",
            "name": "cluster_id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "putApiV4AdminClustersClusterId",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4AdminClustersClusterId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Edit instance cluster",
            "schema": {
              "$ref": "#/definitions/API_Entities_Cluster"
            }
          },
          "400": {
            "description": "Validation error"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 13.2. Updates an existing instance cluster.",
        "operationId": "putApiV4AdminClustersClusterId",
        "summary": "Edit instance cluster"
      }
    },
    "/api/v4/admin/databases/{database_name}/dictionary/tables/{table_name}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The database name",
            "enum": [
              "main",
              "ci"
            ],
            "in": "path",
            "name": "database_name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The table name",
            "in": "path",
            "name": "table_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve dictionary details",
            "schema": {
              "$ref": "#/definitions/API_Entities_Dictionary_Table"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          },
          "404": {
            "description": "404 Not found"
          }
        },
        "tags": [
          "admin"
        ],
        "description": "Retrieve dictionary details",
        "operationId": "getApiV4AdminDatabasesDatabaseNameDictionaryTablesTableName"
      }
    },
    "/api/v4/admin/migrations/{timestamp}/mark": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The migration version timestamp",
            "format": "int32",
            "in": "path",
            "name": "timestamp",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "postApiV4AdminMigrationsTimestampMark",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4AdminMigrationsTimestampMark"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "201 Created"
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "403": {
            "description": "403 Forbidden"
          },
          "404": {
            "description": "404 Not found"
          },
          "422": {
            "description": "You can mark only pending migrations"
          }
        },
        "tags": [
          "migrations"
        ],
        "description": "Mark the migration as successfully executed",
        "operationId": "postApiV4AdminMigrationsTimestampMark"
      }
    },
    "/api/v4/application/appearance": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the current appearance",
            "schema": {
              "$ref": "#/definitions/API_Entities_Appearance"
            }
          }
        },
        "tags": [
          "application"
        ],
        "description": "Get the current appearance",
        "operationId": "getApiV4ApplicationAppearance"
      },
      "put": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Instance title on the sign in / sign up page",
            "in": "formData",
            "name": "title",
            "required": false,
            "type": "string"
          },
          {
            "description": "Markdown text shown on the sign in / sign up page",
            "in": "formData",
            "name": "description",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name of the Progressive Web App",
            "in": "formData",
            "name": "pwa_name",
            "required": false,
            "type": "string"
          },
          {
            "description": "Optional, short name for Progressive Web App",
            "in": "formData",
            "name": "pwa_short_name",
            "required": false,
            "type": "string"
          },
          {
            "description": "An explanation of what the Progressive Web App does",
            "in": "formData",
            "name": "pwa_description",
            "required": false,
            "type": "string"
          },
          {
            "description": "Instance image used on the sign in / sign up page",
            "in": "formData",
            "name": "logo",
            "required": false,
            "type": "string"
          },
          {
            "description": "Icon used for Progressive Web App",
            "in": "formData",
            "name": "pwa_icon",
            "required": false,
            "type": "string"
          },
          {
            "description": "Instance image used for the main navigation bar",
            "in": "formData",
            "name": "header_logo",
            "required": false,
            "type": "string"
          },
          {
            "description": "Instance favicon in .ico/.png format",
            "in": "formData",
            "name": "favicon",
            "required": false,
            "type": "string"
          },
          {
            "description": "Markdown text shown on the members page of a group or project",
            "in": "formData",
            "name": "member_guidelines",
            "required": false,
            "type": "string"
          },
          {
            "description": "Markdown text shown on the new project page",
            "in": "formData",
            "name": "new_project_guidelines",
            "required": false,
            "type": "string"
          },
          {
            "description": "Markdown text shown on the profile page below Public Avatar",
            "in": "formData",
            "name": "profile_image_guidelines",
            "required": false,
            "type": "string"
          },
          {
            "description": "Message within the system header bar",
            "in": "formData",
            "name": "header_message",
            "required": false,
            "type": "string"
          },
          {
            "description": "Message within the system footer bar",
            "in": "formData",
            "name": "footer_message",
            "required": false,
            "type": "string"
          },
          {
            "description": "Background color for the system header / footer bar",
            "in": "formData",
            "name": "message_background_color",
            "required": false,
            "type": "string"
          },
          {
            "description": "Font color for the system header / footer bar",
            "in": "formData",
            "name": "message_font_color",
            "required": false,
            "type": "string"
          },
          {
            "description": "Add header and footer to all outgoing emails if enabled",
            "in": "formData",
            "name": "email_header_and_footer_enabled",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Modify appearance",
            "schema": {
              "$ref": "#/definitions/API_Entities_Appearance"
            }
          }
        },
        "tags": [
          "application"
        ],
        "description": "Modify appearance",
        "operationId": "putApiV4ApplicationAppearance"
      }
    },
    "/api/v4/application/plan_limits": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "default",
            "description": "Name of the plan to get the limits from. Default: default.",
            "enum": [
              "default",
              "free",
              "bronze",
              "silver",
              "premium",
              "gold",
              "ultimate",
              "ultimate_trial",
              "ultimate_trial_paid_customer",
              "premium_trial",
              "opensource"
            ],
            "in": "query",
            "name": "plan_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get current plan limits",
            "schema": {
              "$ref": "#/definitions/API_Entities_PlanLimit"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "plan_limits"
        ],
        "description": "List the current limits of a plan on the GitLab instance.",
        "operationId": "getApiV4ApplicationPlanLimits",
        "summary": "Get current plan limits"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "putApiV4ApplicationPlanLimits",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4ApplicationPlanLimits"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Change plan limits",
            "schema": {
              "$ref": "#/definitions/API_Entities_PlanLimit"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "plan_limits"
        ],
        "description": "Modify the limits of a plan on the GitLab instance.",
        "operationId": "putApiV4ApplicationPlanLimits",
        "summary": "Change plan limits"
      }
    },
    "/api/v4/application/statistics": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get the current application statistics",
            "schema": {
              "$ref": "#/definitions/API_Entities_ApplicationStatistics"
            }
          }
        },
        "tags": [
          "application"
        ],
        "description": "Get the current application statistics",
        "operationId": "getApiV4ApplicationStatistics"
      }
    },
    "/api/v4/applications": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Get applications",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Application"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "applications"
        ],
        "description": "List all registered applications",
        "operationId": "getApiV4Applications",
        "summary": "Get applications"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4Applications",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4Applications"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Create a new application",
            "schema": {
              "$ref": "#/definitions/API_Entities_ApplicationWithSecret"
            }
          }
        },
        "tags": [
          "applications"
        ],
        "description": "This feature was introduced in GitLab 10.5",
        "operationId": "postApiV4Applications",
        "summary": "Create a new application"
      }
    },
    "/api/v4/applications/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the application (not the application_id)",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete an application"
          }
        },
        "tags": [
          "applications"
        ],
        "description": "Delete a specific application",
        "operationId": "deleteApiV4ApplicationsId",
        "summary": "Delete an application"
      }
    },
    "/api/v4/applications/{id}/renew-secret": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the application (not the application_id)",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Renew an application secret",
            "schema": {
              "$ref": "#/definitions/API_Entities_ApplicationWithSecret"
            }
          }
        },
        "tags": [
          "applications"
        ],
        "description": "Renew the secret of a specific application",
        "operationId": "postApiV4ApplicationsIdRenewSecret",
        "summary": "Renew an application secret"
      }
    },
    "/api/v4/avatar": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Public email address of the user",
            "in": "query",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "description": "Single pixel dimension for Gravatar images",
            "format": "int32",
            "in": "query",
            "name": "size",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Return avatar url for a user",
            "schema": {
              "$ref": "#/definitions/API_Entities_Avatar"
            }
          }
        },
        "tags": [
          "avatar"
        ],
        "description": "Return avatar url for a user",
        "operationId": "getApiV4Avatar"
      }
    },
    "/api/v4/broadcast_messages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get all broadcast messages",
            "schema": {
              "$ref": "#/definitions/API_Entities_System_BroadcastMessage"
            }
          }
        },
        "tags": [
          "broadcast_messages"
        ],
        "description": "This feature was introduced in GitLab 8.12.",
        "operationId": "getApiV4BroadcastMessages",
        "summary": "Get all broadcast messages"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4BroadcastMessages",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4BroadcastMessages"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create a broadcast message",
            "schema": {
              "$ref": "#/definitions/API_Entities_System_BroadcastMessage"
            }
          }
        },
        "tags": [
          "broadcast_messages"
        ],
        "description": "This feature was introduced in GitLab 8.12.",
        "operationId": "postApiV4BroadcastMessages",
        "summary": "Create a broadcast message"
      }
    },
    "/api/v4/broadcast_messages/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Broadcast message ID",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a broadcast message",
            "schema": {
              "$ref": "#/definitions/API_Entities_System_BroadcastMessage"
            }
          }
        },
        "tags": [
          "broadcast_messages"
        ],
        "description": "This feature was introduced in GitLab 8.12.",
        "operationId": "deleteApiV4BroadcastMessagesId",
        "summary": "Delete a broadcast message"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Broadcast message ID",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a specific broadcast message",
            "schema": {
              "$ref": "#/definitions/API_Entities_System_BroadcastMessage"
            }
          }
        },
        "tags": [
          "broadcast_messages"
        ],
        "description": "This feature was introduced in GitLab 8.12.",
        "operationId": "getApiV4BroadcastMessagesId",
        "summary": "Get a specific broadcast message"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Broadcast message ID",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "putApiV4BroadcastMessagesId",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4BroadcastMessagesId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update a broadcast message",
            "schema": {
              "$ref": "#/definitions/API_Entities_System_BroadcastMessage"
            }
          }
        },
        "tags": [
          "broadcast_messages"
        ],
        "description": "This feature was introduced in GitLab 8.12.",
        "operationId": "putApiV4BroadcastMessagesId",
        "summary": "Update a broadcast message"
      }
    },
    "/api/v4/bulk_imports": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "default": "desc",
            "description": "Return GitLab Migrations sorted in created by `asc` or `desc` order.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return GitLab Migrations with specified status",
            "enum": [
              "created",
              "started",
              "finished",
              "timeout",
              "failed",
              "canceled"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List all GitLab Migrations",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_BulkImport"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.1.",
        "operationId": "getApiV4BulkImports",
        "summary": "List all GitLab Migrations"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Source GitLab instance URL",
            "in": "formData",
            "name": "configuration[url]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Access token to the source GitLab instance",
            "in": "formData",
            "name": "configuration[access_token]",
            "required": true,
            "type": "string"
          },
          {
            "description": "Source entity type",
            "in": "formData",
            "items": {
              "enum": [
                "group_entity",
                "project_entity"
              ],
              "type": "string"
            },
            "name": "entities[source_type]",
            "required": true,
            "type": "array"
          },
          {
            "description": "Relative path of the source entity to import",
            "example": "'source/full/path' not 'https://example.com/source/full/path'",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "entities[source_full_path]",
            "required": true,
            "type": "array"
          },
          {
            "description": "Destination namespace for the entity",
            "example": "'destination_namespace' or 'destination/namespace'",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "entities[destination_namespace]",
            "required": true,
            "type": "array"
          },
          {
            "description": "Destination slug for the entity",
            "example": "'destination_slug' not 'destination/slug'",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "entities[destination_slug]",
            "required": false,
            "type": "array"
          },
          {
            "description": "Deprecated: Use :destination_slug instead. Destination slug for the entity",
            "example": "'destination_slug' not 'destination/slug'",
            "in": "formData",
            "items": {
              "type": "string"
            },
            "name": "entities[destination_name]",
            "required": false,
            "type": "array"
          },
          {
            "default": [
              true
            ],
            "description": "Indicates group migration should include nested projects",
            "in": "formData",
            "items": {
              "type": "boolean"
            },
            "name": "entities[migrate_projects]",
            "required": false,
            "type": "array"
          },
          {
            "default": [
              true
            ],
            "description": "The option to migrate memberships or not",
            "in": "formData",
            "items": {
              "type": "boolean"
            },
            "name": "entities[migrate_memberships]",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Start a new GitLab Migration",
            "schema": {
              "$ref": "#/definitions/API_Entities_BulkImport"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "422": {
            "description": "Unprocessable entity"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.2.",
        "operationId": "postApiV4BulkImports",
        "summary": "Start a new GitLab Migration"
      }
    },
    "/api/v4/bulk_imports/entities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "default": "desc",
            "description": "Return GitLab Migrations sorted in created by `asc` or `desc` order.",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Return all GitLab Migrations' entities with specified status",
            "enum": [
              "created",
              "started",
              "finished",
              "timeout",
              "failed",
              "canceled"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List all GitLab Migrations' entities",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_BulkImports"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.1.",
        "operationId": "getApiV4BulkImportsEntities",
        "summary": "List all GitLab Migrations' entities"
      }
    },
    "/api/v4/bulk_imports/{import_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of user's GitLab Migration",
            "format": "int32",
            "in": "path",
            "name": "import_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get GitLab Migration details",
            "schema": {
              "$ref": "#/definitions/API_Entities_BulkImport"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.1.",
        "operationId": "getApiV4BulkImportsImportId",
        "summary": "Get GitLab Migration details"
      }
    },
    "/api/v4/bulk_imports/{import_id}/cancel": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of user's GitLab Migration",
            "format": "int32",
            "in": "path",
            "name": "import_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Cancel GitLab Migration",
            "schema": {
              "$ref": "#/definitions/API_Entities_BulkImport"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 17.1",
        "operationId": "postApiV4BulkImportsImportIdCancel",
        "summary": "Cancel GitLab Migration"
      }
    },
    "/api/v4/bulk_imports/{import_id}/entities": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of user's GitLab Migration",
            "format": "int32",
            "in": "path",
            "name": "import_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "Return import entities with specified status",
            "enum": [
              "created",
              "started",
              "finished",
              "timeout",
              "failed",
              "canceled"
            ],
            "in": "query",
            "name": "status",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "List GitLab Migration entities",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_BulkImports"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.1.",
        "operationId": "getApiV4BulkImportsImportIdEntities",
        "summary": "List GitLab Migration entities"
      }
    },
    "/api/v4/bulk_imports/{import_id}/entities/{entity_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of user's GitLab Migration",
            "format": "int32",
            "in": "path",
            "name": "import_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The ID of GitLab Migration entity",
            "format": "int32",
            "in": "path",
            "name": "entity_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get GitLab Migration entity details",
            "schema": {
              "$ref": "#/definitions/API_Entities_BulkImports"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 14.1.",
        "operationId": "getApiV4BulkImportsImportIdEntitiesEntityId",
        "summary": "Get GitLab Migration entity details"
      }
    },
    "/api/v4/bulk_imports/{import_id}/entities/{entity_id}/failures": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of user's GitLab Migration",
            "format": "int32",
            "in": "path",
            "name": "import_id",
            "required": true,
            "type": "integer"
          },
          {
            "description": "The ID of GitLab Migration entity",
            "format": "int32",
            "in": "path",
            "name": "entity_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Get GitLab Migration entity failures",
            "schema": {
              "$ref": "#/definitions/API_Entities_BulkImports_EntityFailure"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "bulk_imports"
        ],
        "description": "This feature was introduced in GitLab 16.6",
        "operationId": "getApiV4BulkImportsImportIdEntitiesEntityIdFailures",
        "summary": "Get GitLab Migration entity failures"
      }
    },
    "/api/v4/container_registry_event/events": {
      "post": {
        "consumes": [
          "application/json",
          "application/vnd.docker.distribution.events.v1+json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          },
          "401": {
            "description": "Invalid Token"
          }
        },
        "tags": [
          "container_registry_event"
        ],
        "description": "This feature was introduced in GitLab 12.10",
        "operationId": "postApiV4ContainerRegistryEventEvents",
        "summary": "Receives notifications from the container registry when an operation occurs"
      }
    },
    "/api/v4/deploy_keys": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "default": false,
            "description": "Only return deploy keys that are public",
            "in": "query",
            "name": "public",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List all deploy keys",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_DeployKey"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "deploy_keys"
        ],
        "description": "Get a list of all deploy keys across all projects of the GitLab instance. This endpoint requires administrator access and is not available on GitLab.com.",
        "operationId": "getApiV4DeployKeys",
        "summary": "List all deploy keys"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4DeployKeys",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4DeployKeys"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create a deploy key",
            "schema": {
              "$ref": "#/definitions/API_Entities_DeployKey"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "deploy_keys"
        ],
        "description": "Create a deploy key for the GitLab instance. This endpoint requires administrator access.",
        "operationId": "postApiV4DeployKeys",
        "summary": "Create a deploy key"
      }
    },
    "/api/v4/deploy_tokens": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Limit by active status",
            "in": "query",
            "name": "active",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "List all deploy tokens",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_DeployToken"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "deploy_tokens"
        ],
        "description": "Get a list of all deploy tokens across the GitLab instance. This endpoint requires administrator access. This feature was introduced in GitLab 12.9.",
        "operationId": "getApiV4DeployTokens",
        "summary": "List all deploy tokens"
      }
    },
    "/api/v4/discover-cert-based-clusters": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The group ID to find all certificate-based clusters in the hierarchy",
            "format": "int32",
            "in": "query",
            "name": "group_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Discover all descendant certificate-based clusters in a group",
            "schema": {
              "$ref": "#/definitions/API_Entities_DiscoveredClusters"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "clusters"
        ],
        "description": "This feature was introduced in GitLab 17.9. It will be removed in 18.0.",
        "operationId": "getApiV4DiscoverCertBasedClusters",
        "summary": "Discover all descendant certificate-based clusters in a group"
      }
    },
    "/api/v4/events": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Include all events across a user’s projects",
            "example": "all",
            "in": "query",
            "name": "scope",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Event action to filter on",
            "in": "query",
            "name": "action",
            "required": false,
            "type": "string"
          },
          {
            "description": "Event target type to filter on",
            "enum": [
              "issue",
              "milestone",
              "merge_request",
              "note",
              "project",
              "snippet",
              "user",
              "wiki",
              "design"
            ],
            "in": "query",
            "name": "target_type",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include only events created before this date",
            "format": "date",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string"
          },
          {
            "description": "Include only events created after this date",
            "format": "date",
            "in": "query",
            "name": "after",
            "required": false,
            "type": "string"
          },
          {
            "default": "desc",
            "description": "Return events sorted in ascending and descending order",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List currently authenticated user's events",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Event"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        },
        "tags": [
          "events"
        ],
        "description": "This feature was introduced in GitLab 9.3.",
        "operationId": "getApiV4Events",
        "summary": "List currently authenticated user's events"
      }
    },
    "/api/v4/feature_flags/unleash/{project_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a project",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The instance ID of Unleash Client",
            "in": "query",
            "name": "instance_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The application name of Unleash Client",
            "in": "query",
            "name": "app_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "get Unleash(s)"
          }
        },
        "tags": [
          "feature_flags"
        ],
        "operationId": "getApiV4FeatureFlagsUnleashProjectId"
      }
    },
    "/api/v4/feature_flags/unleash/{project_id}/client/features": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a project",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The instance ID of Unleash Client",
            "in": "query",
            "name": "instance_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The application name of Unleash Client",
            "in": "query",
            "name": "app_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of features"
          }
        },
        "tags": [
          "unleash_api"
        ],
        "description": "Get a list of features",
        "operationId": "getApiV4FeatureFlagsUnleashProjectIdClientFeatures"
      }
    },
    "/api/v4/feature_flags/unleash/{project_id}/client/metrics": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a project",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "postApiV4FeatureFlagsUnleashProjectIdClientMetrics",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4FeatureFlagsUnleashProjectIdClientMetrics"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "created Metric"
          }
        },
        "tags": [
          "feature_flags"
        ],
        "operationId": "postApiV4FeatureFlagsUnleashProjectIdClientMetrics"
      }
    },
    "/api/v4/feature_flags/unleash/{project_id}/client/register": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a project",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "postApiV4FeatureFlagsUnleashProjectIdClientRegister",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4FeatureFlagsUnleashProjectIdClientRegister"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "created Register"
          }
        },
        "tags": [
          "feature_flags"
        ],
        "operationId": "postApiV4FeatureFlagsUnleashProjectIdClientRegister"
      }
    },
    "/api/v4/feature_flags/unleash/{project_id}/features": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a project",
            "in": "path",
            "name": "project_id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The instance ID of Unleash Client",
            "in": "query",
            "name": "instance_id",
            "required": false,
            "type": "string"
          },
          {
            "description": "The application name of Unleash Client",
            "in": "query",
            "name": "app_name",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of features (deprecated, v2 client support)"
          }
        },
        "tags": [
          "unleash_api"
        ],
        "description": "Get a list of features (deprecated, v2 client support)",
        "operationId": "getApiV4FeatureFlagsUnleashProjectIdFeatures"
      }
    },
    "/api/v4/features": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List all features",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Feature"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "features"
        ],
        "description": "Get a list of all persisted features, with its gate values.",
        "operationId": "getApiV4Features",
        "summary": "List all features"
      }
    },
    "/api/v4/features/definitions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "List all feature definitions",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Feature_Definition"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "features"
        ],
        "description": "Get a list of all feature definitions.",
        "operationId": "getApiV4FeaturesDefinitions",
        "summary": "List all feature definitions"
      }
    },
    "/api/v4/features/{name}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a feature"
          }
        },
        "tags": [
          "features"
        ],
        "description": "Removes a feature gate. Response is equal when the gate exists, or doesn't.",
        "operationId": "deleteApiV4FeaturesName",
        "summary": "Delete a feature"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "format": "int32",
            "in": "path",
            "name": "name",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "postApiV4FeaturesName",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4FeaturesName"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Set or create a feature",
            "schema": {
              "$ref": "#/definitions/API_Entities_Feature"
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "features"
        ],
        "description": "Set a feature's gate value. If a feature with the given name doesn't exist yet, it's created. The value can be a boolean, or an integer to indicate percentage of time.",
        "operationId": "postApiV4FeaturesName",
        "summary": "Set or create a feature"
      }
    },
    "/api/v4/geo/node_proxy/{id}/graphql": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Geo node",
            "format": "int32",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Query the GraphQL endpoint of an existing Geo node"
          },
          "404": {
            "description": "404 GeoNode Not Found"
          },
          "500": {
            "description": "500 Internal Server Error"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Query the GraphQL endpoint of an existing Geo node",
        "operationId": "postApiV4GeoNodeProxyIdGraphql",
        "summary": "Query the GraphQL endpoint of an existing Geo node"
      }
    },
    "/api/v4/geo/proxy": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Returns a Geo proxy response"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Returns a Geo proxy response",
        "operationId": "getApiV4GeoProxy",
        "summary": "Determine if a Geo site should proxy requests"
      }
    },
    "/api/v4/geo/proxy_git_ssh/info_refs_receive_pack": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4GeoProxyGitSshInfoRefsReceivePack",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4GeoProxyGitSshInfoRefsReceivePack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Responsible for making HTTP GET /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
          },
          "401": {
            "description": "401 Unauthorized"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Responsible for making HTTP GET /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary",
        "operationId": "postApiV4GeoProxyGitSshInfoRefsReceivePack",
        "summary": "Internal endpoint that returns git-received-pack output for git push"
      }
    },
    "/api/v4/geo/proxy_git_ssh/info_refs_upload_pack": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4GeoProxyGitSshInfoRefsUploadPack",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4GeoProxyGitSshInfoRefsUploadPack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Responsible for making HTTP GET /repo.git/info/refs?service=git-upload-pack\n                  request from secondary gitlab-shell to primary"
          },
          "401": {
            "description": "401 Unauthorized"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Responsible for making HTTP GET /repo.git/info/refs?service=git-upload-pack\n                  request from secondary gitlab-shell to primary",
        "operationId": "postApiV4GeoProxyGitSshInfoRefsUploadPack",
        "summary": "Internal endpoint that returns info refs upload pack for clone or pull operations"
      }
    },
    "/api/v4/geo/proxy_git_ssh/receive_pack": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4GeoProxyGitSshReceivePack",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4GeoProxyGitSshReceivePack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Responsible for making HTTP POST /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary"
          },
          "401": {
            "description": "401 Unauthorized"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Responsible for making HTTP POST /repo.git/info/refs?service=git-receive-pack\n                  request from secondary gitlab-shell to primary",
        "operationId": "postApiV4GeoProxyGitSshReceivePack",
        "summary": "Internal endpoint that posts git-receive-pack for git push"
      }
    },
    "/api/v4/geo/proxy_git_ssh/upload_pack": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4GeoProxyGitSshUploadPack",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4GeoProxyGitSshUploadPack"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Responsible for making HTTP POST /repo.git/git-upload-pack\n                  request from secondary gitlab-shell to primary"
          },
          "401": {
            "description": "401 Unauthorized"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Responsible for making HTTP POST /repo.git/git-upload-pack\n                  request from secondary gitlab-shell to primary",
        "operationId": "postApiV4GeoProxyGitSshUploadPack",
        "summary": "Internal endpoint that posts git-upload-pack for clone or pull operations"
      }
    },
    "/api/v4/geo/repositories/{gl_repository}/pipeline_refs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The repository to check",
            "in": "path",
            "name": "gl_repository",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the list of pipeline refs for the project",
            "schema": {
              "items": {
                "$ref": "#/definitions/EE_API_Entities_Geo_PipelineRefs"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "404": {
            "description": "404 Not found"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Returns the list of pipeline refs for the project",
        "operationId": "getApiV4GeoRepositoriesGlRepositoryPipelineRefs",
        "summary": "Used by secondary runners to verify the secondary instance has the very latest version"
      }
    },
    "/api/v4/geo/retrieve/{replicable_name}/{replicable_id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The replicable name of a replicator instance",
            "example": "package_file",
            "in": "path",
            "name": "replicable_name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The replicable ID of a replicable instance",
            "format": "int32",
            "in": "path",
            "name": "replicable_id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a replicable file from store (via CDN or sendfile)"
          },
          "401": {
            "description": "401 Unauthorized"
          },
          "404": {
            "description": "404 Not found"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Returns a replicable file from store (via CDN or sendfile)",
        "operationId": "getApiV4GeoRetrieveReplicableNameReplicableId",
        "summary": "Internal endpoint that returns a replicable file"
      }
    },
    "/api/v4/geo/status": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4GeoStatus",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4GeoStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Posts the current node status to the primary site",
            "schema": {
              "$ref": "#/definitions/EE_API_Entities_GeoNodeStatus"
            }
          },
          "400": {
            "description": "400 Bad Request"
          },
          "401": {
            "description": "401 Unauthorized"
          }
        },
        "tags": [
          "geo"
        ],
        "description": "Posts the current node status to the primary site",
        "operationId": "postApiV4GeoStatus",
        "summary": "Internal endpoint that posts the current node status"
      }
    },
    "/api/v4/group/{id}/-/packages/composer/*package_name": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The Composer package name",
            "example": "my-composer-package",
            "in": "query",
            "name": "package_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Composer packages endpoint at group level for package versions metadata"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "composer_packages"
        ],
        "description": "This feature was introduced in GitLab 12.1",
        "operationId": "getApiV4GroupIdPackagesComposer*packageName",
        "summary": "Composer packages endpoint at group level for package versions metadata"
      }
    },
    "/api/v4/group/{id}/-/packages/composer/p/{sha}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "Shasum of current json",
            "example": "673594f85a55fe3c0eb45df7bd2fa9d95a1601ab",
            "in": "path",
            "name": "sha",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Composer packages endpoint at group level for packages list"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "composer_packages"
        ],
        "description": "This feature was introduced in GitLab 13.1",
        "operationId": "getApiV4GroupIdPackagesComposerPSha",
        "summary": "Composer packages endpoint at group level for packages list"
      }
    },
    "/api/v4/group/{id}/-/packages/composer/p2/*package_name": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The Composer package name",
            "example": "my-composer-package",
            "in": "query",
            "name": "package_name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Composer v2 packages p2 endpoint at group level for package versions metadata"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "composer_packages"
        ],
        "description": "This feature was introduced in GitLab 13.1",
        "operationId": "getApiV4GroupIdPackagesComposerP2*packageName",
        "summary": "Composer v2 packages p2 endpoint at group level for package versions metadata"
      }
    },
    "/api/v4/group/{id}/-/packages/composer/packages": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Composer packages endpoint at group level"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "tags": [
          "composer_packages"
        ],
        "description": "This feature was introduced in GitLab 13.1",
        "operationId": "getApiV4GroupIdPackagesComposerPackages",
        "summary": "Composer packages endpoint at group level"
      }
    },
    "/api/v4/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": false,
            "description": "Include project statistics",
            "in": "query",
            "name": "statistics",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Limit by archived status",
            "in": "query",
            "name": "archived",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Array of group ids to exclude from list",
            "in": "query",
            "items": {
              "format": "int32",
              "type": "integer"
            },
            "name": "skip_groups",
            "required": false,
            "type": "array"
          },
          {
            "description": "When `true`, returns all accessible groups. When `false`, returns only groups where the user is a member.",
            "in": "query",
            "name": "all_available",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Limit by visibility",
            "enum": [
              "private",
              "internal",
              "public"
            ],
            "in": "query",
            "name": "visibility",
            "required": false,
            "type": "string"
          },
          {
            "description": "Search for a specific group",
            "in": "query",
            "name": "search",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Limit by owned by authenticated user",
            "in": "query",
            "name": "owned",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "name",
            "description": "Order by name, path, id or similarity if searching",
            "enum": [
              "name",
              "path",
              "id",
              "similarity"
            ],
            "in": "query",
            "name": "order_by",
            "required": false,
            "type": "string"
          },
          {
            "default": "asc",
            "description": "Sort by asc (ascending) or desc (descending)",
            "enum": [
              "asc",
              "desc"
            ],
            "in": "query",
            "name": "sort",
            "required": false,
            "type": "string"
          },
          {
            "description": "Minimum access level of authenticated user",
            "enum": [
              10,
              15,
              20,
              30,
              40,
              50
            ],
            "format": "int32",
            "in": "query",
            "name": "min_access_level",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Only include top-level groups",
            "in": "query",
            "name": "top_level_only",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Return groups that are marked for deletion on this date",
            "format": "date",
            "in": "query",
            "name": "marked_for_deletion_on",
            "required": false,
            "type": "string"
          },
          {
            "description": "Limit by groups that are not archived and not marked for deletion",
            "in": "query",
            "name": "active",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Filter by repository storage used by the group",
            "in": "query",
            "name": "repository_storage",
            "required": false,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "default": false,
            "description": "Include custom attributes in the response",
            "in": "query",
            "name": "with_custom_attributes",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a groups list",
            "schema": {
              "items": {
                "$ref": "#/definitions/API_Entities_Group"
              },
              "type": "array"
            }
          }
        },
        "tags": [
          "groups"
        ],
        "description": "Get a groups list",
        "operationId": "getApiV4Groups"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "postApiV4Groups",
            "required": true,
            "schema": {
              "$ref": "#/definitions/postApiV4Groups"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Create a group. Available only for users who can create groups.",
            "schema": {
              "$ref": "#/definitions/API_Entities_Group"
            }
          }
        },
        "tags": [
          "groups"
        ],
        "description": "Create a group. Available only for users who can create groups.",
        "operationId": "postApiV4Groups"
      }
    },
    "/api/v4/groups/import": {
      "post": {
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Group path",
            "in": "formData",
            "name": "path",
            "required": true,
            "type": "string"
          },
          {
            "description": "Group name",
            "in": "formData",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "The group export file to be imported",
            "in": "formData",
            "name": "file",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the parent group that the group will be imported into. Defaults to the current user's namespace.",
            "format": "int32",
            "in": "formData",
            "name": "parent_id",
            "required": false,
            "type": "integer"
          },
          {
            "default": {},
            "description": "The ID of the organization that the group will be part of. ",
            "format": "int32",
            "in": "formData",
            "name": "organization_id",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "202": {
            "description": "Create a new group import"
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "503": {
            "description": "Service unavailable"
          }
        },
        "tags": [
          "group_import"
        ],
        "description": "This feature was introduced in GitLab 12.8",
        "operationId": "postApiV4GroupsImport",
        "summary": "Create a new group import"
      }
    },
    "/api/v4/groups/import/authorize": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "201": {
            "description": "Workhorse authorize the group import upload"
          }
        },
        "tags": [
          "group_import"
        ],
        "description": "This feature was introduced in GitLab 12.8",
        "operationId": "postApiV4GroupsImportAuthorize",
        "summary": "Workhorse authorize the group import upload"
      }
    },
    "/api/v4/groups/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "Remove a group."
          }
        },
        "tags": [
          "groups"
        ],
        "description": "Remove a group.",
        "operationId": "deleteApiV4GroupsId"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Include custom attributes in the response",
            "in": "query",
            "name": "with_custom_attributes",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "description": "Omit project details",
            "in": "query",
            "name": "with_projects",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Get a single group, with containing projects.",
            "schema": {
              "$ref": "#/definitions/API_Entities_GroupDetail"
            }
          }
        },
        "tags": [
          "groups"
        ],
        "description": "Get a single group, with containing projects.",
        "operationId": "getApiV4GroupsId"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of a group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "putApiV4GroupsId",
            "required": true,
            "schema": {
              "$ref": "#/definitions/putApiV4GroupsId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Update a group. Available only for users who can administrate groups.",
            "schema": {
              "$ref": "#/definitions/API_Entities_Group"
            }
          }
        },
        "tags": [
          "groups"
        ],
        "description": "Update a group. Available only for users who can administrate groups.",
        "operationId": "putApiV4GroupsId"
      }
    },
    "/api/v4/groups/{id}/(-/)search": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of the group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The expression it should be searched for",
            "in": "query",
            "name": "search",
            "required": true,
            "type": "string"
          },
          {
            "description": "The scope of the search",
            "enum": [
              "wiki_blobs",
              "blobs",
              "commits",
              "notes",
              "projects",
              "issues",
              "merge_requests",
              "milestones",
              "users"
            ],
            "in": "query",
            "name": "scope",
            "required": true,
            "type": "string"
          },
          {
            "description": "Filter results by state",
            "enum": [
              "all",
              "opened",
              "closed",
              "merged"
            ],
            "in": "query",
            "name": "state",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter results by confidentiality",
            "in": "query",
            "name": "confidential",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Array of fields you wish to search",
            "in": "query",
            "items": {
              "enum": [
                "title"
              ],
              "type": "string"
            },
            "name": "fields",
            "required": false,
            "type": "array"
          },
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Search on GitLab within a group"
          }
        },
        "tags": [
          "search",
          "groups"
        ],
        "description": "This feature was introduced in GitLab 10.5.",
        "operationId": "getApiV4GroupsId(-)search",
        "summary": "Search on GitLab within a group"
      }
    },
    "/api/v4/groups/{id}/-/debian_distributions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID or URL-encoded path of the group",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "default": 1,
            "description": "Current page number",
            "example": 1,
            "format": "int32",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer"
          },
          {
            "default": 20,
            "description": "Number of items per page",
            "example": 20,
            "format": "int32",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The Debian Codename",
            "example": "sid",
            "in": "query",
            "name": "codename",
            "required": false,
            "type": "string"
          },
          {
            "description": "The Debian Suite",
            "example": "unstable",
            "in": "query",
            "name": "suite",
            "required": false,
            "type": "string"
          },
          {
            "description": "The Debian Origin",
            "example": "Grep",
            "in": "query",
            "name": "origin",
            "required": false,
            "type": "string"
          },
          {
            "description": "The Debian Label",
            "example": "grep.be",
            "in": "query",
[...]
