{
  "swagger": "2.0",
  "info": {
    "contact": {
      "name": "Intercom Developer Hub",
      "url": "https://developers.intercom.com"
    },
    "description": "The intercom API reference.",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "title": "Intercom API",
    "version": "2.9"
  },
  "host": "api.intercom.io",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/admins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/admin_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Admins"
        ],
        "description": "You can fetch a list of admins for a given workspace.",
        "operationId": "listAdmins",
        "summary": "List all admins"
      }
    },
    "/admins/activity_logs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The start date that you request data for. It must be formatted as a UNIX timestamp.",
            "in": "query",
            "name": "created_at_after",
            "required": true,
            "type": "string",
            "x-example": "1677253093"
          },
          {
            "description": "The end date that you request data for. It must be formatted as a UNIX timestamp.",
            "in": "query",
            "name": "created_at_before",
            "required": false,
            "type": "string",
            "x-example": "1677861493"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/activity_log_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Admins"
        ],
        "description": "You can get a log of activities by all admins in an app.",
        "operationId": "listActivityLogs",
        "summary": "List all activity logs"
      }
    },
    "/admins/{id}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier of a given admin",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Admin found",
            "schema": {
              "$ref": "#/definitions/admin"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Admins"
        ],
        "description": "You can retrieve the details of a single admin.",
        "operationId": "retrieveAdmin",
        "summary": "Retrieve an admin"
      }
    },
    "/admins/{id}/away": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier of a given admin",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "away_mode_enabled": {
                  "default": true,
                  "description": "Set to \"true\" to change the status of the admin to away.",
                  "example": true,
                  "type": "boolean"
                },
                "away_mode_reassign": {
                  "default": false,
                  "description": "Set to \"true\" to assign any new conversation replies to your default inbox.",
                  "example": false,
                  "type": "boolean"
                }
              },
              "required": [
                "away_mode_enabled",
                "away_mode_reassign"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/admin"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Admin not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Admins"
        ],
        "description": "You can set an Admin as away for the Inbox.",
        "operationId": "setAwayAdmin",
        "summary": "Set an admin to away"
      }
    },
    "/articles": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/article_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Articles"
        ],
        "description": "You can fetch a list of all articles by making a GET request to `https://api.intercom.io/articles`.\n\n> 📘 How are the articles sorted and ordered?\n>\n> Articles will be returned in descending order on the `updated_at` attribute. This means if you need to iterate through results then we'll show the most recently updated articles first.\n",
        "operationId": "listArticles",
        "summary": "List all articles"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/create_article_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "article created",
            "schema": {
              "$ref": "#/definitions/article"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Articles"
        ],
        "description": "You can create a new article by making a POST request to `https://api.intercom.io/articles`.",
        "operationId": "createArticle",
        "summary": "Create an article"
      }
    },
    "/articles/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the article which is given by Intercom.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/deleted_article_object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Article Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Articles"
        ],
        "description": "You can delete a single article by making a DELETE request to `https://api.intercom.io/articles/<id>`.",
        "operationId": "deleteArticle",
        "summary": "Delete an article"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the article which is given by Intercom.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 123
          }
        ],
        "responses": {
          "200": {
            "description": "Article found",
            "schema": {
              "$ref": "#/definitions/article"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Article not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Articles"
        ],
        "description": "You can fetch the details of a single article by making a GET request to `https://api.intercom.io/articles/<id>`.",
        "operationId": "retrieveArticle",
        "summary": "Retrieve an article"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the article which is given by Intercom.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": 123
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/update_article_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/article"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Article Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Articles"
        ],
        "description": "You can update the details of a single article by making a PUT request to `https://api.intercom.io/articles/<id>`.",
        "operationId": "updateArticle",
        "summary": "Update an article"
      }
    },
    "/companies": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The `name` of the company to filter by.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string",
            "x-example": "my company"
          },
          {
            "description": "The `company_id` of the company to filter by.",
            "in": "query",
            "name": "company_id",
            "required": false,
            "type": "string",
            "x-example": "12345"
          },
          {
            "description": "The `tag_id` of the company to filter by.",
            "in": "query",
            "name": "tag_id",
            "required": false,
            "type": "string",
            "x-example": "678910"
          },
          {
            "description": "The `segment_id` of the company to filter by.",
            "in": "query",
            "name": "segment_id",
            "required": false,
            "type": "string",
            "x-example": "98765"
          },
          {
            "description": "The page of results to fetch. Defaults to first page",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "How many results to display per page. Defaults to 15",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer",
            "x-example": 15
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can fetch a single company by passing in `company_id` or `name`.\n\n  `https://api.intercom.io/companies?name={name}`\n\n  `https://api.intercom.io/companies?company_id={company_id}`\n\nYou can fetch all companies and filter by `segment_id` or `tag_id` as a query parameter.\n\n  `https://api.intercom.io/companies?tag_id={tag_id}`\n\n  `https://api.intercom.io/companies?segment_id={segment_id}`\n",
        "operationId": "retrieveCompany",
        "summary": "Retrieve companies"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/create_or_update_company_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can create or update a company.\n\nCompanies will be only visible in Intercom when there is at least one associated user.\n\nCompanies are looked up via `company_id` in a `POST` request, if not found via `company_id`, the new company will be created, if found, that company will be updated.\n\n{% admonition type=\"warning\" name=\"Using `company_id`\" %}\n  You can set a unique `company_id` value when creating a company. However, it is not possible to update `company_id`. Be sure to set a unique value once upon creation of the company.\n{% /admonition %}\n",
        "operationId": "createOrUpdateCompany",
        "summary": "Create or Update a company"
      }
    },
    "/companies/list": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The page of results to fetch. Defaults to first page",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "integer",
            "x-example": 1
          },
          {
            "description": "How many results to return per page. Defaults to 15",
            "in": "query",
            "name": "per_page",
            "required": false,
            "type": "integer",
            "x-example": 15
          },
          {
            "description": "`asc` or `desc`. Return the companies in ascending or descending order. Defaults to desc",
            "in": "query",
            "name": "order",
            "required": false,
            "type": "string",
            "x-example": "desc"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can list companies. The company list is sorted by the `last_request_at` field and by default is ordered descending, most recently requested first.\n\nNote that the API does not include companies who have no associated users in list responses.\n\nWhen using the Companies endpoint and the pages object to iterate through the returned companies, there is a limit of 10,000 Companies that can be returned. If you need to list or iterate on more than 10,000 Companies, please use the [Scroll API](https://developers.intercom.com/reference#iterating-over-all-companies).\n{% admonition type=\"warning\" name=\"Pagination\" %}\n  You can use pagination to limit the number of results returned. The default is `20` results per page.\n  See the [pagination section](https://developers.intercom.com/docs/build-an-integration/learn-more/rest-apis/pagination/#pagination-for-list-apis) for more details on how to use the `starting_after` param.\n{% /admonition %}\n",
        "operationId": "listAllCompanies",
        "summary": "List all companies"
      }
    },
    "/companies/scroll": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "",
            "in": "query",
            "name": "scroll_param",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company_scroll"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "      The `list all companies` functionality does not work well for huge datasets, and can result in errors and performance problems when paging deeply. The Scroll API provides an efficient mechanism for iterating over all companies in a dataset.\n\n- Each app can only have 1 scroll open at a time. You'll get an error message if you try to have more than one open per app.\n- If the scroll isn't used for 1 minute, it expires and calls with that scroll param will fail\n- If the end of the scroll is reached, \"companies\" will be empty and the scroll parameter will expire\n\n{% admonition type=\"info\" name=\"Scroll Parameter\" %}\n  You can get the first page of companies by simply sending a GET request to the scroll endpoint.\n  For subsequent requests you will need to use the scroll parameter from the response.\n{% /admonition %}\n{% admonition type=\"danger\" name=\"Scroll network timeouts\" %}\n  Since scroll is often used on large datasets network errors such as timeouts can be encountered. When this occurs you will see a HTTP 500 error with the following message:\n  \"Request failed due to an internal network error. Please restart the scroll operation.\"\n  If this happens, you will need to restart your scroll query: It is not possible to continue from a specific point when using scroll.\n{% /admonition %}\n",
        "operationId": "scrollOverAllCompanies",
        "summary": "Scroll over all companies"
      }
    },
    "/companies/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5f4d3c1c-7b1b-4d7d-a97e-6095715c6632"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/deleted_company_object"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can delete a single company.",
        "operationId": "deleteCompany",
        "summary": "Delete a company"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5f4d3c1c-7b1b-4d7d-a97e-6095715c6632"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can fetch a single company.",
        "operationId": "RetrieveACompanyById",
        "summary": "Retrieve a company by ID"
      },
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5f4d3c1c-7b1b-4d7d-a97e-6095715c6632"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can update a single company using the Intercom provisioned `id`.\n\n{% admonition type=\"warning\" name=\"Using `company_id`\" %}\n  When updating a company it is not possible to update `company_id`. This can only be set once upon creation of the company.\n{% /admonition %}\n",
        "operationId": "UpdateCompany",
        "summary": "Update a company"
      }
    },
    "/companies/{id}/contacts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5f4d3c1c-7b1b-4d7d-a97e-6095715c6632"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company_attached_contacts"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies",
          "Contacts"
        ],
        "description": "You can fetch a list of all contacts that belong to a company.",
        "operationId": "ListAttachedContacts",
        "summary": "List attached contacts"
      }
    },
    "/companies/{id}/segments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "5f4d3c1c-7b1b-4d7d-a97e-6095715c6632"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company_attached_segments"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies"
        ],
        "description": "You can fetch a list of all segments that belong to a company.",
        "operationId": "ListAttachedSegmentsForCompanies",
        "summary": "List attached segments for companies"
      }
    },
    "/contacts": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can fetch a list of all contacts (ie. users or leads) in your workspace.\n{% admonition type=\"warning\" name=\"Pagination\" %}\n  You can use pagination to limit the number of results returned. The default is `50` results per page.\n  See the [pagination section](https://developers.intercom.com/docs/build-an-integration/learn-more/rest-apis/pagination/#pagination-for-list-apis) for more details on how to use the `starting_after` param.\n{% /admonition %}\n",
        "operationId": "ListContacts",
        "summary": "List all contacts"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can create a new contact (ie. user or lead).",
        "operationId": "CreateContact",
        "summary": "Create contact"
      }
    },
    "/contacts/merge": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/merge_contacts_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can merge a contact with a `role` of `lead` into a contact with a `role` of `user`.",
        "operationId": "MergeContact",
        "summary": "Merge a lead and a user"
      }
    },
    "/contacts/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/search_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can search for multiple contacts by the value of their attributes in order to fetch exactly who you want.\n\nTo search for contacts, you need to send a `POST` request to `https://api.intercom.io/contacts/search`.\n\nThis will accept a query object in the body which will define your filters in order to search for contacts.\n\n{% admonition type=\"warning\" name=\"Optimizing search queries\" %}\n  Search queries can be complex, so optimizing them can help the performance of your search.\n  Use the `AND` and `OR` operators to combine multiple filters to get the exact results you need and utilize\n  pagination to limit the number of results returned. The default is `50` results per page.\n  See the [pagination section](https://developers.intercom.com/docs/build-an-integration/learn-more/rest-apis/pagination/#example-search-conversations-request) for more details on how to use the `starting_after` param.\n{% /admonition %}\n### Contact Creation Delay\n\nIf a contact has recently been created, there is a possibility that it will not yet be available when searching. This means that it may not appear in the response. This delay can take a few minutes. If you need to be instantly notified it is recommended to use webhooks and iterate to see if they match your search filters.\n\n### Nesting & Limitations\n\nYou can nest these filters in order to get even more granular insights that pinpoint exactly what you need. Example: (1 OR 2) AND (3 OR 4).\nThere are some limitations to the amount of multiple's there can be:\n* There's a limit of max 2 nested filters\n* There's a limit of max 15 filters for each AND or OR group\n\n### Searching for Timestamp Fields\n\nAll timestamp fields (created_at, updated_at etc.) are indexed as Dates for Contact Search queries; Datetime queries are not currently supported. This means you can only query for timestamp fields by day - not hour, minute or second.\nFor example, if you search for all Contacts with a created_at value greater (>) than 1577869200 (the UNIX timestamp for January 1st, 2020 9:00 AM), that will be interpreted as 1577836800 (January 1st, 2020 12:00 AM). The search results will then include Contacts created from January 2nd, 2020 12:00 AM onwards.\nIf you'd like to get contacts created on January 1st, 2020 you should search with a created_at value equal (=) to 1577836800 (January 1st, 2020 12:00 AM).\nThis behaviour applies only to timestamps used in search queries. The search results will still contain the full UNIX timestamp and be sorted accordingly.\n\n### Accepted Fields\n\nMost key listed as part of the Contacts Model are searchable, whether writeable or not. The value you search for has to match the accepted type, otherwise the query will fail (ie. as `created_at` accepts a date, the `value` cannot be a string such as `\"foorbar\"`).\n\n| Field                              | Type                           |\n| ---------------------------------- | ------------------------------ |\n| id                                 | String                         |\n| role                               | String<br>Accepts user or lead |\n| name                               | String                         |\n| avatar                             | String                         |\n| owner_id                           | Integer                        |\n| email                              | String                         |\n| email_domain                       | String                         |\n| phone                              | String                         |\n| external_id                        | String                         |\n| created_at                         | Date (UNIX Timestamp)          |\n| signed_up_at                       | Date (UNIX Timestamp)          |\n| updated_at                         | Date (UNIX Timestamp)          |\n| last_seen_at                       | Date (UNIX Timestamp)          |\n| last_contacted_at                  | Date (UNIX Timestamp)          |\n| last_replied_at                    | Date (UNIX Timestamp)          |\n| last_email_opened_at               | Date (UNIX Timestamp)          |\n| last_email_clicked_at              | Date (UNIX Timestamp)          |\n| language_override                  | String                         |\n| browser                            | String                         |\n| browser_language                   | String                         |\n| os                                 | String                         |\n| location.country                   | String                         |\n| location.region                    | String                         |\n| location.city                      | String                         |\n| unsubscribed_from_emails           | Boolean                        |\n| marked_email_as_spam               | Boolean                        |\n| has_hard_bounced                   | Boolean                        |\n| ios_last_seen_at                   | Date (UNIX Timestamp)          |\n| ios_app_version                    | String                         |\n| ios_device                         | String                         |\n| ios_app_device                     | String                         |\n| ios_os_version                     | String                         |\n| ios_app_name                       | String                         |\n| ios_sdk_version                    | String                         |\n| android_last_seen_at               | Date (UNIX Timestamp)          |\n| android_app_version                | String                         |\n| android_device                     | String                         |\n| android_app_name                   | String                         |\n| andoid_sdk_version                 | String                         |\n| segment_id                         | String                         |\n| tag_id                             | String                         |\n| custom_attributes.{attribute_name} | String                         |\n\n### Accepted Operators\n\n{% admonition type=\"warning\" name=\"Searching based on `created_at`\" %}\n  You cannot use the `<=` or `>=` operators to search by `created_at`.\n{% /admonition %}\n\nThe table below shows the operators you can use to define how you want to search for the value.  The operator should be put in as a string (`\"=\"`). The operator has to be compatible with the field's type (eg. you cannot search with `>` for a given string value as it's only compatible for integer's and dates).\n\n| Operator | Valid Types                      | Description                                                      |\n| :------- | :------------------------------- | :--------------------------------------------------------------- |\n| =        | All                              | Equals                                                           |\n| !=       | All                              | Doesn't Equal                                                    |\n| IN       | All                              | In<br>Shortcut for `OR` queries<br>Values must be in Array       |\n| NIN      | All                              | Not In<br>Shortcut for `OR !` queries<br>Values must be in Array |\n| >        | Integer<br>Date (UNIX Timestamp) | Greater than                                                     |\n| <       | Integer<br>Date (UNIX Timestamp) | Lower than                                                       |\n| ~        | String                           | Contains                                                         |\n| !~       | String                           | Doesn't Contain                                                  |\n| ^        | String                           | Starts With                                                      |\n| $        | String                           | Ends With                                                        |\n",
        "operationId": "SearchContacts",
        "summary": "Search contacts"
      }
    },
    "/contacts/{contact_id}/companies/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "58a430d35458202d41b1e65b"
          },
          {
            "description": "The unique identifier for the company which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "58a430d35458202d41b1e65b"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies",
          "Contacts"
        ],
        "description": "You can detach a company from a single contact.",
        "operationId": "detachContactFromACompany",
        "summary": "Detach a contact from a company"
      }
    },
    "/contacts/{contact_id}/segments": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_segments"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts",
          "Segments"
        ],
        "description": "You can fetch a list of segments that are associated to a contact.",
        "operationId": "listSegmentsForAContact",
        "summary": "List attached segments for contact"
      }
    },
    "/contacts/{contact_id}/subscriptions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/subscription_type_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts",
          "Subscription Types"
        ],
        "description": "You can fetch a list of subscription types that are attached to a contact. These can be subscriptions that a user has 'opted-in' to or has 'opted-out' from, depending on the subscription type.\nThis will return a list of Subscription Type objects that the contact is associated with.\n\nThe data property will show a combined list of:\n\n  1.Opt-out subscription types that the user has opted-out from.\n  2.Opt-in subscription types that the user has opted-in to receiving.\n",
        "operationId": "listSubscriptionsForAContact",
        "summary": "List subscriptions for a contact"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "consent_type": {
                  "description": "The consent_type of a subscription, opt_out or opt_in.",
                  "example": "opt_in",
                  "type": "string"
                },
                "id": {
                  "description": "The unique identifier for the subscription which is given by Intercom",
                  "example": "37846",
                  "type": "string"
                }
              },
              "required": [
                "id",
                "consent_type"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/subscription_type"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Subscription Types",
          "Contacts"
        ],
        "description": "You can add a specific subscription to a contact. In Intercom, we have two different subscription types based on user consent - opt-out and opt-in:\n\n  1.Attaching a contact to an opt-out subscription type will opt that user out from receiving messages related to that subscription type.\n\n  2.Attaching a contact to an opt-in subscription type will opt that user in to receiving messages related to that subscription type.\n\nThis will return a subscription type model for the subscription type that was added to the contact.\n",
        "operationId": "attachSubscriptionTypeToContact",
        "summary": "Add subscription to a contact"
      }
    },
    "/contacts/{contact_id}/subscriptions/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "description": "The unique identifier for the subscription type which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "37846"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/subscription_type"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Subscription Types",
          "Contacts"
        ],
        "description": "You can remove a specific subscription from a contact. This will return a subscription type model for the subscription type that was removed from the contact.",
        "operationId": "detachSubscriptionTypeToContact",
        "summary": "Remove subscription from a contact"
      }
    },
    "/contacts/{contact_id}/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/tag_list"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts",
          "Tags"
        ],
        "description": "You can fetch a list of all tags that are attached to a specific contact.",
        "operationId": "listTagsForAContact",
        "summary": "List tags attached to a contact"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "id": {
                  "description": "The unique identifier for the tag which is given by Intercom",
                  "example": "7522907",
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Tag not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Tags",
          "Contacts"
        ],
        "description": "You can tag a specific contact. This will return a tag object for the tag that was added to the contact.",
        "operationId": "attachTagToContact",
        "summary": "Add tag to a contact"
      }
    },
    "/contacts/{contact_id}/tags/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "contact_id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "description": "The unique identifier for the tag which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "7522907"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/tag"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Tag not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Tags",
          "Contacts"
        ],
        "description": "You can remove tag from a specific contact. This will return a tag object for the tag that was removed from the contact.",
        "operationId": "detachTagFromContact",
        "summary": "Remove tag from a contact"
      }
    },
    "/contacts/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_deleted"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can delete a single contact.",
        "operationId": "DeleteContact",
        "summary": "Delete a contact"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can fetch the details of a single contact.",
        "operationId": "ShowContact",
        "summary": "Get a contact"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can update an existing contact (ie. user or lead).",
        "operationId": "UpdateContact",
        "summary": "Update a contact"
      }
    },
    "/contacts/{id}/archive": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_archived"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can archive a single contact.",
        "operationId": "ArchiveContact",
        "summary": "Archive contact"
      }
    },
    "/contacts/{id}/companies": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          },
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_attached_companies"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Contacts",
          "Companies"
        ],
        "description": "You can fetch a list of companies that are associated to a contact.",
        "operationId": "listCompaniesForAContact",
        "summary": "List attached companies for contact"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier for the contact which is given by Intercom",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "id": {
                  "description": "The unique identifier for the company which is given by Intercom",
                  "example": "58a430d35458202d41b1e65b",
                  "type": "string"
                }
              },
              "required": [
                "id"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful",
            "schema": {
              "$ref": "#/definitions/company"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Company Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Companies",
          "Contacts"
        ],
        "description": "You can attach a company to a single contact.",
        "operationId": "attachContactToACompany",
        "summary": "Attach a Contact to a Company"
      }
    },
    "/contacts/{id}/notes": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The unique identifier of a contact.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/note_list"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Notes",
          "Contacts"
        ],
        "description": "You can fetch a list of notes that are associated to a contact.",
        "operationId": "listNotes",
        "summary": "List all notes"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "The unique identifier of a given contact.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer",
            "x-example": "123"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "admin_id": {
                  "description": "The unique identifier of a given admin.",
                  "example": "123",
                  "type": "string"
                },
                "body": {
                  "description": "The text of the note.",
                  "example": "New note",
                  "type": "string"
                },
                "contact_id": {
                  "description": "The unique identifier of a given contact.",
                  "example": "123",
                  "type": "string"
                }
              },
              "required": [
                "body"
              ],
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/note"
            }
          },
          "404": {
            "description": "Contact not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Notes",
          "Contacts"
        ],
        "description": "You can add a note to a single contact.",
        "operationId": "createNote",
        "summary": "Create a note"
      }
    },
    "/contacts/{id}/unarchive": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "description": "id",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string",
            "x-example": "63a07ddf05a32042dffac965"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/contact_unarchived"
            }
          }
        },
        "tags": [
          "Contacts"
        ],
        "description": "You can unarchive a single contact.",
        "operationId": "UnarchiveContact",
        "summary": "Unarchive contact"
      }
    },
    "/conversations": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "default": 20,
            "description": "How many results per page",
            "in": "query",
            "maximum": 150,
            "name": "per_page",
            "required": false,
            "type": "integer"
          },
          {
            "description": "String used to get the next page of conversations.",
            "in": "query",
            "name": "starting_after",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/paginated_response"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "API plan restricted",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Conversations"
        ],
        "description": "You can fetch a list of all conversations.\n\nYou can optionally request the result page size and the cursor to start after to fetch the result.\n{% admonition type=\"warning\" name=\"Pagination\" %}\n  You can use pagination to limit the number of results returned. The default is `20` results per page.\n  See the [pagination section](https://developers.intercom.com/docs/build-an-integration/learn-more/rest-apis/pagination/#pagination-for-list-apis) for more details on how to use the `starting_after` param.\n{% /admonition %}\n",
        "operationId": "listConversations",
        "summary": "List all conversations"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/create_conversation_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "conversation created",
            "schema": {
              "$ref": "#/definitions/message"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "403": {
            "description": "API plan restricted",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Contact Not Found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Conversations"
        ],
        "description": "You can create a conversation that has been initiated by a contact (ie. user or lead).\nThe conversation can be an in-app message only.\n\n{% admonition type=\"info\" name=\"Sending for visitors\" %}\nYou can also send a message from a visitor by specifying their `user_id` or `id` value in the `from` field, along with a `type` field value of `contact`.\nThis visitor will be automatically converted to a contact with a lead role once the conversation is created.\n{% /admonition %}\n\nThis will return the Message model that has been created.\n\n",
        "operationId": "createConversation",
        "summary": "Creates a conversation"
      }
    },
    "/conversations/redact": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/redact_conversation_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Redact a conversation part",
            "schema": {
              "$ref": "#/definitions/conversation"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/error"
            }
          },
          "404": {
            "description": "Not found",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "tags": [
          "Conversations"
        ],
        "description": "You can redact a conversation part or the source message of a conversation (as seen in the source object).\n\n{% admonition type=\"info\" name=\"Redacting parts and messages\" %}\nIf you are redacting a conversation part, it must have a `body`. If you are redacting a source message, it must have been created by a contact. We will return a `conversation_part_not_redactable` error if these criteria are not met.\n{% /admonition %}\n\n",
        "operationId": "redactConversation",
        "summary": "Redact a conversation part"
      }
    },
    "/conversations/search": {
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "2.9",
            "description": "Intercom API version.</br>By default, it's equal to the version set in the app package.",
            "enum": [
              "1.0",
              "1.1",
              "1.2",
              "1.3",
              "1.4",
              "2.0",
              "2.1",
              "2.2",
              "2.3",
              "2.4",
              "2.5",
              "2.6",
              "2.7",
              "2.8",
              "2.9",
              "2.10",
              "2.11",
              "Unstable"
            ],
            "in": "header",
            "name": "Intercom-Version",
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/search_request"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful",
            "schema": {
              "$ref": "#/definitions/conversation_list"
            }
          }
        },
        "tags": [
          "Conversations"
        ],
        "description": "You can search for multiple conversations by the value of their attributes in order to fetch exactly which ones you want.\n\nTo search for conversations, you need to send a `POST` request to `https://api.intercom.io/conversations/search`.\n\nThis will accept a query object in the body which will define your filters in order to search for conversations.\n{% admonition type=\"warning\" name=\"Optimizing search queries\" %}\n  Search queries can be complex, so optimizing them can help the performance of your search.\n  Use the `AND` and `OR` operators to combine multiple filters to get the exact results you need and utilize\n  pagination to limit the number of results returned. The default is `20` results per page and maximum is `150`.\n  See the [pagination section](https://developers.intercom.com/docs/build-an-integration/learn-more/rest-apis/pagination/#example-search-conversations-request) for more details on how to use the `starting_after` param.\n{% /admonition %}\n\n### Nesting & Limitations\n\nYou can nest these filters in order to get even more granular insights that pinpoint exactly what you need. Example: (1 OR 2) AND (3 OR 4).\nThere are some limitations to the amount of multiple's there can be:\n- There's a limit of max 2 nested filters\n- There's a limit of max 15 filters for each AND or OR group\n\n### Accepted Fields\n\nMost keys listed in the conversation model is searchable, whether writeable or not. The value you search for has to match the accepted type, otherwise the query will fail (ie. as `created_at` accepts a date, the `value` cannot be a string such as `\"foorbar\"`).\nThe `source.body` field is unique as the search will not be performed against the entire value, but instead against every element of the value separately. For example, when searching for a conversation with a `\"I need support\"` body - the query should contain a `=` operator with the value `\"support\"` for such conversation to be returned. A query with a `=` operator and a `\"need support\"` value will not yield a result.\n\n| Field                                     | Type                                                                                                                                                   |\n| :---------------------------------------- | :----------------------------------------------------------------------------------------------------------------------------------------------------- |\n| id                                        | String                                                                                                                                                 |\n| created_at                                | Date (UNIX timestamp)                                                                                                                                  |\n| updated_at          
[...]
