{
  "swagger": "2.0",
  "info": {
    "title": "Pipedrive API v1",
    "version": "1.0.0"
  },
  "host": "api.pipedrive.com",
  "basePath": "/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/activities": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The comma-separated IDs of activities that will be deleted",
            "in": "query",
            "name": "ids",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "The activities were successfully deleted",
            "examples": {
              "application/json": {
                "data": {
                  "id": [
                    625,
                    627
                  ]
                },
                "success": true
              }
            },
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "id": {
                      "description": "An array of the IDs of activities that were deleted",
                      "items": {
                        "type": "integer"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "title": "DeleteActivitiesResponse",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "activities:full"
            ]
          }
        ],
        "tags": [
          "Activities"
        ],
        "description": "Marks multiple activities as deleted. After 30 days, the activities will be permanently deleted.",
        "operationId": "deleteActivities",
        "summary": "Delete multiple activities in bulk",
        "x-token-cost": 10
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the user whose activities will be fetched. If omitted, the user associated with the API token will be used. If 0, activities for all company users will be fetched based on the permission sets.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The ID of the filter to use (will narrow down results if used together with `user_id` parameter)",
            "in": "query",
            "name": "filter_id",
            "required": false,
            "type": "integer"
          },
          {
            "description": "The type of the activity, can be one type or multiple types separated by a comma. This is in correlation with the `key_string` parameter of ActivityTypes.",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "description": "For pagination, the limit of entries to be returned. If not provided, 100 items will be returned.",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "For pagination, the position that represents the first result for the page",
            "in": "query",
            "name": "start",
            "type": "integer"
          },
          {
            "description": "Use the activity due date where you wish to begin fetching activities from. Insert due date in YYYY-MM-DD format.",
            "format": "date",
            "in": "query",
            "name": "start_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "Use the activity due date where you wish to stop fetching activities from. Insert due date in YYYY-MM-DD format.",
            "format": "date",
            "in": "query",
            "name": "end_date",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether the activity is done or not. 0 = Not done, 1 = Done. If omitted returns both done and not done activities.",
            "enum": [
              0,
              1
            ],
            "in": "query",
            "name": "done",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of activities",
            "examples": {
              "application/json": {
                "additional_data": {
                  "pagination": {
                    "limit": 100,
                    "more_items_in_collection": false,
                    "next_start": 1,
                    "start": 0
                  }
                },
                "data": [
                  {
                    "active_flag": true,
                    "add_time": "2020-06-08 12:37:56",
                    "assigned_to_user_id": 1235,
                    "attendees": [
                      {
                        "email_address": "attendee@pipedrivemail.com",
                        "is_organizer": 0,
                        "name": "Attendee",
                        "person_id": 25312,
                        "status": "noreply",
                        "user_id": null
                      }
                    ],
                    "busy_flag": true,
                    "calendar_sync_include_context": "",
                    "company_id": 22122,
                    "conference_meeting_client": "871b8bc88d3a1202",
                    "conference_meeting_id": "17058746701",
                    "conference_meeting_url": "https://pipedrive.zoom.us/link",
                    "created_by_user_id": 1234,
                    "deal_dropbox_bcc": "company+deal300@pipedrivemail.com",
                    "deal_id": 300,
                    "deal_title": "Deal",
                    "done": false,
                    "due_date": "2020-06-09",
                    "due_time": "10:00",
                    "duration": "01:00",
                    "file": {
                      "clean_name": "Audio 10:55:07.m4a",
                      "id": "376892,",
                      "url": "https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a"
                    },
                    "gcal_event_id": "",
                    "google_calendar_etag": "",
                    "google_calendar_id": "",
                    "id": 8,
                    "last_notification_time": "2020-08-08 12:37:56",
                    "last_notification_user_id": 7655,
                    "lead_id": "46c3b0e1-db35-59ca-1828-4817378dff71",
                    "location": "Mustamäe tee 3, Tallinn, Estonia",
                    "location_admin_area_level_1": "Harju maakond",
                    "location_admin_area_level_2": "",
                    "location_country": "Estonia",
                    "location_formatted_address": "Mustamäe tee 3, 10616 Tallinn, Estonia",
                    "location_locality": "Tallinn",
                    "location_postal_code": "10616",
                    "location_route": "Mustamäe tee",
                    "location_street_number": "3",
                    "location_sublocality": "Kristiine",
                    "location_subpremise": "",
                    "marked_as_done_time": "2020-08-08 08:08:38",
                    "note": "A note for the activity",
                    "notification_language_id": 1,
                    "org_id": 5,
                    "org_name": "Organization",
                    "owner_name": "Creator",
                    "participants": [
                      {
                        "person_id": 17985,
                        "primary_flag": false
                      },
                      {
                        "person_id": 1101,
                        "primary_flag": true
                      }
                    ],
                    "person_dropbox_bcc": "company@pipedrivemail.com",
                    "person_id": 1101,
                    "person_name": "Person",
                    "project_id": null,
                    "public_description": "This is a description",
                    "rec_master_activity_id": 1,
                    "rec_rule": "RRULE:FREQ=WEEKLY;BYDAY=WE",
                    "rec_rule_extension": "",
                    "reference_id": 7,
                    "reference_type": "scheduler-service",
                    "series": [],
                    "source_timezone": "",
                    "subject": "Deadline",
                    "type": "deadline",
                    "update_time": "2020-08-08 12:37:56",
                    "update_user_id": 5596,
                    "user_id": 1234
                  }
                ],
                "related_objects": {
                  "deal": {
                    "300": {
                      "currency": "EUR",
                      "id": 300,
                      "pipeline_id": 1,
                      "stage_id": 1,
                      "status": "open",
                      "title": "Deal",
                      "value": 856
                    }
                  },
                  "organization": {
                    "5": {
                      "address": "Mustamäe tee 3a, 10615 Tallinn",
                      "cc_email": "org@pipedrivemail.com",
                      "id": 5,
                      "name": "Organization",
                      "owner_id": 8877,
                      "people_count": 2
                    }
                  },
                  "person": {
                    "1101": {
                      "email": [
                        {
                          "label": "work",
                          "primary": true,
                          "value": "person@pipedrive.com"
                        }
                      ],
                      "id": 1101,
                      "name": "Person",
                      "owner_id": 8877,
                      "phone": [
                        {
                          "label": "work",
                          "primary": true,
                          "value": "3421787767"
                        }
                      ]
                    }
                  },
                  "user": {
                    "1234": {
                      "active_flag": true,
                      "email": "john.doe@pipedrive.com",
                      "has_pic": false,
                      "id": 1234,
                      "name": "Creator",
                      "pic_hash": null
                    }
                  }
                },
                "success": true
              }
            },
            "schema": {
              "properties": {
                "additional_data": {
                  "properties": {
                    "pagination": {
                      "description": "Pagination details of the list",
                      "properties": {
                        "limit": {
                          "description": "Items shown per page",
                          "type": "integer"
                        },
                        "more_items_in_collection": {
                          "description": "Whether there are more list items in the collection than displayed",
                          "type": "boolean"
                        },
                        "next_start": {
                          "description": "Next pagination start",
                          "type": "integer"
                        },
                        "start": {
                          "description": "Pagination start",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "data": {
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "deal_id": {
                            "description": "The ID of the deal this activity is associated with",
                            "type": "integer"
                          },
                          "due_date": {
                            "description": "The due date of the activity. Format: YYYY-MM-DD",
                            "format": "date",
                            "type": "string"
                          },
                          "due_time": {
                            "description": "The due time of the activity in UTC. Format: HH:MM",
                            "type": "string"
                          },
                          "duration": {
                            "description": "The duration of the activity. Format: HH:MM",
                            "type": "string"
                          },
                          "lead_id": {
                            "description": "The ID of the lead in the UUID format this activity is associated with",
                            "format": "uuid",
                            "type": "string",
                            "x-nullable": true
                          },
                          "location": {
                            "description": "The address of the activity.",
                            "type": "string"
                          },
                          "org_id": {
                            "description": "The ID of the organization this activity is associated with",
                            "type": "integer"
                          },
                          "person_id": {
                            "description": "The ID of the person this activity is associated with",
                            "type": "integer"
                          },
                          "project_id": {
                            "description": "The ID of the project this activity is associated with",
                            "type": "integer",
                            "x-nullable": true
                          },
                          "public_description": {
                            "description": "Additional details about the activity that is synced to your external calendar. Unlike the note added to the activity, the description is publicly visible to any guests added to the activity.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      {
                        "properties": {
                          "active_flag": {
                            "description": "Whether the activity is active or not",
                            "type": "boolean"
                          },
                          "add_time": {
                            "description": "The creation date and time of the activity in UTC. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "assigned_to_user_id": {
                            "description": "The ID of the user to whom the activity is assigned to. Equal to `user_id`.",
                            "type": "integer"
                          },
                          "attendees": {
                            "description": "The attendees of the activity. This can be either your existing Pipedrive contacts or an external email address.",
                            "items": {
                              "type": "object"
                            },
                            "type": "array",
                            "x-nullable": true
                          },
                          "busy_flag": {
                            "description": "Marks if the activity is set as 'Busy' or 'Free'. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset. When the value of the flag is unset (`null`), the flag defaults to 'Busy' if it has a time set, and 'Free' if it is an all-day event without specified time.",
                            "type": "boolean"
                          },
                          "calendar_sync_include_context": {
                            "description": "For activities that sync to an external calendar, this setting indicates if the activity syncs with context (what are the deals, persons, organizations this activity is related to)",
                            "type": "string"
                          },
                          "company_id": {
                            "description": "The user's company ID",
                            "type": "integer"
                          },
                          "conference_meeting_client": {
                            "description": "The ID of the Marketplace app, which is connected to this activity",
                            "type": "string"
                          },
                          "conference_meeting_id": {
                            "description": "The meeting ID of the meeting provider (Zoom, MS Teams etc.) that is associated with this activity",
                            "type": "string"
                          },
                          "conference_meeting_url": {
                            "description": "The link to join the meeting which is associated with this activity",
                            "type": "string"
                          },
                          "created_by_user_id": {
                            "description": "The ID of the user who created the activity",
                            "type": "integer"
                          },
                          "deal_dropbox_bcc": {
                            "description": "The BCC email address of the deal",
                            "type": "string"
                          },
                          "deal_title": {
                            "description": "The name of the deal this activity is associated with",
                            "type": "string"
                          },
                          "done": {
                            "description": "Whether the activity is done or not",
                            "type": "boolean"
                          },
                          "file": {
                            "description": "The file that is attached to this activity. For example, this can be a reference to an audio note file generated with Pipedrive mobile app.",
                            "type": "object"
                          },
                          "gcal_event_id": {
                            "description": "For the activity which syncs to Google calendar, this is the Google event ID. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                            "type": "string"
                          },
                          "google_calendar_etag": {
                            "description": "The Google calendar API etag (version) that is used for syncing this activity. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                            "type": "string"
                          },
                          "google_calendar_id": {
                            "description": "The Google calendar ID that this activity syncs to. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                            "type": "string"
                          },
                          "id": {
                            "description": "The ID of the activity, generated when the activity was created",
                            "type": "integer"
                          },
                          "last_notification_time": {
                            "description": "The date and time of latest notifications sent about this activity to the participants or the attendees of this activity",
                            "type": "string"
                          },
                          "last_notification_user_id": {
                            "description": "The ID of the user who triggered the sending of the latest notifications about this activity to the participants or the attendees of this activity",
                            "type": "integer"
                          },
                          "location_admin_area_level_1": {
                            "description": "A subfield of the location field. Indicates state/county.",
                            "type": "string"
                          },
                          "location_admin_area_level_2": {
                            "description": "A subfield of the location field. Indicates region.",
                            "type": "string"
                          },
                          "location_country": {
                            "description": "A subfield of the location field. Indicates country.",
                            "type": "string"
                          },
                          "location_formatted_address": {
                            "description": "A subfield of the location field. Indicates full/combined address.",
                            "type": "string"
                          },
                          "location_locality": {
                            "description": "A subfield of the location field. Indicates city/town/village/locality.",
                            "type": "string"
                          },
                          "location_postal_code": {
                            "description": "A subfield of the location field. Indicates ZIP/postal code.",
                            "type": "string"
                          },
                          "location_route": {
                            "description": "A subfield of the location field. Indicates street name.",
                            "type": "string"
                          },
                          "location_street_number": {
                            "description": "A subfield of the location field. Indicates house number.",
                            "type": "string"
                          },
                          "location_sublocality": {
                            "description": "A subfield of the location field. Indicates district/sublocality.",
                            "type": "string"
                          },
                          "location_subpremise": {
                            "description": "A subfield of the location field. Indicates apartment/suite number.",
                            "type": "string"
                          },
                          "marked_as_done_time": {
                            "description": "The date and time this activity was marked as done. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "note": {
                            "description": "The note of the activity (HTML format)",
                            "type": "string"
                          },
                          "notification_language_id": {
                            "description": "The ID of the language the notifications are sent in",
                            "type": "integer"
                          },
                          "org_name": {
                            "description": "The name of the organization this activity is associated with",
                            "type": "string"
                          },
                          "owner_name": {
                            "description": "The name of the user this activity is owned by",
                            "type": "string"
                          },
                          "participants": {
                            "description": "List of multiple persons (participants) this activity is associated with",
                            "items": {
                              "type": "object"
                            },
                            "type": "array",
                            "x-nullable": true
                          },
                          "person_dropbox_bcc": {
                            "description": "The BCC email address of the person",
                            "type": "string"
                          },
                          "person_name": {
                            "description": "The name of the person this activity is associated with",
                            "type": "string"
                          },
                          "rec_master_activity_id": {
                            "description": "The ID of parent activity for a recurrent activity if the current activity is an exception to recurrence rules",
                            "type": "integer"
                          },
                          "rec_rule": {
                            "description": "The rule for the recurrence of the activity. Is important for activities synced into Pipedrive from an external calendar. Example: \"RRULE:FREQ=WEEKLY;BYDAY=WE\"",
                            "type": "string"
                          },
                          "rec_rule_extension": {
                            "description": "Additional rules for the recurrence of the activity, extend the `rec_rule`. Is important for activities synced into Pipedrive from an external calendar.",
                            "type": "string"
                          },
                          "reference_id": {
                            "description": "Together with the `reference_type`, gives the ID of the other object",
                            "type": "integer"
                          },
                          "reference_type": {
                            "description": "If the activity references some other object, it is indicated here. For example, value `Salesphone` refers to activities created with Caller.",
                            "type": "string"
                          },
                          "series": {
                            "description": "The list of recurring activity instances. It is in a structure as follows: `[{due_date: \"2020-06-24\", due_time: \"10:00:00\"}]`",
                            "items": {
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "source_timezone": {
                            "description": "The timezone the activity was created in an external calendar",
                            "type": "string"
                          },
                          "subject": {
                            "description": "The subject of the activity",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of the activity. This is in correlation with the `key_string` parameter of ActivityTypes.",
                            "type": "string"
                          },
                          "update_time": {
                            "description": "The last update date and time of the activity. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "update_user_id": {
                            "description": "The ID of the user who was the last to update this activity",
                            "type": "integer"
                          },
                          "user_id": {
                            "description": "The ID of the user whom the activity is assigned to",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    ],
                    "title": "Activity"
                  },
                  "type": "array"
                },
                "related_objects": {
                  "properties": {
                    "deal": {
                      "properties": {
                        "DEAL_ID": {
                          "description": "The ID of the deal which is associated with the item",
                          "properties": {
                            "currency": {
                              "description": "The currency of the deal value",
                              "type": "string"
                            },
                            "id": {
                              "description": "The ID of the deal associated with the item",
                              "type": "integer"
                            },
                            "pipeline_id": {
                              "description": "The ID of the pipeline the deal is in",
                              "type": "integer"
                            },
                            "stage_id": {
                              "description": "The ID of the stage the deal is currently at",
                              "type": "integer"
                            },
                            "status": {
                              "description": "The status of the deal associated with the item",
                              "type": "string"
                            },
                            "title": {
                              "description": "The title of the deal associated with the item",
                              "type": "string"
                            },
                            "value": {
                              "description": "The value of the deal that is associated with the item",
                              "type": "number"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "title": "RelatedDealData",
                      "type": "object"
                    },
                    "organization": {
                      "properties": {
                        "ORGANIZATION_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "id": {
                                  "description": "The ID of the organization associated with the item",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            },
                            {
                              "properties": {
                                "address": {
                                  "description": "The address of the organization",
                                  "type": "string"
                                },
                                "cc_email": {
                                  "description": "The BCC email of the organization associated with the item",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the organization associated with the item",
                                  "type": "string"
                                },
                                "owner_id": {
                                  "description": "The ID of the owner of the organization that is associated with the item",
                                  "type": "integer"
                                },
                                "people_count": {
                                  "description": "The number of people connected with the organization that is associated with the item",
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          ],
                          "description": "The ID of the organization associated with the item",
                          "title": "OrganizationDataWithId",
                          "type": "object"
                        }
                      },
                      "title": "RelatedOrganizationData",
                      "type": "object"
                    },
                    "person": {
                      "properties": {
                        "PERSON_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "email": {
                                  "description": "The emails of the person associated with the item",
                                  "items": {
                                    "properties": {
                                      "label": {
                                        "description": "The type of the email",
                                        "type": "string"
                                      },
                                      "primary": {
                                        "description": "Whether this is the primary email or not",
                                        "type": "boolean"
                                      },
                                      "value": {
                                        "description": "The email of the associated person",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "id": {
                                  "description": "The ID of the person associated with the item",
                                  "type": "integer"
                                },
                                "name": {
                                  "description": "The name of the person associated with the item",
                                  "type": "string"
                                },
                                "owner_id": {
                                  "description": "The ID of the owner of the person that is associated with the item",
                                  "type": "integer"
                                },
                                "phone": {
                                  "description": "The phone numbers of the person associated with the item",
                                  "items": {
                                    "properties": {
                                      "label": {
                                        "description": "The type of the phone number",
                                        "type": "string"
                                      },
                                      "primary": {
                                        "description": "Whether this is the primary phone number or not",
                                        "type": "boolean"
                                      },
                                      "value": {
                                        "description": "The phone number of the person associated with the item",
                                        "type": "string"
                                      }
                                    },
                                    "title": "PhoneData",
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            }
                          ],
                          "description": "The ID of the person associated with the item",
                          "title": "PersonDataWithID",
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "user": {
                      "properties": {
                        "USER_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "active_flag": {
                                  "description": "Whether the user is active or not",
                                  "type": "boolean"
                                },
                                "email": {
                                  "description": "The email of the user",
                                  "type": "string"
                                },
                                "has_pic": {
                                  "description": "Whether the user has picture or not. 0 = No picture, 1 = Has picture.",
                                  "type": "integer"
                                },
                                "id": {
                                  "description": "The ID of the user",
                                  "type": "integer"
                                },
                                "name": {
                                  "description": "The name of the user",
                                  "type": "string"
                                },
                                "pic_hash": {
                                  "description": "The user picture hash",
                                  "nullable": true,
                                  "type": "string"
                                }
                              }
                            },
                            {
                              "description": "The ID of the user",
                              "type": "object"
                            }
                          ],
                          "title": "userDataWithId",
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "title": "GetActivitiesResponse",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "activities:read",
              "activities:full"
            ]
          }
        ],
        "tags": [
          "Activities"
        ],
        "description": "Returns all activities assigned to a particular user.",
        "operationId": "getActivities",
        "summary": "Get all activities assigned to a particular user",
        "x-token-cost": 20
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "deal_id": {
                      "description": "The ID of the deal this activity is associated with",
                      "type": "integer"
                    },
                    "due_date": {
                      "description": "The due date of the activity. Format: YYYY-MM-DD",
                      "format": "date",
                      "type": "string"
                    },
                    "due_time": {
                      "description": "The due time of the activity in UTC. Format: HH:MM",
                      "type": "string"
                    },
                    "duration": {
                      "description": "The duration of the activity. Format: HH:MM",
                      "type": "string"
                    },
                    "lead_id": {
                      "description": "The ID of the lead in the UUID format this activity is associated with",
                      "format": "uuid",
                      "type": "string",
                      "x-nullable": true
                    },
                    "location": {
                      "description": "The address of the activity.",
                      "type": "string"
                    },
                    "org_id": {
                      "description": "The ID of the organization this activity is associated with",
                      "type": "integer"
                    },
                    "person_id": {
                      "description": "The ID of the person this activity is associated with",
                      "type": "integer"
                    },
                    "project_id": {
                      "description": "The ID of the project this activity is associated with",
                      "type": "integer",
                      "x-nullable": true
                    },
                    "public_description": {
                      "description": "Additional details about the activity that is synced to your external calendar. Unlike the note added to the activity, the description is publicly visible to any guests added to the activity.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                {
                  "properties": {
                    "attendees": {
                      "description": "The attendees of the activity. This can be either your existing Pipedrive contacts or an external email address. It requires a structure as follows: `[{\"email_address\":\"mail@example.org\"}]` or `[{\"person_id\":1, \"email_address\":\"mail@example.org\"}]`",
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "busy_flag": {
                      "description": "Set the activity as 'Busy' or 'Free'. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset by never setting it or overriding it with `null`. When the value of the flag is unset (`null`), the flag defaults to 'Busy' if it has a time set, and 'Free' if it is an all-day event without specified time.",
                      "type": "boolean"
                    },
                    "done": {
                      "allOf": [
                        {
                          "enum": [
                            0,
                            1
                          ],
                          "title": "numberBoolean",
                          "type": "number"
                        }
                      ],
                      "description": "Whether the activity is done or not. 0 = Not done, 1 = Done"
                    },
                    "note": {
                      "description": "The note of the activity (HTML format)",
                      "type": "string"
                    },
                    "participants": {
                      "description": "List of multiple persons (participants) this activity is associated with. If omitted, single participant from `person_id` field is used. It requires a structure as follows: `[{\"person_id\":1,\"primary_flag\":true}]`",
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "subject": {
                      "description": "The subject of the activity. When value for subject is not set, it will be given a default value `Call`.",
                      "type": "string"
                    },
                    "type": {
                      "description": "The type of the activity. This is in correlation with the `key_string` parameter of ActivityTypes. When value for type is not set, it will be given a default value `Call`.",
                      "type": "string"
                    },
                    "user_id": {
                      "description": "The ID of the user whom the activity is assigned to. If omitted, the activity is assigned to the authorized user.",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                }
              ],
              "title": "AddActivityRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "examples": {
              "application/json": {
                "additional_data": {
                  "updates_story_id": 2039
                },
                "data": {
                  "active_flag": true,
                  "add_time": "2020-06-08 12:37:56",
                  "assigned_to_user_id": 1235,
                  "attendees": [
                    {
                      "email_address": "attendee@pipedrivemail.com",
                      "is_organizer": 0,
                      "name": "Attendee",
                      "person_id": 25312,
                      "status": "noreply",
                      "user_id": null
                    }
                  ],
                  "busy_flag": true,
                  "calendar_sync_include_context": "",
                  "company_id": 22122,
                  "conference_meeting_client": "871b8bc88d3a1202",
                  "conference_meeting_id": "17058746701",
                  "conference_meeting_url": "https://pipedrive.zoom.us/link",
                  "created_by_user_id": 1234,
                  "deal_dropbox_bcc": "company+deal300@pipedrivemail.com",
                  "deal_id": 300,
                  "deal_title": "Deal",
                  "done": false,
                  "due_date": "2020-06-09",
                  "due_time": "10:00",
                  "duration": "01:00",
                  "file": {
                    "clean_name": "Audio 10:55:07.m4a",
                    "id": "376892,",
                    "url": "https://pipedrive-files.s3-eu-west-1.amazonaws.com/Audio-recording.m4a"
                  },
                  "gcal_event_id": "",
                  "google_calendar_etag": "",
                  "google_calendar_id": "",
                  "id": 8,
                  "last_notification_time": "2020-08-08 12:37:56",
                  "last_notification_user_id": 7655,
                  "lead_id": "46c3b0e1-db35-59ca-1828-4817378dff71",
                  "location": "Mustamäe tee 3, Tallinn, Estonia",
                  "location_admin_area_level_1": "Harju maakond",
                  "location_admin_area_level_2": "",
                  "location_country": "Estonia",
                  "location_formatted_address": "Mustamäe tee 3, 10616 Tallinn, Estonia",
                  "location_locality": "Tallinn",
                  "location_postal_code": "10616",
                  "location_route": "Mustamäe tee",
                  "location_street_number": "3",
                  "location_sublocality": "Kristiine",
                  "location_subpremise": "",
                  "marked_as_done_time": "2020-08-08 08:08:38",
                  "note": "A note for the activity",
                  "notification_language_id": 1,
                  "org_id": 5,
                  "org_name": "Organization",
                  "owner_name": "Creator",
                  "participants": [
                    {
                      "person_id": 17985,
                      "primary_flag": false
                    },
                    {
                      "person_id": 1101,
                      "primary_flag": true
                    }
                  ],
                  "person_dropbox_bcc": "company@pipedrivemail.com",
                  "person_id": 1101,
                  "person_name": "Person",
                  "project_id": null,
                  "public_description": "This is a description",
                  "rec_master_activity_id": 1,
                  "rec_rule": "RRULE:FREQ=WEEKLY;BYDAY=WE",
                  "rec_rule_extension": "",
                  "reference_id": 7,
                  "reference_type": "scheduler-service",
                  "series": [],
                  "source_timezone": "",
                  "subject": "Deadline",
                  "type": "deadline",
                  "update_time": "2020-08-08 12:37:56",
                  "update_user_id": 5596,
                  "user_id": 1234
                },
                "related_objects": {
                  "deal": {
                    "300": {
                      "currency": "EUR",
                      "id": 300,
                      "pipeline_id": 1,
                      "stage_id": 1,
                      "status": "open",
                      "title": "Deal",
                      "value": 856
                    }
                  },
                  "organization": {
                    "5": {
                      "active_flag": true,
                      "address": "Mustamäe tee 3a, 10615 Tallinn",
                      "cc_email": "org@pipedrivemail.com",
                      "id": 5,
                      "name": "Organization",
                      "owner_id": 8877,
                      "people_count": 2
                    }
                  },
                  "person": {
                    "1101": {
                      "active_flag": true,
                      "email": [
                        {
                          "label": "work",
                          "primary": true,
                          "value": "person@pipedrive.com"
                        }
                      ],
                      "id": 1101,
                      "name": "Person",
                      "owner_id": 8877,
                      "phone": [
                        {
                          "label": "work",
                          "primary": true,
                          "value": "3421787767"
                        }
                      ]
                    }
                  },
                  "user": {
                    "1234": {
                      "active_flag": true,
                      "email": "john.doe@pipedrive.com",
                      "has_pic": false,
                      "id": 1234,
                      "name": "Creator",
                      "pic_hash": null
                    }
                  }
                },
                "success": true
              }
            },
            "schema": {
              "properties": {
                "additional_data": {
                  "properties": {
                    "updates_story_id": {
                      "description": "This field will be deprecated",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "data": {
                  "allOf": [
                    {
                      "properties": {
                        "deal_id": {
                          "description": "The ID of the deal this activity is associated with",
                          "type": "integer"
                        },
                        "due_date": {
                          "description": "The due date of the activity. Format: YYYY-MM-DD",
                          "format": "date",
                          "type": "string"
                        },
                        "due_time": {
                          "description": "The due time of the activity in UTC. Format: HH:MM",
                          "type": "string"
                        },
                        "duration": {
                          "description": "The duration of the activity. Format: HH:MM",
                          "type": "string"
                        },
                        "lead_id": {
                          "description": "The ID of the lead in the UUID format this activity is associated with",
                          "format": "uuid",
                          "type": "string",
                          "x-nullable": true
                        },
                        "location": {
                          "description": "The address of the activity.",
                          "type": "string"
                        },
                        "org_id": {
                          "description": "The ID of the organization this activity is associated with",
                          "type": "integer"
                        },
                        "person_id": {
                          "description": "The ID of the person this activity is associated with",
                          "type": "integer"
                        },
                        "project_id": {
                          "description": "The ID of the project this activity is associated with",
                          "type": "integer",
                          "x-nullable": true
                        },
                        "public_description": {
                          "description": "Additional details about the activity that is synced to your external calendar. Unlike the note added to the activity, the description is publicly visible to any guests added to the activity.",
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "active_flag": {
                          "description": "Whether the activity is active or not",
                          "type": "boolean"
                        },
                        "add_time": {
                          "description": "The creation date and time of the activity in UTC. Format: YYYY-MM-DD HH:MM:SS.",
                          "type": "string"
                        },
                        "assigned_to_user_id": {
                          "description": "The ID of the user to whom the activity is assigned to. Equal to `user_id`.",
                          "type": "integer"
                        },
                        "attendees": {
                          "description": "The attendees of the activity. This can be either your existing Pipedrive contacts or an external email address.",
                          "items": {
                            "type": "object"
                          },
                          "type": "array",
                          "x-nullable": true
                        },
                        "busy_flag": {
                          "description": "Marks if the activity is set as 'Busy' or 'Free'. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset. When the value of the flag is unset (`null`), the flag defaults to 'Busy' if it has a time set, and 'Free' if it is an all-day event without specified time.",
                          "type": "boolean"
                        },
                        "calendar_sync_include_context": {
                          "description": "For activities that sync to an external calendar, this setting indicates if the activity syncs with context (what are the deals, persons, organizations this activity is related to)",
                          "type": "string"
                        },
                        "company_id": {
                          "description": "The user's company ID",
                          "type": "integer"
                        },
                        "conference_meeting_client": {
                          "description": "The ID of the Marketplace app, which is connected to this activity",
                          "type": "string"
                        },
                        "conference_meeting_id": {
                          "description": "The meeting ID of the meeting provider (Zoom, MS Teams etc.) that is associated with this activity",
                          "type": "string"
                        },
                        "conference_meeting_url": {
                          "description": "The link to join the meeting which is associated with this activity",
                          "type": "string"
                        },
                        "created_by_user_id": {
                          "description": "The ID of the user who created the activity",
                          "type": "integer"
                        },
                        "deal_dropbox_bcc": {
                          "description": "The BCC email address of the deal",
                          "type": "string"
                        },
                        "deal_title": {
                          "description": "The name of the deal this activity is associated with",
                          "type": "string"
                        },
                        "done": {
                          "description": "Whether the activity is done or not",
                          "type": "boolean"
                        },
                        "file": {
                          "description": "The file that is attached to this activity. For example, this can be a reference to an audio note file generated with Pipedrive mobile app.",
                          "type": "object"
                        },
                        "gcal_event_id": {
                          "description": "For the activity which syncs to Google calendar, this is the Google event ID. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                          "type": "string"
                        },
                        "google_calendar_etag": {
                          "description": "The Google calendar API etag (version) that is used for syncing this activity. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                          "type": "string"
                        },
                        "google_calendar_id": {
                          "description": "The Google calendar ID that this activity syncs to. NB! This field is related to old Google calendar sync and will be deprecated soon.",
                          "type": "string"
                        },
                        "id": {
                          "description": "The ID of the activity, generated when the activity was created",
                          "type": "integer"
                        },
                        "last_notification_time": {
                          "description": "The date and time of latest notifications sent about this activity to the participants or the attendees of this activity",
                          "type": "string"
                        },
                        "last_notification_user_id": {
                          "description": "The ID of the user who triggered the sending of the latest notifications about this activity to the participants or the attendees of this activity",
                          "type": "integer"
                        },
                        "location_admin_area_level_1": {
                          "description": "A subfield of the location field. Indicates state/county.",
                          "type": "string"
                        },
                        "location_admin_area_level_2": {
                          "description": "A subfield of the location field. Indicates region.",
                          "type": "string"
                        },
                        "location_country": {
                          "description": "A subfield of the location field. Indicates country.",
                          "type": "string"
                        },
                        "location_formatted_address": {
                          "description": "A subfield of the location field. Indicates full/combined address.",
                          "type": "string"
                        },
                        "location_locality": {
                          "description": "A subfield of the location field. Indicates city/town/village/locality.",
                          "type": "string"
                        },
                        "location_postal_code": {
                          "description": "A subfield of the location field. Indicates ZIP/postal code.",
                          "type": "string"
                        },
                        "location_route": {
                          "description": "A subfield of the location field. Indicates street name.",
                          "type": "string"
                        },
                        "location_street_number": {
                          "description": "A subfield of the location field. Indicates house number.",
                          "type": "string"
                        },
                        "location_sublocality": {
                          "description": "A subfield of the location field. Indicates district/sublocality.",
                          "type": "string"
                        },
                        "location_subpremise": {
                          "description": "A subfield of the location field. Indicates apartment/suite number.",
                          "type": "string"
                        },
                        "marked_as_done_time": {
                          "description": "The date and time this activity was marked as done. Format: YYYY-MM-DD HH:MM:SS.",
                          "type": "string"
                        },
                        "note": {
                          "description": "The note of the activity (HTML format)",
                          "type": "string"
                        },
                        "notification_language_id": {
                          "description": "The ID of the language the notifications are sent in",
                          "type": "integer"
                        },
                        "org_name": {
                          "description": "The name of the organization this activity is associated with",
                          "type": "string"
                        },
                        "owner_name": {
                          "description": "The name of the user this activity is owned by",
                          "type": "string"
                        },
                        "participants": {
                          "description": "List of multiple persons (participants) this activity is associated with",
                          "items": {
                            "type": "object"
                          },
                          "type": "array",
                          "x-nullable": true
                        },
                        "person_dropbox_bcc": {
                          "description": "The BCC email address of the person",
                          "type": "string"
                        },
                        "person_name": {
                          "description": "The name of the person this activity is associated with",
                          "type": "string"
                        },
                        "rec_master_activity_id": {
                          "description": "The ID of parent activity for a recurrent activity if the current activity is an exception to recurrence rules",
                          "type": "integer"
                        },
                        "rec_rule": {
                          "description": "The rule for the recurrence of the activity. Is important for activities synced into Pipedrive from an external calendar. Example: \"RRULE:FREQ=WEEKLY;BYDAY=WE\"",
                          "type": "string"
                        },
                        "rec_rule_extension": {
                          "description": "Additional rules for the recurrence of the activity, extend the `rec_rule`. Is important for activities synced into Pipedrive from an external calendar.",
                          "type": "string"
                        },
                        "reference_id": {
                          "description": "Together with the `reference_type`, gives the ID of the other object",
                          "type": "integer"
                        },
                        "reference_type": {
                          "description": "If the activity references some other object, it is indicated here. For example, value `Salesphone` refers to activities created with Caller.",
                          "type": "string"
                        },
                        "series": {
                          "description": "The list of recurring activity instances. It is in a structure as follows: `[{due_date: \"2020-06-24\", due_time: \"10:00:00\"}]`",
                          "items": {
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "source_timezone": {
                          "description": "The timezone the activity was created in an external calendar",
                          "type": "string"
                        },
                        "subject": {
                          "description": "The subject of the activity",
                          "type": "string"
                        },
                        "type": {
                          "description": "The type of the activity. This is in correlation with the `key_string` parameter of ActivityTypes.",
                          "type": "string"
                        },
                        "update_time": {
                          "description": "The last update date and time of the activity. Format: YYYY-MM-DD HH:MM:SS.",
                          "type": "string"
                        },
                        "update_user_id": {
                          "description": "The ID of the user who was the last to update this activity",
                          "type": "integer"
                        },
                        "user_id": {
                          "description": "The ID of the user whom the activity is assigned to",
                          "type": "integer"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "title": "Activity"
                },
                "related_objects": {
                  "properties": {
                    "deal": {
                      "properties": {
                        "DEAL_ID": {
                          "description": "The ID of the deal which is associated with the item",
                          "properties": {
                            "currency": {
                              "description": "The currency of the deal value",
                              "type": "string"
                            },
                            "id": {
                              "description": "The ID of the deal associated with the item",
                              "type": "integer"
                            },
                            "pipeline_id": {
                              "description": "The ID of the pipeline the deal is in",
                              "type": "integer"
                            },
                            "stage_id": {
                              "description": "The ID of the stage the deal is currently at",
                              "type": "integer"
                            },
                            "status": {
                              "description": "The status of the deal associated with the item",
                              "type": "string"
                            },
                            "title": {
                              "description": "The title of the deal associated with the item",
                              "type": "string"
                            },
                            "value": {
                              "description": "The value of the deal that is associated with the item",
                              "type": "number"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "title": "RelatedDealData",
                      "type": "object"
                    },
                    "organization": {
                      "properties": {
                        "ORGANIZATION_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "active_flag": {
                                  "description": "Whether the associated organization is active or not",
                                  "type": "boolean"
                                }
                              },
                              "title": "OrganizationDataWithIdAndActiveFlagAllOf",
                              "type": "object"
                            },
                            {
                              "allOf": [
                                {
                                  "properties": {
                                    "id": {
                                      "description": "The ID of the organization associated with the item",
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                },
                                {
                                  "properties": {
                                    "address": {
                                      "description": "The address of the organization",
                                      "type": "string"
                                    },
                                    "cc_email": {
                                      "description": "The BCC email of the organization associated with the item",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "The name of the organization associated with the item",
                                      "type": "string"
                                    },
                                    "owner_id": {
                                      "description": "The ID of the owner of the organization that is associated with the item",
                                      "type": "integer"
                                    },
                                    "people_count": {
                                      "description": "The number of people connected with the organization that is associated with the item",
                                      "type": "integer"
                                    }
                                  },
                                  "type": "object"
                                }
                              ],
                              "description": "The ID of the organization associated with the item",
                              "title": "OrganizationDataWithId",
                              "type": "object"
                            }
                          ],
                          "description": "The ID of the organization associated with the item",
                          "title": "OrganizationDataWithIdAndActiveFlag",
                          "type": "object"
                        }
                      },
                      "title": "RelatedOrganizationDataWithActiveFlag",
                      "type": "object"
                    },
                    "person": {
                      "properties": {
                        "PERSON_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "active_flag": {
                                  "description": "Whether the associated person is active or not",
                                  "type": "boolean"
                                }
                              },
                              "type": "object"
                            },
                            {
                              "properties": {
                                "email": {
                                  "description": "The emails of the person associated with the item",
                                  "items": {
                                    "properties": {
                                      "label": {
                                        "description": "The type of the email",
                                        "type": "string"
                                      },
                                      "primary": {
                                        "description": "Whether this is the primary email or not",
                                        "type": "boolean"
                                      },
                                      "value": {
                                        "description": "The email of the associated person",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "id": {
                                  "description": "The ID of the person associated with the item",
                                  "type": "integer"
                                },
                                "name": {
                                  "description": "The name of the person associated with the item",
                                  "type": "string"
                                },
                                "owner_id": {
                                  "description": "The ID of the owner of the person that is associated with the item",
                                  "type": "integer"
                                },
                                "phone": {
                                  "description": "The phone numbers of the person associated with the item",
                                  "items": {
                                    "properties": {
                                      "label": {
                                        "description": "The type of the phone number",
                                        "type": "string"
                                      },
                                      "primary": {
                                        "description": "Whether this is the primary phone number or not",
                                        "type": "boolean"
                                      },
                                      "value": {
                                        "description": "The phone number of the person associated with the item",
                                        "type": "string"
                                      }
                                    },
                                    "title": "PhoneData",
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "type": "object"
                            }
                          ],
                          "description": "The ID of the person associated with the item",
                          "title": "PersonDataWithActiveFlag",
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "user": {
                      "properties": {
                        "USER_ID": {
                          "allOf": [
                            {
                              "properties": {
                                "active_flag": {
                                  "description": "Whether the user is active or not",
                                  "type": "boolean"
                                },
                                "email": {
                                  "description": "The email of the user",
                                  "type": "string"
                                },
                                "has_pic": {
                                  "description": "Whether the user has picture or not. 0 = No picture, 1 = Has picture.",
                                  "type": "integer"
                                },
                                "id": {
                                  "description": "The ID of the user",
                                  "type": "integer"
                                },
                                "name": {
                                  "description": "The name of the user",
                                  "type": "string"
                                },
                                "pic_hash": {
                                  "description": "The user picture hash",
                                  "nullable": true,
                                  "type": "string"
                                }
                              }
                            },
                            {
                              "description": "The ID of the user",
                              "type": "object"
                            }
                          ],
                          "title": "userDataWithId",
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  },
                  "type": "object"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "title": "AddActivityResponse",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "activities:full"
            ]
          }
        ],
        "tags": [
          "Activities"
        ],
        "description": "Adds a new activity. Includes `more_activities_scheduled_in_context` property in response's `additional_data` which indicates whether there are more undone activities scheduled with the same deal, person or organization (depending on the supplied data). For more information, see the tutorial for <a href=\"https://pipedrive.readme.io/docs/adding-an-activity\" target=\"_blank\" rel=\"noopener noreferrer\">adding an activity</a>. <br /> <br /> ***Starting from 30.09.2024, activity attendees will receive updates only if the activity owner has an active calendar sync***",
        "operationId": "addActivity",
        "summary": "Add an activity",
        "x-token-cost": 10
      }
    },
    "/activities/collection": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "For pagination, the marker (an opaque string value) representing the first item on the next page",
            "in": "query",
            "name": "cursor",
            "required": false,
            "type": "string"
          },
          {
            "description": "For pagination, the limit of entries to be returned. If not provided, 100 items will be returned. Please note that a maximum value of 500 is allowed.",
            "in": "query",
            "name": "limit",
            "type": "integer"
          },
          {
            "description": "The time boundary that points to the start of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string"
          },
          {
            "description": "The time boundary that points to the end of the range of data. Datetime in ISO 8601 format. E.g. 2022-11-01 08:55:59. Operates on the `update_time` field.",
            "in": "query",
            "name": "until",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of the user whose activities will be fetched. If omitted, all activities are returned.",
            "in": "query",
            "name": "user_id",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Whether the activity is done or not. `false` = Not done, `true` = Done. If omitted, returns both done and not done activities.",
            "in": "query",
            "name": "done",
            "type": "boolean"
          },
          {
            "description": "The type of the activity, can be one type or multiple types separated by a comma. This is in correlation with the `key_string` parameter of ActivityTypes.",
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A collection of activities",
            "examples": {
              "application/json": {
                "additional_data": {
                  "next_cursor": "eyJhY3Rpdml0aWVzIjoyN30"
                },
                "data": [
                  {
                    "active_flag": true,
                    "add_time": "2020-06-08 12:37:56",
                    "busy_flag": true,
                    "company_id": 22122,
                    "conference_meeting_client": "871b8bc88d3a1202",
                    "conference_meeting_id": "17058746701",
                    "conference_meeting_url": "https://pipedrive.zoom.us/link",
                    "deal_id": 300,
                    "done": false,
                    "due_date": "2022-06-09",
                    "due_time": "10:00",
                    "duration": "01:00",
                    "id": 8,
                    "lead_id": "46c3b0e1-db35-59ca-1828-4817378dff71",
                    "location": "Mustamäe tee 3, Tallinn, Estonia",
                    "location_admin_area_level_1": "Harju maakond",
                    "location_admin_area_level_2": "",
                    "location_country": "Estonia",
                    "location_formatted_address": "Mustamäe tee 3, 10616 Tallinn, Estonia",
                    "location_locality": "Tallinn",
                    "location_postal_code": "10616",
                    "location_route": "Mustamäe tee",
                    "location_street_number": "3",
                    "location_sublocality": "Kristiine",
                    "location_subpremise": "",
                    "marked_as_done_time": "2020-08-08 08:08:38",
                    "org_id": 5,
                    "person_id": 1101,
                    "project_id": null,
                    "public_description": "This is a description",
                    "source_timezone": "",
                    "subject": "Deadline",
                    "type": "deadline",
                    "update_time": "2020-08-08 12:37:56",
                    "update_user_id": 5596,
                    "user_id": 1234
                  }
                ],
                "success": true
              }
            },
            "schema": {
              "properties": {
                "additional_data": {
                  "description": "The additional data of the list",
                  "properties": {
                    "next_cursor": {
                      "description": "The first item on the next page. The value of the `next_cursor` field will be `null` if you have reached the end of the dataset and there’s no more pages to be returned.",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "data": {
                  "items": {
                    "allOf": [
                      {
                        "properties": {
                          "deal_id": {
                            "description": "The ID of the deal this activity is associated with",
                            "type": "integer"
                          },
                          "due_date": {
                            "description": "The due date of the activity. Format: YYYY-MM-DD",
                            "format": "date",
                            "type": "string"
                          },
                          "due_time": {
                            "description": "The due time of the activity in UTC. Format: HH:MM",
                            "type": "string"
                          },
                          "duration": {
                            "description": "The duration of the activity. Format: HH:MM",
                            "type": "string"
                          },
                          "lead_id": {
                            "description": "The ID of the lead in the UUID format this activity is associated with",
                            "format": "uuid",
                            "type": "string",
                            "x-nullable": true
                          },
                          "location": {
                            "description": "The address of the activity.",
                            "type": "string"
                          },
                          "org_id": {
                            "description": "The ID of the organization this activity is associated with",
                            "type": "integer"
                          },
                          "person_id": {
                            "description": "The ID of the person this activity is associated with",
                            "type": "integer"
                          },
                          "project_id": {
                            "description": "The ID of the project this activity is associated with",
                            "type": "integer",
                            "x-nullable": true
                          },
                          "public_description": {
                            "description": "Additional details about the activity that is synced to your external calendar. Unlike the note added to the activity, the description is publicly visible to any guests added to the activity.",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      {
                        "properties": {
                          "active_flag": {
                            "description": "Whether the activity is active or not",
                            "type": "boolean"
                          },
                          "add_time": {
                            "description": "The creation date and time of the activity in UTC. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "busy_flag": {
                            "description": "Marks if the activity is set as 'Busy' or 'Free'. If the flag is set to `true`, your customers will not be able to book that time slot through any Scheduler links. The flag can also be unset. When the value of the flag is unset (`null`), the flag defaults to 'Busy' if it has a time set, and 'Free' if it is an all-day event without specified time.",
                            "type": "boolean"
                          },
                          "company_id": {
                            "description": "The user's company ID",
                            "type": "integer"
                          },
                          "conference_meeting_client": {
                            "description": "The ID of the Marketplace app, which is connected to this activity",
                            "type": "string"
                          },
                          "conference_meeting_id": {
                            "description": "The meeting ID of the meeting provider (Zoom, MS Teams etc.) that is associated with this activity",
                            "type": "string"
                          },
                          "conference_meeting_url": {
                            "description": "The link to join the meeting which is associated with this activity",
                            "type": "string"
                          },
                          "done": {
                            "description": "Whether the activity is done or not",
                            "type": "boolean"
                          },
                          "id": {
                            "description": "The ID of the activity, generated when the activity was created",
                            "type": "integer"
                          },
                          "location_admin_area_level_1": {
                            "description": "A subfield of the location field. Indicates state/county.",
                            "type": "string"
                          },
                          "location_admin_area_level_2": {
                            "description": "A subfield of the location field. Indicates region.",
                            "type": "string"
                          },
                          "location_country": {
                            "description": "A subfield of the location field. Indicates country.",
                            "type": "string"
                          },
                          "location_formatted_address": {
                            "description": "A subfield of the location field. Indicates full/combined address.",
                            "type": "string"
                          },
                          "location_locality": {
                            "description": "A subfield of the location field. Indicates city/town/village/locality.",
                            "type": "string"
                          },
                          "location_postal_code": {
                            "description": "A subfield of the location field. Indicates ZIP/postal code.",
                            "type": "string"
                          },
                          "location_route": {
                            "description": "A subfield of the location field. Indicates street name.",
                            "type": "string"
                          },
                          "location_street_number": {
                            "description": "A subfield of the location field. Indicates house number.",
                            "type": "string"
                          },
                          "location_sublocality": {
                            "description": "A subfield of the location field. Indicates district/sublocality.",
                            "type": "string"
                          },
                          "location_subpremise": {
                            "description": "A subfield of the location field. Indicates apartment/suite number.",
                            "type": "string"
                          },
                          "marked_as_done_time": {
                            "description": "The date and time this activity was marked as done. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "source_timezone": {
                            "description": "The timezone the activity was created in an external calendar",
                            "type": "string"
                          },
                          "subject": {
                            "description": "The subject of the activity",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of the activity. This is in correlation with the `key_string` parameter of ActivityTypes.",
                            "type": "string"
                          },
                          "update_time": {
                            "description": "The last update date and time of the activity. Format: YYYY-MM-DD HH:MM:SS.",
                            "type": "string"
                          },
                          "update_user_id": {
                            "description": "The ID of the user who was the last to update this activity",
                            "type": "integer"
                          },
                          "user_id": {
                            "description": "The ID of the user whom the activity is assigned to",
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      }
                    ],
                    "title": "ActivityCollectionResponseObject"
                  },
                  "type": "array"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "title": "GetActivitiesCollectionResponse",
              "type": "object"
            }
          },
          "403": {
            "description": "Forbidden response",
            "examples": {
              "application/json": {
                "additional_data": null,
                "data": null,
                "error": "You do not have permissions to do this.",
                "error_info": "Please check developers.pipedrive.com",
                "success": false
              }
            },
            "schema": {
              "properties": {
                "error": {
                  "description": "The error message",
                  "type": "string"
                },
                "success": {
                  "description": "If the response is successful or not",
                  "type": "boolean"
                }
              },
              "title": "failResponse",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "activities:read",
              "activities:full"
            ]
          }
        ],
        "tags": [
          "Activities"
        ],
        "description": "Returns all activities. This is a cursor-paginated endpoint that is currently in BETA. For more information, please refer to our documentation on <a href=\"https://pipedrive.readme.io/docs/core-api-concepts-pagination\" target=\"_blank\" rel=\"noopener noreferrer\">pagination</a>. Please note that only global admins (those with global permissions) can access these endpoints. Users with regular permissions will receive a 403 response. Read more about global permissions <a href=\"https://support.pipedrive.com/en/article/global-user-management\" target=\"_blank\" rel=\"noopener noreferrer\">here</a>.",
        "operationId": "getActivitiesCollection",
        "summary": "Get all activities (BETA)",
        "x-token-cost": 10
      }
    },
    "/activities/{id}": {
      "delete": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the activity",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The activity was successfully deleted",
            "examples": {
              "application/json": {
                "data": {
                  "id": 624
                },
                "success": true
              }
            },
            "schema": {
              "properties": {
                "data": {
                  "properties": {
                    "id": {
                      "description": "The ID of the activity that was deleted",
                      "type": "integer"
                    }
                  },
                  "type": "object"
                },
                "success": {
                  "type": "boolean"
                }
              },
              "title": "DeleteActivityResponse",
              "type": "object"
            }
          }
        },
        "security": [
          {
            "api_key": []
          },
          {
            "oauth2": [
              "activities:full"
            ]
          }
        ],
        "tags": [
          "Activities"
        ],
        "description": "Marks an activity as deleted. After 30 days, the activity will be permanently deleted.",
        "operationId": "deleteActivity",
        "summary": "Delete an activity",
        "x-token-cost": 6
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the activity",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful",
            "examples": {
              "application/json": {
                "data": {
                  "active_flag": true,
                  "add_time": "2020-06-08 12:37:56",
                  "assigned_to_user_id": 1235,
                  "attendees": [
                    {
                      "email_address": "attendee@pipedrivemail.com",
                      "is_organizer": 0,
                      "name": "Attendee",
                      "person_id": 25312,
                      "status": "noreply",
                      "user_id": null
                    }
                  ],
                  "busy_flag": true,
                  "calendar_sync_include_context": "",
                  "company_id": 22122,
                  "conference_meeting_client": "871b8bc88d3a1202",
                  "conference_meeting_id": "17058746701",
                  "conference_meeting_url": "https://pipedrive.zoom.us/link",
                  "created_by_user_id": 1234,
[...]
