{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "dev-platform@stripe.com",
      "name": "Stripe Dev Platform Team",
      "url": "https://stripe.com"
    },
    "description": "The Stripe REST API. Please see https://stripe.com/docs/api for more details.",
    "termsOfService": "https://stripe.com/us/terms/",
    "title": "Stripe API",
    "version": "2024-09-30.acacia",
    "x-stripeSpecFilename": "spec3"
  },
  "host": "api.stripe.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v1/account": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieves the details of an account.</p>",
        "operationId": "GetAccount"
      }
    },
    "/v1/account_links": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the account to create an account link for.",
            "in": "formData",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "The collect parameter is deprecated. Use `collection_options` instead.",
            "enum": [
              "currently_due",
              "eventually_due"
            ],
            "in": "formData",
            "name": "collect",
            "type": "string"
          },
          {
            "description": "Specifies the requirements that Stripe collects from connected accounts in the Connect Onboarding flow.",
            "in": "formData",
            "name": "collection_options",
            "type": "object"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "The URL the user will be redirected to if the account link is expired, has been previously-visited, or is otherwise invalid. The URL you specify should attempt to generate a new account link with the same parameters used to create the original account link, then redirect the user to the new account link's URL so they can continue with Connect Onboarding. If a new account link cannot be generated or the redirect fails you should display a useful error to the user.",
            "in": "formData",
            "name": "refresh_url",
            "type": "string"
          },
          {
            "description": "The URL that the user will be redirected to upon leaving or completing the linked flow.",
            "in": "formData",
            "name": "return_url",
            "type": "string"
          },
          {
            "description": "The type of account link the user is requesting. Possible values are `account_onboarding` or `account_update`.",
            "enum": [
              "account_onboarding",
              "account_update"
            ],
            "in": "formData",
            "name": "type",
            "required": true,
            "type": "string",
            "x-stripeBypassValidation": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account_link"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Creates an AccountLink object that includes a single-use Stripe URL that the platform can redirect their user to in order to take them through the Connect Onboarding flow.</p>",
        "operationId": "PostAccountLinks"
      }
    },
    "/v1/account_sessions": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The identifier of the account to create an Account Session for.",
            "in": "formData",
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Each key of the dictionary represents an embedded component, and each embedded component maps to its configuration (e.g. whether it has been enabled or not).",
            "in": "formData",
            "name": "components",
            "required": true,
            "type": "object"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account_session"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Creates a AccountSession object that includes a single-use token that the platform can use on their front-end to grant client-side API access.</p>",
        "operationId": "PostAccountSessions"
      }
    },
    "/v1/accounts": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Only return connected accounts that were created during the given date interval.",
            "in": "query",
            "name": "created",
            "required": false
          },
          {
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "in": "query",
            "name": "ending_before",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "in": "query",
            "name": "starting_after",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "description": "",
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/account"
                  },
                  "type": "array"
                },
                "has_more": {
                  "description": "True if this list has another page of items after this one that can be fetched.",
                  "type": "boolean"
                },
                "object": {
                  "description": "String representing the object's type. Objects of the same type share the same value. Always has the value `list`.",
                  "enum": [
                    "list"
                  ],
                  "type": "string"
                },
                "url": {
                  "description": "The URL where this list can be accessed.",
                  "maxLength": 5000,
                  "pattern": "^/v1/accounts",
                  "type": "string"
                }
              },
              "required": [
                "data",
                "has_more",
                "object",
                "url"
              ],
              "title": "AccountList",
              "type": "object",
              "x-expandableFields": [
                "data"
              ]
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Returns a list of accounts connected to your platform via <a href=\"/docs/connect\">Connect</a>. If you’re not a platform, the list is empty.</p>",
        "operationId": "GetAccounts"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "An [account token](https://stripe.com/docs/api#create_account_token), used to securely provide details to the account.",
            "in": "formData",
            "maxLength": 5000,
            "name": "account_token",
            "type": "string"
          },
          {
            "description": "Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/js), or a dictionary containing a user's bank account details.",
            "in": "formData",
            "name": "bank_account"
          },
          {
            "description": "Business information about the account.",
            "in": "formData",
            "name": "business_profile",
            "type": "object"
          },
          {
            "description": "The business type. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "enum": [
              "company",
              "government_entity",
              "individual",
              "non_profit"
            ],
            "in": "formData",
            "name": "business_type",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "description": "Each key of the dictionary represents a capability, and each capability\nmaps to its settings (for example, whether it has been requested or not). Each\ncapability is inactive until you have provided its specific\nrequirements and Stripe has verified them. An account might have some\nof its requested capabilities be active and some be inactive.\n\nRequired when [account.controller.stripe_dashboard.type](/api/accounts/create#create_account-controller-dashboard-type)\nis `none`, which includes Custom accounts.",
            "in": "formData",
            "name": "capabilities",
            "type": "object"
          },
          {
            "description": "Information about the company or business. This field is available for any `business_type`. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "name": "company",
            "type": "object"
          },
          {
            "description": "A hash of configuration describing the account controller's attributes.",
            "in": "formData",
            "name": "controller",
            "type": "object"
          },
          {
            "description": "The country in which the account holder resides, or in which the business is legally established. This should be an ISO 3166-1 alpha-2 country code. For example, if you are in the United States and the business for which you're creating an account is legally represented in Canada, you would use `CA` as the country for the account being created. Available countries include [Stripe's global markets](https://stripe.com/global) as well as countries where [cross-border payouts](https://stripe.com/docs/connect/cross-border-payouts) are supported.",
            "in": "formData",
            "maxLength": 5000,
            "name": "country",
            "type": "string"
          },
          {
            "description": "Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account's country](https://docs.stripe.com/payouts).",
            "in": "formData",
            "name": "default_currency",
            "type": "string"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "The email address of the account holder. This is only to make the account easier to identify to you. If [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts, Stripe doesn't email the account without your consent.",
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "A card or bank account to attach to the account for receiving [payouts](/connect/bank-debit-card-payouts) (you won’t be able to use it for top-ups). You can provide either a token, like the ones returned by [Stripe.js](/js), or a dictionary, as documented in the `external_account` parameter for [bank account](/api#account_create_bank_account) creation. <br><br>By default, providing an external account sets it as the new default external account for its currency, and deletes the old default if one exists. To add additional external accounts without replacing the existing default for the currency, use the [bank account](/api#account_create_bank_account) or [card creation](/api#account_create_card) APIs. After you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "maxLength": 5000,
            "name": "external_account",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "description": "Information about the person represented by the account. This field is null unless `business_type` is set to `individual`. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "name": "individual",
            "type": "object"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "Options for customizing how the account functions within Stripe.",
            "in": "formData",
            "name": "settings",
            "type": "object"
          },
          {
            "description": "Details on the account's acceptance of the [Stripe Services Agreement](/connect/updating-accounts#tos-acceptance). This property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts. This property defaults to a `full` service agreement when empty.",
            "in": "formData",
            "name": "tos_acceptance",
            "type": "object"
          },
          {
            "description": "The type of Stripe account to create. May be one of `custom`, `express` or `standard`.",
            "enum": [
              "custom",
              "express",
              "standard"
            ],
            "in": "formData",
            "name": "type",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>With <a href=\"/docs/connect\">Connect</a>, you can create Stripe accounts for your users.\nTo do this, you’ll first need to <a href=\"https://dashboard.stripe.com/account/applications/settings\">register your platform</a>.</p>\n\n<p>If you’ve already collected information for your connected accounts, you <a href=\"/docs/connect/best-practices#onboarding\">can prefill that information</a> when\ncreating the account. Connect Onboarding won’t ask for the prefilled information during account onboarding.\nYou can prefill any information on the account.</p>",
        "operationId": "PostAccounts"
      }
    },
    "/v1/accounts/{account}": {
      "delete": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/deleted_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>With <a href=\"/connect\">Connect</a>, you can delete accounts you manage.</p>\n\n<p>Test-mode accounts can be deleted at any time.</p>\n\n<p>Live-mode accounts where Stripe is responsible for negative account balances cannot be deleted, which includes Standard accounts. Live-mode accounts where your platform is liable for negative account balances, which includes Custom and Express accounts, can be deleted when all <a href=\"/api/balance/balance_object\">balances</a> are zero.</p>\n\n<p>If you want to delete your own account, use the <a href=\"https://dashboard.stripe.com/settings/account\">account information tab in your account settings</a> instead.</p>",
        "operationId": "DeleteAccountsAccount"
      },
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieves the details of an account.</p>",
        "operationId": "GetAccountsAccount"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "An [account token](https://stripe.com/docs/api#create_account_token), used to securely provide details to the account.",
            "in": "formData",
            "maxLength": 5000,
            "name": "account_token",
            "type": "string"
          },
          {
            "description": "Business information about the account.",
            "in": "formData",
            "name": "business_profile",
            "type": "object"
          },
          {
            "description": "The business type. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "enum": [
              "company",
              "government_entity",
              "individual",
              "non_profit"
            ],
            "in": "formData",
            "name": "business_type",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "description": "Each key of the dictionary represents a capability, and each capability\nmaps to its settings (for example, whether it has been requested or not). Each\ncapability is inactive until you have provided its specific\nrequirements and Stripe has verified them. An account might have some\nof its requested capabilities be active and some be inactive.\n\nRequired when [account.controller.stripe_dashboard.type](/api/accounts/create#create_account-controller-dashboard-type)\nis `none`, which includes Custom accounts.",
            "in": "formData",
            "name": "capabilities",
            "type": "object"
          },
          {
            "description": "Information about the company or business. This field is available for any `business_type`. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "name": "company",
            "type": "object"
          },
          {
            "description": "Three-letter ISO currency code representing the default currency for the account. This must be a currency that [Stripe supports in the account's country](https://docs.stripe.com/payouts).",
            "in": "formData",
            "name": "default_currency",
            "type": "string"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "The email address of the account holder. This is only to make the account easier to identify to you. If [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts, Stripe doesn't email the account without your consent.",
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "A card or bank account to attach to the account for receiving [payouts](/connect/bank-debit-card-payouts) (you won’t be able to use it for top-ups). You can provide either a token, like the ones returned by [Stripe.js](/js), or a dictionary, as documented in the `external_account` parameter for [bank account](/api#account_create_bank_account) creation. <br><br>By default, providing an external account sets it as the new default external account for its currency, and deletes the old default if one exists. To add additional external accounts without replacing the existing default for the currency, use the [bank account](/api#account_create_bank_account) or [card creation](/api#account_create_card) APIs. After you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "maxLength": 5000,
            "name": "external_account",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "description": "Information about the person represented by the account. This field is null unless `business_type` is set to `individual`. Once you create an [Account Link](/api/account_links) or [Account Session](/api/account_sessions), this property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts.",
            "in": "formData",
            "name": "individual",
            "type": "object"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "Options for customizing how the account functions within Stripe.",
            "in": "formData",
            "name": "settings",
            "type": "object"
          },
          {
            "description": "Details on the account's acceptance of the [Stripe Services Agreement](/connect/updating-accounts#tos-acceptance). This property can only be updated for accounts where [controller.requirement_collection](/api/accounts/object#account_object-controller-requirement_collection) is `application`, which includes Custom accounts. This property defaults to a `full` service agreement when empty.",
            "in": "formData",
            "name": "tos_acceptance",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Updates a <a href=\"/connect/accounts\">connected account</a> by setting the values of the parameters passed. Any parameters not provided are\nleft unchanged.</p>\n\n<p>For accounts where <a href=\"/api/accounts/object#account_object-controller-requirement_collection\">controller.requirement_collection</a>\nis <code>application</code>, which includes Custom accounts, you can update any information on the account.</p>\n\n<p>For accounts where <a href=\"/api/accounts/object#account_object-controller-requirement_collection\">controller.requirement_collection</a>\nis <code>stripe</code>, which includes Standard and Express accounts, you can update all information until you create\nan <a href=\"/api/account_links\">Account Link</a> or <a href=\"/api/account_sessions\">Account Session</a> to start Connect onboarding,\nafter which some properties can no longer be updated.</p>\n\n<p>To update your own account, use the <a href=\"https://dashboard.stripe.com/settings/account\">Dashboard</a>. Refer to our\n<a href=\"/docs/connect/updating-accounts\">Connect</a> documentation to learn more about updating accounts.</p>",
        "operationId": "PostAccountsAccount"
      }
    },
    "/v1/accounts/{account}/bank_accounts": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/js), or a dictionary containing a user's bank account details.",
            "in": "formData",
            "name": "bank_account"
          },
          {
            "description": "When set to true, or if this is the first external account added in this currency, this account becomes the default external account for its currency.",
            "in": "formData",
            "name": "default_for_currency",
            "type": "boolean"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "Please refer to full [documentation](https://stripe.com/docs/api) instead.",
            "in": "formData",
            "maxLength": 5000,
            "name": "external_account",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Create an external account for a given account.</p>",
        "operationId": "PostAccountsAccountBankAccounts"
      }
    },
    "/v1/accounts/{account}/bank_accounts/{id}": {
      "delete": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/deleted_external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Delete a specified external account for a given account.</p>",
        "operationId": "DeleteAccountsAccountBankAccountsId"
      },
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieve a specified external account for a given account.</p>",
        "operationId": "GetAccountsAccountBankAccountsId"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the person or business that owns the bank account.",
            "in": "formData",
            "maxLength": 5000,
            "name": "account_holder_name",
            "type": "string"
          },
          {
            "description": "The type of entity that holds the account. This can be either `individual` or `company`.",
            "enum": [
              "",
              "company",
              "individual"
            ],
            "in": "formData",
            "maxLength": 5000,
            "name": "account_holder_type",
            "type": "string"
          },
          {
            "description": "The bank account type. This can only be `checking` or `savings` in most countries. In Japan, this can only be `futsu` or `toza`.",
            "enum": [
              "checking",
              "futsu",
              "savings",
              "toza"
            ],
            "in": "formData",
            "maxLength": 5000,
            "name": "account_type",
            "type": "string"
          },
          {
            "description": "City/District/Suburb/Town/Village.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_city",
            "type": "string"
          },
          {
            "description": "Billing address country, if provided when creating card.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_country",
            "type": "string"
          },
          {
            "description": "Address line 1 (Street address/PO Box/Company name).",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_line1",
            "type": "string"
          },
          {
            "description": "Address line 2 (Apartment/Suite/Unit/Building).",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_line2",
            "type": "string"
          },
          {
            "description": "State/County/Province/Region.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_state",
            "type": "string"
          },
          {
            "description": "ZIP or postal code.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_zip",
            "type": "string"
          },
          {
            "description": "When set to true, this becomes the default external account for its currency.",
            "in": "formData",
            "name": "default_for_currency",
            "type": "boolean"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "Two digit number representing the card’s expiration month.",
            "in": "formData",
            "maxLength": 5000,
            "name": "exp_month",
            "type": "string"
          },
          {
            "description": "Four digit number representing the card’s expiration year.",
            "in": "formData",
            "maxLength": 5000,
            "name": "exp_year",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "Cardholder name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Updates the metadata, account holder name, account holder type of a bank account belonging to\na connected account and optionally sets it as the default for its currency. Other bank account\ndetails are not editable by design.</p>\n\n<p>You can only update bank accounts when <a href=\"/api/accounts/object#account_object-controller-requirement_collection\">account.controller.requirement_collection</a> is <code>application</code>, which includes <a href=\"/connect/custom-accounts\">Custom accounts</a>.</p>\n\n<p>You can re-enable a disabled bank account by performing an update call without providing any\narguments or changes.</p>",
        "operationId": "PostAccountsAccountBankAccountsId"
      }
    },
    "/v1/accounts/{account}/capabilities": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "description": "",
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/capability"
                  },
                  "type": "array"
                },
                "has_more": {
                  "description": "True if this list has another page of items after this one that can be fetched.",
                  "type": "boolean"
                },
                "object": {
                  "description": "String representing the object's type. Objects of the same type share the same value. Always has the value `list`.",
                  "enum": [
                    "list"
                  ],
                  "type": "string"
                },
                "url": {
                  "description": "The URL where this list can be accessed.",
                  "maxLength": 5000,
                  "type": "string"
                }
              },
              "required": [
                "data",
                "has_more",
                "object",
                "url"
              ],
              "title": "ListAccountCapability",
              "type": "object",
              "x-expandableFields": [
                "data"
              ]
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Returns a list of capabilities associated with the account. The capabilities are returned sorted by creation date, with the most recent capability appearing first.</p>",
        "operationId": "GetAccountsAccountCapabilities"
      }
    },
    "/v1/accounts/{account}/capabilities/{capability}": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "capability",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/capability"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieves information about the specified Account Capability.</p>",
        "operationId": "GetAccountsAccountCapabilitiesCapability"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "capability",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "To request a new capability for an account, pass true. There can be a delay before the requested capability becomes active. If the capability has any activation requirements, the response includes them in the `requirements` arrays.\n\nIf a capability isn't permanent, you can remove it from the account by passing false. Some capabilities are permanent after they've been requested. Attempting to remove a permanent capability returns an error.",
            "in": "formData",
            "name": "requested",
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/capability"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Updates an existing Account Capability. Request or remove a capability by updating its <code>requested</code> parameter.</p>",
        "operationId": "PostAccountsAccountCapabilitiesCapability"
      }
    },
    "/v1/accounts/{account}/external_accounts": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "in": "query",
            "name": "ending_before",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filter external accounts according to a particular object type.",
            "enum": [
              "bank_account",
              "card"
            ],
            "in": "query",
            "maxLength": 5000,
            "name": "object",
            "required": false,
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "in": "query",
            "name": "starting_after",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "description": "",
              "properties": {
                "data": {
                  "description": "The list contains all external accounts that have been attached to the Stripe account. These may be bank accounts or cards.",
                  "items": {
                    "title": "Polymorphic",
                    "x-stripeBypassValidation": true
                  },
                  "type": "array"
                },
                "has_more": {
                  "description": "True if this list has another page of items after this one that can be fetched.",
                  "type": "boolean"
                },
                "object": {
                  "description": "String representing the object's type. Objects of the same type share the same value. Always has the value `list`.",
                  "enum": [
                    "list"
                  ],
                  "type": "string"
                },
                "url": {
                  "description": "The URL where this list can be accessed.",
                  "maxLength": 5000,
                  "type": "string"
                }
              },
              "required": [
                "data",
                "has_more",
                "object",
                "url"
              ],
              "title": "ExternalAccountList",
              "type": "object",
              "x-expandableFields": [
                "data"
              ]
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>List external accounts for an account.</p>",
        "operationId": "GetAccountsAccountExternalAccounts"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Either a token, like the ones returned by [Stripe.js](https://stripe.com/docs/js), or a dictionary containing a user's bank account details.",
            "in": "formData",
            "name": "bank_account"
          },
          {
            "description": "When set to true, or if this is the first external account added in this currency, this account becomes the default external account for its currency.",
            "in": "formData",
            "name": "default_for_currency",
            "type": "boolean"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "Please refer to full [documentation](https://stripe.com/docs/api) instead.",
            "in": "formData",
            "maxLength": 5000,
            "name": "external_account",
            "type": "string",
            "x-stripeBypassValidation": true
          },
          {
            "additionalProperties": {
              "type": "string"
            },
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Create an external account for a given account.</p>",
        "operationId": "PostAccountsAccountExternalAccounts"
      }
    },
    "/v1/accounts/{account}/external_accounts/{id}": {
      "delete": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/deleted_external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Delete a specified external account for a given account.</p>",
        "operationId": "DeleteAccountsAccountExternalAccountsId"
      },
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieve a specified external account for a given account.</p>",
        "operationId": "GetAccountsAccountExternalAccountsId"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the person or business that owns the bank account.",
            "in": "formData",
            "maxLength": 5000,
            "name": "account_holder_name",
            "type": "string"
          },
          {
            "description": "The type of entity that holds the account. This can be either `individual` or `company`.",
            "enum": [
              "",
              "company",
              "individual"
            ],
            "in": "formData",
            "maxLength": 5000,
            "name": "account_holder_type",
            "type": "string"
          },
          {
            "description": "The bank account type. This can only be `checking` or `savings` in most countries. In Japan, this can only be `futsu` or `toza`.",
            "enum": [
              "checking",
              "futsu",
              "savings",
              "toza"
            ],
            "in": "formData",
            "maxLength": 5000,
            "name": "account_type",
            "type": "string"
          },
          {
            "description": "City/District/Suburb/Town/Village.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_city",
            "type": "string"
          },
          {
            "description": "Billing address country, if provided when creating card.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_country",
            "type": "string"
          },
          {
            "description": "Address line 1 (Street address/PO Box/Company name).",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_line1",
            "type": "string"
          },
          {
            "description": "Address line 2 (Apartment/Suite/Unit/Building).",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_line2",
            "type": "string"
          },
          {
            "description": "State/County/Province/Region.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_state",
            "type": "string"
          },
          {
            "description": "ZIP or postal code.",
            "in": "formData",
            "maxLength": 5000,
            "name": "address_zip",
            "type": "string"
          },
          {
            "description": "When set to true, this becomes the default external account for its currency.",
            "in": "formData",
            "name": "default_for_currency",
            "type": "boolean"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "Two digit number representing the card’s expiration month.",
            "in": "formData",
            "maxLength": 5000,
            "name": "exp_month",
            "type": "string"
          },
          {
            "description": "Four digit number representing the card’s expiration year.",
            "in": "formData",
            "maxLength": 5000,
            "name": "exp_year",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "Cardholder name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/external_account"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Updates the metadata, account holder name, account holder type of a bank account belonging to\na connected account and optionally sets it as the default for its currency. Other bank account\ndetails are not editable by design.</p>\n\n<p>You can only update bank accounts when <a href=\"/api/accounts/object#account_object-controller-requirement_collection\">account.controller.requirement_collection</a> is <code>application</code>, which includes <a href=\"/connect/custom-accounts\">Custom accounts</a>.</p>\n\n<p>You can re-enable a disabled bank account by performing an update call without providing any\narguments or changes.</p>",
        "operationId": "PostAccountsAccountExternalAccountsId"
      }
    },
    "/v1/accounts/{account}/login_links": {
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/login_link"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Creates a single-use login link for a connected account to access the Express Dashboard.</p>\n\n<p><strong>You can only create login links for accounts that use the <a href=\"/connect/express-dashboard\">Express Dashboard</a> and are connected to your platform</strong>.</p>",
        "operationId": "PostAccountsAccountLoginLinks"
      }
    },
    "/v1/accounts/{account}/people": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "in": "query",
            "maxLength": 5000,
            "name": "ending_before",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filters on the list of people returned based on the person's relationship to the account's company.",
            "in": "query",
            "name": "relationship",
            "required": false,
            "type": "object"
          },
          {
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "in": "query",
            "maxLength": 5000,
            "name": "starting_after",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "description": "",
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/person"
                  },
                  "type": "array"
                },
                "has_more": {
                  "description": "True if this list has another page of items after this one that can be fetched.",
                  "type": "boolean"
                },
                "object": {
                  "description": "String representing the object's type. Objects of the same type share the same value. Always has the value `list`.",
                  "enum": [
                    "list"
                  ],
                  "type": "string"
                },
                "url": {
                  "description": "The URL where this list can be accessed.",
                  "maxLength": 5000,
                  "type": "string"
                }
              },
              "required": [
                "data",
                "has_more",
                "object",
                "url"
              ],
              "title": "PersonList",
              "type": "object",
              "x-expandableFields": [
                "data"
              ]
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Returns a list of people associated with the account’s legal entity. The people are returned sorted by creation date, with the most recent people appearing first.</p>",
        "operationId": "GetAccountsAccountPeople"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details on the legal guardian's or authorizer's acceptance of the required Stripe agreements.",
            "in": "formData",
            "name": "additional_tos_acceptances",
            "type": "object"
          },
          {
            "description": "The person's address.",
            "in": "formData",
            "name": "address",
            "type": "object"
          },
          {
            "description": "The Kana variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kana",
            "type": "object"
          },
          {
            "description": "The Kanji variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kanji",
            "type": "object"
          },
          {
            "description": "The person's date of birth.",
            "in": "formData",
            "name": "dob"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "The person's email address.",
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "The person's first name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kanji",
            "type": "string"
          },
          {
            "description": "A list of alternate names or aliases that the person is known by.",
            "in": "formData",
            "name": "full_name_aliases"
          },
          {
            "description": "The person's gender (International regulations require either \"male\" or \"female\").",
            "in": "formData",
            "name": "gender",
            "type": "string"
          },
          {
            "description": "The person's ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number",
            "type": "string"
          },
          {
            "description": "The person's secondary ID number, as appropriate for their country, will be used for enhanced verification checks. In Thailand, this would be the laser code found on the back of an ID card. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number_secondary",
            "type": "string"
          },
          {
            "description": "The person's last name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kanji",
            "type": "string"
          },
          {
            "description": "The person's maiden name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "maiden_name",
            "type": "string"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "The country where the person is a national. Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)), or \"XX\" if unavailable.",
            "in": "formData",
            "maxLength": 5000,
            "name": "nationality",
            "type": "string"
          },
          {
            "description": "A [person token](https://docs.stripe.com/connect/account-tokens), used to securely provide details to the person.",
            "in": "formData",
            "maxLength": 5000,
            "name": "person_token",
            "type": "string"
          },
          {
            "description": "The person's phone number.",
            "in": "formData",
            "name": "phone",
            "type": "string"
          },
          {
            "description": "Indicates if the person or any of their representatives, family members, or other closely related persons, declares that they hold or have held an important public job or function, in any jurisdiction.",
            "in": "formData",
            "maxLength": 5000,
            "name": "political_exposure",
            "type": "string"
          },
          {
            "description": "The person's registered address.",
            "in": "formData",
            "name": "registered_address",
            "type": "object"
          },
          {
            "description": "The relationship that this person has with the account's legal entity.",
            "in": "formData",
            "name": "relationship",
            "type": "object"
          },
          {
            "description": "The last four digits of the person's Social Security number (U.S. only).",
            "in": "formData",
            "name": "ssn_last_4",
            "type": "string"
          },
          {
            "description": "The person's verification status.",
            "in": "formData",
            "name": "verification",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/person"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Creates a new person.</p>",
        "operationId": "PostAccountsAccountPeople"
      }
    },
    "/v1/accounts/{account}/people/{person}": {
      "delete": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "maxLength": 5000,
            "name": "person",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/deleted_person"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Deletes an existing person’s relationship to the account’s legal entity. Any person with a relationship for an account can be deleted through the API, except if the person is the <code>account_opener</code>. If your integration is using the <code>executive</code> parameter, you cannot delete the only verified <code>executive</code> on file.</p>",
        "operationId": "DeleteAccountsAccountPeoplePerson"
      },
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "in": "path",
            "maxLength": 5000,
            "name": "person",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/person"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Retrieves an existing person.</p>",
        "operationId": "GetAccountsAccountPeoplePerson"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "in": "path",
            "maxLength": 5000,
            "name": "person",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details on the legal guardian's or authorizer's acceptance of the required Stripe agreements.",
            "in": "formData",
            "name": "additional_tos_acceptances",
            "type": "object"
          },
          {
            "description": "The person's address.",
            "in": "formData",
            "name": "address",
            "type": "object"
          },
          {
            "description": "The Kana variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kana",
            "type": "object"
          },
          {
            "description": "The Kanji variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kanji",
            "type": "object"
          },
          {
            "description": "The person's date of birth.",
            "in": "formData",
            "name": "dob"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "The person's email address.",
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "The person's first name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kanji",
            "type": "string"
          },
          {
            "description": "A list of alternate names or aliases that the person is known by.",
            "in": "formData",
            "name": "full_name_aliases"
          },
          {
            "description": "The person's gender (International regulations require either \"male\" or \"female\").",
            "in": "formData",
            "name": "gender",
            "type": "string"
          },
          {
            "description": "The person's ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number",
            "type": "string"
          },
          {
            "description": "The person's secondary ID number, as appropriate for their country, will be used for enhanced verification checks. In Thailand, this would be the laser code found on the back of an ID card. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number_secondary",
            "type": "string"
          },
          {
            "description": "The person's last name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kanji",
            "type": "string"
          },
          {
            "description": "The person's maiden name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "maiden_name",
            "type": "string"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "The country where the person is a national. Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)), or \"XX\" if unavailable.",
            "in": "formData",
            "maxLength": 5000,
            "name": "nationality",
            "type": "string"
          },
          {
            "description": "A [person token](https://docs.stripe.com/connect/account-tokens), used to securely provide details to the person.",
            "in": "formData",
            "maxLength": 5000,
            "name": "person_token",
            "type": "string"
          },
          {
            "description": "The person's phone number.",
            "in": "formData",
            "name": "phone",
            "type": "string"
          },
          {
            "description": "Indicates if the person or any of their representatives, family members, or other closely related persons, declares that they hold or have held an important public job or function, in any jurisdiction.",
            "in": "formData",
            "maxLength": 5000,
            "name": "political_exposure",
            "type": "string"
          },
          {
            "description": "The person's registered address.",
            "in": "formData",
            "name": "registered_address",
            "type": "object"
          },
          {
            "description": "The relationship that this person has with the account's legal entity.",
            "in": "formData",
            "name": "relationship",
            "type": "object"
          },
          {
            "description": "The last four digits of the person's Social Security number (U.S. only).",
            "in": "formData",
            "name": "ssn_last_4",
            "type": "string"
          },
          {
            "description": "The person's verification status.",
            "in": "formData",
            "name": "verification",
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "$ref": "#/definitions/person"
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Updates an existing person.</p>",
        "operationId": "PostAccountsAccountPeoplePerson"
      }
    },
    "/v1/accounts/{account}/persons": {
      "get": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "A cursor for use in pagination. `ending_before` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.",
            "in": "query",
            "maxLength": 5000,
            "name": "ending_before",
            "required": false,
            "type": "string"
          },
          {
            "description": "Specifies which fields in the response should be expanded.",
            "in": "query",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "required": false,
            "type": "array"
          },
          {
            "description": "A limit on the number of objects to be returned. Limit can range between 1 and 100, and the default is 10.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "integer"
          },
          {
            "description": "Filters on the list of people returned based on the person's relationship to the account's company.",
            "in": "query",
            "name": "relationship",
            "required": false,
            "type": "object"
          },
          {
            "description": "A cursor for use in pagination. `starting_after` is an object ID that defines your place in the list. For instance, if you make a list request and receive 100 objects, ending with `obj_foo`, your subsequent call can include `starting_after=obj_foo` in order to fetch the next page of the list.",
            "in": "query",
            "maxLength": 5000,
            "name": "starting_after",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "schema": {
              "description": "",
              "properties": {
                "data": {
                  "items": {
                    "$ref": "#/definitions/person"
                  },
                  "type": "array"
                },
                "has_more": {
                  "description": "True if this list has another page of items after this one that can be fetched.",
                  "type": "boolean"
                },
                "object": {
                  "description": "String representing the object's type. Objects of the same type share the same value. Always has the value `list`.",
                  "enum": [
                    "list"
                  ],
                  "type": "string"
                },
                "url": {
                  "description": "The URL where this list can be accessed.",
                  "maxLength": 5000,
                  "type": "string"
                }
              },
              "required": [
                "data",
                "has_more",
                "object",
                "url"
              ],
              "title": "PersonList",
              "type": "object",
              "x-expandableFields": [
                "data"
              ]
            }
          },
          "default": {
            "description": "Error response.",
            "schema": {
              "$ref": "#/definitions/error"
            }
          }
        },
        "description": "<p>Returns a list of people associated with the account’s legal entity. The people are returned sorted by creation date, with the most recent people appearing first.</p>",
        "operationId": "GetAccountsAccountPersons"
      },
      "post": {
        "consumes": [
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "maxLength": 5000,
            "name": "account",
            "required": true,
            "type": "string"
          },
          {
            "description": "Details on the legal guardian's or authorizer's acceptance of the required Stripe agreements.",
            "in": "formData",
            "name": "additional_tos_acceptances",
            "type": "object"
          },
          {
            "description": "The person's address.",
            "in": "formData",
            "name": "address",
            "type": "object"
          },
          {
            "description": "The Kana variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kana",
            "type": "object"
          },
          {
            "description": "The Kanji variation of the person's address (Japan only).",
            "in": "formData",
            "name": "address_kanji",
            "type": "object"
          },
          {
            "description": "The person's date of birth.",
            "in": "formData",
            "name": "dob"
          },
          {
            "description": "Documents that may be submitted to satisfy various informational requests.",
            "in": "formData",
            "name": "documents",
            "type": "object"
          },
          {
            "description": "The person's email address.",
            "in": "formData",
            "name": "email",
            "type": "string"
          },
          {
            "collectionFormat": "csv",
            "description": "Specifies which fields in the response should be expanded.",
            "in": "formData",
            "items": {
              "maxLength": 5000,
              "type": "string"
            },
            "name": "expand",
            "type": "array"
          },
          {
            "description": "The person's first name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's first name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "first_name_kanji",
            "type": "string"
          },
          {
            "description": "A list of alternate names or aliases that the person is known by.",
            "in": "formData",
            "name": "full_name_aliases"
          },
          {
            "description": "The person's gender (International regulations require either \"male\" or \"female\").",
            "in": "formData",
            "name": "gender",
            "type": "string"
          },
          {
            "description": "The person's ID number, as appropriate for their country. For example, a social security number in the U.S., social insurance number in Canada, etc. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number",
            "type": "string"
          },
          {
            "description": "The person's secondary ID number, as appropriate for their country, will be used for enhanced verification checks. In Thailand, this would be the laser code found on the back of an ID card. Instead of the number itself, you can also provide a [PII token provided by Stripe.js](https://docs.stripe.com/js/tokens/create_token?type=pii).",
            "in": "formData",
            "maxLength": 5000,
            "name": "id_number_secondary",
            "type": "string"
          },
          {
            "description": "The person's last name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name",
            "type": "string"
          },
          {
            "description": "The Kana variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kana",
            "type": "string"
          },
          {
            "description": "The Kanji variation of the person's last name (Japan only).",
            "in": "formData",
            "maxLength": 5000,
            "name": "last_name_kanji",
            "type": "string"
          },
          {
            "description": "The person's maiden name.",
            "in": "formData",
            "maxLength": 5000,
            "name": "maiden_name",
            "type": "string"
          },
          {
            "description": "Set of [key-value pairs](https://stripe.com/docs/api/metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format. Individual keys can be unset by posting an empty value to them. All keys can be unset by posting an empty value to `metadata`.",
            "in": "formData",
            "name": "metadata"
          },
          {
            "description": "The country where the person is a national. Two-letter country code ([ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)), or \"XX\" if unavailable.",
            "in": "formData",
            "maxLength": 5000,
            "name": "nationality",
            "type": "string"
          },
          {
            "description": "A [person token](https://docs.stripe.com/connect/account-tokens), used to securely provide details to the person.",
            "in": "formData",
            "maxLength": 5000,
            "name": "person_token",
            "type": "string"
          },
          {
            "description": "The person's phone number.",
            "in": "formData",
            "name": "phone",
            "type": "string"
          },
          {
            "description": "Indicates if the person or any of their representatives, family members, or other closely related persons, declares that they hold or have held an important public job or function, in any jurisdiction.",
            "in": "formData",
            "maxLength": 5000,
            "name": "political_exposure",
            "type": "string"
          },
          {
            "description": "The person's registered address.",
            "in": "formData",
            "name": "registered_address",
            "type": "object"
          },
          {
            "description": "The relationship that this person has with the account's legal entity.",
            "in": "formData",
            "name": "relationship",
            "type": "object"
          },
          {
            "description": "The last four digits of the person's Social Security number (U.S. only).",
            "in": "formData",
            "name": "ssn_last_4",
            "type": "string"
          },
          {
[...]
