{
  "swagger": "2.0",
  "info": {
    "title": "Trello REST API",
    "version": "0.0.1"
  },
  "host": "api.trello.com",
  "basePath": "/1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/actions/{idAction}/reactions": {
      "parameters": [
        {
          "description": "The ID of the action",
          "in": "path",
          "name": "idAction",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "parameters": [
          {
            "default": true,
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "in": "query",
            "name": "member",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "description": "Whether to load the emoji as a nested resource.",
            "in": "query",
            "name": "emoji",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "List reactions for an action",
        "operationId": "get-actions-idaction-reactions",
        "summary": "Get Action's Reactions"
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "native": {
                  "description": "The emoji to add as a native unicode emoji. See [/emoji](#emoji)",
                  "type": "string"
                },
                "shortName": {
                  "description": "The primary `shortName` of the emoji to add. See [/emoji](#emoji)",
                  "type": "string"
                },
                "skinVariation": {
                  "description": "The `skinVariation` of the emoji to add. See [/emoji](#emoji)",
                  "type": "string"
                },
                "unified": {
                  "description": "The `unified` value of the emoji to add. See [/emoji](#emoji)",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Adds a new reaction to an action",
        "operationId": "post-actions-idaction-reactions",
        "summary": "Create Reaction for Action"
      }
    },
    "/actions/{idAction}/reactions/{id}": {
      "parameters": [
        {
          "description": "The ID of the Action",
          "in": "path",
          "name": "idAction",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        },
        {
          "description": "The ID of the reaction",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Deletes a reaction",
        "operationId": "delete-actions-idaction-reactions-id",
        "summary": "Delete Action's Reaction"
      },
      "get": {
        "parameters": [
          {
            "default": true,
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "in": "query",
            "name": "member",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "description": "Whether to load the emoji as a nested resource.",
            "in": "query",
            "name": "emoji",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get information for a reaction",
        "operationId": "get-actions-idaction-reactions-id",
        "summary": "Get Action's Reaction"
      }
    },
    "/actions/{idAction}/reactionsSummary": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the action",
            "in": "path",
            "name": "idAction",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "List a summary of all reactions for an action",
        "operationId": "get-actions-idaction-reactionsummary",
        "summary": "List Action's summary of Reactions"
      }
    },
    "/actions/{id}": {
      "parameters": [
        {
          "description": "The ID of the Action",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Delete a specific action. Only comment actions can be deleted.",
        "operationId": "delete-actions-id",
        "summary": "Delete an Action"
      },
      "get": {
        "parameters": [
          {
            "default": true,
            "description": "",
            "in": "query",
            "name": "display",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "",
            "in": "query",
            "name": "entities",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of action [fields](/cloud/trello/guides/rest-api/object-definitions/#action-object)",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "",
            "in": "query",
            "name": "member",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "avatarHash,fullName,initials,username",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "in": "query",
            "name": "member_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "Whether to include the member object for the creator of the action",
            "in": "query",
            "name": "memberCreator",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "avatarHash,fullName,initials,username",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "in": "query",
            "name": "memberCreator_fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get an Action",
        "operationId": "get-actions-id",
        "summary": "Get an Action"
      },
      "put": {
        "parameters": [
          {
            "description": "The new text for the comment",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update a specific Action. Only comment actions can be updated. Used to edit the content of a comment.",
        "operationId": "put-actions-id",
        "summary": "Update an Action"
      }
    },
    "/actions/{id}/board": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of board fields",
            "enum": [
              "id",
              "name",
              "desc",
              "descData",
              "closed",
              "idMemberCreator",
              "idOrganization",
              "pinned",
              "url",
              "shortUrl",
              "prefs",
              "labelNames",
              "starred",
              "limits",
              "memberships",
              "enterpriseOwned"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Board for an Action",
        "operationId": "get-actions-id-board",
        "summary": "Get the Board for an Action"
      }
    },
    "/actions/{id}/card": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of card fields",
            "enum": [
              "id",
              "address",
              "badges",
              "checkItemStates",
              "closed",
              "coordinates",
              "creationMethod",
              "dueComplete",
              "dateLastActivity",
              "desc",
              "descData",
              "due",
              "dueReminder",
              "idBoard",
              "idChecklists",
              "idLabels",
              "idList",
              "idMembers",
              "idMembersVoted",
              "idShort",
              "idAttachmentCover",
              "labels",
              "limits",
              "locationName",
              "manualCoverAttachment",
              "name",
              "pos",
              "shortLink",
              "shortUrl",
              "subscribed",
              "url",
              "cover",
              "isTemplate"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the card for an action",
        "operationId": "get-actions-id-card",
        "summary": "Get the Card for an Action"
      }
    },
    "/actions/{id}/list": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of list fields",
            "enum": [
              "id"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TrelloList"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the List for an Action",
        "operationId": "get-actions-id-list",
        "summary": "Get the List for an Action"
      }
    },
    "/actions/{id}/member": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of member fields",
            "enum": [
              "id"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Gets the member of an action (not the creator)",
        "operationId": "get-actions-id-member",
        "summary": "Get the Member of an Action"
      }
    },
    "/actions/{id}/memberCreator": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of member fields",
            "enum": [
              "id"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Member"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Member who created the Action",
        "operationId": "get-actions-id-membercreator",
        "summary": "Get the Member Creator of an Action"
      }
    },
    "/actions/{id}/organization": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of organization fields",
            "enum": [
              "id",
              "name"
            ],
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Organization"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Organization of an Action",
        "operationId": "get-actions-id-organization",
        "summary": "Get the Organization of an Action"
      }
    },
    "/actions/{id}/text": {
      "put": {
        "parameters": [
          {
            "description": "The ID of the action to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The new text for the comment",
            "in": "query",
            "name": "value",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update a comment action",
        "operationId": "put-actions-id-text",
        "summary": "Update a Comment Action"
      }
    },
    "/actions/{id}/{field}": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Action",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "An action field",
            "enum": [
              "id",
              "idMemberCreator",
              "data",
              "type",
              "date",
              "limits",
              "display",
              "memberCreator"
            ],
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get a specific property of an action",
        "operationId": "get-actions-id-field",
        "summary": "Get a specific field on an Action"
      }
    },
    "/applications/{key}/compliance": {
      "parameters": [
        {
          "in": "path",
          "name": "key",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "applications-key-compliance",
        "summary": "Get Application's compliance data"
      }
    },
    "/batch": {
      "get": {
        "parameters": [
          {
            "description": "A list of API routes. Maximum of 10 routes allowed. The routes should begin with a forward slash and should not include the API version number - e.g. \"urls=/members/trello,/cards/[cardId]\"",
            "in": "query",
            "name": "urls",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Make up to 10 GET requests in a single, batched API call.",
        "operationId": "get-batch",
        "summary": "Batch Requests"
      }
    },
    "/boards": {
      "post": {
        "parameters": [
          {
            "description": "The new name for the board. 1 to 16384 characters long.",
            "in": "query",
            "maxLength": 16384,
            "minLength": 1,
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "default": true,
            "description": "Determines whether to use the default set of labels.",
            "in": "query",
            "name": "defaultLabels",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "description": "Determines whether to add the default set of lists to a board (To Do, Doing, Done). It is ignored if `idBoardSource` is provided.",
            "in": "query",
            "name": "defaultLists",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "A new description for the board, 0 to 16384 characters long",
            "in": "query",
            "maxLength": 16384,
            "minLength": 0,
            "name": "desc",
            "required": false,
            "type": "string"
          },
          {
            "description": "The id or name of the Workspace the board should belong to.",
            "in": "query",
            "name": "idOrganization",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The id of a board to copy into the new board.",
            "in": "query",
            "name": "idBoardSource",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "default": "none",
            "description": "To keep cards from the original board pass in the value `cards`",
            "enum": [
              "cards",
              "none"
            ],
            "in": "query",
            "name": "keepFromSource",
            "required": false,
            "type": "string"
          },
          {
            "description": "The Power-Ups that should be enabled on the new board. One of: `all`, `calendar`, `cardAging`, `recap`, `voting`.",
            "enum": [
              "all",
              "calendar",
              "cardAging",
              "recap",
              "voting"
            ],
            "in": "query",
            "name": "powerUps",
            "required": false,
            "type": "string"
          },
          {
            "default": "private",
            "description": "The permissions level of the board. One of: `org`, `private`, `public`.",
            "enum": [
              "org",
              "private",
              "public"
            ],
            "in": "query",
            "name": "prefs_permissionLevel",
            "required": false,
            "type": "string"
          },
          {
            "default": "disabled",
            "description": "Who can vote on this board. One of `disabled`, `members`, `observers`, `org`, `public`.",
            "enum": [
              "disabled",
              "members",
              "observers",
              "org",
              "public"
            ],
            "in": "query",
            "name": "prefs_voting",
            "required": false,
            "type": "string"
          },
          {
            "default": "members",
            "description": "Who can comment on cards on this board. One of: `disabled`, `members`, `observers`, `org`, `public`.",
            "enum": [
              "disabled",
              "members",
              "observers",
              "org",
              "public"
            ],
            "in": "query",
            "name": "prefs_comments",
            "required": false,
            "type": "string"
          },
          {
            "default": "members",
            "description": "Determines what types of members can invite users to join. One of: `admins`, `members`.",
            "enum": [
              "members",
              "admins"
            ],
            "in": "query",
            "name": "prefs_invitations",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "Determines whether users can join the boards themselves or whether they have to be invited.",
            "in": "query",
            "name": "prefs_selfJoin",
            "required": false,
            "type": "boolean"
          },
          {
            "default": true,
            "description": "Determines whether card covers are enabled.",
            "in": "query",
            "name": "prefs_cardCovers",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "blue",
            "description": "The id of a custom background or one of: `blue`, `orange`, `green`, `red`, `purple`, `pink`, `lime`, `sky`, `grey`.",
            "enum": [
              "blue",
              "orange",
              "green",
              "red",
              "purple",
              "pink",
              "lime",
              "sky",
              "grey"
            ],
            "in": "query",
            "name": "prefs_background",
            "required": false,
            "type": "string"
          },
          {
            "default": "regular",
            "description": "Determines the type of card aging that should take place on the board if card aging is enabled. One of: `pirate`, `regular`.",
            "enum": [
              "pirate",
              "regular"
            ],
            "in": "query",
            "name": "prefs_cardAging",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Create a new board.",
        "operationId": "post-boards",
        "summary": "Create a Board"
      }
    },
    "/boards/{boardId}/actions": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "boardId",
            "required": true,
            "type": "string"
          },
          {
            "description": "The fields to be returned for the Actions. [See Action fields here](/cloud/trello/guides/rest-api/object-definitions/#action-object).",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "object"
          },
          {
            "description": "A comma-separated list of [action types](/cloud/trello/guides/rest-api/action-types/).",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": "list",
            "description": "The format of the returned Actions. Either list or count.",
            "in": "query",
            "name": "format",
            "required": false,
            "type": "string"
          },
          {
            "description": "A comma-separated list of idModels. Only actions related to these models will be returned.",
            "in": "query",
            "name": "idModels",
            "required": false,
            "type": "string"
          },
          {
            "default": 50,
            "description": "The limit of the number of responses, between 0 and 1000.",
            "in": "query",
            "name": "limit",
            "required": false,
            "type": "number"
          },
          {
            "default": true,
            "description": "Whether to return the member object for each action.",
            "in": "query",
            "name": "member",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username",
            "description": "The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) to return.",
            "in": "query",
            "name": "member_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": true,
            "description": "Whether to return the memberCreator object for each action.",
            "in": "query",
            "name": "memberCreator",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username",
            "description": "The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) creator to return",
            "in": "query",
            "name": "memberCreator_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": 0,
            "description": "The page of results for actions.",
            "in": "query",
            "name": "page",
            "required": false,
            "type": "number"
          },
          {
            "description": "Whether to show reactions on comments or not.",
            "in": "query",
            "name": "reactions",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created before this date will be returned.",
            "in": "query",
            "name": "before",
            "required": false,
            "type": "string"
          },
          {
            "description": "A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created since this date will be returned.",
            "in": "query",
            "name": "since",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get all of the actions of a Board. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-actions",
        "summary": "Get Actions of a Board"
      }
    },
    "/boards/{boardId}/boardStars": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "boardId",
            "required": true,
            "type": "string"
          },
          {
            "default": "mine",
            "description": "Valid values: mine, none",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {},
              "type": "array"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "get-boards-id-boardstars",
        "summary": "Get boardStars on a Board"
      }
    },
    "/boards/{id}": {
      "parameters": [
        {
          "description": "",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [
          {
            "description": "The id of the board to delete",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Delete a board.",
        "operationId": "delete-boards-id",
        "summary": "Delete a Board"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "default": "all",
            "description": "This is a nested resource. Read more about actions as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "actions",
            "required": false,
            "type": "string"
          },
          {
            "default": "none",
            "description": "Valid values are one of: `mine` or `none`.",
            "in": "query",
            "name": "boardStars",
            "required": false,
            "type": "string"
          },
          {
            "default": "none",
            "description": "This is a nested resource. Read more about cards as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "cards",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Use with the `cards` param to include card pluginData with the response",
            "in": "query",
            "name": "card_pluginData",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "none",
            "description": "This is a nested resource. Read more about checklists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "checklists",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "This is a nested resource. Read more about custom fields as nested resources [here](#custom-fields-nested-resource).",
            "in": "query",
            "name": "customFields",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "name,desc,descData,closed,idOrganization,pinned,url,shortUrl,prefs,labelNames",
            "description": "The fields of the board to be included in the response. Valid values: all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "This is a nested resource. Read more about labels as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "labels",
            "required": false,
            "type": "string"
          },
          {
            "default": "open",
            "description": "This is a nested resource. Read more about lists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "lists",
            "required": false,
            "type": "string"
          },
          {
            "default": "none",
            "description": "This is a nested resource. Read more about members as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "members",
            "required": false,
            "type": "string"
          },
          {
            "default": "none",
            "description": "This is a nested resource. Read more about memberships as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "memberships",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Determines whether the pluginData for this board should be returned. Valid values: true or false.",
            "in": "query",
            "name": "pluginData",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "This is a nested resource. Read more about organizations as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "organization",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Use with the `organization` param to include organization pluginData with the response",
            "in": "query",
            "name": "organization_pluginData",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "",
            "in": "query",
            "name": "myPrefs",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Also known as collections, tags, refer to the collection(s) that a Board belongs to.",
            "in": "query",
            "name": "tags",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Board"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "The specified resource was not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "default": {
            "description": "Unexpected error",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Request a single board.",
        "operationId": "get-boards-id",
        "summary": "Get a Board"
      },
      "put": {
        "parameters": [
          {
            "description": "The new name for the board. 1 to 16384 characters long.",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "A new description for the board, 0 to 16384 characters long",
            "in": "query",
            "name": "desc",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether the board is closed",
            "in": "query",
            "name": "closed",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Whether the acting user is subscribed to the board",
            "in": "query",
            "name": "subscribed",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The id of the Workspace the board should be moved to",
            "in": "query",
            "name": "idOrganization",
            "required": false,
            "type": "string"
          },
          {
            "description": "One of: org, private, public",
            "in": "query",
            "name": "prefs/permissionLevel",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether Workspace members can join the board themselves",
            "in": "query",
            "name": "prefs/selfJoin",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Whether card covers should be displayed on this board",
            "in": "query",
            "name": "prefs/cardCovers",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Determines whether the Voting Power-Up should hide who voted on cards or not.",
            "in": "query",
            "name": "prefs/hideVotes",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Who can invite people to this board. One of: admins, members",
            "in": "query",
            "name": "prefs/invitations",
            "required": false,
            "type": "string"
          },
          {
            "description": "Who can vote on this board. One of disabled, members, observers, org, public",
            "in": "query",
            "name": "prefs/voting",
            "required": false,
            "type": "string"
          },
          {
            "description": "Who can comment on cards on this board. One of: disabled, members, observers, org, public",
            "in": "query",
            "name": "prefs/comments",
            "required": false,
            "type": "string"
          },
          {
            "description": "The id of a custom background or one of: blue, orange, green, red, purple, pink, lime, sky, grey",
            "in": "query",
            "name": "prefs/background",
            "required": false,
            "type": "string"
          },
          {
            "description": "One of: pirate, regular",
            "in": "query",
            "name": "prefs/cardAging",
            "required": false,
            "type": "string"
          },
          {
            "description": "Determines whether the calendar feed is enabled or not.",
            "in": "query",
            "name": "prefs/calendarFeedEnabled",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Name for the green label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/green",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name for the yellow label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/yellow",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name for the orange label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/orange",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name for the red label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/red",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name for the purple label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/purple",
            "required": false,
            "type": "string"
          },
          {
            "description": "Name for the blue label. 1 to 16384 characters long",
            "in": "query",
            "name": "labelNames/blue",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update an existing board by id",
        "operationId": "put-boards-id",
        "summary": "Update a Board"
      }
    },
    "/boards/{id}/boardPlugins": {
      "parameters": [
        {
          "description": "The ID of the Board",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Plugin"
              },
              "type": "array"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the enabled Power-Ups on a board",
        "operationId": "get-boards-id-boardplugins",
        "summary": "Get Enabled Power-Ups on Board"
      },
      "post": {
        "parameters": [
          {
            "description": "The ID of the Power-Up to enable",
            "in": "query",
            "name": "idPlugin",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": true,
        "description": "Enable a Power-Up on a Board",
        "operationId": "post-boards-id-boardplugins",
        "summary": "Enable a Power-Up on a Board"
      }
    },
    "/boards/{id}/boardPlugins/{idPlugin}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the Power-Up to disable",
            "in": "path",
            "name": "idPlugin",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": true,
        "description": "Disable a Power-Up on a board",
        "operationId": "delete-boards-id-boardplugins",
        "summary": "Disable a Power-Up on a Board"
      }
    },
    "/boards/{id}/calendarKey/generate": {
      "post": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Create a new board.",
        "operationId": "post-boards-id-calendarkey-generate",
        "summary": "Create a calendarKey for a Board"
      }
    },
    "/boards/{id}/cards": {
      "get": {
        "parameters": [
          {
            "description": "",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get all of the open Cards on a Board. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-cards",
        "summary": "Get Cards on a Board"
      }
    },
    "/boards/{id}/cards/{filter}": {
      "get": {
        "parameters": [
          {
            "description": "ID of the Board",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "One of: `all`, `closed`, `complete`, `incomplete`, `none`, `open`, `visible`",
            "enum": [
              "all",
              "closed",
              "complete",
              "incomplete",
              "none",
              "open",
              "visible"
            ],
            "in": "path",
            "name": "filter",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Cards on a Board that match a given filter. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-cards-filter",
        "summary": "Get filtered Cards on a Board"
      }
    },
    "/boards/{id}/checklists": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get all of the checklists on a Board.",
        "operationId": "boards-id-checklists",
        "summary": "Get Checklists on a Board"
      }
    },
    "/boards/{id}/customFields": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/CustomField"
              },
              "type": "array"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Custom Field Definitions that exist on a board.",
        "operationId": "get-boards-id-customfields",
        "summary": "Get Custom Fields for Board"
      }
    },
    "/boards/{id}/emailKey/generate": {
      "post": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "post-boards-id-emailkey-generate",
        "summary": "Create a emailKey for a Board"
      }
    },
    "/boards/{id}/idTags": {
      "post": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of a tag from the organization to which this board belongs.",
            "in": "query",
            "name": "value",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "operationId": "post-boards-id-idtags",
        "summary": "Create a Tag for a Board"
      }
    },
    "/boards/{id}/labels": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the Board.",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The fields to be returned for the Labels.",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "object"
          },
          {
            "default": 50,
            "description": "The number of Labels to be returned.",
            "format": "int32",
            "in": "query",
            "maximum": 1000,
            "minimum": 0,
            "name": "limit",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get all of the Labels on a Board.",
        "operationId": "get-boards-id-labels",
        "summary": "Get Labels on a Board"
      },
      "post": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The name of the label to be created. 1 to 16384 characters long.",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "description": "Sets the color of the new label. Valid values are a label color or `null`.",
            "in": "query",
            "name": "color",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Create a new Label on a Board.",
        "operationId": "post-boards-id-labels",
        "summary": "Create a Label on a Board"
      }
    },
    "/boards/{id}/lists": {
      "parameters": [
        {
          "description": "The ID of the board",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "Filter to apply to Cards.",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ],
            "in": "query",
            "name": "cards",
            "required": false,
            "type": "string"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of card [fields](/cloud/trello/guides/rest-api/object-definitions/#card-object)",
            "in": "query",
            "name": "card_fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "Filter to apply to Lists",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of list [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/TrelloList"
              },
              "type": "array"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Lists on a Board",
        "operationId": "get-boards-id-lists",
        "summary": "Get Lists on a Board"
      },
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name of the list to be created. 1 to 16384 characters long.",
            "in": "query",
            "name": "name",
            "required": true,
            "type": "string"
          },
          {
            "default": "top",
            "description": "Determines the position of the list. Valid values: `top`, `bottom`, or a positive number.",
            "in": "query",
            "name": "pos",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/TrelloList"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Create a new List on a Board.",
        "operationId": "post-boards-id-lists",
        "summary": "Create a List on a Board"
      }
    },
    "/boards/{id}/lists/{filter}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "One of `all`, `closed`, `none`, `open`",
            "enum": [
              "all",
              "closed",
              "none",
              "open"
            ],
            "in": "path",
            "name": "filter",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "get-boards-id-lists-filter",
        "summary": "Get filtered Lists on a Board"
      }
    },
    "/boards/{id}/markedAsViewed": {
      "post": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "post-boards-id-markedasviewed",
        "summary": "Mark Board as viewed"
      }
    },
    "/boards/{id}/members": {
      "parameters": [
        {
          "description": "The ID of the board",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "get": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get the Members for a board",
        "operationId": "get-boards-id-members",
        "summary": "Get the Members of a Board"
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The email address of a user to add as a member of the board.",
            "format": "email",
            "in": "query",
            "name": "email",
            "required": true,
            "type": "string"
          },
          {
            "default": "normal",
            "description": "Valid values: admin, normal, observer. Determines what type of member the user being added should be of the board.",
            "enum": [
              "admin",
              "normal",
              "observer"
            ],
            "in": "query",
            "name": "type",
            "required": false,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "fullName": {
                  "description": "The full name of the user to as a member of the board. Must have a length of at least 1 and cannot begin nor end with a space.",
                  "type": "string"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Invite a Member to a Board via their email address.",
        "operationId": "put-boards-id-members",
        "summary": "Invite Member to Board via email"
      }
    },
    "/boards/{id}/members/{idMember}": {
      "parameters": [
        {
          "description": "The id of the board to update",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        },
        {
          "description": "The id of the member to add to the board.",
          "in": "path",
          "name": "idMember",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "",
        "operationId": "boardsidmembersidmember",
        "summary": "Remove Member from Board"
      },
      "put": {
        "parameters": [
          {
            "description": "One of: admin, normal, observer. Determines the type of member this user will be on the board.",
            "enum": [
              "admin",
              "normal",
              "observer"
            ],
            "in": "query",
            "name": "type",
            "required": true,
            "type": "string"
          },
          {
            "default": false,
            "description": "Optional param that allows organization admins to add multi-board guests onto a board.",
            "in": "query",
            "name": "allowBillableGuest",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Add a member to the board.",
        "operationId": "put-boards-id-members-idmember",
        "summary": "Add a Member to a Board"
      }
    },
    "/boards/{id}/memberships": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "all",
            "description": "One of `admins`, `all`, `none`, `normal`",
            "enum": [
              "admins",
              "all",
              "none",
              "normal"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Works for premium organizations only.",
            "in": "query",
            "name": "activity",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Shows the type of member to the org the user is. For instance, an org admin will have a `orgMemberType` of `admin`.",
            "in": "query",
            "name": "orgMemberType",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Determines whether to include a [nested member object](/cloud/trello/guides/rest-api/nested-resources/).",
            "in": "query",
            "name": "member",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Fields to show if `member=true`. Valid values: [nested member resource fields](/cloud/trello/guides/rest-api/nested-resources/).",
            "enum": [
              "id"
            ],
            "in": "query",
            "name": "member_fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Memberships"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get information about the memberships users have to the board.",
        "operationId": "get-boards-id-memberships",
        "summary": "Get Memberships of a Board"
      }
    },
    "/boards/{id}/memberships/{idMembership}": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of a membership that should be added to this board.",
            "in": "path",
            "name": "idMembership",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "One of: admin, normal, observer. Determines the type of member that this membership will be to this board.",
            "enum": [
              "admin",
              "normal",
              "observer"
            ],
            "in": "query",
            "name": "type",
            "required": true,
            "type": "string"
          },
          {
            "default": "fullName, username",
            "description": "Valid values: all, avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url, username",
            "enum": [
              "all",
              "avatarHash",
              "bio",
              "bioData",
              "confirmed",
              "fullName",
              "idPremOrgsAdmin",
              "initials",
              "memberType",
              "products",
              "status",
              "url",
              "username"
            ],
            "in": "query",
            "name": "member_fields",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update an existing board by id",
        "operationId": "put-boards-id-memberships-idmembership",
        "summary": "Update Membership of Member on a Board"
      }
    },
    "/boards/{id}/myPrefs/emailPosition": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Valid values: bottom, top. Determines the position of the email address.",
            "enum": [
              "bottom",
              "top"
            ],
            "in": "query",
            "name": "value",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update emailPosition Pref on a Board",
        "operationId": "put-boards-id-myprefs-emailposition",
        "summary": "Update emailPosition Pref on a Board"
      }
    },
    "/boards/{id}/myPrefs/idEmailList": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The id of an email list.",
            "in": "query",
            "name": "value",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Change the default list that email-to-board cards are created in.",
        "operationId": "put-boards-id-myprefs-idemaillist",
        "summary": "Update idEmailList Pref on a Board"
      }
    },
    "/boards/{id}/myPrefs/showSidebar": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Determines whether to show the side bar.",
            "in": "query",
            "name": "value",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "operationId": "put-boards-id-myPrefs-showsidebar",
        "summary": "Update showSidebar Pref on a Board"
      }
    },
    "/boards/{id}/myPrefs/showSidebarActivity": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Determines whether to show sidebar activity.",
            "in": "query",
            "name": "value",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "operationId": "put-boards-id-myPrefs-showsidebaractivity",
        "summary": "Update showSidebarActivity Pref on a Board"
      }
    },
    "/boards/{id}/myPrefs/showSidebarBoardActions": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Determines whether to show the sidebar board actions.",
            "in": "query",
            "name": "value",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "operationId": "put-boards-id-myPrefs-showsidebarboardactions",
        "summary": "Update showSidebarBoardActions Pref on a Board"
      }
    },
    "/boards/{id}/myPrefs/showSidebarMembers": {
      "put": {
        "parameters": [
          {
            "description": "The id of the board to update",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "Determines whether to show members of the board in the sidebar.",
            "in": "query",
            "name": "value",
            "required": true,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "operationId": "put-boards-id-myPrefs-showsidebarmembers",
        "summary": "Update showSidebarMembers Pref on a Board"
      }
    },
    "/boards/{id}/plugins": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the board",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "enabled",
            "description": "One of: `enabled` or `available`",
            "enum": [
              "enabled",
              "available"
            ],
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Plugin"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "List the Power-Ups on a board",
        "operationId": "get-board-id-plugins",
        "summary": "Get Power-Ups on a Board"
      }
    },
    "/boards/{id}/{field}": {
      "get": {
        "parameters": [
          {
            "description": "The ID of the board.",
            "in": "path",
            "name": "id",
            "required": true,
            "type": "string"
          },
          {
            "description": "The field you'd like to receive. Valid values: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url.",
            "in": "path",
            "name": "field",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get a single, specific field on a board",
        "operationId": "get-boards-id-field",
        "summary": "Get a field on a Board"
      }
    },
    "/cards": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The name for the card",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "The description for the card",
            "in": "query",
            "name": "desc",
            "required": false,
            "type": "string"
          },
          {
            "description": "The position of the new card. `top`, `bottom`, or a positive float",
            "in": "query",
            "name": "pos",
            "required": false
          },
          {
            "description": "A due date for the card",
            "format": "date",
            "in": "query",
            "name": "due",
            "required": false,
            "type": "string"
          },
          {
            "description": "The start date of a card, or `null`",
            "format": "date",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether the status of the card is complete",
            "in": "query",
            "name": "dueComplete",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "The ID of the list the card should be created in",
            "in": "query",
            "name": "idList",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "collectionFormat": "multi",
            "description": "Comma-separated list of member IDs to add to the card",
            "in": "query",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/definitions/TrelloID"
                }
              ]
            },
            "name": "idMembers",
            "required": false,
            "type": "array"
          },
          {
            "collectionFormat": "multi",
            "description": "Comma-separated list of label IDs to add to the card",
            "in": "query",
            "items": {
              "oneOf": [
                {
                  "$ref": "#/definitions/TrelloID"
                }
              ]
            },
            "name": "idLabels",
            "required": false,
            "type": "array"
          },
          {
            "description": "A URL starting with `http://` or `https://`. The URL will be attached to the card upon creation.",
            "format": "url",
            "in": "query",
            "name": "urlSource",
            "required": false,
            "type": "string"
          },
          {
            "description": "",
            "format": "binary",
            "in": "query",
            "name": "fileSource",
            "required": false,
            "type": "string"
          },
          {
            "description": "The mimeType of the attachment. Max length 256",
            "in": "query",
            "name": "mimeType",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of a card to copy into the new card",
            "in": "query",
            "name": "idCardSource",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "default": "all",
            "description": "If using `idCardSource` you can specify which properties to copy over. `all` or comma-separated list of: `attachments,checklists,customFields,comments,due,start,labels,members,start,stickers`",
            "enum": [
              "all",
              "attachments",
              "checklists",
              "comments",
              "customFields",
              "due",
              "start",
              "labels",
              "members",
              "start",
              "stickers"
            ],
            "in": "query",
            "name": "keepFromSource",
            "required": false,
            "type": "string"
          },
          {
            "description": "For use with/by the Map View",
            "in": "query",
            "name": "address",
            "required": false,
            "type": "string"
          },
          {
            "description": "For use with/by the Map View",
            "in": "query",
            "name": "locationName",
            "required": false,
            "type": "string"
          },
          {
            "description": "For use with/by the Map View. Should take the form latitude,longitude",
            "in": "query",
            "name": "coordinates",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Create a new card. Query parameters may also be replaced with a JSON request body instead.",
        "operationId": "post-cards",
        "summary": "Create a new Card"
      }
    },
    "/cards/{idCard}/checklist/{idChecklist}/checkItem/{idCheckItem}": {
      "put": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "idCard",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The ID of the checklist item to update",
            "in": "path",
            "name": "idCheckItem",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`top`, `bottom`, or a positive float",
            "in": "query",
            "name": "pos",
            "required": false
          },
          {
            "description": "The ID of the item to update.",
            "in": "path",
            "name": "idChecklist",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CheckItem"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update an item in a checklist on a card.",
        "operationId": "put-cards-idcard-checklist-idchecklist-checkitem-idcheckitem",
        "summary": "Update Checkitem on Checklist on Card"
      }
    },
    "/cards/{idCard}/customField/{idCustomField}/item": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "ID of the card that the Custom Field value should be set/updated for",
            "in": "path",
            "name": "idCard",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "ID of the Custom Field on the card.",
            "in": "path",
            "name": "idCustomField",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Setting, updating, and removing the value for a Custom Field on a card. For more details on updating custom fields check out the [Getting Started With Custom Fields](/cloud/trello/guides/rest-api/getting-started-with-custom-fields/)",
        "operationId": "put-cards-idcard-customfield-idcustomfield-item",
        "summary": "Update Custom Field item on Card"
      }
    },
    "/cards/{idCard}/customFields": {
      "put": {
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "properties": {
                "customFieldItems": {
                  "description": "An array of objects containing the custom field ID, key and value, and ID of list type option.",
                  "items": {
                    "properties": {
                      "idCustomField": {
                        "description": "The ID of the Custom Field",
                        "example": "5abbe4b7ddc1b351ef961414",
                        "pattern": "^[0-9a-fA-F]{32}$"
                      },
                      "idValue": {
                        "description": "The ID of the option for the list type Custom Field. This is optional if Custom Field is not list type.",
                        "example": "5abbe4b7ddc1b351ef961414",
                        "pattern": "^[0-9a-fA-F]{32}$"
                      },
                      "value": {
                        "description": "An object containing the key and value to set for the card's Custom Field value. The key used to set the value should match the type of Custom Field defined. This is optional if Custom Field is list type.",
                        "properties": {
                          "checked": {
                            "type": "boolean"
                          },
                          "date": {
                            "example": "2018-03-13T16:00:00.000Z",
                            "format": "date-time",
                            "type": "string"
                          },
                          "number": {
                            "type": "number"
                          },
                          "text": {
                            "type": "string"
                          }
                        },
                        "type": "object"
                      }
                    },
                    "type": "object"
                  },
                  "type": "array"
                }
              },
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Setting, updating, and removing the values for multiple Custom Fields on a card. For more details on updating custom fields check out the [Getting Started With Custom Fields](/cloud/trello/guides/rest-api/getting-started-with-custom-fields/)",
        "operationId": "put-cards-idcard-customfields",
        "summary": "Update Multiple Custom Field items on Card"
      }
    },
    "/cards/{id}": {
      "delete": {
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Delete a Card",
        "operationId": "delete-cards-id",
        "summary": "Delete a Card"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "`all` or a comma-separated list of [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `badges, checkItemStates, closed, dateLastActivity, desc, descData, due, start, idBoard, idChecklists, idLabels, idList, idMembers, idShort, idAttachmentCover, manualCoverAttachment, labels, name, pos, shortUrl, url`",
            "in": "query",
            "name": "fields",
            "required": false,
            "type": "string"
          },
          {
            "description": "See the [Actions Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#actions-nested-resource)",
            "in": "query",
            "name": "actions",
            "required": false,
            "type": "string"
          },
          {
            "default": "false",
            "description": "`true`, `false`, or `cover`",
            "in": "query",
            "name": "attachments",
            "required": false,
            "type": "string"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of attachment [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "in": "query",
            "name": "attachment_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Whether to return member objects for members on the card",
            "in": "query",
            "name": "members",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `avatarHash, fullName, initials, username`",
            "in": "query",
            "name": "member_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Whether to return member objects for members who voted on the card",
            "in": "query",
            "name": "membersVoted",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `avatarHash, fullName, initials, username`",
            "in": "query",
            "name": "memberVoted_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "",
            "in": "query",
            "name": "checkItemStates",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "none",
            "description": "Whether to return the checklists on the card. `all` or `none`",
            "in": "query",
            "name": "checklists",
            "required": false,
            "type": "string"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of `idBoard,idCard,name,pos`",
            "in": "query",
            "name": "checklist_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Whether to return the board object the card is on",
            "in": "query",
            "name": "board",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "`all` or a comma-separated list of board [fields](/cloud/trello/guides/rest-api/object-definitions/#board-object). **Defaults**: `name, desc, descData, closed, idOrganization, pinned, url, prefs`",
            "in": "query",
            "name": "board_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "See the [Lists Nested Resource](/cloud/trello/guides/rest-api/nested-resources/)",
            "in": "query",
            "name": "list",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Whether to include pluginData on the card with the response",
            "in": "query",
            "name": "pluginData",
            "required": false,
            "type": "boolean"
          },
          {
            "default": false,
            "description": "Whether to include sticker models with the response",
            "in": "query",
            "name": "stickers",
            "required": false,
            "type": "boolean"
          },
          {
            "default": "all",
            "description": "`all` or a comma-separated list of sticker [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "in": "query",
            "name": "sticker_fields",
            "required": false,
            "type": "string"
          },
          {
            "default": false,
            "description": "Whether to include the customFieldItems",
            "in": "query",
            "name": "customFieldItems",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Get a card by its ID",
        "operationId": "get-cards-id",
        "summary": "Get a Card"
      },
      "put": {
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The new name for the card",
            "in": "query",
            "name": "name",
            "required": false,
            "type": "string"
          },
          {
            "description": "The new description for the card",
            "in": "query",
            "name": "desc",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether the card should be archived (closed: true)",
            "in": "query",
            "name": "closed",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Comma-separated list of member IDs",
            "in": "query",
            "name": "idMembers",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of the image attachment the card should use as its cover, or null for none",
            "in": "query",
            "name": "idAttachmentCover",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of the list the card should be in",
            "in": "query",
            "name": "idList",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "Comma-separated list of label IDs",
            "in": "query",
            "name": "idLabels",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The ID of the board the card should be on",
            "in": "query",
            "name": "idBoard",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": false,
            "type": "string"
          },
          {
            "description": "The position of the card in its list. `top`, `bottom`, or a positive float",
            "in": "query",
            "name": "pos",
            "required": false,
            "type": "string"
          },
          {
            "description": "When the card is due, or `null`",
            "format": "date",
            "in": "query",
            "name": "due",
            "required": false,
            "type": "string"
          },
          {
            "description": "The start date of a card, or `null`",
            "format": "date",
            "in": "query",
            "name": "start",
            "required": false,
            "type": "string"
          },
          {
            "description": "Whether the status of the card is complete",
            "in": "query",
            "name": "dueComplete",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "Whether the member is should be subscribed to the card",
            "in": "query",
            "name": "subscribed",
            "required": false,
            "type": "boolean"
          },
          {
            "description": "For use with/by the Map View",
            "in": "query",
            "name": "address",
            "required": false,
            "type": "string"
          },
          {
            "description": "For use with/by the Map View",
            "in": "query",
            "name": "locationName",
            "required": false,
            "type": "string"
          },
          {
            "description": "For use with/by the Map View. Should be latitude,longitude",
            "in": "query",
            "name": "coordinates",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Card"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Update a card. Query parameters may also be replaced with a JSON request body instead.",
        "operationId": "put-cards-id",
        "summary": "Update a Card"
      }
    },
    "/cards/{id}/actions": {
      "get": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "default": "commentCard, updateCard:idList",
            "description": "A comma-separated list of [action types](https://developer.atlassian.com/cloud/trello/guides/rest-api/action-types/).",
            "in": "query",
            "name": "filter",
            "required": false,
            "type": "string"
          },
          {
            "default": 0,
            "description": "The page of results for actions. Each page of results has 50 actions.",
            "in": "query",
            "maximum": 19,
            "name": "page",
            "required": false,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "items": {
                "$ref": "#/definitions/Action"
              },
              "type": "array"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "List the Actions on a Card. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-cards-id-actions",
        "summary": "Get Actions on a Card"
      }
    },
    "/cards/{id}/actions/comments": {
      "post": {
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "description": "The ID of the Card",
            "in": "path",
            "name": "id",
            "pattern": "^[0-9a-fA-F]{24}$",
            "required": true,
            "type": "string"
          },
          {
            "description": "The comment",
            "in": "query",
            "name": "text",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Action"
            }
          }
        },
        "tags": [],
        "deprecated": false,
        "description": "Add a new comment to a card",
        "operationId": "post-cards-id-actions-comments",
        "summary": "Add a new comment to a Card"
      }
    },
    "/cards/{id}/actions/{idAction}/comments": {
      "parameters": [
        {
          "description": "The ID of the Card",
          "in": "path",
          "name": "id",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        },
        {
          "description": "The ID of the comment action to update",
          "in": "path",
          "name": "idAction",
          "pattern": "^[0-9a-fA-F]{24}$",
          "required": true,
          "type": "string"
        }
      ],
      "delete": {
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "tags": [],
        "deprecated": false,
[...]
